<template>
  <div class="confirm_section">
    <div class="form-group col-md-12 text-center form-inline">
      <h3>Please Enter One Time Password sent to your mobile</h3>
      <input class="form-control focusedInput" type="text" v-model="input_otp">
    </div>
    <div class="form-group col-md-12">
      <b-button @click="confirmOtp">Submit</b-button>
    </div>
    <div>
      <small v-if="response_error" v-text="response_error" class="text-danger"></small>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Confirmation',
  props: {
    name: {
      type: String,
      default: ''
    },
    editorName: {
      type: String,
      default: ''
    },
    editorSiteUrl: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      input_otp: null,
      response_error: null
    }
  },
  methods: {
    async confirmOtp() {
      if (this.input_otp) {
        await axios
          .post(this.$app.route('registerOtpConfirm'), {
            otp: this.input_otp
          })
          .then(response => {
            if (response.data.status == 200) {
              this.$emit('otpStatusChanged')
            }
            if (response.data.status == 404) {
              console.log(response.data.response)
              this.response_error = response.data.response
            }
          })
      } else {
        this.response_error = 'Please Enter Password!'
      }
      // this.$store.state.otp_status = true
    }
  }
}
</script>
