<template>
<header>
 <div class="jx-monex-header jx-header-3">
     <div class="jx-monex-top-bar hidden-xs">
         <div class="container upper">
             <div class="row">
                 <div class="col-sm-6">
                     <div class="jx-monex-left-topbar">
                         <span class="text"> Welcome to A N Express | International Money Transfer</span>
                     </div>
                 </div>
                 <div class="col-sm-6 text-right">
                     <div class="jx-monex-right-topbar">
                         <a href="mailto:info@anexpress.com"><i class="fa fa-envelope"></i> info@anexpress.com</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="jx-monex-sub-top-bar hidden-xs">
         <div class="container">
             <div class="row d-flex align-items-center">
                 <div class="col-sm-2">
                     <a href="" class="navbar-brand"><img src="http://web.anexpress.com/wp-content/uploads/2019/03/ANLogo.png" alt="A N Express Money Transfer" class="logo_standard"></a>
                 </div>
                 <div class="col-sm-10">
                     <div class="jx-monex-header-info">
                         <ul class="d-flex align-items-center py-40 m-0">
                             <li class="top-space d-flex align-items-center">
                                 <div class="icon"><i class="fa fa fa-phone"></i></div>
                                 <div class="position">
                                     <div class="contact">Contact Us</div>
                                     <div class="number">020 7426 0113</div>
                                 </div>
                             </li>
                             <li class="top-space d-flex align-items-center">
                                 <div class="icon"><i class="fa fa-map-marker"></i></div>
                                 <div class="position">
                                     <div class="location">Our Address</div>
                                     <div class="address">208A Whitechapel Rd, Whitechapel, London E1 1BJ</div>
                                 </div>
                             </li>
                             <li class="top-space d-flex align-items-center">
                                 <div class="icon"><i class="fa fa-clock-o"></i></div>
                                 <div class="position">
                                     <div class="time">Working Hours</div>
                                     <div class="date">Mon - Sat 09:30 - 17:00</div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="jx-monex-menubar setting jx-monex-sticky 666666" id="try">
         <nav class="navbar onemore jx-monex-navbar-default">
             <div class="container hello custom_soh">
                 <nav class="navbar navbar-light">
                     <div class="container-fluid">
                         <div class="navbar-header">
                             <div class="row d-flex align-items-center">
                                 <div class="col-xs-12 text-center m-auto">
                                     <a href="" class="navbar-brand sm menu-logo"><img src="http://customers.anexpress.com/template/img/ANLogo-mobile.png" alt="A N Express Money Transfer" class="logo_standard"></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </nav>
                 <!-- /.navbar-collapse -->
             </div>
             <!-- /.container -->
         </nav>
     </div>
 </div>
</header>

</template>

<script>
import axios from 'axios'
// import HeaderFooter from "@public/template/css"
//   require('./public/template/css/HeaderFooter.css')

export default {
  name: 'AppHeader',
  data() {
    return {
      balanceValue: null,
      notification: null,
      count:0,
    }
  },
  created() {
    this.getUserBalance()
    this.getNotification()
  },
  mounted () {
   Echo.channel('sendpulblic-message')
    .listen('.examplee', (e) => {
        this.test()
      if(this.notification !== null){
        this.notification.push(e.contact)
        this.count = this.notification.length
      }else{
        this.notification = e.contact
        this.count = this.notification.length
      }
    });
  },
  methods: {
    redirect(id) {
        let url = "/customerMessages/"+ id +"/received"
        this.$router.push(url)
    },
    async test() {
      let result = await window.swal({
        title: 'You Received New Message',
        type: 'success',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })
    },
    removeshow() {
      setTimeout(function(){
        $('#__BVID__9').removeClass('show')
      },25)
    },
    async getUserBalance() {
      await axios.get(this.$app.route('getUserBalance')).then(response => {
        if (response.data.status == 200) {
          this.balanceValue = response.data.balance
        }
      })
    },
    async getNotification () {
      let { data } = await axios.get(this.$app.route(`message.realtimenotify`))
      if(data.status == 500) {
        this.notification = null
      }else{
        this.notification = data.response
        this.count = this.notification.length
      }
    },
    async changestatus(id = null) {

      if(this.notification !== null){
        if(!id){
          let { data } = await axios.get(this.$app.route(`message.updatenotification`))
            this.notification = null
            this.count = 0
            this.$router.push('/messages')
        }else{
          let { data } = await axios.get(this.$app.route(`message.updatenotification`), {params:{id:id}})
          if(data.response.original.response.length > 0){
            this.notification = data.response.original.response
            this.count = this.notification.length
          }else{
            this.notification = null
            this.count = 0
          }
          this.$router.push('/messages/'+ id +'/view')
        }
      }
    }
  }
}
</script>
