<template>
<div>
</div>
</template>

<script>
import axios from 'axios'

export default
{
  name: 'Logout',
  components: {},
  data() {
    return {

    }
  },
  created() {
    this.logout()
  },
  methods: {
   
    logout()
    {    
      var protocol = location.protocol;
      var slashes = protocol.concat("//");
      var host = slashes.concat(window.location.hostname);
      
      console.log( host )
      if(host == "http://127.0.0.1")
      {
      
        host = host + ":8000"
      }
      
      
      window.location.href = host + "/logout";

         
      /*
        axios(
        {
          method: 'get',
          url: this.$app.route('user.logout'),
          data: {
            _token: document.querySelector('meta[name="csrf-token"]').getAttribute('content')          
          }
        })
        .then(function (response) {
          // window.location.href = host;
          console.log("successfully logout")
        }).catch(error => {
          // window.location.href = host;
          console.log("error logout")
        });
      */
      
      
    }
    
    
  }
}
</script>
