<template>

<h1>An Express</h1>
<header>
<div class="jx-monex-header jx-header-3">
<div class="jx-monex-top-bar hidden-xs">
  <div class="container upper">
    <div class="row">
    
      <div class="col-sm-6">
        <div class="jx-monex-left-topbar"> 
            <span class="text"> Welcome to A N Express | International Money Transfer</span> 
        </div>
      </div>
      <!--.col-sm-6 end-->
      
      <div class="col-sm-6">
        <div class="jx-monex-right-topbar">
            
                                <a href="mailto:info@anexpress.com"><i class="fa fa-envelope"></i> info@anexpress.com</a>
                            </div>
      </div>
      <!--.col-sm-6 end-->
    </div>
    <!--.row end-->
  </div>
  <!--.container end-->
</div>
<div class="jx-monex-sub-top-bar">
  <div class="container"> 
      <div class="row">
              <div class="col-sm-2">
                <a href="{{ url('/') }}" class="navbar-brand"><img src="http://web.anexpress.com/wp-content/uploads/2019/03/ANLogo.png" alt="A N Express Money Transfer" class="logo_standard"></a>
                <!-- EOF Retina -->                    
              </div>
              <!--.col-sm-4 end-->
              <div class="col-sm-10">
                <div class="jx-monex-header-info">                            
                    <ul>
                        <li class="top-space">
                            <div class="icon"><i class="fa fa fa-phone"></i></div>
                            <div class="position">
                            <div class="contact">Contact Us</div>
                            <div class="number">020 7426 0113</div>
                            </div>
                        </li>                                
                        <li class="top-space">
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                            <div class="position">
                            <div class="location">Our Address</div>
                            <div class="address">208A Whitechapel Rd, Whitechapel, London E1 1BJ</div>
                            </div>
                        </li>  
                        <li class="top-space">
                            <div class="icon"><i class="fa fa-clock-o"></i></div>
                            <div class="position">
                            <div class="time">Working Hours</div>
                            <div class="date">Mon - Sat 09:30 - 17:00</div>
                            </div>
                        </li>                                
                    </ul>
                </div>
                <!-- Header Info -->
              </div>
              <!--.col-sm-8 end-->
            </div>
        </div>
    </div>
    <div class="jx-monex-menubar setting jx-monex-sticky" id="try">
          <nav class="navbar onemore jx-monex-navbar-default">
            <div class="container hello">
              
              <div class="navbar-collapse menunav" id="bs-example-navbar-collapse-1">
                
                <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="jx-monex-mainmenu navbar-right">
                  <li id="menu-item-629" 
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home no-mega 0"
                  >
                    <b-link to="/dashboard">Home</b-link>
                  </li>
                  <li id="menu-item-633" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="#features">Features</a></li>
                  <li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children no-mega 2"><a href="#faqs">Faq</a>
                  {{-- <ul class="submenu">
                  <li class="col"><ul>
                      <li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="#contact">Contact</a></li>
                      <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="{{ route('logout') }}">Logout</a></li>
                  </ul></li>
                  </ul> --}}
                  </li>
                  <li id="menu-item-685" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no-mega 3"><a href="#contact">Contact</a>
                  {{-- <ul class="submenu">
                  <li class="col"><ul>
                      <li id="menu-item-650" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="http://web.anexpress.com/terms-and-conditions">Terms &amp; Conditions</a></li>
                      <li id="menu-item-686" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="http://web.anexpress.com/privacy-policy-2">Privacy Policy</a></li>
                      <li id="menu-item-687" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="http://web.anexpress.com/terms-of-use">Website Terms of Use</a></li>
                  </ul></li>
                  </ul> --}}
                  </li>
                  @auth
                  <li id="menu-item-688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children no-mega 2"><a href="{{ route('logout') }}">Logout</a>
                  {{-- <ul class="submenu">
                  <li class="col"><ul>
                      <li id="menu-item-689" class="menu-item menu-item-type-custom menu-item-object-custom no-mega 0"><a href="http://customers.anexpress.com/register">Register</a></li>
                      <li id="menu-item-690" class="menu-item menu-item-type-custom menu-item-object-custom no-mega 0"><a href="http://customers.anexpress.com/login">Login</a></li>
                  </ul></li>
                  </ul> --}}
                  </li>
                  @endauth
                  @guest
                  <li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="{{ route('login') }}">Login</a></li>
                  <li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page no-mega 0"><a href="{{ route('register') }}">Register</a></li>
                  @endguest
                  </ul>
                </div>                
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
          </nav>
        </div>
</div>
</header>
</template>

<script>
import axios from 'axios'

export default {
  name: 'NewHeader',
  data() {
    return {
      balanceValue: null
    }
  },
  created() {
    this.getUserBalance()
  },
  methods: {
    async getUserBalance() {
      await axios.get(this.$app.route('getUserBalance')).then(response => {
        if (response.data.status == 200) {
          this.balanceValue = response.data.balance
        }
      })
    }
  }
}
</script>
