<template>
  <header>
    <!-- -start navbar-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">
              <img :src="'/template/img/logo.png'" alt="logo">
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a class="page-scroll" :href="$app.homePath">Home</a></li>
              <li><a class="page-scroll" href="#features">Features</a></li>
              <li><a class="page-scroll" href="#pricing">Pricing</a></li>
              <li><a class="page-scroll" href="#faqs">Faq</a></li>
              <li><a class="page-scroll" href="#news">News</a></li>
              <li><a class="page-scroll" href="#contact">Contact</a></li>
              <li><a class="page-scroll" :href="'/login'">login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 61px;"></div>
    <!--end navbar-->
  </header>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>
