<style>
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
</style>

<template>
  <header>
    <div class="jx-monex-header jx-header-3">
      <div class="jx-monex-top-bar hidden-xs">
        <div class="container upper">
          <div class="row">
            <div class="col-sm-6">
              <div class="jx-monex-left-topbar">
                <span class="text">Welcome to A N Express | International Money Transfer</span>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <div class="jx-monex-right-topbar">
                <a href="mailto:info@anexpress.com">
                  <i class="fa fa-envelope"></i> info@anexpress.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jx-monex-sub-top-bar hidden-xs">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-sm-2">
              <a href="/" class="navbar-brand">
                <img
                  src="http://web.anexpress.com/wp-content/uploads/2019/03/ANLogo.png"
                  alt="A N Express Money Transfer"
                  class="logo_standard"
                />
              </a>
            </div>
            <div class="col-sm-10">
              <div class="jx-monex-header-info">
                <ul class="d-flex align-items-center py-40 m-0">
                  <li class="top-space d-flex align-items-center">
                    <div class="icon">
                      <i class="fa fa fa-phone"></i>
                    </div>
                    <div class="position">
                      <div class="contact">Contact Us</div>
                      <div class="number">020 7426 0113</div>
                    </div>
                  </li>
                  <li class="top-space d-flex align-items-center">
                    <div class="icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="position">
                      <div class="location">Our Address</div>
                      <div class="address">208A Whitechapel Rd, Whitechapel, London E1 1BJ</div>
                    </div>
                  </li>
                  <li class="top-space d-flex align-items-center">
                    <div class="icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="position">
                      <div class="time">Working Hours</div>
                      <div class="date">Mon - Sat 09:30 - 17:00</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jx-monex-menubar setting jx-monex-sticky 666666" id="try">
        <nav class="navbar onemore jx-monex-navbar-default">
          <div class="container hello custom_soh">
            <nav class="navbar navbar-light">
              <div class="container-fluid">
                <div class="navbar-header">
                  <div class="row d-flex align-items-center">
                    <div class="col-xs-6">
                      <a href class="navbar-brand sm">
                        <img
                          src="http://www.anexpress.com/wp-content/uploads/2019/03/ANLogo.png"
                          alt="A N Express Money Transfer"
                          class="logo_standard"
                        />
                      </a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#myNavbar"
                      >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                  </div>
                  <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li class="active">
                      <a href="/front/dashboard">Home</a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Register
                      </a>
                    </li>
                    <li>
                      <a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>
    </div>
  </header>
</template>


<script>
import axios from 'axios'
// import HeaderFooter from "@public/template/css"
//   require('./public/template/css/HeaderFooter.css')
export default {
  name: 'ProcessHeader',
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>
