<template>
<div>
<div class="hides-btn">
  <button type="button" class="hide-butn" id="menu-toggle" onClick="HideSideBarMenu()">
   <div class="burger-menu">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </div>
  </button>
</div>  
  <UserSidebar fixed>
    <SidebarNav :nav-items="nav"></SidebarNav>
  </UserSidebar>
</div>
</template>
 
<script>
import nav from '../_nav'

export default {
  name: 'Sidebar',
  components: {},
  data() {
    return {
      nav: []
    }
  },
  watch: {
    $route: 'fetchData'
  },
  created() {
    this.initNav()
    this.fetchData()
  },
  methods: {
    initNav() {
      this.nav = nav(
        this.$app,
        this.$i18n,
        this.$store.state.counters.newPostsCount,
        this.$store.state.counters.pendingPostsCount
      )
    },
    async fetchData() {
      this.initNav()
    }
  }
}
</script>
