<template>
  <div>
    <SendingNav :add-recipient="true"></SendingNav>
    <div class="container">
      <template>
        <div class="row">
          <div class="recipient-form col-md-8">
            <RecipientsList :preferred-country.sync="preferredCountry" :model.sync="model"></RecipientsList>
            <!-- Recipient Bank Details  -->
            <BankDetails :validation.sync="validation" :model.sync="model"></BankDetails>
            <!-- Recipient Personal Details -->
            <PersonalDetails :validation.sync="validation" ref="personalDetails" :model.sync="model"></PersonalDetails>
            <!-- Recipient Details -->
            <div class="text-center btn-section">
              <b-button @click="back" variant="secondary" class="btn-back" size="lg">Back</b-button>
              <b-button @click="submit" variant="primary" class="btn-next" size="lg">Next</b-button>
            </div>
          </div>
          <PaymentDetails :payment-status="'recipient'"></PaymentDetails>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import BankDetails from './RecipientForm/BankDetails'
import PersonalDetails from './RecipientForm/PersonalDetails'
import RecipientsList from './RecipientForm/RecipientsList'
import SendingNav from '../snippets/SendingNav'
import PaymentDetails from '../snippets/PaymentDetails'

export default {
  name: 'RecipientForm',
  components: {
    SendingNav,
    PaymentDetails,
    PersonalDetails,
    RecipientsList,
    BankDetails
  },
  data() {
    return {
      validation: {},
      paymentDetails: null,
      allRecipients: null,
      recipientsData: null,
      preferredCountry: null,
      model: {
        recipient_id: null,
        chooseRecipient: 'new',
        recipient: {
          first_name: null,
          middle_name: null,
          father_name: null,
          last_name: null,
          address_1: null,
          address_2: null,
          city: null,
          postal_code: null,
          country: null,
          mobile: null,
          phone: null,
          email: null,
          sending_reason: null,
          branch_code: null,
          bank: null,
          branchcity: null,
          branch: null,
          account_number: null,
          source_of_income: null,
          recipient_relation: null,
          payment_id: null
        }
      }
    }
  },
  computed: {},
  watch: {
    'model.chooseRecipient': function(val) {
      if (val !== 'new') {
        this.recipientsData = null
        this.getRecipientsDetails(val)
      } else {
        this.emptyRecipientFields()
      }
    },
    paymentDetails: function(val) {},
    recipientsData: function(val) {
      if (val) {
        this.setRecipientsData(val)
      }
    }
  },
  created() {
    this.getPaymentDetails()
  },
  methods: {
    back() {
      var country = this.paymentDetails.sendToCountry.country
      var countryName = country.replace(/\s+/g, '-')
      this.$router.push('/en/' + countryName + '?ci=' + country)
    },
    async submit() {
      this.model.recipient['chooseRecipient'] = this.model.chooseRecipient
      this.model.recipient['payment_id'] = this.paymentDetails['payment_id']
      let formData = this.$app.objectToFormData(this.model.recipient)
      let action = this.$app.route('addRecipient')
      await axios
        .post(action, formData)
        .then(response => {
          if (response.data.status == 200) {
            this.$router.push('/send/Payment')
          }
        })
        .catch(e => {
          if (e.response.status === 422) {
            // this.validation = e.response.data
            // return
            // console.log(e.response.data.errors, e.response.data.errors[0])
            var keyNames = Object.keys(e.response.data.errors)
            // console.log(keyNames[0])
            document.getElementById(keyNames[0]).focus()
            this.validation = e.response.data
            return
          }
          this.$app.error(e)
        })
    },
    async getPaymentDetails() {
      await axios
        .get(this.$app.route('getPaymentDetails'), {
          params: {
            status: 'recipient'
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var details = response.data.payment_details
            var recipient = this.model.recipient
            this.paymentDetails = details
            this.paymentDetails['payment_id'] = response.data.id
            this.paymentDetails['user_id'] = response.data.user_id
            recipient.country = details.sendToCountry.id
            this.preferredCountry = details.sendToCountry.id
            /* GET RECIPIENTS LIST OF COUNTRY */
            // this.getRecipientsList(details.sendToCountry.id)
          }
        })
    },
    async getRecipientsList(val) {
      await axios
        .get(this.$app.route('getRecipientsList'), {
          params: {
            country: val
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.allRecipients = response.data.recipient
          }
        })
    },
    async changePaymentStatus(id, status) {
      await axios
        .post(this.$app.route('changePaymentStatus'), {
          recipient_id: id,
          status: status
        })
        .then(response => {})
    },
    async getRecipientsDetails(val) {
      await axios
        .get(this.$app.route('getRecipientById'), {
          params: {
            id: val
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.recipientsData = response.data.response
          }
        })
    },
    setRecipientsData(val) {
      var recipient = this.model.recipient
      recipient.first_name = val.first_name
      recipient.middle_name = val.middle_name
      recipient.father_name = val.father_name
      recipient.last_name = val.last_name
      recipient.address_1 = val.address_1
      recipient.address_2 = val.address_2
      recipient.city = val.city
      recipient.postal_code = val.postal_code
      recipient.country = val.country
      recipient.mobile = val.mobile
      recipient.phone = val.phone
      recipient.email = val.email
      // recipient.sending_reason = val.sending_reason
      recipient.branch_code = val.branch_code
      recipient.bank = val.bank
      recipient.branchcity = val.branchcity
      recipient.branch = val.branch
      recipient.account_number = val.account_number
      // recipient.source_of_income = val.source_of_income
      // recipient.recipient_relation = val.recipient_relation
    },
    emptyRecipientFields() {
      var recipient = this.model.recipient
      recipient.first_name = null
      recipient.middle_name = null
      recipient.father_name = null
      recipient.last_name = null
      recipient.address_1 = null
      recipient.address_2 = null
      recipient.city = null
      recipient.postal_code = null
      recipient.country = this.preferredCountry
      recipient.mobile = null
      recipient.phone = null
      recipient.email = null
      recipient.sending_reason = null
      recipient.branch_code = null
      recipient.bank = null
      recipient.branchcity = null
      recipient.branch = null
      recipient.account_number = null
      recipient.source_of_income = null
      recipient.recipient_relation = null
    },
    feedback(name) {
      if (this.state(name)) {
        return this.validation.errors[name][0]
      }
    },
    state(name) {
      return this.validation.errors !== undefined &&
        this.validation.errors.hasOwnProperty(name)
        ? 'invalid'
        : null
    }
  }
}
</script>
