// Tabler bootstrap variables
@import "../vendor/tabler/scss/variables";

// Custom Variables
@import "variables";

 // Thème CoreUI
// @import "~@coreui/coreui/scss/coreui";
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Tabler components
// @import "../vendor/tabler/scss/dashboard/functions";
// @import "../vendor/tabler/scss/dashboard/cards";
// @import "../vendor/tabler/scss/dashboard/tag";
// @import "../vendor/tabler/scss/dashboard/forms/custom-switch";
@import "../vendor/tabler/scss/dashboard/fonts/feather";
// @import url('https://fonts.googleapis.com/css?family=Staatliches');
// Plugins
@import "~noty/src/noty";
@import "~noty/src/themes/bootstrap-v4";
@import "~sweetalert2/src/sweetalert2";
@import "~flatpickr/dist/flatpickr.css";



@font-face {
    font-family: "roboto-light";
    src: url('../../../public/dist/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('../../../public/dist/fonts/Roboto/Roboto-Regular.ttf');
}

// // Components
// @import "../buttons";

// // RTL
// @import "../bootstrap-rtl";

$blue: #281483;
$sidebar-gray-bg: #e0dee2;
$white: #fff;
$light-green: #8fa807;
$gray: #eee;
$black: #000;
$green: #077707;
$red: #da0d0d;
.app-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    font-family: roboto-light;
}
.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: $blue;
    background: $sidebar-gray-bg;
    min-height: 100vh;
}
.sidebar .sidebar-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    text-align: center;
    background: linear-gradient(150deg, $blue 15%, #8f6ed5 70%, #d782d9 94%);
    color: $white;
}
.sidebar .sidebar-nav {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}

.sidebar .nav {
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
}
.sidebar .nav-item {
    color: $blue;
}
.sidebar .nav-item:hover {
    background: $blue;
    .nav-link {
        color: $white;
    }
}
.sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: $blue;
    text-transform: uppercase;
}
.ps>.ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    transition: background-color .2s linear,opacity .2s linear;
    bottom: 0;
    height: 15px;
}
.app-body .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.sidebar .nav-link.active {
    color: $white;
    background: linear-gradient(150deg, $blue 15%, #8f6ed5 70%, #d782d9 94%);
}
.sidebar .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: $blue;
    text-decoration: none;
    background: transparent;
}
.sidebar .sidebar-minimizer {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
}
.bg-gray {
    background: linear-gradient(150deg, $blue 0%, #8f6ed5 0%, #eae8f1 100%);
}
.footer-section {
    color: $blue;
}
#nav-balance
{
    background: inherit;
    padding: 10px 10px;
    border: 1px solid #8a69d1;
    border-radius: 2px;
}
.sidebar-footer .btn-logout {
    display: block;
    background: $blue;
    border-radius: 0;
    color: $white;
    border: 3px solid $blue;
}
.sidebar-footer .btn-logout:hover {
    color: $white;
    background: $blue;
    border: 3px solid $blue;
}
.confirm_section {
    text-align: center;
    padding: 80px 25px;
    height: 100vh;
}
.confirm_section .focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
.id-verify-section {
    margin-top: 40px;
    margin-bottom: 30px;
    .btn-green {
        background: $light-green;
        color: $white;
    }
    .head-verify-id {
        background: #eee;
        padding: 5px 2px;
        height: 40px;
        margin-bottom: 5px;
        #back-btn {
            float: left;
            cursor: pointer;
            text-transform: capitalize;
            margin-left: 20px;
        }
        #help-btn {
            float: right;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
    .first-step {
        border: 1px solid #9779d8;
        padding-top: 20px;
        .step-head {
            text-align: center;
            padding: 20px 0 20px 20px;
        }
        .sub-head {
            text-align: center;
            background: #428bda;
            padding: 20px 0 20px 20px;
            color: #fff;
        }
        .step-body {
            text-align: center;
            padding: 30px 10px 30px 20px;
        }
        .step-foot {
            text-align: center;
            padding: 30px 10px 30px 20px;
            button {
               padding: 12px 14px;
               background: $light-green;
               border: 1px solid $light-green;
               color: $white;
            }
        }
    }
    .second-step {
        div.verify-error {
            background: red;
            color: $white;
        }
        .alert-dismissible .close {
            top: 1px;
            right: 0px;
            color: white;
            background: red;
            opacity: 1;
        }
        .step-head {
            padding: 30px 10px 30px 20px;
            .heading {
                float: left;
            }
            .search-country {
                // float: right;
            }
        }
        .step-body {
            .sub-head {
                padding: 30px 10px 30px 20px;
            }
            .type-section {
                .card {
                    .img-card {
                        padding-bottom: 30px;
                        padding-top: 30px;
                        background: $gray;
                    }
                    .card-container {
                        margin-bottom: 20px;
                    }
                    .card-body {
                        .card-btn {
                            button {
                                display: block;
                                background: $light-green;
                                color: $white;
                                width: 100%;
                                padding: 8px 0;
                            }
                        }
                    }
                }
            }
        }
        .type-icon {
            font-size: 100px;
        }
    }
    .upload-section {
        padding-top: 30px;
        div.verify-error {
            background: red;
            color: $white;
        }
        .alert-dismissible .close {
            top: 1px;
            right: 0px;
            color: white;
            background: red;
            opacity: 1;
        }
        margin-bottom: 10px;
        .upload-again {
            button {
                display: block;
                width: 100%;
                color: $white;
                background: $light-green;
                border-radius: 1px;
                margin-bottom: 5px;
            }
        }
        .confirm-upload {
            button {
                display: block;
                width: 100%;
                color: $white;
                background: $light-green;
                border-radius: 1px;
                padding:16px;
            }
        }
        .instruction {
            small {
                font-size: 77%;
                font-weight: 600;
            }
        }
    }
    .upload-successful {
        padding: 40px 20px;
        border: 3px solid green;
        border-bottom: none;
        margin-bottom: 30px;
        .step-body {
            color: $black;
        }
    }
    .footer-verify-id{
        background: #eee;
        padding: 5px 2px;
        color: $black;
        .copyright {
            float: left;
        }
        .sign{
            float: right;
            span {
                font-family: 'Staatliches', cursive;
                font-size: 20px;
                font-weight: bold;
                word-spacing: 2px;
            }
        }
    }
}
.btn-green {
    background: $light-green;
    color: $white;
}
.btn-green:hover {
    background: $light-green;
    color: $white;
}
.doc-verify-section {
    padding-top: 30px;
    .head-verify-id {
        background: #eee;
        padding: 5px 2px;
        height: 40px;
        margin-bottom: 5px;
        #back-btn {
            float: left;
            cursor: pointer;
            text-transform: capitalize;
            margin-left: 20px;
        }
        #help-btn {
            float: right;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
    .upload-section {
        margin-top: 20px;
        margin-bottom: 10px;
        div.verify-error {
            background: red;
            color: $white;
        }
        .alert-dismissible .close {
            top: 1px;
            right: 0px;
            color: white;
            background: red;
            opacity: 1;
        }
        .upload-again {
            button {
                display: block;
                width: 100%;
                color: $white;
                background: $light-green;
                border-radius: 1px;
                margin-bottom: 5px;
            }
        }
        .confirm-upload {
            button {
                display: block;
                width: 100%;
                color: $white;
                background: $light-green;
                border-radius: 1px;
                padding:16px;
            }
        }
        .instruction {
            small {
                font-size: 80%;
            }
        }
    }
    .upload-successful {
        padding: 40px 20px;
        border: 3px solid green;
        border-bottom: none;
        margin-bottom: 30px;
        .step-body {
            color: $black;
        }
    }
}
.get-started {
    .btn-get-started {
        padding: 7px 30px;
        border-radius: 1px;
    }
}
.navbar {
    padding: 0 !important;
    background-color: inherit !important;
}
.main-content-wraper {
    display: flex;
    flex-direction: column;
}
.main-content-inner {
    min-height: 100vh;
    .navbar {
      width: 100%;
    }
}
.get-started-container {
    // background: lightblue url('https://res.cloudinary.com/worldremit/image/upload/w_3160/images/mastheads/TVC-Dec-2017/Home_2x.jpg') no-repeat right bottom;
    background: lightblue;
    height: 483px;
    section > div:first-child{
        position: relative;
        width: 60%;
        top: 156px;
        left: 270px;
        margin: 0 auto;
    }
    .started-btn {
        button {
            font-size: 18px;
            padding: 10px 30px;
        }
    }
    .search-country {
        .selection {
            font-size: 18px;
        }
    }
}
#choose-money {
    .send-form {
        // background: #eaecef;
        // padding: 27px 29px;
        // width: 400px;
        // position: relative;
        // top: -150px;
        background: #ffffff;
        padding: 12%;
        width: 100%;
        position: relative;
        top: -150px;
        border: 2px dashed #a1a1a9;
        .send-type {
            margin-right: 5px;
        }
    }
    .btn-section {
        margin-top: 10px;
    }
}
.choose-money-container {
  background-image: url(https://qualityinspection.org/wp-content/uploads/2012/01/HowtoPayChineseSuppliersbyBankTransferTT.jpg);
  height: 502px;
  background-size: cover;
  background-position-y: -128px;
}
.navbar-fixed-top {
    .nav>li {
        display: inline-block;
    }
}
.nav .dropdown-menu .dropdown-item {
    color: $blue !important;
}
.calculate-output {
    div {
        border-bottom: 1px solid $gray;
        label.value {
            float: right;
            span {
             font-weight: bold;
            }
        }
    }
    background: white;
    margin-top: 16px;
    padding: 14px;
}
.exchange-rate {
    text-align: center;
    small {
        font-size: 80%;
    }
}
.recipient-nav {
    background: $gray;
    margin-top: 40px;
    padding: 10px 5px;
    margin-bottom: 15px;
    overflow: hidden;
    .progress-bar2 {
        h2 {
            float: left;
            margin-right: 32px;
        }
        ul.title-progress {
            position: relative;
            width: 100%;
            color: #2c3e50;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 4px;
            li {
                margin: 15px;
                display: inline;
            }
            li.active {
                background: linear-gradient(150deg, #281483 1%, #8f6ed5 80%, #d782d9 94%);
                color: white;
                padding: 25px 44px;
            }
            li.completed {
                color: #787878;
            }
        }
    }

}
.form-control {
    border: 1px solid #bdb8b8 !important;
}
.recipient-form {
    .form-control {
        border: 1px solid #e0dfdf;
    }
    .box-row {
        margin-top: 20px;
        margin-bottom: 8px;
        .item1{
            font-weight: 500;
            color: inherit;
            margin-top: 20px;
            width: 25%;
            min-width: 200px;
            float: left;
        }
        .item2 {
            width: 55%;
            min-width: 300px;
            float: left;
            margin-top: 8px;
        }
        .item3 {
            float: left;
            width: 1%;
            margin-top: 16px;
        }
    }
    .recipient-details {
        padding: 20px 0;
        margin-bottom: 25px;
    }
    .recipient-bank-details {
        padding: 20px 0;
    }
    .btn-section {
        button {
            padding: 8px 45px;
            margin: 0 8px;
            border-radius: 4px;
        }
        margin-bottom: 15px;
    }
    .invalid-feedback {
        color: red;
        font-size: 90%;
    }
}
.payment-details-card {
    .card-header {
        h4 {
            color: $white;
            font-weight: 100;
            font-size: 27px;
        }
        background: #A0A0A0;
        padding: 14px 14px;
        border-radius: 3px;
        text-align: left;
    }
    .card-body {
        background: #C8C8C8;
        padding: 15px 6% 20px;
        .payment-box {
            background: #ffffff;
            padding: 19px 0 19px 6%;
            color: #222222;
            padding-right: 20px;
            position: relative;
            border-radius: 3px;
            font-size: 14px;
        }
        .amount-box {
            display: block;
            clear: left;
            border-bottom: 1px solid rgb(226,226,226);
            padding-bottom: 10px;
        }
        .amount-box ul {
            display: table;
            width: 100%;
        }
        .amount-box li {
            display: table-row;
            list-style: none;
            line-height: 2;
        }
        .amount-box li span {
            float: right;
        }
        .total {
            span {
                font-weight: bold;
            }
        }
    }
}
.select-payment-container {
    .credit-payment label {
        background: $gray;
    }
    .select-payment {
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #8a8888;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: $blue;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    .btn-section {
        margin-bottom: 10px;
        button {
            padding: 8px 45px;
            border-radius: 2px;
        }
    }
}
.payment-pending-alert{
    color: $white !important;
    background-color: #08a73a !important;
    border-color: #08a73a !important;
    p {
        font-weight: 600;
    }
    .close {
        color: $white;
        top: 0 !important;
        right: 0 !important;
        opacity: unset;
    }
    .recharge-btn {
        margin-left: 20px;
        padding: 5px 30px;
        background-color: $blue;
        border-color: $blue;
    }
}
.payment-method-alert{
    color: $white !important;
    background-color: $red !important;
    border-color: $red !important;
    p {
        font-weight: 600;
    }
    .close {
        color: $white;
        top: 0 !important;
        right: 0 !important;
        opacity: unset;
    }
    .recharge-btn {
        margin-left: 20px;
        padding: 5px 30px;
        background-color: $blue;
        border-color: $blue;
    }
}
.transaction-successful {
    margin: 30px 0;
    border: 1px solid $green;
    padding: 20px 20px;
    .step-head {
        h2 {
            color: $green;
        }
    }
}
.upload-section {
    .submit-button {
        .btn-submit {
            padding: 15px 45px;
            border-radius: 1px;
            color: $white;
        }
    }
    .confirm-upload {
        button {
            display: block;
            width: 100%;
            color: $white;
            background: $light-green;
            border-radius: 1px;
            padding:16px;
        }
    }
    .upload-again {
        button {
            display: block;
            width: 100%;
            color: $white;
            background: $light-green;
            border-radius: 1px;
            margin-bottom: 5px;
        }
    }
    .instruction {
        font-size: 77%;
        font-weight: 600;
    }
}
.recharge-container {
    .recharge-content {
        padding: 20px;
        span.req {
            color: red;
        }
        textarea {
            border: 1px solid #cacaca;
        }
        .recharge-amount {
            input {
                border: 1px solid #cacaca;
            }
        }
        .recharge-country {
            margin-bottom: 15px;
        }
    }
    .recharge-footer {
        margin: 30px 0;
    }
    .btn-submit {
        padding: 7px 30px;
        border-radius: 3px;
    }
}
/* .search-country {
    .ui.dropdown .menu > .item.current {
        background: $light-green !important;
        color: $white !important;
    }
    .selection{
        div.menu{
            div.item:hover {
                background: $light-green !important;
                color: $white !important;
            }
        }
    }
} */
.dz-error-mark {
    background: red;
}
#otp_section {
  display: none;
}
#verify_error_section {
    display: none;
    text-align: center;
    background: #ff0000;
    color: white;
    margin-top: 15px;
    padding: 4px;
}
#otp_section #otp_password {
    color: #495057;
    background-color: #fff;
    border-color: #1991eb;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}
.login-card #loginSubmit {
    padding: 6px 38px;
    border-radius: 2px;
}
.login-card {
    .card-head {
        padding: 15px;
        background: #efefef;
    }
    .card-body {
        color: #424242;
        padding: 2rem 4rem 4rem 4rem;
    }
}
#verify_otp_btn{
    padding: 8px 45px;
    border-radius: 1px;
    margin-top: 20px;
}
.register-card {
    .card-head {
        padding: 15px;
        background: #efefef;
    }
    .card-body {
        color: #424242;
        padding: 2rem 4rem 1rem 4rem;
    }
    .btn-success {
        background-color: #13d413;
        border-color: #13d413;
    }
    .btn {
        padding: 8px 45px;
        border-radius: 1px;
    }
}
.login-card, .register-card {
    /* background: gray; */
    /* padding: 37px; */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}
.register-block {
    margin-top: 20px;
    // background: #dede;
    padding: 10px;
    color: #000;
}
#front_login_form {
    .register-btn {
        background: #eaeaea !important;
        padding: 6px 2px !important;
    }
}
.front-login {
    display: flex;
    flex-direction: column;
}
.invalid-feedback {
    color: #ff0000;
    font-weight: 600;
}
.user-container {
    width : 100%;
    padding: 20px 15px;
}
.cardbg-red {
    background: red;
    color: white;
}
.cardbg-green {
    background: #23bd23;
    color: white;
}
.cardbg-yellow {
    background: yellow;
    color: white;
}
.user-container .card-box {
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgba(0, 0, 0, 0.35);
    border-radius: .125rem;
    margin-bottom: 0.9375rem;
    text-align: center;
    padding: 10px 5px;
    min-height: 190px;
    .box-img {
        border: 1px solid #c5c5c5;
        border-radius: 50%;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .box-text {
        width: 95%;
        margin: auto;
        line-height: normal;
        letter-spacing: -0.2px;
        overflow: hidden;
        margin-bottom: 10px;
        color: #281483;
        font-weight: bold;
    }
    .box-btn {
        text-transform: capitalize;
        border: 1px solid #281483;
        border-radius: 2px;
        margin-top: 5px;
        color: #281483;
        background: #fff;
        padding: 5px 25px;
        display: inline-block;
    }
    .box-btn:hover {
        color: #fff;
        background: #281483;
    }
}
.pending-requests {
    .amount {
        text-transform: uppercase;
    }
}
.alert-pending {
    background: #e6e4e4;
    color: #281483;
    font-weight: bold;
    .close {
        top: 0 !important;
        right: 0 !important;
    }
}
table.payments-history {
    span.status-tag {
        padding: 3px 10px;
        display: block;
        text-align: center;
    }
    .pending {
        background: #e0dee2;
        color: #272734;
        border: 1px solid #b7b7b7;
    }
    .approved {
        background: #2ab12a;
        color: #fff;
        border: 1px solid #2ab12a;
    }
    .rejected {
        background: $red;
        color: #fff;;
        border: 1px solid $red;
    }
}
.payments-table, .recipients-table {
    .mt-2 {
    }
    .result-info {
        color: #000;
        background: #dadada;
        padding: 2px 30px;
        margin-bottom: 20px;
        cursor: text;
    }
}
table.payments-history, table.recipients-list {
    color: #272727;
    thead {
        font-weight: bold;
    }
}
.title-head {
    margin-left: -15px;
    margin-top: -19px;
    margin-right: -15px;
    padding: 15px 15px;
    background: #ececec;
    margin-bottom: 20px;
}
.w-100 {
    width: 100% !important;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.w-45 {
    width: 45%;
}
.w-90 {
    width: 90%;
}
.item-row {
    padding: 4px 0px;
    .form-group {
        margin: 4px;
    }
}
.front-recipient-form {
    .recipient-bank-details {
        margin-top: 10px;
        padding: 15px 0;
    }
    .recipient-footer {
        padding: 20px 5px;
        margin-top: 10px;
        button {
            margin: 20px;
            padding: 5px 50px;
        }
    }
}
.update-identity {
    display: block;
    width: 100%;
    color: #fff;
    background: #8fa807;
    border-radius: 1px;
    margin-bottom: 5px;
    padding: 6px;
}
.dz-max-files-reached {
  cursor: default !important;
}
.uploads-list {
    margin-top: 40px;
    padding: 20px 0px;
}
#loading-img {
    text-align: center;
}
.print-history {
    padding: 10px 15px;
    .label-receipt {
        // float: left;
        margin-right: 15px;
        color: #2c3e50;
    }
    .data-receipt {
        font-weight: bold;
        color: #2c3e50;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
}
.email-confirm-pending {
    background: red;
    color: white;
    font-size: 14px;
    padding: 7px 0;
    text-align: center;
    span {
    }
}

/**************** PRINT CSS STARTS ****************/
@media print {
  @page {
    size: auto;
    margin: 2mm 5mm;
  }
  body * {
    visibility: hidden;
  }
  #not-print * {
    display: none;
  }
  #to-print, #to-print *{
    visibility: visible;
  }

  #to-print {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 99%;
  }
  .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .print-history {
    padding: 10px 15px;
    .label-receipt {}
    .data-receipt {}
  }
}
/**************** PRINT CSS ENDS ****************/

.btn-process-bg {
  background: #0b3271;
  font-weight: bold;
  color: #fff;
}

.btn-process-bg:hover {
  background: #0b3271;
  font-weight: bold;
  color: #fff !important;
}

.text-process {
  padding: 14px;
  line-height: 2.3rem;
  font-weight: 100;
  font-size: 15px;
}

.custom-inputs {
  background: transparent;
    /* width: 400px; */
    font-size: 14px;
    line-height: 1;
    border: 1px solid #eee !important;
    border-radius: 0;
    height: 32px !important;
    margin-bottom: 20px;
    /* width: 100%; */
    /* background: #fff; */
    padding: 8px;
    color: #888;
    cursor: pointer;
}

.input-float-align {
  float: right !important;
}

.input-text-align {
  text-align: right;
}

.border {
  border: 1px solid #ccc;
}

.header-invoice {
  margin: 40px 0px;
  border-bottom: 1px solid #ccc;
  font-family: roboto-thin;
}

.sender-text {
  font-family: roboto;
  font-size: 14px;
}

.text-getstarted .text {
  color: #000;
}


.is-invalid {
  border: 1px solid red !important;
}

.blueimp-gallery-display {
    display:contents;
}

.dropdown-menu.show{display:block !important}
.paying-container {
    flex-grow: 8;
}