<template>
  <div>
    <form ref="foos">
      <b-row class="justify-content-center">
        <b-col xl="10">
          <b-card>
            <h3>View Message
            <b-badge variant="success" v-if="model.status == 'open'">{{ model.status }}</b-badge>
            <b-badge variant="danger" v-else>{{ model.status }}</b-badge>
            </h3>

            <!-- created_at -->
            <template>
              <b-form-group
                :label="$t('Date')"
                label-for="Created At"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9"> <b-badge variant="light">{{ model.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</b-badge></span>
              </b-form-group>
            </template>
            <!-- #created_at -->

            <template>
              <b-form-group
                :label="$t('validation.attributes.name')"
                label-for="name"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.name }}</span>
              </b-form-group>
            </template>

            <template>
              <b-form-group
                :label="$t('validation.attributes.email')"
                label-for="email"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.email }}</span>
              </b-form-group>
            </template>

            <template>
              <b-form-group
                :label="$t('validation.attributes.phone')"
                label-for="phone"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.phone }}</span>
              </b-form-group>
            </template>

            <!-- status -->
            <template>
              <b-form-group
                :label="$t('validation.attributes.status')"
                label-for="status"
                horizontal
                :label-cols="3"
              >
                <b-badge variant="success" v-if="model.status == 'open'">open</b-badge>
                <b-badge variant="danger" v-else>close</b-badge>
              </b-form-group>
            </template>
            <!-- //status -->

            <template>
              <b-form-group
                :label="$t('validation.attributes.message')"
                label-for="message"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.message }}</span>
              </b-form-group>
            </template>


            <b-row id="hideback" slot="footer">
              <b-col md>
                <b-button to="/message" exact variant="danger" size="md">{{ $t('buttons.back') }}</b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>


       <template v-if="model.status == 'open'">
          <b-col xl="10"><!-- replymessage -->
            <b-card>
              <h3>Send Reply</h3>
              <b-row id="hideback" slot="footer">
                <b-col md>
                  <textarea v-model="replymessage" cols="50" rows="8" style="resize: none" placeholder="Enter your reply here."></textarea>
                </b-col>
              </b-row>
              <b-row id="hideback" slot="footer">
                <b-col md>
                  <b-button exact variant="danger" size="md" @click="reply()">Reply</b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </template>
        <!-- //replymessageForm -->

        <!-- replymessageBox -->
        <template v-if="model.status == 'close'">
          <b-col xl="10">
            <b-card>
              <h3>Reply Message</h3>
              <b-row id="hideback" slot="footer">
                <b-col md>
                  <span>{{ msg }}</span>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </template>
        <!-- //replymessageBox -->


      </b-row>
    </form>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import Vue from 'vue'
import moment from 'vue-moment'
Vue.use(moment)

export default {
  name: 'MessageView',
  mixins: [form],
  data() {


    this.getReply()

    return {
      modelName: 'reply',
      replymessage: '',
      showReplyMessageBox: null,
      showReplyMessageForm: null,
      msg: "",

      resourceRoute: 'message',
      listPath: '/message',

      fields: [
        { key: 'created_at', label: 'Created At' },
        { key: 'id', label: 'id' },
        { key: 'name', label: 'Name' },
        { key: 'email', label: 'Email' },
        { key: 'phone', label: 'Phone' },
        { key: 'status', label: 'Status' },
        { key: 'message', label: 'message' },
      ],
      model: {
        created_at: null,
        name: null,
        email: null,
        phone: null,
        status: null,
        message: null,
      }
    }

  },
  async created() {},
  methods: {
    async test() {
      // console.log(comoing)
      await this.$refs.foos.fetchData()
    },
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    },
    reply() {

      // admin reply message save.
      axios
        .post(this.$app.route('admin.message.saveReply'), {
          message_id: this.id,
          message: this.replymessage
        })
        .then(response => {
          if (response.data.status == 200) {
            console.log(response.data.message)
          }
        })

        this.test()
    },

    async test() {
      let result = await window.swal({
        title: 'Reply Sent',
        type: 'success',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        // redirect to message panel.
        this.$router.push('/message')
      }
    },


    // get current message reply.
    getReply() {

      axios.post(this.$app.route('admin.message.check.status'), {
          message_id: this.id,
          message: this.replymessage
        })
        .then(response => {

          if (response.status == 200)
          {

              if (typeof response.data != "boolean") { // status: close
                // this.hideMessageBox(true, response.data)
                this.msg = response.data.message
              }

          } // status 200
        })

    }
  }
}
</script>
