<template>
  <div>
    <b-card>
      <template slot="header">
        <h3 class="card-title">Messages</h3>
      </template>
      <b-datatable
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.message.search"
        delete-route="admin.message.destroy"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          bordered
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
        >
          <!-- username with clickable link -->
          <template slot="name" slot-scope="row">
            <template v-if="row.item.name">
              <router-link :to="`/message/${row.item.id}/view`" v-text="row.item.name"></router-link>
            </template>

            <template v-else>
              <span></span>
            </template>
          </template>
          <!-- /username with clickable link -->

          <template slot="email" slot-scope="row">
            <span v-text="row.item.email"></span>
          </template>

          <template slot="phone" slot-scope="row">
            <span v-text="row.item.phone"></span>
          </template>

          <template slot="status" slot-scope="row">
            <span v-text="row.item.status" style="font-weight: bolder;"></span>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'MessageList',
  data() {
    return {
      selected: [],
      fields: [
        {
          key: 'name',
          label: this.$t('validation.attributes.name'),
          sortable: true
        },
        {
          key: 'email',
          label: this.$t('validation.attributes.email'),
          sortable: true
        },
        {
          key: 'phone',
          label: this.$t('validation.attributes.phone'),
          sortable: true
        },
        {
          key: 'status',
          label: this.$t('validation.attributes.status')
        }
      ]
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    }
  }
}
</script>
