<template>
  <div>
    <gallery :images="docImage" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in docImage"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{
        backgroundImage:
          'url(' +
          '/' +
          docs.verify_doc.path +
          '/' +
          docs.verify_doc.image_name +
          ')',
        width: '400px',
        height: '350px',
        backgroundSize: 'cover'
      }"
    ></div>
  </div>
</template>

<script>
import axios from 'axios'
import VueGallery from 'vue-gallery'

export default {
  name: 'DocUploads',
  components: {
    gallery: VueGallery
  },
  props: {
    docImage: {
      type: Array,
      default: () => []
    },
    docs: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      index: null
    }
  },
  watch: {},
  created: function() {},
  methods: {}
}
</script>
