<template>
  <div class="app">
    <AppHeader></AppHeader>
    <div class="app-body">
      <Sidebar fixed>
        <SidebarNav :nav-items="nav"></SidebarNav>
        <SidebarFooter :user-type="paying"></SidebarFooter>
      </Sidebar>
      <div class="paying-container container">
        <router-view :key="$route.name"></router-view>
        <!--end main content inner -->
      </div>
      <Aside fixed></Aside>
    </div>
    <AppFooter
      :name="$app.appName"
      :editor-name="$app.editorName"
      :editor-site-url="$app.editorSiteUrl"
    ></AppFooter>
  </div>
</template>

<script>
import nav from '../_nav'

import AppFooter from '../components/Footer'
import AppHeader from '../components/Header'
import AppSearch from '../components/Search'

export default {
  name: 'IndexFull',
  components: {
    AppHeader,
    AppFooter
  },
  data() {
    return {
      nav: [],
      paying: 'paying'
    }
  },
  watch: {
    $route: 'fetchData'
  },
  created() {
    this.initNav()
    this.fetchData()
  },
  methods: {
    initNav() {
      this.nav = nav(
        this.$app,
        this.$i18n,
        this.$store.state.counters.newPostsCount,
        this.$store.state.counters.pendingPostsCount
      )
    },
    async fetchData() {
      this.initNav()
    }
  }
}
</script>
