<template>
  <div class="customer-form">

     <b-tabs content-class="mt-3">
        <b-tab title="Basic" active>
            <!-- *********** CUSTOMER SECTION *********** -->
              <b-row class="justify-content-center">
                <b-col>
                  <b-card>
                    <b-form-group
                      :label="$t('validation.attributes.first_name')"
                      label-for="first_name"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('first_name')"
                    >
                      {{ model.first_name }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.middle_name')"
                      label-for="middle_name"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('middle_name')"
                    >
                      {{ model.middle_name }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.last_name')"
                      label-for="last_name"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('last_name')"
                    >
                     {{ model.last_name }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.name')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('name')"
                    >
                      {{ model.name }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.email')"
                      label-for="email"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('email')"
                    >
                      {{ model.email }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.active')"
                      label-for="active"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('active')"
                    >
                        <span v-if="model.active">Inactive</span>
                        <span v-else>Active</span>
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.title')"
                      label-for="title"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('title')"
                    >
                      {{ model.title }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.address')"
                      label-for="address"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('address_1')"
                    >
                      {{ model.address_1 }}
                    </b-form-group>

                    <b-form-group
                      label="Address 2"
                      label-for="address_2"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('address_2')"
                    >
                      {{ model.address_2 }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.postcode')"
                      label-for="postcode"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('postcode')"
                    >
                      {{ model.postcode }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.dob')"
                      label-for="dob"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('dob')"
                    >
                    {{ model.dob }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.place_of_birth')"
                      label-for="place_of_birth"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('place_of_birth')"
                    >
                      {{ model.place_of_birth }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.country_id')"
                      label-for="country_id"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('country_id')"
                    >
                      {{ model.country_id}}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.city')"
                      label-for="city"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('city')"
                    >
                      {{ model.city }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.nationality')"
                      label-for="nationality"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('nationality')"
                    >
                      {{ model.nationality }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.mobile_no')"
                      label-for="mobile_no"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('mobile_no')"
                    >
                      {{ model.mobile_no }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.phone_no')"
                      label-for="phone_no"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('phone_no')"
                    >
                      {{ model.phone_no }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.consent_marketing')"
                      label-for="consent_marketing"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('consent_marketing')"
                    >
                      {{ model.consent_marketing }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.locale')"
                      label-for="locale"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('locale')"
                    >
                      {{ model.locale }}

                    </b-form-group>
                    <b-form-group
                      :label="$t('validation.attributes.timezone')"
                      label-for="timezone"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('timezone')"
                    >
                      {{ model.timezone }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.doc_verify_status')"
                      label-for="doc_verify_status"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('doc_verify_status')"
                    >
                     {{ model.doc_verify_status }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.preferred_country')"
                      label-for="preferred_country"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('preferred_country')"
                    >
                      {{ model.preferred_country }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.send_amount_country')"
                      label-for="send_amount_country"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('send_amount_country')"
                    >
                    {{ model.send_amount_country }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.balance')"
                      label-for="balance"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('balance')"
                    >
                      {{ model.balance }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.roles')"
                      label-for="roles"
                      horizontal
                      :label-cols="3"
                    >
                      <b-form-checkbox-group
                        stacked
                        v-model="model.roles"
                        name="roles[]"
                      >
                        <template v-for="role in roles">
                          <b-form-checkbox
                            v-if="role.display_name == 'Customer'"
                            :key="role.id"
                            v-b-tooltip.left
                            :title="role.description"
                            :value="role.id"
                            disabled
                          >
                            {{ role.display_name }}
                          </b-form-checkbox>
                        </template>
                      </b-form-checkbox-group>
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.highalert')"
                      label-for="highrisk"
                      horizontal
                      :label-cols="3"
                    >
                     {{ model.highrisk }}
                    </b-form-group>

                    <!-- anual income -->
                    <b-form-group
                      label="Annual Income"
                      label-for="annual_income"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('annual_income')"
                    >
                      {{ model.annual_income }}
                    </b-form-group>
                    <!-- //anual income -->

                    <!-- exp_month_volume -->
                    <b-form-group
                      label="Exp Month Volume"
                      label-for="exp_month_volume"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('exp_month_volume')"
                    >
                      {{ model.exp_month_volume }}
                    </b-form-group>
                    <!-- //exp_month_volume -->

                    <!-- occupation -->
                    <b-form-group
                      label="Occupation"
                      label-for="occupation"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('occupation')"
                    >
                       {{ model.occupation }}
                     </b-form-group>
                    <!-- //occupation -->

                    <!-- senior_gov_pos -->
                    <b-form-group
                      label="Senior Government Position"
                      label-for="senior_gov_pos"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('senior_gov_pos')"
                    >
                      {{ model.senior_gov_pos }}
                    </b-form-group>

                    <b-form-group
                      :label="$t('validation.attributes.thrashold')"
                      label-for="thrashold"
                      horizontal
                      :label-cols="3"
                      :feedback="feedback('thrashold')"
                    >
                      {{ model.thrashold }}
                    </b-form-group>

                    <b-row slot="footer">
                      <b-col>
                        <b-button to="/customers" exact variant="danger" size="sm">
                          {{ $t('buttons.back') }}
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-card>


                </b-col>
              </b-row>

          </b-tab>
          <!-- *********** //CUSTOMER SECTION *********** -->

          <!-- *********** DOCUMENTS SECTION *********** -->
          <b-tab title="Documents">

                  <b-row class="customer-docs justify-content-center">
                    <b-col>
                      <b-card>
                        <template v-if="docs">
                          <template v-if="docs.verify_Id">
                            <h3 class="uppercase">
                              <span>{{ docs.verify_Id.type.replace(/_/g, ' ') }}</span>
                            </h3>
                            <template v-if="identityImage">
                              <IdentityUploads
                                :docs.sync="docs"
                                :identity-image.sync="identityImage"
                              ></IdentityUploads>
                            </template>
                          </template>
                          <template v-if="docs.verify_doc">
                            <h3 class="uppercase">
                              <span>{{ docs.verify_face.type.replace(/_/g, ' ') }}</span>
                            </h3>
                            <template v-if="faceImage">
                              <FaceUploads
                                :docs.sync="docs"
                                :face-image.sync="faceImage"
                              ></FaceUploads>
                            </template>
                          </template>
                          <template v-if="docs.verify_doc">
                            <h3 class="uppercase">
                              <span>{{ docs.verify_doc.type.replace(/_/g, ' ') }}</span>
                            </h3>
                            <DocUploads
                              :docs.sync="docs"
                              :doc-image.sync="docImage"
                            ></DocUploads>
                          </template>
                          <template v-if="docs.additional_doc">
                            <h3 class="uppercase">
                              <span>{{ docs.additional_doc.type.replace(/_/g, ' ') }}</span>
                            </h3>
                            <AdditionalDocUploads
                              :docs.sync="docs"
                              :additional-doc-image.sync="additionalDocImage"
                            ></AdditionalDocUploads>

                          </template>
                        </template>
                      </b-card>
                    </b-col>
                  </b-row>
                  <!-- *********** //DOCUMENTS SECTION *********** -->
          </b-tab>

          <!-- *********** MESSAGES SECTION *********** -->
          <b-tab title="Messages">
                <CustomersListMessages></CustomersListMessages>
          </b-tab>
          <!-- *********** //MESSAGES SECTION *********** -->

          <!-- *********** PAYMENTS SECTION *********** -->
          <b-tab title="Transaction">

              <b-col>
                  <template v-if="customerPayments">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Send From</th>
                          <th>Send To</th>
                          <th>Recipient</th>
                          <th>Service Type</th>
                          <th>Sending Amount</th>
                          <th>Fee</th>
                          <th>Total To Pay</th>
                          <th>Recipient Gets</th>
                          <th>Exchange Rate</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <template v-for="(payment, index) in customerPayments">
                          <tr v-if="payment.status === 'paid'" :key="index">
                            <td>{{ payment.payment_details.sendFromCountryName }}</td>
                            <td>{{ payment.payment_details.sendToCountryName }}</td>
                            <td>
                              <template v-if="payment.recipient">
                                {{ payment.recipient.first_name }}
                                {{ payment.recipient.last_name }}
                              </template>
                              <template v-else>
                                Recipient Not Found
                              </template>
                            </td>
                            <td class="service-type">
                              {{
                                payment.payment_details.serviceType.replace(/_/g, ' ')
                              }}
                            </td>
                            <template>
                              <template
                                v-if="
                                  payment.payment_details.calculate.sendAmount >
                                    model.thrashold && model.thrashold
                                "
                              >
                                <td class="send-amount">
                                  <i
                                    class="fe fe-alert-circle alert-highrisk alert-size"
                                    variant="danger"
                                  ></i>
                                  {{ payment.payment_details.sendCurrency }}
                                  {{ payment.payment_details.calculate.sendAmount }}
                                </td>
                              </template>
                              <template v-else>
                                <td class="send-amount">
                                  {{ payment.payment_details.sendCurrency }}
                                  {{ payment.payment_details.calculate.sendAmount }}
                                </td>
                              </template>
                            </template>
                            <td class="total-fee">
                              {{ payment.payment_details.getCurrency }}
                              {{ payment.payment_details.calculate.totalFee }}
                            </td>
                            <td class="total-to-pay">
                              {{ payment.payment_details.sendCurrency }}
                              {{ payment.payment_details.calculate.totalToPay }}
                            </td>
                            <td class="recipient-gets">
                              {{ payment.payment_details.getCurrency }}
                              {{ payment.payment_details.calculate.recipientTotal }}
                            </td>
                            <td class="exchange-rate">
                              1 {{ payment.payment_details.sendCurrency }} =
                              {{ payment.payment_details.getCurrency }}
                              {{ payment.payment_details.calculate.exchangeRate }}
                            </td>
                            <td
                              class="approve-status"
                              style="text-transform: capitalize;"
                            >
                              {{ payment.approve_status }}
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </template>

                <!-- *********** PAYMENTS SECTION *********** -->
              </b-col>


          </b-tab>

      </b-tabs>

  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import IdentityUploads from './Documents/IdentityUploads'
import FaceUploads from './Documents/FaceUploads'
import DocUploads from './Documents/DocUploads'
import AdditionalDocUploads from './Documents/AdditionalDocUploads'

import CustomersListMessages from './Messages/CustomerListMessages' // Show customer.

export default {
  name: 'CustomerForm',
  components: {
    IdentityUploads,
    DocUploads,
    AdditionalDocUploads,
    FaceUploads,
    CustomersListMessages
  },
  mixins: [form],
  data() {
    return {
      roles: [],
      current_role: null,
      modelName: 'user',
      resourceRoute: 'users',
      listPath: '/customers',
      docs: null,
      jsonActive: false,
      customerPayments: null,
      customerLedger: null,
      date: null,
      identityImage: null,
      faceImage: null,
      docImage: null,
      additionalDocImage: null,
      model: {
        first_name: null,
        middle_name: null,
        last_name: null,
        name: null,
        email: null,
        active: true,
        password: null,
        address_1: null,
        address_2: null,
        title: null,
        dob: null,
        place_of_birth: null,
        country_id: null,
        city: null,
        nationality: null,
        mobile_no: null,
        phone_no: null,
        consent_marketing: null,
        postcode: null,
        locale: null,
        timezone: null,
        highrisk: 0,
        doc_verify_status: null,
        doc_verify_json: null,
        confirm_password: null,
        preferred_country: null,
        send_amount_country: null,
        balance: null,
        thrashold: null,
        roles: [],
        annual_income: null,
        exp_month_volume: null,
        occupation: null,
        senior_gov_pos: null,
      }
    }
  },
  watch: {
    customerPayments: function(val) {
      if (val) {
        val.map(item => {
          if (item.payment_details.length) {
            item.payment_details = JSON.parse(item.payment_details)
          }
        })
        this.customerPayments = val
        //console.log(this.customerPayments)
      }
    },
    // customerLedger: function(val){
    //   console.log(val);
    //    if (val) {
    //      val.map(item => {
    //        if(item.ledger_details.length){
    //         item.ledger_details = item.ledger_details
    //        }
    //      })
    //      this.customerLedger = val
    //   }
    // } ,
    'model.doc_verify_json': function(val, oldval) {
      //console.log(val);
      if (val && !this.jsonActive) {
        this.model.doc_verify_json = JSON.parse(val)
        this.docs = this.model.doc_verify_json
        if (this.docs) {
          if (this.docs.verify_Id) {
            this.identityImage = [
              '/' +
                this.docs.verify_Id.path +
                '/' +
                this.docs.verify_Id.image_name
            ]
          }
          if (this.docs.verify_face) {
            this.faceImage = [
              '/' +
                this.docs.verify_face.path +
                '/' +
                this.docs.verify_face.image_name
            ]
          }
          if (this.docs.verify_doc) {
            this.docImage = [
              '/' +
                this.docs.verify_doc.path +
                '/' +
                this.docs.verify_doc.image_name
            ]
          }
          if (this.docs.additional_doc) {
            this.additionalDocImage = [
              '/' +
                this.docs.additional_doc.path +
                '/' +
                this.docs.additional_doc.image_name
            ]
          }
        }
        this.jsonActive = true
      }
    }
  },
  async created() {
    this.fetchData()
    let { data } = await axios.get(this.$app.route(`admin.customers.get_roles`))
    this.roles = data
    this.getRoleValue()
    this.getPayments()
    this.getLedger()
  },
  methods: {
    async getPayments() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.customers.getpayments'), {
            params: {
              customer_id: this.id,
              date: this.date
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerPayments = result.data.data
            }
          })
      }
    },
    async getLedger() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.ledgers.getLedger'), {
            params: {
              customer_id: this.id
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerLedger = result.data.data
              console.log(this.customerLedger)
            }
          })
      }
    },
    getRoleValue() {
      if (this.isNew) {
        this.roles.map(item => {
          if (item.name == 'Customer') {
            this.model.roles.push(item.id)
          }
        })
      }
    },
    onModelChanged() {
      if (this.model.roles) {
        this.model.roles = this.model.roles.map(item => {
          return item.id
        })
      }
    },
    async acceptDoc(type) {
      await axios
        .post(this.$app.route('admin.user.acceptdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    },
    async rejectDoc(type) {
      await axios
        .post(this.$app.route('admin.user.rejectdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    }
    // toggle(){
    //           // when checked:
    //         vm.toggle === 'yes'
    //         // when unchecked:
    //         vm.toggle === 'no'
    // }
  }
}
</script>
