<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col xl="8">
          <b-card>
            <h3 class="card-title" slot="header">
              {{
                isNew
                  ? $t('labels.backend.payments.titles.create')
                  : $t('labels.backend.payments.titles.edit')
              }}
            </h3>
            <b-form-group
              :label="$t('validation.payments.status')"
              label-for="status"
              horizontal
              :label-cols="2"
              :feedback="feedback('status')"
            >
              <b-form-input
                id="status"
                name="status"
                required
                :placeholder="$t('validation.payments.status')"
                v-model="model.status"
                :state="state('status')"
              ></b-form-input>
            </b-form-group>

            <b-row slot="footer">
              <b-col md>
                <b-button to="/payments" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col md>
                <input name="status" type="hidden" value="publish" />

                <b-button
                  right
                  split
                  :text="$t('buttons.payments.save_and_publish')"
                  class="float-right"
                  variant="success"
                  size="sm"
                  @click="
                    model.status = 'publish'
                    onSubmit()
                  "
                  :disabled="pending"
                  v-if="
                    isNew ||
                      this.$app.user.can('edit payments') ||
                      this.$app.user.can('edit own payments')
                  "
                >
                  Save
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import inventoryform from '../../mixins/inventoryform'

export default {
  name: 'PaymentsForm',
  mixins: [inventoryform],
  data() {
    return {
      modelName: 'payment',
      resourceRoute: 'payments',
      listPath: '/payments',
      model: {
        status: null
      }
    }
  }
}
</script>
