<template>
  <div>
    <b-card>
      <template slot="header">
        <span>Payments List</span>
        <div class="card-options" v-if="this.$app.user.can('create payments')">
          <!-- <b-button to="/payments/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> {{ $t('buttons.payments.create') }}
          </b-button>-->
        </div>
      </template>
      <b-datatableinventory
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.payments.search"
        delete-route="admin.payments.destroy"
        action-route="admin.payments.batch_action"
        :statusOptionsDropdown="true"
      >
        <b-table
          ref="datatable"
          striped
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          v-model="rows"
          id="paymentdatatabletable"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              :id="'row' + row.item.id"
              @change="checkAgent($event, row, row.item.paying_agent_id)"
              :value="row.item.id"
              v-model="selected"
              :disabled="row.item.approve_status === 'pending' ? false : true"
            ></b-form-checkbox>
            <!-- <b-form-checkbox @change="checkboxSave(row.item.id)" :value="row.item.id" ></b-form-checkbox> -->
          </template>
          <!-- sort-by="payments.created_at"
          :sort-desc="true"-->
          <template slot="approve_status" slot-scope="row">
            <b-select
              :value="row.value"
              @change="
                    onChangeStatus(row.item.id, $event, row.item.paying_agent_id)
                  "
            >
              <option
                v-for="(option, index) in statusOptions"
                :value="option.value"
                :key="index"
              >{{ option.text }}</option>
            </b-select>
          </template>

          <template slot="transaction_id" slot-scope="row">
            <router-link
              :to="`/payments/${row.item.id}/view`"
              v-text="row.item.transaction_id"
            >{{ row.item.transaction_id }}</router-link>
          </template>

          <template slot="user" slot-scope="row">
            <template v-if="row.item.user.highrisk">
              <i class="fe fe-alert-circle alert-highrisk alert-size" variant="danger"></i>
            </template>
            <!-- <router-link
                  v-if="row.item.id"
                  :to="`/payments/${row.item.id}/view`"
                  v-text="row.item.user.name"
            ></router-link>-->

            <!-- <router-link :to="`/payments/${row.item.id}/show`" v-text="row.value"></router-link> -->
            <!-- <span v-text="row.item.user.name"></span> -->
          </template>
          <template
            slot="sendfrom_country"
            slot-scope="row"
          >{{ formatSendFromCountry(row.item.payment_details) }}</template>
          <template
            slot="sendto_country"
            slot-scope="row"
          >{{ formatSendToCountry(row.item.payment_details) }}</template>
          <template
            slot="send_amount"
            slot-scope="row"
          >{{ formatSendAmount(row.item.payment_details) }}</template>
          
          <template
            slot="discount"
            slot-scope="row"
          >{{ formatDiscount(row.item.payment_details) }}</template>
          

          

          <template
            slot="fee_amount"
            slot-scope="row"
          >{{ formatFeeAmount(row.item.payment_details) }}</template>
          <template
            slot="total_amount"
            slot-scope="row"
          >{{ formatTotalAmount(row.item.payment_details) }}</template>
          <template
            slot="created_at"
            slot-scope="row"
          >{{ row.item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</template>
          <template slot="paying_agent_id" slot-scope="row">
            <template v-if="row.value && row.item.approve_status !== 'pending'">
              <span class="selected-paying" v-text="row.item.paying_agent.P_A_Name"></span>
            </template>
            <template v-else>
              <template v-if="payingagents.length > 0">
                <!-- <b-select
                      :ref="'agentSelect' + row.item.id"
                      class="agent-options"
                      :value="row.value"
                      @change="onChangePayment(row.item.id, $event)"
                    >
                      <option value="">Select Paying Agent</option>
                      <option v-for="(option, index) in payingagents" :value="option.value" :key="index">
                        {{ option.text }}
                      </option>
                </b-select>-->
                <multiselect
                  v-model="payingAgentValue[row.item.id]"
                  :options="payingagents"
                  :close-on-select="true"
                  :clear-on-select="true"
                  :preserve-search="true"
                  placeholder="Select Paying Agent"
                  label="text"
                  track-by="text"
                  @input="
                        onChangePayment(row.item.id, payingAgentValue[row.item.id])
                      "
                  :disabled="row.item.approve_status === 'rejected'"
                ></multiselect>
              </template>
              <template v-else>NO Paying Agent</template>
            </template>
          </template>
          <template slot="show_status" slot-scope="row">
            <span class="pending-payment" v-if="row.item.approve_status === 'pending'">Pending</span>
            <span class="approved-payment" v-if="row.item.approve_status === 'approved'">Approved x</span>
            <span class="rejected-payment" v-if="row.item.approve_status === 'rejected'">Rejected</span>
          </template>
          <template slot="payment.created_at" slot-scope="row">{{ row.item.created_at }}</template>
          <template slot="payment.updated_at" slot-scope="row">{{ row.item.updated_at }}</template>
          <template slot="actions" slot-scope="row">
            <div v-if="row.item.approve_status == 'pending'">
              <!-- migrate -->
              <b-button
                variant="success"
                :disabled="pendingRequest"
                @click="
                      getPaymentId(
                        row.item.id,
                        ($event = 'approved'),
                        payingAgentValue[row.item.id]
                      )
                    "
                size="sm"
              >{{ $t('buttons.payments.sendT') }}</b-button>
              <b-button
                variant="danger"
                :disabled="pendingRequest"
                @click="
                      getPaymentId(
                        row.item.id,
                        ($event = 'rejected'),
                        payingAgentValue[row.item.id]
                      )
                    "
                size="sm"
              >Reject</b-button>
            </div>
            <div v-if="row.item.approve_status == 'approved'">
              <p>Data Imported</p>
            </div>
            <div v-if="row.item.approve_status == 'rejected'">
              <p>Rejected</p>
            </div>
          </template>
        </b-table>
      </b-datatableinventory>
      <b-button variant="success" @click="saveinBulk" size="sm">Save in bulk</b-button>
    </b-card>

    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import moment from 'vue-moment'
import $ from 'jQuery'

Vue.use(moment)

export default {
  name: 'PaymentsList',
  components: {},
  data() {
    return {
      showLoader: false,
      tranactionDuplication: null,

      pendingRequest: false,
      selected: [],
      payingagents: [],
      rows: [],
      uploadRows: [],
      payingAgentValue: [],
      statusOptions: [
        { value: 'pending', text: 'Pending' },
        { value: 'approved', text: 'Approve' },
        { value: 'rejected', text: 'Reject' }
      ],
      fields: [
        { key: 'checkbox', label: '' },
        // { key: 'user', label: 'Send From' },
        {
          key: 'transaction_id',
          label: 'Transaction ID',
          tdClass: 'transaction_id'
        },
        // { key: 'sendfrom_country', label: 'Country From' },
        // { key: 'sendto_country', label: 'Country To' },
        { key: 'send_amount', label: 'Amount' },
        { key: 'discount', label: 'Discount' },
        { key: 'fee_amount', label: 'Fee' },
        { key: 'created_at', label: 'Date' },
        { key: 'total_amount', label: 'Total' },
        { key: 'paying_agent_id', label: 'Paying Agent' },
        // {
        //   key: 'approve_status',
        //   label: 'Change Status',
        //   sortable: true
        // },
        {
          key: 'show_status',
          label: 'Status',
          sortable: true
        },
        {
          key: 'actions'
        }
        // { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.payments.actions.destroy')
      }
    }
  },

  created() {
    this.getPayingAgents()
    this.enablestatusOptionsDropdown_()
  },
  methods: {
    enablestatusOptionsDropdown_() {
      //  this.$refs.datasource.enablestatusOptionsDropdown();
    },

    // show discount
    formatDiscount(val) {
      var json = JSON.parse(val)
      let discount = json.calculate.discount == undefined || json.calculate.discount == "" ? '0.00' : json.calculate.discount
      return json.sendCurrency + ' ' + discount
    },

    formatSendFromCountry(val) {
      var json = JSON.parse(val)
      return json.sendFromCountryName
    },
    formatSendToCountry(val) {
      var json = JSON.parse(val)
      return json.sendToCountryName
    },
    formatSendAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.sendAmount
    },
    formatFeeAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.totalFee
    },
    formatTotalAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.totalToPay
    },
    async getPayingAgents() {
      await axios
        .get(this.$app.route('admin.user.get_paying_agents'), {})
        .then(response => {
          if (response.data.status == 200) {
            // console.log(response.data.data)
            this.payingagents = response.data.data
          }
        })
    },
    async onChangePayment(id, event) {
      var paying_agent_id = event.value
      this.showLoader = true
      await axios
        .post(this.$app.route('admin.payments.addpayingagent'), {
          id: id,
          agent_id: paying_agent_id
        })
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            // this.onContextChanged()
          }
        })
        .catch(error => {
          this.showLoader = false
        })
    },
    // onChangeStatus(id, status, paying_agent) {
    //   if (status == 'approved') {
    //     if (paying_agent) {
    //       this.changeStatus(id, status)
    //     } else {
    //       this.showError()
    //     }
    //   } else {
    //     this.changeStatus(id, status)
    //   }
    // },
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ payment: id })
    },
    // async changeStatus(id, status) {
    //   //console.log(id);
    //   await axios
    //     .post(this.$app.route('admin.payments.changestatus'), {
    //       id: id,
    //       approve_status: status
    //     })
    //     .then(response => {
    //       if (response.data.status == 200) {
    //         this.onContextChanged()
    //       }
    //     })
    // },
    showError() {
      window.swal.fire({
        type: 'error',
        title: 'Try Again',
        text: 'Please Select Paying Agent to Approve',
        footer: ''
      })
    },
    showUpdateError() {
      window.swal.fire({
        type: 'error',
        title: 'Error',
        text: 'Something Went Wrong, Please Try Again',
        footer: ''
      })
    },
    showMsg() {
      window.swal.fire({
        type: 'success',
        title: 'congratulations',
        text: 'Your Data Is Saved',
        footer: ''
      })
      if (response == 'Data Imported Successfully') {
        this.$router.push('/dashboard')
      }
    },
    // migrate pending payment.
    async migratePendingPayment(id, transaction_id, status, paying_agent) {
      // this.pendingRequest = true
      // if (typeof paying_agent != "undefined" && typeof paying_agent != "object")
      // if ( typeof paying_agent !== "object" )
      // {
      //   // alert("inside payment " + typeof paying_agent);
      //   this.showError()
      //   this.pendingRequest = false
      //   return false
      // }

      await axios
        .post(this.$app.route('admin.pending.payment.duplication'), {
          id: transaction_id,
          approve_status: status
        })
        .then(response => {
          if (response.data.status == 200) {
            if (response.data.response_data == 'true') {
              axios
                .post(this.$app.route('admin.pending.payment.migrate'), {
                  id: id,
                  approve_status: status
                })
                .then(response => {
                  if (response.data.status == 200) {
                    this.pendingRequest = false
                    this.onContextChanged()
                    this.showMigrationSuccessMessage()
                  }
                })
                .catch(error => {
                  this.showUpdateError()
                  this.pendingRequest = false
                  this.onContextChanged()
                })

              // alert("insert transaction")
            } else {
              window.swal.fire({
                type: 'error',
                title: 'Error',
                text: 'Transaction ID Already Migrated!',
                footer: ''
              })
            }
          }
        })
        .catch(error => {
          this.showUpdateError()
          this.pendingRequest = false
          this.onContextChanged()
        })
    },
    async getPaymentId(id, status, paying_agent) {
      // this.pendingRequest = true
      if (status === 'approved' && !paying_agent) {
        this.showError()
        this.pendingRequest = false
        return false
      }

      this.showLoader = true
      // loader goes here.
      await axios
        .post(this.$app.route('admin.payments.changestatus'), {
          id: id,
          approve_status: status
        })
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.pendingRequest = false
            this.onContextChanged()

            window.swal.fire({
              type: 'success',
              title: 'Transaction Approved and Migrate!',
              showConfirmButton: false,
              timer: 1500
            })
          }
        })
        .catch(error => {
          this.showLoader = false
          this.showUpdateError()
          this.pendingRequest = false
          this.onContextChanged()
        })
    },
    checkAgent: function(e, row, agent) {
      console.log(e, row, agent)
      if (agent) {
        let eObj = {
          id: e,
          row: row,
          agent: agent
        }
        this.uploadRows.push(eObj)
      } else {
        this.showError()
        setTimeout(function() {
          document.getElementById('row' + e).checked = false
        }, 2000)
      }
    },
    showBulkError() {
      window.swal.fire({
        type: 'error',
        title: 'Error',
        text: 'Please Select more than One Payment For Bulk Upload',
        footer: ''
      })
    },
    async saveinBulk() {
      console.log(this.selected)
      // return false
      if (this.selected.length > 1) {
        await axios
          .get(this.$app.route('admin.payments.saveinBulk'), {
            params: {
              arras: this.selected
            }
          })
          .then(response => {
            if (response.data.status == 200) {
              this.onContextChanged()
            }
          })
      } else {
        this.showBulkError()
      }
    },

    // migrate pending
    // async migratePending() {

    //   await axios
    //     .get(this.$app.route('admin.payments.migrate'), {
    //       params: {
    //         arras: this.selected
    //       }
    //     })
    //     .then(response => {
    //       if (response.data.status == 200) {
    //         this.onContextChanged()
    //       }
    //     })

    // },
    getval(id) {
      console.log(this.payingAgentValue[id])
    },
    showMigrationSuccessMessage() {
      window.swal.fire({
        type: 'success',
        title: 'Congratulations',
        text: 'Your Transaction Is Migrated!',
        timer: 2000,
        footer: ''
      })
    }
  }
}

setTimeout(function() {
  // payment-datatable
  // var table = document.getElementById("paymentdatatabletable");
  // console.log( "Total num of rows:  " + table.rows.length );
  // console.log( "Total num of rows:  " + table.rows );
  // $('#paymentdatatabletable tr').each(function() {
  // var customerId = $(this).find(".transaction_id").html();
  // console.log(customerId)
  // });
  // for (var i = 0; i < table.rows.length; i++) {
  // var tr = table.getElementsByTagName("tr")[i];
  // if( i == 1){
  //   tr.style.backgroundColor = '#C0C0C0'
  // }
  // var cellVal = tr.cells[1]
  // var a = cellVal.firstChild;
  // var str = JSON.stringify(a.firstChild);
  // str = str.replace("<a ", "");
  // console.log(  str )
  // var d = cellVal.firstChild
  // console.log(Object.values(d))
  // console.log(cellVal.firstChild.innerText)
  // var StrippedString = anchor.replace(/(<([^>]+)>)/ig,"");
  // console.log( StrippedString )
  // }
}, 2000)
</script>
