<template>
  <div>
    Payments
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PaymentsIndex',
  data() {
    return {}
  },
  watch: {},
  created() {},
  methods: {}
}
</script>
