<template>
  <div>
    <form>
      <b-row class="justify-content-center">
        <b-col xl="6">
          <b-card>
            <h3>
              {{
                isNew
                  ? $t('labels.backend.users.titles.sender_details')
                  : $t('labels.backend.users.titles.sender_details')
              }}
            </h3>
            <template v-if="model.user">
              <template v-if="model.user.name">
                <b-form-group
                  :label="$t('validation.attributes.send_from')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.name">{{ model.user.name }}</span>
                </b-form-group>
              </template>
              <template v-if="model.user.email">
                <b-form-group
                  :label="$t('validation.attributes.email')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.email">{{ model.user.email }}</span>
                </b-form-group>
              </template>
              <template v-if="model.user.mobile_no">
                <b-form-group
                  :label="$t('validation.attributes.mobile')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.mobile_no">{{
                    model.user.mobile_no
                  }}</span>
                </b-form-group>
              </template>
              <template v-if="model.user">
                <b-form-group
                  :label="$t('validation.attributes.dob')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.dob">
                      {{ model.user.dob | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
                  </span>
                </b-form-group>
              </template>
              <template v-if="model.user.city">
                <b-form-group
                  :label="$t('validation.attributes.city')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.city"> {{ model.user.city }}</span>
                </b-form-group>
              </template>
              <template v-if="model.user.nationality">
                <b-form-group
                  :label="$t('validation.attributes.nationality')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.nationality">
                    {{ model.user.nationality }}
                  </span>
                </b-form-group>
              </template>
              <template v-if="model.user.phone_no">
                <b-form-group
                  :label="$t('validation.attributes.phone_no')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.phone_no">
                    {{ model.user.phone_no }}
                  </span>
                </b-form-group>
              </template>
              <template v-if="model.user.postcode">
                <b-form-group
                  :label="$t('validation.attributes.postcode')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.postcode">
                    {{ model.user.postcode }}
                  </span>
                </b-form-group>
              </template>
              <template v-if="model.user.address_1">
                <b-form-group
                  :label="$t('validation.attributes.address')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.user.address_1">{{
                    model.user.address_1
                  }}</span>
                </b-form-group>
              </template>
            </template>
            <!-- *********** PAYMENT DETAILS SECTION *********** -->
            <template v-if="model.payment_details">
              <template v-if="model.payment_details.sendFromCountryName">
                <b-form-group
                  :label="$t('validation.attributes.sendfrom_country')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.payment_details.sendFromCountryName">{{
                    model.payment_details.sendFromCountryName
                  }}</span>
                </b-form-group>
              </template>
              <template v-if="model.payment_details.sendToCountryName">
                <b-form-group
                  :label="$t('validation.attributes.sendto_country')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.payment_details.sendToCountryName">{{
                    model.payment_details.sendToCountryName
                  }}</span>
                </b-form-group>
              </template>
              <template v-if="model.payment_details.sendFromCountryName">
                <b-form-group
                  :label="$t('validation.attributes.country')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span v-if="model.payment_details.sendFromCountryName">
                    {{ model.payment_details.sendFromCountryName }}
                  </span>
                </b-form-group>
              </template>
            </template>


</b-card>

<b-card>
            <!-- *********** RECIPIENTS SECTION *********** -->
            <h3>
              {{
                isNew
                  ? $t('labels.backend.users.titles.recipient_details')
                  : $t('labels.backend.users.titles.recipient_details')
              }}
            </h3>
            <p>&nbsp;</p>
            <template v-if="model.recipient">
              <b-form-group
                :label="$t('validation.attributes.recipientName')"
                horizontal
                :label-cols="3"
              >
                <span v-if="model.recipient.first_name">
                  {{ model.recipient.first_name }}
                </span>
                <span v-if="model.recipient.middle_name">
                  {{ model.recipient.middle_name }}
                </span>
                <span v-if="model.recipient.last_name">
                  {{ model.recipient.last_name }}
                </span>
              </b-form-group>

              <b-form-group
                v-if="model.recipient.father_name"
                :label="$t('validation.attributes.recipientFatherName')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.father_name }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.address_1"
                :label="$t('validation.attributes.address')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.address_1 }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.city"
                :label="$t('validation.attributes.city')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.city }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.postal_code"
                :label="$t('validation.attributes.postal_code')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.postal_code }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.country"
                :label="$t('validation.attributes.country')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.country }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.mobile"
                :label="$t('validation.attributes.mobile')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.mobile }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.phone"
                :label="$t('validation.attributes.phone')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.phone }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.email"
                :label="$t('validation.attributes.email')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.email }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.source_of_income"
                :label="$t('validation.attributes.source_of_income')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.source_of_income }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.sending_reason"
                :label="$t('validation.attributes.sending_reason')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.sending_reason }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.recipient_relation"
                :label="$t('validation.attributes.recipient_relation')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.recipient_relation }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.bank"
                :label="$t('validation.attributes.bank')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.bank }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.branch"
                :label="$t('validation.attributes.branch')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.branch }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.branch_code"
                :label="$t('validation.attributes.branch_code')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.branch_code }}
              </b-form-group>

              <b-form-group
                v-if="model.recipient.account_number"
                :label="$t('validation.attributes.account_number')"
                horizontal
                :label-cols="3"
              >
                {{ model.recipient.account_number }}
              </b-form-group>
            </template>

              </b-card>
            </b-col>

            <b-col xl="6">
              <b-card>
                <!-- *********** PAYMENT DETAILS SECTION *********** -->
                <h3>
                  {{
                    isNew
                      ? $t('labels.backend.users.titles.payment_details')
                      : $t('labels.backend.users.titles.payment_details')
                  }}
                </h3>
                <template v-if="model.payment_details">
                  <b-form-group
                    :label="$t('validation.attributes.sender_amount')"
                    label-for="name"
                    horizontal
                    :label-cols="3"
                  >
                    <span v-if="model.payment_details.sendCurrency">
                      {{ model.payment_details.sendCurrency }}
                    </span>
                    <span v-if="model.payment_details.sendAmount">
                      {{ model.payment_details.sendAmount }}
                    </span>
                  </b-form-group>
                </template>

                <template v-if="model.payment_details">
                  <template v-if="model.payment_details">
                    <b-form-group
                      :label="$t('validation.attributes.sender_fee')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="model.payment_details.sendCurrency">
                        {{ model.payment_details.sendCurrency }}
                      </span>
                      <span v-if="model.payment_details.totalFee">
                        {{ model.payment_details.totalFee }}
                      </span>
                    </b-form-group>
                  </template>

                  <template v-if="model.payment_details">
                    <b-form-group
                      :label="$t('validation.attributes.sender_total_amount')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="model.payment_details.sendCurrency">
                        {{ model.payment_details.sendCurrency }}
                      </span>
                      <span v-if="model.payment_details.calculate.totalToPay">
                        {{ model.payment_details.calculate.totalToPay }}
                      </span>
                    </b-form-group>
                  </template>
                  <template v-if="model.payment_details">
                    <b-form-group
                      :label="$t('validation.attributes.recipientTotal')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="model.payment_details.getCurrency">
                        {{ model.payment_details.getCurrency }}
                      </span>
                      <span v-if="model.payment_details.calculate.recipientTotal">
                        {{ model.payment_details.calculate.recipientTotal }}
                      </span>
                    </b-form-group>
                  </template>

                  <template v-if="model.payment_details">
                    <b-form-group
                      :label="$t('validation.attributes.exchangeRate')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="model.payment_details.sendCurrency">
                        1{{ model.payment_details.sendCurrency }}
                      </span>
                      =
                      <span v-if="model.payment_details.getCurrency">
                        {{ model.payment_details.getCurrency }}
                      </span>
                      <span v-if="model.payment_details.calculate.exchangeRate">
                        {{ model.payment_details.calculate.exchangeRate }}
                      </span>
                    </b-form-group>
                  </template>

                  <template v-if="model.payment_details.status">
                    <b-form-group
                      :label="$t('validation.attributes.status')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="model.payment_details.status">{{
                        model.status
                      }}</span>
                    </b-form-group>
                  </template>
                  <template v-if="model.payment_details.serviceType">
                    <b-form-group
                      :label="$t('validation.attributes.serviceType')"
                      label-for="name"
                      horizontal
                      :label-cols="3"
                    >
                      <span
                        class="uppercase text"
                        v-if="model.payment_details.serviceType"
                      >
                        {{ model.payment_details.serviceType }}
                      </span>
                    </b-form-group>
                  </template>
                </template>

                <b-row id="hideback" slot="footer">
                  <b-col md>
                    <b-button to="/payments" exact variant="danger" size="md">
                      {{ $t('buttons.back') }}
                    </b-button>
                  </b-col>
                </b-row>
              </b-card>



             <b-card>
            <!-- *********** DOCUMENTS SECTION *********** -->
            <template v-if="docs">
              <h3>Sender Documents</h3>
              <template v-if="docs.verify_Id">
                <h5 class="uppercase">
                  <span>{{ docs.verify_Id.type }} Image</span>
                </h5>
                <img
                  id="size"
                  :src="
                    '/' + docs.verify_Id.path + '/' + docs.verify_Id.image_name
                  "
                  alt=""
                  width="400px"
                  height="400px"
                />
              </template>
              <p>&nbsp;</p>
              <template v-if="docs.verify_doc">
                <h5 class="uppercase">
                  <span>{{ docs.verify_face.type }} Image</span>
                </h5>
                <img
                  id="size"
                  :src="
                    '/' +
                      docs.verify_face.path +
                      '/' +
                      docs.verify_face.image_name
                  "
                  alt=""
                  width="400px"
                  height="400px"
                />
              </template>
              <p>&nbsp;</p>
              <template v-if="docs.verify_doc">
                <h5 class="uppercase">
                  <span>{{ docs.verify_doc.type }} Image</span>
                </h5>
                <img
                  id="size"
                  :src="
                    '/' +
                      docs.verify_doc.path +
                      '/' +
                      docs.verify_doc.image_name
                  "
                  alt=""
                  width="400px"
                  height="400px"
                />
              </template>
            </template>

          </b-card>


        </b-col>
      </b-row>
    </form>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import Vue from 'vue'
import moment from 'vue-moment'
Vue.use(moment)

export default {
  name: 'PaymentsView',
  mixins: [form],
  data() {
    return {
      // roles: [],
      // current_role: null,
      modelName: 'payment',
      resourceRoute: 'payments',
      listPath: '/payments',
      jsonActive: false,
      fields: [
        { key: 'user', label: 'Send From' },
        { key: 'send_amount', label: 'Amount' },
        { key: 'fee_amount', label: 'Fee' },
        { key: 'total_amount', label: 'Total' }
      ],
      docs: null,
      model: {
        payment_details: null,
        user: null,
        recipient: null,
        status: null,
        approve_status: null,
        doc_verify_json: null,
        recipient_id: null,
        paying_agent_id: null
      }
    }
  },
  watch: {
    'model.user.doc_verify_json': function(val, oldval) {
      if (!this.jsonActive) {
        this.model.user.doc_verify_json = JSON.parse(
          this.model.user.doc_verify_json
        )
        this.docs = this.model.user.doc_verify_json
        //console.log(this.docs)
        this.jsonActive = true
      }
    }
  },
  async created() {
    //this.fetchData()
    // let { data } = await axios.get(this.$app.route(`admin.payments.show`))
    // this.roles = data
    // await axios.get(this.$app.route(`admin.user.show`)).then(response => {
    //   if (response.status == 200) {
    //     this.current_role = response.data.user_role
    //   }
    // })
  },
  methods: {}
}
</script>
