
// Tabler bootstrap variables
@import "../vendor/tabler/scss/variables";

// Custom Variables
@import "variables";

// Thème CoreUI
@import "~@coreui/coreui/scss/coreui";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Tabler components
@import "../vendor/tabler/scss/dashboard/functions";
@import "../vendor/tabler/scss/dashboard/cards";
@import "../vendor/tabler/scss/dashboard/tag";
@import "../vendor/tabler/scss/dashboard/forms/custom-switch";
@import "../vendor/tabler/scss/dashboard/fonts/feather";

// Plugins
@import "~sweetalert2/src/sweetalert2";
@import "~noty/src/noty";
@import "~noty/src/themes/bootstrap-v4";
@import "~sweetalert2/src/sweetalert2";
@import "~flatpickr/dist/flatpickr.css";
// @import url(https://fonts.googleapis.com/css?family=Roboto);
// Components
@import "../buttons";

// RTL
@import "../bootstrap-rtl";



[v-cloak] {
  display: none;
}

.intl-tel-input {
  width: 100%;
}

.alert.alert-top {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.custom-control-indicator, .custom-control-description, .switch-label, .switch-handle {
  margin-top: .25rem;
}

.flatpickr-calendar {
  border-radius: 0;
}
.dob-dropdown {
  position: relative;
  display: inline-block;
}
.dob-dropdown::before{
    position: absolute;
    content: " \2193";
    top: 0px;
    right: 1px;
    height: 20px;
    width: 20px;
}
#dob{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: 77%;
}
body {
  background-color:#fdfdfd00 !important;
}

body .v-select {
  .selected-tag {
    background-color: #20a8d8;
    border-color: #20a8d8;
    color: #fff;

    .close {
      color: #fff;
      text-shadow: none;
      opacity: 1;
    }
  }

  .dropdown-toggle, .selected-tag {
    border-radius: 0;
  }
}

.table th {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

#otp_section {
  display: none;
}
#verify_error_section {
  display: none;
}
#otp_section #otp_password {
    color: #495057;
    background-color: #fff;
    border-color: #1991eb;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}
$navbar-height:50px;
.app-header{
  height : $navbar-height;
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  font-family: 'Roboto', sans-serif;
}
.sidebar .sidebar-header {
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}
.navbar-nav .nav-link {
    color: #f8f9fa;
}
@media (min-width: 992px){
  .header-fixed .app-body {
      margin-top:$navbar-height;
  }
}

.sidebar{
  background: #281483;
}

.sidebar .sidebar-header {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.sidebar .sidebar-footer{
  background: none;
}
.sidebar .sidebar-form .form-control {
  color: #fff;
  background: #281483;
  border: 0;
}

.sidebar .nav-link.active {
  color: #281483;
  background: #fff;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #281483 !important;
}

.sidebar .nav-title {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.status-pending {
  background: #dedede;
  color: #080808;
  padding: 9px 11px;
  border-color: #dedede;
  text-transform: capitalize;
}
.status-approved {
  background: #5eba00;
  color: white;
  padding: 11px;
  border-color: #5eba00;
   text-transform: capitalize;
}
.status-rejected {
  background: #F44336;
  color: white;
  padding: 11px;
  border-color: #F44336;
  text-transform: capitalize;
}
.agent-options {
  text-transform: capitalize;
}
#loginSubmit {
    padding: 6px 45px;
    border-radius: 1px;
}
/* ******* CUSTOMER CHECKBOX ******* */
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #467fcf;
  border-color: #467fcf;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}
.selected-paying {
  padding: 2px 10px;
}
/* ******* CUSTOMER CHECKBOX ******* */
/* ******* DAshboard******* */
.dashboardstyle{
  .col1{
    background-color: orange;
    padding: 50px;
    span{
      font-weight: bold;
    }
  }
  .col2{
    background-color: blue;
    padding: 50px;
    span{
      font-weight: bold;
    }
  }
  .col3{
    background-color: antiquewhite;
    padding: 50px;
  }
  .color{
  text-decoration-color: white;
  }
}
.customer-docs {
  #size {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
  
.uppercase {
  text-transform: uppercase;
}
.text {
  text-decoration: none;
}
.customer-form {
  .doc-actions {
    button {
      border-radius: 0;
      width: 190px;
    }
    padding: 10px 1px;
    margin: 20px 0;
  }
  .btn:disabled {
    opacity: 0.35;
    cursor: not-allowed;
  }
}
.blueimp-gallery-display {
    display:contents;
}