<template>
  <div class="mt-9 recipient-bank-details">
    <div class="row">
      <h6>Recipient Bank Details</h6>
    </div>
    <div class="box-row row">
      <div class="item1">Country</div>
      <div class="item2">
        <b-form-select disabled v-model="model.recipient.country" :options="countryOptions" class="form-control">
        </b-form-select>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Bank</div>
      <div class="item2">
        <b-form-group :feedback="feedback('bank')">
          <b-form-select
            id="bank"
            name="bank"
            v-model="model.recipient.bank"
            :state="state('bank')"
            class="form-control"
          >
            <option value="">Please Select Bank</option>
            <template v-if="paymentDetails && paymentDetails.serviceType === 'cash_pickup'">
              <option v-for="(bank, index) in bankCashOptions" :value="bank.value" :key="index">
                {{ bank.text }}
              </option>
            </template>
            <template v-else>
              <option v-for="(bank, index) in bankOptions" :value="bank.value" :key="index">
                {{ bank.text }}
              </option>
            </template>
          </b-form-select>
        </b-form-group>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Branch City</div>
      <div class="item2">
        <b-form-group :feedback="feedback('branchcity')">
          <template v-if="bankCityOptions.length > 0">
            <b-form-select
              id="branchcity"
              name="branchcity"
              v-model="model.recipient.branchcity"
              :state="state('branchcity')"
              class="form-control"
            >
              <option value="">Please Select Branch</option>
              <option v-for="(city, index) in bankCityOptions" :value="city.value" :key="index">
                {{ city.text }}
              </option>
            </b-form-select>
          </template>
          <template v-else="">
            <b-form-input
              id="branchcity"
              name="branchcity"
              v-model="model.recipient.branchcity"
              :state="state('branchcity')"
              placeholder="Bank Branch City"
              class="form-control"
            ></b-form-input>
          </template>
        </b-form-group>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Branch</div>
      <div class="item2">
        <b-form-group label-for="branch" :feedback="feedback('branch')">
          <template v-if="branchOptions.length > 0">
            <b-form-select
              id="branch"
              name="branch"
              v-model="model.recipient.branch"
              :state="state('branch')"
              class="form-control"
            >
              <option value="">Please Select Branch</option>
              <option v-for="(branch, index) in branchOptions" :value="branch.value" :key="index">
                {{ branch.text }}
              </option>
            </b-form-select>
          </template>
          <template v-else="">
            <b-form-input
              id="branch"
              name="branch"
              v-model="model.recipient.branch"
              :state="state('branch')"
              placeholder="Bank Branch"
              class="form-control"
            ></b-form-input>
          </template>
        </b-form-group>
      </div>
    </div>
    <template v-if="paymentDetails && paymentDetails.serviceType !== 'cash_pickup'">
      <div class="box-row row">
        <div class="item1">Account Number:</div>
        <div class="item2">
          <b-form-group :feedback="feedback('account_number')">
            <b-form-input
              v-model="model.recipient.account_number"
              :state="state('account_number')"
              placeholder="Account Number"
              class="form-control"
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="item3">
          <sup>*</sup>
        </div>
      </div>
    </template>
    <template>
      <div class="box-row row">
        <div class="item1">Branch Code:</div>
        <div class="item2">
          <b-form-input v-model="model.recipient.branch_code"></b-form-input>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'BankDetails',
  components: {},
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    validation: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      paymentDetails: null,
      countryOptions: [],
      bankOptions: [],
      bankCashOptions: [],
      branchOptions: [],
      bankCityOptions: [],
      bank_selected_id: null,
    }
  },
  watch: {
    'model.recipient.country': function(val) {
      if (val) {
        this.getBanks(val)
        this.getCashBanks(val)
      }
    },
    'model.recipient.bank': function(val) {
      if (val) {
        this.getBankCity(val)
      }
    },
    'model.recipient.branchcity': function(val) {
      if (val) {
        this.getBranches(val, this.bank_selected_id)
      }
    },
    'model.recipient.branch': function(val) {
      if (val) {
        this.getBranchCode(val)
      }
    }
  },
  created() {
    this.getCountries()
    this.getPaymentDetails()
  },
  methods: {
    async getPaymentDetails() {
      await axios
        .get(this.$app.route('getPaymentDetails'), {
          params: {
            status: 'recipient'
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var details = response.data.payment_details
            // console.log(response.data)
            var recipient = this.model.recipient
            this.paymentDetails = details
            console.log(details)
            this.paymentDetails['payment_id'] = response.data.id
            this.paymentDetails['user_id'] = response.data.user_id
            recipient.country = details.sendToCountry.id
            this.preferredCountry = details.sendToCountry.id
          }
        })
    },
    async getCountries() {
      var model = this.model
      await axios.get(this.$app.route('api.getSendToCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getCashBanks(sendTocountry) {
      await axios
        .get(this.$app.route('api.getCountryCashBanksById'), {
          params: {
            country: sendTocountry
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.bankCashOptions = response.data.response
          }
        })
    },
    async getBanks(sendTocountry) {
      await axios
        .get(this.$app.route('api.getCountryBanksById'), {
          params: {
            country: sendTocountry
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.bankOptions = response.data.response
          }
        })
    },
    async getBankCity(bank) {
      this.bank_selected_id = bank;
      await axios
        .get(this.$app.route('api.getBankCities'), {
          params: {
            bank_id: bank
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.bankCityOptions = response.data.response
          }
        })
    },
    async getBranches(bank_city, bank_id) {
      await axios
        .get(this.$app.route('api.getBankBranches'), {
          params: {
            bank_id : bank_id,
            bank_City: bank_city
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.branchOptions = response.data.response
          }
        })
    },
    async getBranchCode(branch) {
      await axios
        .get(this.$app.route('api.getBranchCode'), {
          params: {
            branch_id: branch
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.model.recipient.branch_code = response.data.code
          }
        })
    },
    feedback(name) {
      if (this.state(name)) {
        return this.validation.errors[name][0]
      }
    },
    state(name) {
      return this.validation.errors !== undefined &&
        this.validation.errors.hasOwnProperty(name)
        ? 'invalid'
        : null
    }
  }
}
</script>
