<template>
  <div class="recipient-details">
    <div class="row">
      <h6>Recipient Details</h6>
    </div>
    <div class="box-row row">
      <div class="item1">First Name:</div>
      <div class="item2">
        <b-form-group label-for="first_name" :feedback="feedback('first_name')">
          <b-form-input
            id="first_name"
            name="first_name"
            v-model="model.recipient.first_name"
            :state="state('first_name')"
            placeholder="First Name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Middle Name:</div>
      <div class="item2">
        <b-form-group>
          <b-form-input
            v-model="model.recipient.middle_name"
            placeholder="Middle Name"
          >
          </b-form-input>
        </b-form-group>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Last Name:</div>
      <div class="item2">
        <b-form-group label-for="last_name" :feedback="feedback('last_name')">
          <b-form-input
            id="last_name"
            name="last_name"
            v-model="model.recipient.last_name"
            :state="state('last_name')"
            placeholder="Last Name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Father Name:</div>
      <div class="item2">
        <b-form-group label-for="father_name" :feedback="feedback('father_name')">
          <b-form-input
            id="father_name"
            name="father_name"
            v-model="model.recipient.father_name"
            :state="state('father_name')"
            placeholder="Father Name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Address Line 1:</div>
      <div class="item2">
        <b-form-group
          label-for="address_1"
          :feedback="feedback('address_1')"
        >
          <b-form-input
            id="address_1"
            name="address_1"
            v-model="model.recipient.address_1"
            :state="state('address_1')"
            placeholder="Address Line 1"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Address Line 2:</div>
      <div class="item2">
        <b-form-group
          label-for="address_2"
          :feedback="feedback('address_2')"
        >
          <b-form-input
            v-model="model.recipient.address_2"
            :state="state('address_2')"
            placeholder="Address Line 2"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Postcode:</div>
      <div class="item2">
        <b-form-group
          label-for="postal_code"
          :feedback="feedback('postal_code')"
        >
          <b-form-input
            v-model="model.recipient.postal_code"
            :state="state('postal_code')"
            placeholder="Postcode"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Country:</div>
      <div class="item2">
        <b-form-select disabled v-model="model.recipient.country"
        :options="countryOptions"
        class="form-control"
        >
        </b-form-select>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">City / Town:</div>
      <div class="item2">
        <b-form-group lable-for="city" :feedback="feedback('city')">
          <template v-if="citiesOptions.length > 0">
            <b-form-select
              id="city"
              name="city"
              v-model="model.recipient.city"
              :state="state('city')"
              class="form-control"
            >
              <option value="null">Please Select City</option>
              <option v-for="(city, index) in citiesOptions" :value="city.value" :key="index">
                {{ city.text }}
              </option>
            </b-form-select>
          </template>
          <template v-else>
            <b-form-input
              id="cityField"
              name="city"
              v-model="model.recipient.city"
              :state="state('city')"
              placeholder="City / Town"
              class="form-control"
            ></b-form-input>
          </template>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Mobile Number:</div>
      <div class="item2">
        <b-form-group label-for="mobile" :feedback="feedback('mobile')">
          <b-form-input
            id="mobile"
            name="mobile"
            v-model="model.recipient.mobile"
            :state="state('mobile')"
            placeholder="Mobile Number"
            class="form-control"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="box-row row">
      <div class="item1">Phone Number:</div>
      <div class="item2">
        <b-form-group :feedback="feedback('phone')">
          <b-form-input
            v-model="model.recipient.phone"
            :state="state('phone')"
            placeholder="Phone Number"
          ></b-form-input>
        </b-form-group>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Email:</div>
      <div class="item2">
        <b-form-group :feedback="feedback('email')">
          <b-form-input
            v-model="model.recipient.email"
            :state="state('email')"
            placeholder="Email"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
    <div class="row">
      <h6>Sender Consent</h6>
    </div>
    <div class="box-row row">
      <div class="item1">Recipient Relation:</div>
      <div class="item2">
        <b-form-group :feedback="feedback('recipient_relation')">
          <b-form-select
            v-model="model.recipient.recipient_relation"
            :state="state('recipient_relation')"
            class="form-control"
          >
            <option v-for="(recipient_relation, index) in relationOptions" :value="recipient_relation.value" :key="index">
              {{ recipient_relation.text }}
            </option>
          </b-form-select>
        </b-form-group>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Source of Income:</div>
      <div class="item2">
        <b-form-group :feedback="feedback('source_of_income')">
          <b-form-select
            v-model="model.recipient.source_of_income"
            :state="state('source_of_income')"
            class="form-control"
          >
            <option v-for="(source_of_income, index) in sourceOptions" :value="source_of_income.value" :key="index">
              {{ source_of_income.text }}
            </option>
          </b-form-select>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>

    <div class="box-row row">
      <div class="item1">Sending Reason:</div>
      <div class="item2">
        <b-form-group :feedback="feedback('sending_reason')">
          <b-form-select
            v-model="model.recipient.sending_reason"
            :options="reasonOptions"
            :state="state('email')"
            placeholder="Sending Reason"
            class="form-control"
          >
          </b-form-select>
        </b-form-group>
      </div>
      <div class="item3">
        <sup>*</sup>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PersonalDetails',
  components: {},
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    validation: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      countryOptions: [],
      citiesOptions: [],
      reasonOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'family_support', text: 'Family or Friend Support' },
        { value: 'purchase_services', text: 'Purchase of Services' },
        { value: 'property_payment', text: 'Property Payment' },
        { value: 'sending_self', text: 'Sending fund to self' }
      ],
      sourceOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'income', text: 'Income' },
        { value: 'savings', text: 'Savings' },
        { value: 'sale_property', text: 'Sale of my/our property' },
        { value: 'bank_loan', text: 'Bank Loan' },
        { value: 'private_loan', text: 'Private Loan' },
        { value: 'electronic_check_report', text: 'Electronic Check Report' }
      ],
      relationOptions: [
        { value: null, text: 'None' },
        { value: 'parent', text: 'Parent' },
        { value: 'child', text: 'Child' },
        { value: 'spouse', text: 'Spouse' },
        { value: 'in_laws', text: 'In Laws' },
        { value: 'relative', text: 'Relative' },
        { value: 'self', text: 'Self' },
        { value: 'friend_family', text: 'Friend Family' },
        { value: 'employee_family', text: 'Employee Family' },
        { value: 'friend', text: 'Friend' },
        { value: 'family', text: 'Family' }
      ]
    }
  },
  watch: {
    'model.recipient.country': function(val) {
      if (val) {
        this.getCities()
      }
    }
  },
  created() {
    this.getCountries()
  },
  methods: {
    async getCountries() {
      var model = this.model
      await axios.get(this.$app.route('api.getSendToCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getCities() {
      var model = this.model
      await axios
        .get(this.$app.route('api.getCountryCities'), {
          params: {
            country: this.model.recipient.country
          }
        })
        .then(response => {
          this.citiesOptions = response.data
        })
    },
    feedback(name) {
      if (this.state(name)) {
        return this.validation.errors[name][0]
      }
    },
    state(name) {
      return this.validation.errors !== undefined &&
        this.validation.errors.hasOwnProperty(name)
        ? 'invalid'
        : null
    }
  }
}
</script>
