<template>
  <div>
    <div class="row">
      <h5>Select from existing recipients or enter new details in the form below:</h5>
    </div>
    <div class="box-row row mb-8">
      <div class="item1"><h6>Choose Recipient</h6></div>
      <div class="item2">
        <b-form-select v-model="model.chooseRecipient" class="form-control">
          <option value="new">Select Already Added Rec</option>
          <option
            v-for="(option, index) in allRecipients"
            :key="index"
            :value="option.value"
          >
            {{ option.text }}
          </option>
        </b-form-select>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'RecipientsList',
  components: {},
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    preferredCountry: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      allRecipients: null
    }
  },
  watch: {
    preferredCountry: function(val) {
      if (val) {
        this.getRecipientsList()
      }
    },
    'model.chooseRecipient': function(val) {
      if (val !== 'new') {
        this.recipientsData = null
        this.getRecipientsDetails(val)
      } else {
        this.emptyRecipientFields()
      }
    }
  },
  created() {},
  methods: {
    async getRecipientsList() {
      await axios
        .get(this.$app.route('getRecipientsList'), {
          params: {
            country: this.preferredCountry
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.allRecipients = response.data.recipient
          }
        })
    },
    async getRecipientsDetails(val) {
      await axios
        .get(this.$app.route('getRecipientById'), {
          params: {
            id: val
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.recipientsData = response.data.response
          }
        })
    },
    setRecipientsData(val) {
      var recipient = this.model.recipient
      recipient.first_name = val.first_name
      recipient.middle_name = val.middle_name
      recipient.father_name = val.father_name
      recipient.last_name = val.last_name
      recipient.address_1 = val.address_1
      recipient.address_2 = val.address_2
      recipient.city = val.city
      recipient.postal_code = val.postal_code
      recipient.country = val.country
      recipient.mobile = val.mobile
      recipient.phone = val.phone
      recipient.email = val.email
      recipient.sending_reason = val.sending_reason
      recipient.branch_code = val.branch_code
      recipient.bank = val.bank
      recipient.branchcity = val.branchcity
      recipient.branch = val.branch
      recipient.account_number = val.account_number
      recipient.source_of_income = val.source_of_income
      recipient.recipient_relation = val.recipient_relation
    },
    emptyRecipientFields() {
      var recipient = this.model.recipient
      recipient.first_name = null
      recipient.middle_name = null
      recipient.father_name = null
      recipient.last_name = null
      recipient.address_1 = null
      recipient.address_2 = null
      recipient.city = null
      recipient.postal_code = null
      recipient.country = this.preferredCountry
      recipient.mobile = null
      recipient.phone = null
      recipient.email = null
      recipient.sending_reason = null
      recipient.branch_code = null
      recipient.bank = null
      recipient.branchcity = null
      recipient.branch = null
      recipient.account_number = null
      recipient.source_of_income = null
      recipient.recipient_relation = null
    }
  }
}
</script>
