<template>
  <div>
   <div class="container">
    <h3>Cookies Policy</h3>
    <p>
   <b>  What are cookies?</b><br />
Cookies are small text files that are placed on your computer, smartphone or other device when you access the internet.</p>

<p><b>Why are cookies essential to our websites?</b><br />
This website, along with many others, uses cookies. Cookies let users navigate around sites and (where appropriate) let us tailor the content to fit the needs of our site’s visitors. Without cookies enabled we can’t guarantee that the website and your experience of it are as we intended it to be.</P>

<p>None of the cookies we use collect your personal information and they can’t be used to identify you.</P>

<p><b>Types of cookies </b><br />
The length of time a cookie stays on your device depends on its type. We use two types of cookies on our websites.</p>

<p>Session cookies are temporary cookies which only exist during the time you use the website (or more strictly, until you close the browser after using the website). Session cookies help our websites remember what you chose on the previous page, avoiding the need to re-enter information.</p>

<p>Persistent cookies stay on your device after you’ve visited our website. For example, if you tick the ‘Remember my ID’ box a persistent cookie will be used so that the site remembers your choice the next time you use it. Persistent cookies help us identify you as a unique visitor but don’t contain information that could be used to identify you to another person.</p>

<p>We also use web analytics services from other companies to track how visitors reach our site and the path they take through it. These companies use cookies to help us improve our service to you. </p>

<p>The analytics services we use are:</p>

<p>Google Analytics, which uses cookies to help us analyse how our visitors use the site. Find out more about how these cookies are used on the Google privacy site</p>

<p><b>How to control and delete cookies</b><br />
If you want to restrict or block the cookies we set, you can do this through your browser settings. The ‘help’ function within your browser should tell you how.</p>

<p>Alternatively, you could visit www.aboutcookies.org, which contains comprehensive information on cookies on a wide variety of browsers. You’ll also find details on how to delete cookies from your computer. To learn about controlling cookies on the browser of your mobile device please refer to your handset manual.<br />
      For any information please contact our customer service on: 020 7426 0113 or send us a
      message through your online account or e-mail us at: customer.services@angroup.co.uk
    </p>
   </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Cookies',
  components: {},
  methods: {}
}
</script>
