<template>
  <div>
   <div class="container">
    <h3>Copyright Notice</h3>
    <p>
    Copyright is the legal ownership and protection of work produced by an author in the form including but not limited to written text, graphics images, music, sound recording, and videos. It is illegal to violate any of the rights given to the owner of the material by the copyright law.  Copyright is also described under the umbrella term intellectual property.
  </p><p>
All aspects of AN Express Ltd including but not exhaustive of  all logos, training manuals in the form of written texts and video tutorials, application forms (paper and otherwise), websites,  web links,  graphics and videos are copyright to www.an2money.com and any related sources as well as premises as mentioned within the website.
</p><p>
Any intelligence and information produced by employees working for the company will belong exclusively to AN Express Ltd.  These materials will not be accessible for redistribution by and/or for any other entities other than the original intended for.
</p><p>
If any material, link, software or component has been copied, dissembled or compromised by any other means, you will be subjected to the Copyright Infringement laws and may be subjected to a fine and/or prosecution.
</p><p>
(c) 2007-2019 An Group- all rights reserved

Imagery on the website
All imgery used on the website is purchased and licensed.
</p><p>
Any third-party logo, term or service mentioned on the website are the sole property of their respective owner and are being used only in capacity allowed  </p>   </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'copyright',
  components: {},
  methods: {}
}
</script>
