<template>
  <div>
   <div class="container">
    <h3>Exclusions And Limitations</h3>
    <p>
   <h4> SIGNIFICANT EXCLUSIONS AND LIMITATIONS</h4>
 </p><p>
Please note, this document is intended and prepared as an aid to understanding certain implications of AN Express’s General Terms and Conditions; it does not, therefore, replace the General Terms and Conditions, nor is it to be construed or interpreted in a manner inconsistent with the General Terms and Conditions. It is emphasised that the use of AN Express’s services is governed entirely and exclusively by the General Terms and Conditions.
 </p><p>
References herein to numbered Clauses relate to such numbered Clauses in the General Terms and Conditions.
 </p><p>
Payout of transactions
Transactions may not be paid out if locally applicable procedures are not complied with by your beneficiaries, and we will have no liability in such cases. Transactions which remain unpaid for may also be cancelled without notice (see Clause 5.2).
 </p><p>
Exchange rates and fees
We may change our exchange rates and fees at any time, and without notice to you. We will notify you of our exchange rates and fees at the time of your transaction. Please be aware we will not be held liable to the exchange rate changes that may occur when you are already within our premises and/or when you have deposited funds into our account. The current exchange rates will be visible on the display board in the premises. We will generally apply to your transactions the prevailing exchange rates and fees, although we can vary this in certain situations (see Clauses 6.3 and 6.4).
 </p><p>
Accuracy of information
You must ensure that the information you provide is accurate and correct. You must also verify that the information you have given has been recorded correctly on your transaction receipts. We will not take any responsibility for delays or failures in payment that are related to inaccuracy or incorrectness of information. If you need to make a change to the information relating to a processed transaction, a charge will be payable (see Clause 7.3).
 </p><p>
Cancellation of transactions
In order to cancel a transaction and receive a refund, you must serve to us a written notice of cancellation (e.g. email, secure online message, fax, or a cancellation form available at AN Express). We can refuse to cancel and refund transactions in certain circumstances (see Clauses 8.3 to 8.7). Where a cancellation and refund is made, we will retain the transaction fee that had originally been charged in respect of the transaction as our administravtive charges.
 </p><p>
Refusal to process transactions
We may, at our discretion, refuse to process your transactions, particularly if we feel that they may be connected with any money laundering or other illegal activity. In case of any such refusal, our liability to you will be limited to the cash amount tendered by you to us, less the transaction fees (see Clause 9.2).
 </p><p>
Banking 
You are responsible for ensuring that bank payments you make to us clear in time, and are sufficient for your intended transaction(s). We will have no liability for delayed clearance of funds, or delays or errors in processing bank payments (see Clauses 10.3, 10.5, 10.6, and 10. 7). Refunds of bank payments will be charged for (see Clause 10.9).
 </p><p>
Fraud prevention measures
We may suspend your transactions if we have reason to suspect fraudulent activity (whether on your own part or otherwise). In such a case, we will notify you as soon as is practicable. We may not lift the suspension until we are satisfied that no fraudulent activity has been entered into, and we will have no liability to you for any such suspensions (see Clauses 11.1 to 11.3).
 </p><p>
Financial error

In cases where we mistakenly either underpay your beneficiary, or overcharge you, our liability is limited to refunding to you the amount of the error, in pounds sterling (see Clauses 12.2 and 12.4). In cases where we mistakenly overpay your beneficiary, or undercharge you, we may reduce the amount payable to the beneficiary as appropriate, or require further payment from you as appropriate, or even stop payment and/or recover any overpayment from the beneficiary (see Clauses 12.1 and 12.3).
 </p><p>
Our liability
We are responsible for sending instructions relating to your transactions within three working days of receiving instructions from you. If we fail to do so, our liability is limited to refunding to you the amount of your payment(s) (including fees). We will not be responsible for delays or errors in payment by third parties (see Clause 10.1).
    </p>
   </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'exclusion',
  components: {},
  methods: {}
}
</script>
