<template>
  <div>
    <div class="container">
      <h3>Privacy Policy</h3>
      <p>
        AN Express Ltd has adopted this statement in order to comply with the Data Protection Act 1998. <br />
        This policy will be regularly reviewed and updated to mirror the changes in legislations and other policies of the company.<br />
        This policy applies to the UK office of AN Express Ltd at 208a-210 Whitechapel Road, London, E1 1BJ as well as to paid staff and volunteers. <br />
      </p>
      <p>
        Due to the nature of the business, AN Express needs to collect certain sensitive data related to the public including but not limited to passport, driver’s license and proof of address documents.
        <br />The data collected may belong to customers, staff or other business entities. To comply with the laws, the company may also need to collect additional documents in order to uphold  the Know
        <br /> Your Customer (KYC) requirements. The information obtained and retained will be dealt with utmost care and conscientiousness whether collected via means of paper, electronically or otherwise.
        <br />There are very secure safeguarding measures put in place to protect information correctly and lawfully as we appreciate the implications if any information were compromised.
      </p>
      <P>
        We fully endorse and adhere to the eight principles as set out in the Data Protection Act. These principles state that all personal data should be :
      </p>
      <p>
</p>      <p>
        <br />-Processed fully and lawfully
        <br />- Processed for lawful, necessary reason and not in any other way which would not be compatible with those purposes
        <br />- Relevant and adequate no more than necessary
        <br />- Accurate and up to date
        <br />- Not kept for longer than necessary
        <br />- Processed in line with the data subject/'s line
        <br />- Kept secure
        <br />- Not be imported/transferred to any country where are no strong data protection governance
        <br />Our reason for holding customer information is to fulfill our criteria and have obtained permission from the authorised body to be holding such data. We will not disclose these data to any third parties apart from our sub companies and/or unless legally/lawfully obliged to do so.
      </p><p>
        We have a responsible marketing policy and do not give your details, or details of related individuals, to any other company outside AN Express Ltd and AN Travel Ltd (as listed on our ICO register certificate. You may access this for verification purposes from the Information Commissioner's Office
      </p>
      <p>
        For any information please contact our customer service on: 020 7426 0113 or send us a
        message through your online account or e-mail us at: customer.services@angroup.co.uk
      </p>
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PrivacyPolicy',
  components: {},
  methods: {}
}
</script>
