<template>
  <div>
   <div class="container">
    <h3>Refunds And Cancellations</h3>
    <p>
  <h3>  Cancellation and Refunds</h3>
</p><p>
1.1 If you wish to cancel a Remittance, a written notice of cancellation must be served by you to us. Please use your account’s ‘Messages to AN Express’ and then followed by the ‘Send Message Now’ options to instruct us with regards to the cancellation. Please select ‘Message’ as the subject and supply in the box, the transaction ID number, the amount of funds remit (in foreign currency) and the reason for cancellation. Monies will not be refunded to you until we have received the confirmation from the correspondent bank/receiving agent(s) that the Remittance has been cancelled. We will not be liable for any delays in obtaining this confirmation, or for any detriment sustained by you during such delays.
</p><p>
1.2 The Fees paid in respect of the cancelled Remittance will be retained by us in respect of our administration expenses.
</p><p>
1.3 We shall not be responsible for refunding your Remittance if the Funds have already been released to the Beneficiary prior to receipt by us of your written notice of cancellation. For the purposes of this Condition, your written notice of cancellation will be deemed to have been received by us at the close of the working day on which it is actually read by a member of staff at AN Express.
</p><p>
1.4 We shall not be responsible for refunding your Remittance if the Funds are released to the Beneficiary in the time between our receiving of your written notice of cancellation and our transmitting of the cancellation instruction to our Receiving Agent(s) in the destination country of your Remittance.
</p><p>
1.5 We shall not be responsible for refunding your Remittance if the Funds are released to the Beneficiary in the time between our transmitting of the cancellation instruction to our Receiving Agent(s) in the destination country of your Remittance and their effecting of the cancellation.
</p><p>
1.6 For the purposes of Clauses 1.3, 1.4 and 1.5 above, Funds will be deemed to have been released to the Beneficiary in any of the following cases:
  </p><p>
The Funds are credited to the Beneficiary’s bank account, regardless of whether the Beneficiary has actually withdrawn the funds or not;
</p><p>The Funds, or an instrument representing the Funds, are collected by, or delivered to, a third party pursuant to crediting the Funds to the Beneficiary’s bank account, regardless of whether the Funds have actually been credited to the Beneficiary’s bank account or not.
  </p><p>
</p><p>1.7 We may at our absolute discretion decline responsibility to you in respect of any cancellation claim made after 30 calendar days from the date of the Remittance.
  </p><p>
1.8 Once we have been duly notified that the funds have been credited/refunded to our account after your cancellation instructions, we will then update the balance of your AN Express account, deducting any charges or administrative fees that may be applicable and for which you would have been notified accordingly. You will then be able to reuse these funds for any further transactions.
  </p><p>
1.9 We do not offer any refunds of transfer from our account apart from the time that the AN Express prepaid account is being closed. Please beware of all these terms and conditions before making payments
    </p>
   </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'refunds',
  components: {},
  methods: {}
}
</script>
