<template>
  <div>
    <div class="container">
      <h3>Online Portal Terms and Conditions</h3>
      <p>
        1.	You can transfer the funds to our account by telephone banking or online bank transfer
        from your own personal bank account only.
      </p>
      <p>
        2. Please do not transfer the money from any business account or from
        any other person bank         account to our bank account.
      </p>
      <p>
        3. Please do not deposit any cash into our bank account.
      </p>
      <p>
        4.	We only send money for personal family support and not for any business purpose.
      </p>  </p>
      </p><p>
      </p><p>
        5. Please put your customer number as a payment reference when you
        transfer the funds to         our bank account.
      </p>  </p>

      </p>  <p></p>
      <p>
        6. Also, please always check with us first before you transfer any money
        to our bank account below, because we do change bank details & policy
        from time to time.
      </p>
      <p>
        7. You need to provide us your original valid copy of your Passport and
        valid VISA.
      </p>
      <p>
        8. You need to provide us your proof of address dated within last 3
        months Gas/Electricity/BT Telephone Bill or Council Tax bill, any one of
        these bill only.
      </p>
      <p>
        9. You need to provide us the copy of your Bank Statement that you will
        use to transfer the money from your personal bank account to our bank
        account.
      </p>
      <p>
        10. We will also ask you for the source of your funds/income once you
        send over £1000 pounds or at any time required or when our bankers or
        any regulatory bodies ask for it.
      </p>
      <p>
        11. You give us your consent to use electronic IDs and address
        verification to check all the         documents you have provided us.
      </p>
      <p>
        12. We may hold your transaction at any time if we deem fit and ask for
        required documents in order to process it.
      </p>
      <p>
        13.	We will update your record periodically and ask for additional information when
        necessary based on the amount of money you have sent and how you use our service.
        For any information please contact our customer service on: 020 7426 0113 or send us a
        message through your online account or e-mail us at: customer.services@angroup.co.uk
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Terms',
  components: {},
  methods: {}
}
</script>
