<template>
  <div>
    <div class="container">
      <h3>Terms Of Use</h3>
      <p>
        1 Application of these Website Terms and Conditions 1.1 This website is
        owned and maintained by An Express Ltd (‘us’, ‘we’ or ‘AN Express’),
        which is part of the AN Group (AN Travel Ltd, AN Express Ltd and AN
        Telecom Ltd here refer as AN Group). Your use of this website is subject
        to the following terms and conditions (‘Website Terms and Conditions’),
        which you should read carefully. By using this website you agree to be
        legally bound by these Website Terms and Conditions. Please do not use
        this website if you do not accept these Website Terms and Conditions.
      </p>
      <p>
        1.2 We reserve the right to change these Website Terms and Conditions at
        any time without notice by updating this posting, and your continued
        access to or use of this website will constitute your acceptance of any
        such changes.
      </p>
      <p>
        1.3 Services provided by AN Express are also subject to separate terms
        and conditions, which apply additionally.
      </p>
      <p>
        2 Use of this website 2.1 The information provided on this website or in
        any communication containing a link to this site is for information
        purposes only, and is not intended for distribution to, or use by, any
        person or entity in any jurisdiction in any country where such
        distribution or use would be contrary to law or regulation or which
        would subject any member of the AN Group to any registration requirement
        within such jurisdiction or country. Where any opinions are expressed on
        this website, they are provided by AN Express for information purposes
        only.
      </p>
      <p>
        2.2 This website is designed to be accessed through its principal home
        pages and such other pages as may be decided by us. If you access the
        site through individual pages directly, which are not designed for this
        purpose, you may not be able to see important information that is
        relevant to information on this website. On certain site pages, you will
        be referred to "Legal Information", which will contain important details
        and relevant legal or regulatory information, and which should be read
        in conjunction with the relevant site pages.
      </p>
      <p>
        2.3 We may at our sole discretion terminate your access to or use of
        this website for any reason, including but not limited to, where we
        believe that you have not acted in accordance with these Website Terms
        and Conditions.
      </p>
      <p>
        3 Exclusion of liability 3.1 While we have taken all reasonable steps to
        ensure the accuracy and completeness of the content of the website, we
        exclude any warranties, undertakings or representations (either express
        or implied) to the full extent permitted under applicable law, that this
        website or (including without limitation) all or any part of the content
        or materials, accuracy, availability or completeness of the content of
        the website or any part of the content or materials, are appropriate or
        available for use either in the United Kingdom or in other
        jurisdictions. If you use this website from other jurisdictions, you are
        responsible for complying with any and all applicable local laws.
      </p>
      <p>
        3.2 We disclaim all liability in contract, tort, negligence, statutory
        duty or otherwise (to the maximum extent permitted by applicable law) in
        connection with the use of or access to this website arising from but
        not limited to, any errors or omissions contained in this website, or if
        the website is unavailable. Furthermore, we shall not be liable for any
        direct or indirect: economic losses (including but not limited to, loss
        of revenues, profits, anticipated savings, data, use, contracts,
        business or opportunities); loss of goodwill or reputation; or special,
        incidental, consequential loss or damage, arising out of or in
        connection with your use of this website.
      </p>
      <p>
        3.3 Access to and use of this website is at the user's own risk; we do
        not warrant that the use of this website or any material downloaded from
        it will not cause damage to any property. Nor do we warrant that the
        inherent risks of the internet, including but not limited to, loss of
        data, computer virus infection, spyware, malicious software, trojans and
        worms, are otherwise minimised or eliminated in the use of our website
        or any content downloaded from it. Furthermore, we do not accept any
        liability in respect of losses or damages arising out of changes made to
        the content or design of this website by unauthorised third parties.
      </p>
      <p>
        3.4 To provide increased value to users of this website, we may provide
        links to other websites or resources (that are not part of the AN Group)
        for you to access at your sole discretion. You acknowledge and agree
        that we are not responsible for the availability of such external sites
        or resources, and that we do not review or endorse and shall not be
        responsible or liable, directly or indirectly, for: the privacy
        practices of such websites the content of such websites, including but
        not limited to, any advertising, content, products, goods or other
        materials or services on or available from such websites or resources;
        or the use that others make of these websites or resources, nor for any
        damage, loss or offence caused or alleged to be caused by, or in
        connection with, the use of or reliance on any such advertising,
        content, products, goods or other materials or services available on
        such external websites or resources.
      </p>
      <p>
        3.5 This website may also contain information or other material provided
        by third parties, and we accept no responsibility or liability for the
        accuracy of such information or material.
      </p>
      <p>
        4 Personal data By using this website, and thereby agreeing to be bound
        by these terms and conditions, you agree to be bound by our Privacy
        Policy.
      </p>
      <p>
        5 Copyright © AN Express Ltd. All rights, save as expressly granted, are
        reserved. The reproduction in any form of any part of this website or
        the contents thereof without our prior written consent is prohibited,
        unless for personal use only.
      </p>
      <p>
        6 Trade marks This website contains numerous trade marks belonging to AN
        Express and other companies in the AN Group. These trade marks include,
        but are not limited to, the stylised AN logos, other graphics, and AN
        Express product names. If you are in doubt as to whether an item is a
        trade mark of AN Express or a member of the AN Group, please contact us
        at the registered office address below for clarification.
      </p>
      <p>
        7 Advice The contents of this website do not purport to provide any
        financial, investment or professional advice and nothing on the pages of
        this website shall be deemed to constitute financial, investment or
        other professional advice in any way. In particular, you may wish to
        obtain advice from a qualified expert before making any investment
        decision.
      </p>
      <p>
        8 Changes to this website The contents of this Website are subject to
        change by us without notification. Additionally, AN Express shall not be
        obliged to remove any outdated information from the Website, or to
        expressly mark it as being outdated.
      </p>
      <p>
        9 Internet communications In order to maintain the security of its
        systems, protect its staff and detect fraud and other crimes, AN Express
        reserves the right to monitor all internet communications, including web
        and email traffic, into and out of its internet domain. Monitoring
        includes but is not limited to, checks for viruses and other malignant
        code, criminal activity, and use or content that is unauthorised or
        unlawful or material that may cause offence in any way.
      </p>
      <p>
        10 Enforceability Should any provision(s) of these Website Terms and
        Conditions be held unenforceable, either individually or collectively,
        the validity and enforceability of the remaining provisions shall not be
        affected.
      </p>
      <p>
        11 Governing law These Website Terms and Conditions are governed by the
        laws of England and any dispute regarding this website shall be subject
        to the exclusive jurisdiction of the courts of England and Wales.
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Termsofuse',
  components: {},
  methods: {}
}
</script>
