<template>
  <div class="app-body">
    <UserSidebar></UserSidebar>
    <main class="main user-container">
      <router-view :key="$route.name"></router-view>
    </main>
  </div>
</template>

<script>
import nav from '../_nav'
import UserSidebar from '../components/Sidebar'

export default {
  name: 'Full',
  components: {
    UserSidebar
  },
  data() {
    return {
      nav: []
    }
  },
  watch: {
    $route: 'fetchData'
  },
  created() {
    this.initNav()
    this.fetchData()
  },
  methods: {
    initNav() {
      this.nav = nav(
        this.$app,
        this.$i18n,
        this.$store.state.counters.newPostsCount,
        this.$store.state.counters.pendingPostsCount
      )
    },
    async fetchData() {
      this.initNav()
    }
  }
}
</script>
