<template>
  <div id="main" class="main-content-wraper">
    <div class="main-content-inner">
      <AppHeader></AppHeader>
      <!-- <NewHeader></NewHeader> -->
      <template v-if="!otp_verify">
        <router-view :key="$route.name"></router-view>
      </template>
      <Confirmation
        v-if="otp_verify && processingDone"
        @otpStatusChanged="otpStatusChanged"
      ></Confirmation>
    </div>
    <AppFooter
      :name="$app.appName"
      :editor-name="$app.editorName"
      :editor-site-url="$app.editorSiteUrl"
    ></AppFooter>
  </div>
</template>

<script>
import nav from '../_nav'

import axios from 'axios'
import Confirmation from '../components/Confirmation'
import AppFooter from '../components/Footer'
// import NewHeader from '../components/NewHeader'
import AppHeader from '../components/Header'
import AppSearch from '../components/Search'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'IndexFull',
  components: {
    AppHeader,
    // NewHeader,
    AppFooter,
    Confirmation
  },
  data() {
    return {
      nav: [],
      customer: 'customer',
      verifyCheck: true,
      processingDone: false,
      id_verify: true
    }
  },
  computed: {
    ...mapState(['otp_status']),
    ...mapGetters({
      otp_verify: 'getOtpVerify'
    })
  },
  watch: {
    otp_verify: function(val) {
      this.verifyCheck = val
    }
  },
  created() {
    this.initNav()
    this.fetchData()
    this.getOtp()
  },
  mounted() {
    // this.getOtp()
  },
  methods: {
    initNav() {
      this.nav = nav(
        this.$app,
        this.$i18n,
        this.$store.state.counters.newPostsCount,
        this.$store.state.counters.pendingPostsCount
      )
    },
    async fetchData() {
      this.initNav()
    },
    async getOtp() {
      await axios.get(this.$app.route('verifyConfirm')).then(response => {
        if (response.data.response == 'verify') {
          this.$store.state.otp_verify = false
          this.getVerifyStatus()
        }
        if (response.data.response == 'not_verify') {
          this.$store.state.otp_verify = true
          this.processingDone = true
        }
      })
    },
    async getVerifyStatus() {
      await axios.get(this.$app.route('userVerifyStatus')).then(response => {
        if (response.data.status == 200) {
          this.processingDone = true
          var status = response.data.verify_status
          var type = response.data.verify_type
          if (
            status == 'none' ||
            status == 'verify_type_selected' ||
            status == 'verify_uploaded'
          ) {
            this.$router.push('/dashboard')
          }
          if (status == 'face_uploaded' || status == 'doc_type_selected') {
            this.$router.push('/dashboard')
          }
          if (status == 'doc_uploaded') {
          }
        }
      })
    },
    otpStatusChanged() {
      this.$store.state.otp_verify = false
      // this.otp = this.$store.state.otp_status
    }
  }
}
</script>
