<template>
  <div id="main" class="main-content-wraper">
    <template>
      <template v-if="processingDone">
        <router-view :key="$route.name"></router-view>
      </template>
    </template>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SendIndex',
  data() {
    return {
      paymentExists: false,
      processingDone: false
    }
  },
  computed: {},
  watch: {},
  created() {
    console.log("Send Index .vue")
    this.getPaymentDetails()
    this.customerDocsRejected()
  },
  mounted() {},
  methods: {
    async getPaymentDetails() {
      await axios
        .get(this.$app.route('getIndexPaymentDetails'), {
          params: {
            status: 'recipient-payment'
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            if (response.data.payment_status == 'payment') {
              // console.log(response.data)
              // this.$router.push('/send/Payment')
            }
            if (response.data.payment_status == 'recipient') {
              // this.$router.push('/send/ListReceiver')
            }
            this.processingDone = true
            this.paymentExists = true
          } else {
            this.processingDone = true
            this.paymentExists = false
            // window.location.href = '/front'
          }
        })
    },
    async customerDocsRejected() {
      await axios.get(this.$app.route('userDocsRejected')).then(result => {
        if (result.data.status == 200) {
          this.$router.push('/dashboard')
        }
      })
    }
  }
}
</script>
