<style>
/*preloader css*/
.preloader_admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
#loader_admin {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #281483;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader_admin:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #8f6ed5;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader_admin:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d782d9;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*end preloader css*/
</style>
<template>
  <div>
    <div v-if="showLoader" class="preloader_admin" style="display: block;">
      <div id="loader_admin"></div>
    </div>

    <div v-if="!showLoader" class="preloader_admin" style="display: none;">
      <div id="loader_admin"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showLoader: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // showLoader: false
    }
  },
  methods: {}
}
</script>
