<template>
  <div>

    <gallery
      :images="identityImage"
      :index="index"
      @close="index = null"
    ></gallery>

    <div
      class="image"
      v-for="(image, imageIndex) in identityImage"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{
        backgroundImage: 'url(' + '/images/verify_uploads/' +  ')',
        width: '400px',
        height: '350px',
        backgroundSize: 'cover'
      }"
    ></div>

  </div>
</template>

<script>
import axios from 'axios'
import VueGallery from 'vue-gallery'

export default {
  name: 'LightBoxImage',
  components: {
    gallery: VueGallery
  },
  props: {
    identityImage: {
      type: Array,
      default: () => []
    }

  },
  data() {
    return {
      index: null
    }
  },
  watch: {},
  created: function() {},
  methods: {}
}
</script>
