<template v-if="rechargeData">
  <div>
    <template v-if="rechargeData">
          <b-row>
            <b-col xl="5">
              <b-card>
                <h3 class="card-title" slot="header">
                    Recharge View
                </h3>
                <b-form-group
                      label="Details"
                      label-for="Details"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="rechargeData.details">
                        {{ rechargeData.details }}
                      </span>
                </b-form-group>
                <b-form-group
                      label="Amount"
                      label-for="Amount"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="rechargeData.amount">
                        {{ rechargeData.amount }}
                      </span>
                </b-form-group>
                <b-form-group
                        label="Name"
                        label-for="Name"
                        horizontal
                        :label-cols="3"
                      >
                        <span v-if="rechargeData.user.name">
                          {{ rechargeData.user.name }}
                        </span>
                  </b-form-group>
                <b-form-group
                        label="Email"
                        label-for="Email"
                        horizontal
                        :label-cols="3"
                      >
                        <span v-if="rechargeData.user.email">
                          {{ rechargeData.user.email }}
                        </span>
                  </b-form-group>
                <b-form-group
                        label="Mobile"
                        label-for="Mobile"
                        horizontal
                        :label-cols="3"
                      >
                        <span v-if="rechargeData.user.mobile_no">
                          {{ rechargeData.user.mobile_no }}
                        </span>
                </b-form-group>
                <b-form-group
                        label="Status"
                        label-for="Status"
                        horizontal
                        :label-cols="3"
                      >
                        <span v-if="rechargeData.status">
                          {{ rechargeData.status }}
                        </span>
                </b-form-group>
                <b-form-group
                      label="Created at"
                      label-for="Created at"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="rechargeData.created_at">
                        {{ rechargeData.created_at }}
                      </span>
                </b-form-group>
                <b-form-group
                      label="Updated at"
                      label-for="Updated at"
                      horizontal
                      :label-cols="3"
                    >
                      <span v-if="rechargeData.updated_at">
                        {{ rechargeData.updated_at }}
                      </span>
                </b-form-group>
                <b-row slot="footer">
                  <b-col md>
                    <b-button to="/recharge" exact variant="danger" size="md">
                      {{ $t('buttons.back') }}
                    </b-button>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
            <b-col xl="7">
              <b-card>
                <h3 class="card-title" slot="header">
                  Image
                </h3>
                <span v-if="rechargeData.image != null"><img :src="imageSrc" style="width:580px" /></span>
                <span v-else><img src="/images/verify_uploads/placeholder-recharge.png" style="width:580px" /></span>
              </b-card>
            </b-col>
          </b-row>
     </template>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'RechargeView',
  data() {
    return {
       rechargeData: null,
       imageSrc: null,
       basePath: "/images/verify_uploads/",
    }
  },
  created() {
     this.getRechargeDetails()
  },
  methods:{
    async getRechargeDetails() {
      await axios
        .post(this.$app.route('admin.recharge.view'), {
          id: this.$route.params.id
        })
        .then(response => {
          if (response.data.status == 200) {
            this.rechargeData = response.data.recharge[0]
            this.imageSrc = this.basePath + response.data.recharge[0].image
          }
        })
    }
  }
}
</script>
