<template>
  <div>
    <h4 class="title-head">
      Referral List
      <b-button class="pull-right" variant="link" to="/dashboard">
        <b>
          <i class="fe fe-arrow-left"></i> Back to Dashboard
        </b>
      </b-button>
    </h4>
    <div>
 
      <b-datatable
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="referrals.search"        
        :length-change="false"
        :paging="true"
        :infos="false"
        :search="false"
        :export-data="false"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          bordered
          show-empty
          stacked="md"          
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"          
          class="recipients-list"          
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
        
          <template slot="user_id" slot-scope="row">
            {{ row.item.user_id }}
          </template>
       
        </b-table>
      </b-datatable>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipientsList',
  data() {
    return {
      selected: [],
      fields: [
        {
          key: 'user_id',
          label: 'User',
          sortable: false
        },        
        {
          key: 'created_at',
          label: 'Created at',
          sortable: false
        },       
      ]
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    getRecipientName(val) {
      var firstName = val.first_name
      var middleName = val.middle_name ? val.middle_name : ' '
      var lastName = val.last_name
      return firstName + ' ' + middleName + ' ' + lastName
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ recipient: id })
    }
  }
}
</script>
