<template>
  <div class="row">
    <div class="calculate-output">
      <div>
        <label>Send Amount:</label>
        <label class="value">{{ model.sendCurrency }} <span>{{ model.calculate.sendAmount }}</span></label>
      </div>
      <div>
        <label>Fees:</label>
        <label class="value">{{ model.sendCurrency }} <span>{{ model.calculate.totalFee }}</span></label>
      </div>
      <div>
        <label>Total to pay:</label>
        <label class="value">{{ model.sendCurrency }} <span>{{ model.calculate.totalToPay }}</span></label>
      </div>
      <div>
        <label>Your recipient gets:</label>
        <label class="value">{{ model.getCurrency }} <span>{{ model.calculate.recipientTotal }}</span></label>
      </div>
      <div class="exchange-rate">
        <small class="value">Exchange Rate 1 {{ model.sendCurrency }} = {{ model.calculate.exchangeRate }} {{ model.getCurrency }}</small>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CalculatedOutput',
  components: {},
  props: {
    model: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {}
  },
  watch: {},
  created() {},
  methods: {}
}
</script>
