<template>
  <div class="col-md-5">
    <div class="send-form">
      <div class="send-to">
        <h3>Send From</h3>
        <div class="form-group">
          <b-form-select id="sendFromCountrySelect" ref="sendFromCountry" size="lg" v-model="model.sendFromCountry" :options="countryOptions"></b-form-select>
        </div>
      </div>
      <h3>Send to</h3>
      <div class="row">
        <div class="form-group">
          <b-form-select id="sendToCountrySelect" ref="sendToCountry" size="lg" v-model="model.sendToCountry" :options="countryOptions"></b-form-select>
        </div>
        <template v-if="model.getCurrency != 'not_available'">
          <div class="form-group">
            <b-form-select v-model="model.serviceType" :options="serviceOptions"></b-form-select>
          </div>
          <div class="form-group form-inline">
            <b-form-select class="col-md-4 send-type" v-model="model.sendType">
              <option value="send">Send</option>
            </b-form-select>
            <b-form-select class="col-md-4 send-type" v-model="model.sendCurrency">
              <option :value="model.sendCurrency">{{ model.sendCurrency }}</option>
            </b-form-select>
            <b-form-input @blur.native="parseDecimal(); chooseAmount()" ref="sendamount" v-model="model.sendAmount" class="form-control col-md-2" type="text" placeholder="Amount">
            </b-form-input>
          </div>
        </template>
      </div>
      <template v-if="showEstimate">
        <CalculatedOutput :model.sync="model"></CalculatedOutput>
      </template>
      <template v-if="model.getCurrency == 'not_available'">
        <div class="row">
          <div class="col-md-12">
            <h3>Not Available</h3>
          </div>
        </div>
      </template>
      <div class="row btn-section">
        <div class="col-md-12 text-center">
          <b-button @click="chooseAmount('submit')" variant="primary">Submit</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CalculatedOutput from './CalculatedOutput'

export default {
  name: 'Index',
  components: {
    CalculatedOutput
  },
  props: {
    openCalculator: {
      type: Boolean,
      default: false
    },
    userCalculator: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      countryOptions: [],
      showEstimate: false,
      model: {
        sendFromCountry: null,
        sendFromCountryName: null,
        sendToCountry: null,
        sendToCountryName: null,
        oldsendToCountry: null,
        serviceType: 'bank_deposit',
        sendType: 'send',
        sendCurrency: null,
        getCurrency: null,
        sendAmount: null,
        totalFee: null,
        calculate: {
          sendAmount: null,
          totalFee: null,
          totalToPay: null,
          recipientTotal: null,
          exchangeRate: null
        }
      },
      serviceOptions: null
    }
  },
  watch: {
    'model.sendAmount': function(val, oldval) {
      if (!val) {
        this.showEstimate = false
      }
    },
    'model.sendFromCountry': function(val, oldVal) {
      if (val) {
        this.getCountryCurrency(val, 'sendFrom')
      }
    },
    'model.sendToCountry': function(val, oldVal) {
      if (val) {
        this.model.sendAmount = null
        this.getCountryCurrency(val, 'sendTo')
      }
    }
  },
  created() {
    this.getCountries()
    this.getUserCountry()
    this.getServiceTypes()
  },
  methods: {
    chooseAmount(submit = '') {
      var model = this.model
      this.validate()
      if (model.sendAmount) {
        this.calculateTotal()
        if (submit == 'submit') {
          if (openCalculator) {
            this.saveStatePaymentDetails()
            return false
          }
          if (userCalculator) {
            this.savePaymentDetails()
          }
        }
      }
      
    },
    async calculateTotal() {
      var model = this.model
      this.getCountryFee(model.sendAmount, model.sendToCountry)
      var sendCurrency = model.sendCurrency
      var sendAmount = model.sendAmount
      var sendType = model.sendType
      var serviceType = model.serviceType
      var sendToCountry = model.sendToCountry
      var sendFromCountry = model.sendFromCountry
      var totalFee = model.totalFee
      var calculate = model.calculate
      var getCurrency = model.getCurrency
      // this.getAmountCurrency(sendAmount, getCurrency)
    },
    async getCountryCurrency(val = '', type = false) {
      await axios
        .get(this.$app.route('getCountryCurrency'), {
          params: {
            country_id: val,
            type: type
          }
        })
        .then(response => {
          var model = this.model
          if (response.data.status == 200) {
            if (response.data.sendFrom) {
              var sendFrom = response.data.sendFrom
              if (sendFrom.currency_code == 'not_available') {
                model.sendCurrency = 'USD'
                return
              } else {
                model.sendCurrency = sendFrom.currency_code
              }
            }
            if (response.data.sendTo) {
              var sendTo = response.data.sendTo
              if (sendTo.currency_code == 'not_available') {
                model.getCurrency = 'not_available'
                return
              } else {
                model.getCurrency = sendTo.currency_code
              }
            }
          }
        })
    },
    async getCountries() {
      var model = this.model
      await axios.get(this.$app.route('api.getCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getServiceTypes() {
      var model = this.model
      await axios.get(this.$app.route('api.getServiceTypes')).then(response => {
        this.serviceOptions = response.data.data
      })
    },
    async getUserCountry() {
      await axios.get(this.$app.route('getUserCountry')).then(response => {
        if (response.data.status == 200) {
          var model = this.model
          var country = response.data.country_id
          model.oldsendToCountry = country
          // model.sendToCountry = country
          model.sendFromCountry = country
        }
      })
    },
    getCountryFee(amount, sendToCountry) {
      var model = this.model
      axios
        .get(this.$app.route('getCountryFee'), {
          params: {
            amount: amount,
            send_to_country: sendToCountry
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var fee = parseFloat(response.data.fee).toFixed(2)
            model.totalFee = fee
            model.calculate.totalFee = fee
            this.getAmountCurrency()
          } else {
            model.totalFee = 0
            model.calculate.totalFee = 0
            this.getAmountCurrency()
          }
        })
    },
    async getAmountCurrency(sendAmount, getCurrency) {
      var model = this.model
      var calculate = model.calculate
      if (model.sendCurrency == model.getCurrency) {
        this.model.calculate.totalToPay = (
          parseFloat(this.model.sendAmount) + parseFloat(this.model.totalFee)
        ).toFixed(2)
        this.model.calculate.sendAmount = parseFloat(
          this.model.sendAmount
        ).toFixed(2)
        this.model.calculate.recipientTotal = this.model.sendAmount
        this.model.calculate.exchangeRate = 1
        this.showEstimate = true
      } else {
        await axios
          .get(this.$app.route('getAmount'), {
            params: {
              amount: this.model.sendAmount,
              send_from: this.model.sendCurrency,
              send_to: this.model.getCurrency
            }
          })
          .then(response => {
            if (response.data.status == 200) {
              this.model.calculate.totalToPay = (
                parseFloat(this.model.sendAmount) +
                parseFloat(this.model.totalFee)
              ).toFixed(2)
              // calculate.totalFee = parseFloat(totalFee).toFixed(2)
              this.model.calculate.sendAmount = parseFloat(
                this.model.sendAmount
              ).toFixed(2)
              this.model.calculate.recipientTotal = response.data.net_amount
              this.model.calculate.exchangeRate = response.data.exchange_rate
              /* Store Country Names */
              var model = this.model
              model.sendToCountryName = $(
                '#sendToCountrySelect option:selected'
              ).text()
              model.sendFromCountryName = $(
                '#sendFromCountrySelect option:selected'
              ).text()
              this.showEstimate = true
            }
          })
      }
    },
    async savePaymentDetails() {
      var data = this.model
      await axios
        .post(this.$app.route('savePaymentDetails'), {
          data: this.model
        })
        .then(response => {
          if (response.data.status == 200) {
            this.$router.push('/send/ListReceiver')
          }
        })
    },
    parseDecimal() {
      var model = this.model
      if (model.sendAmount) {
        model.sendAmount = parseFloat(model.sendAmount).toFixed(2)
      }
    },
    async getQueryCountry() {
      var model = this.model
      var country = this.$route.query.ci
      model.sendToCountry = country
      await axios.get(this.$app.route('getUserLocation')).then(response => {
        if (response.data.status == 200) {
          var country = response.data.country
          this.model.sendFromCountry = country
        }
      })
    },
    async saveStatePaymentDetails() {
      var data = this.model
      this.$store.dispatch('savePaymentDetails', data)
      window.location.href = '/login'
    },
    validate() {
      if (!model.sendToCountry) {
        this.$refs.sendToCountry.$el.focus()
        this.showEstimate = false
        return false
      }
      if (!model.sendAmount) {
        this.$refs.sendamount.$el.focus()
        this.showEstimate = false
        return false
      }
    }
  }
}
</script>
