<template>
  <div id="main" class="main-content-wraper">
    <div class="main-content-inner">
      <ProcessHeader></ProcessHeader>
      <ChooseMoney></ChooseMoney>
    </div>
    <AppFooter :name="$app.appName" :editor-name="$app.editorName" :editor-site-url="$app.editorSiteUrl"></AppFooter>
  </div>
</template>

<script>
import ChooseMoney from './ProcessChooseMoney'
import AppFooter from '../Footer'
import ProcessHeader from '../ProcessHeader'

export default {
  name: 'Index',
  components: {
    ProcessHeader,
    AppFooter,
    ChooseMoney
  },
  data() {
    return {}
  },
  watch: {},
  created() {},
  methods: {}
}
</script>
