<template>
  <main id="choose-money">
    <div></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="float: none;margin: 30px auto;">
          <div class="send-form">
            <div class="row send-to">
              <h3>Send From</h3>
              <div class="form-group">
                <b-form-select
                  id="sendFromCountrySelect"
                  ref="sendFromCountry"
                  size="lg"
                  v-model="model.sendFromCountry"
                  :options="countryOptions"
                  class="form-control"
                ></b-form-select>
              </div>
            </div>
            <h3>Send to</h3>
            <div class="row">
              <div class="form-group">
                <b-form-select
                  id="sendToCountrySelect"
                  ref="sendToCountry"
                  size="lg"
                  v-model="model.sendToCountry"
                  :options="sendtoCountryOptions"
                  class="form-control"
                ></b-form-select>
              </div>
              <template v-if="model.getCurrency != 'not_available'">
                <!--
                <div class="form-group">
                  <b-form-select
                    v-model="model.serviceType"
                    :options="serviceOptions"
                    class="form-control"
                  ></b-form-select>
                </div>-->

                <div class="form-group">
                  <b-form-select v-model="model.serviceType">
                    <option value="null">Select Service - External</option>
                    <option
                      v-for="(service, index) in serviceOptions"
                      :key="index"
                      :value="service.value"
                      class="form-control"
                    >{{ service.text }}</option>
                  </b-form-select>
                </div>

                <div class="form-group form-inline">
                  <b-form-select class="col-md-3 send-type form-control" v-model="model.sendType">
                    <option value="send">Send</option>
                  </b-form-select>
                  <b-form-select
                    class="col-md-3 send-type form-control"
                    v-model="model.sendCurrency"
                  >
                    <option :value="model.sendCurrency">{{ model.sendCurrency }}</option>
                  </b-form-select>

                  <!-- <b-form-input @keypress.native="chooseAmount" ref="sendamount" v-model="model.sendAmount" class="form-control col-md-2 custom-inputs" type="text" placeholder="Amount">
                  </b-form-input>-->
                  <b-form-input
                    @input="updatechooseAmount()"
                    ref="sendamount"
                    v-model="model.sendAmount"
                    class="form-control col-md-2 custom-inputs"
                    type="text"
                    placeholder="Amount"
                  ></b-form-input>
                </div>
              </template>
            </div>
            <template v-if="showEstimate">
              <div class="row">
                <div class="calculate-output">
                  <div>
                    <label>Send Amount:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.sendAmount }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Fees:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.totalFee }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Total to pay:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.totalToPay }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Your recipient gets:</label>
                    <label class="value">{{ model.getCurrency }}</label>

                    <!-- <b-form-input @keypress.native="changeTotaltopay()" v-model="model.calculate.recipientTotal"></b-form-input> -->
                    <!-- <span>{{ model.calculate.recipientTotal }}</span> -->
                    <div class="row">
                      <div class="col-md-4">
                        <b-button
                          @click="changeTotaltopay()"
                          variant="primary"
                          style="-webkit-border-radius: 8px; margin-left: 0px; -moz-border-radius: 8px; border-radius: 8px;"
                        >Re-Calculate</b-button>
                      </div>
                      <div class="col-md-4 input-float-align">
                        <!-- <b-form-input @keypress.native="changeTotaltopay()" v-model="model.calculate.recipientTotal" style="margin-right: 0px; text-align:right"></b-form-input> -->
                        <b-form-input
                          @input="update"
                          v-model="model.calculate.recipientTotal"
                          style="margin-right: 0px; text-align:right"
                        ></b-form-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="exchange-rate">
                  <small
                    class="value"
                  >Exchange Rate 1 {{ model.sendCurrency }} = {{ model.getCurrency }} {{ model.calculate.exchangeRate }}</small>
                  <br />
                  <small
                    class="small-instruction"
                  >You may type your desired foreign amount you want your beneficiary to receive and press re-calculate to get the local currency amount you need to transfer</small>
                </div>
              </div>
            </template>
            <template v-if="model.getCurrency == 'not_available'">
              <div class="row">
                <div class="col-md-12">
                  <h3>Not Available</h3>
                </div>
              </div>
            </template>
            <div class="row btn-section">
              <div class="col-md-12 text-center">
                <!-- <b-button @click="chooseAmount('submit')" class="btn-process-bg">Submit</b-button>-->
                <b-button @click="loginMessage()" class="btn-process-bg">Submit</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </main>
</template>
<script>
import axios from 'axios'

export default {
  name: 'ChooseMoney',
  components: {},
  props: {},
  data() {
    return {
      showLoader: false,
      countryOptions: [],
      sendtoCountryOptions: [],
      showEstimate: false,
      model: {
        sendFromCountry: null,
        sendFromCountryName: null,
        sendToCountry: null,
        sendToCountryName: null,
        oldsendToCountry: null,
        serviceType: 'bank_deposit',
        sendType: 'send',
        sendCurrency: null,
        getCurrency: null,
        sendAmount: null,
        totalFee: 12,
        calculate: {
          sendAmount: null,
          totalFee: null,
          totalToPay: null,
          recipientTotal: null,
          exchangeRate: null
        }
      },
      serviceOptions: null
      // serviceOptions: [
      //   { value: null, text: 'Select Service' },
      //   { value: 'bank_deposit', text: 'Bank Deposit' },
      //   { value: 'cash_pickup', text: 'Cash Pickup' },
      //   { value: 'express_bank', text: 'Express Bank Transfer' }
      // ]
    }
  },
  watch: {
    'model.sendAmount': function(val, oldval) {
      if (!val) {
        this.showEstimate = false
      } else {
        this.chooseAmount()
      }
    },
    'model.sendFromCountry': function(val, oldVal) {
      if (val) {
        this.model.sendAmount = null
        this.getCountryCurrency(val, 'sendFrom')
      }
    },
    'model.sendToCountry': function(val, oldVal) {
      if (val) {
        this.model.sendAmount = null
        this.getCountryCurrency(val, 'sendTo')
      }
    }
  },
  created() {
    this.getCountries()
    this.getQueryCountry()
    this.getSendToCountries()
    this.getServiceTypes() // get serice type from api all.
  },
  methods: {

    loginMessage() {

      swal({
        title: "Authentication Required",
        text: "Redirect to login Screen?",
        type: "success",
        confirmButtonText: "OK",
        
      }).then(okay => {
        if (okay) {
          window.location.href = "https://customers.anexpress.com/login";
        }
      });
      

    },

    async getServiceTypes() {
      var model = this.model
      await axios.get(this.$app.route('api.getServiceTypes')).then(response => {
        this.serviceOptions = response.data.data
      })
    },

    updatechooseAmount: _.debounce(function(e) {
      this.chooseAmount()
      // this.changeTotaltopay()
    }, 3000),

    update: _.debounce(function(e) {
      this.changeTotaltopay()
    }, 1000),

    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },

    async chooseAmount(submit = '')
    {

      if (submit == 'submit') {
        this.showLoader = true // show loader
        this.changeTotaltopay() // re-calculate
        await this.sleep(4000) // 4 sec delay
      }

      this.debounceInput(submit)
    },

    debounceInput: _.debounce(function(submit = '') {
      var model = this.model
      if (model.sendAmount) {
        this.getCountryFee(model.sendAmount, model.sendToCountry)
        this.calculateTotal()
        if (submit == 'submit') {
          this.saveStatePaymentDetails()
        }
      } else {
        this.$refs.sendamount.$el.focus()
        this.showEstimate = false
      }
    }, 100),
    async calculateTotal() {
      var model = this.model
      this.getCountryFee(
        model.sendAmount,
        model.sendToCountry,
        model.serviceType
      )
      var sendCurrency = model.sendCurrency
      var sendAmount = model.sendAmount
      var sendType = model.sendType
      var serviceType = model.serviceType
      var sendToCountry = model.sendToCountry
      var sendFromCountry = model.sendFromCountry
      var totalFee = model.totalFee
      var calculate = model.calculate
      var getCurrency = model.getCurrency
    },
    async getCountryCurrency(val = '', type = false) {
      this.showLoader = true
      await axios
        .get(this.$app.route('getCountryCurrency'), {
          params: {
            country_id: val,
            type: type
          }
        })
        .then(response => {
          this.showLoader = false
          var model = this.model
          if (response.data.status == 200) {
            if (response.data.sendFrom) {
              var sendFrom = response.data.sendFrom
              if (sendFrom.currency_code == 'not_available') {
                model.sendCurrency = 'USD'
                return
              } else {
                model.sendCurrency = sendFrom.currency_code
              }
            }
            if (response.data.sendTo) {
              var sendTo = response.data.sendTo
              if (sendTo.currency_code == 'not_available') {
                model.getCurrency = 'not_available'
                return
              } else {
                model.getCurrency = sendTo.currency_code
              }
            }
          }
        })
        .catch(error => {
          this.showLoader = false
        })
    },
    //*
    async getCountries() {
      this.showLoader = true
      var model = this.model
      await axios
        .get(this.$app.route('api.getCountries'))
        .then(response => {
          this.countryOptions = response.data
          this.showLoader = false
        })
        .catch(error => {
          this.showLoader = false
        })
    },
    //*
    async getSendToCountries() {
      this.showLoader = true
      var model = this.model
      await axios
        .get(this.$app.route('api.getSendToCountries'))
        .then(response => {
          this.sendtoCountryOptions = response.data
          this.showLoader = false
        })
        .catch(error => {
          this.showLoader = false
        })
    },
    async getCountryFee(amount, sendToCountry, type) {
      var model = this.model
      axios
        .get(this.$app.route('getCountryFee'), {
          params: {
            amount: amount,
            send_to_country: sendToCountry,
            type: type
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var fee = parseFloat(response.data.fee).toFixed(2)
            model.totalFee = fee
            model.calculate.totalFee = fee
            this.getAmountCurrency()
          } else {
            model.totalFee = 0
            model.calculate.totalFee = 0
            this.getAmountCurrency()
          }
        })
    },
    async getAmountCurrency(sendAmount, getCurrency) {
      var model = this.model
      var calculate = model.calculate
      if (model.sendCurrency == model.getCurrency) {
        this.model.calculate.totalToPay = (
          parseFloat(this.model.sendAmount) + parseFloat(this.model.totalFee)
        ).toFixed(2)
        this.model.calculate.sendAmount = parseFloat(
          this.model.sendAmount
        ).toFixed(2)
        this.model.calculate.recipientTotal = this.model.sendAmount
        this.model.calculate.exchangeRate = 1
        this.showEstimate = true
      } else {
        await axios
          .get(this.$app.route('getAmount'), {
            params: {
              amount: this.model.sendAmount,
              send_from: this.model.sendCurrency,
              send_to: this.model.getCurrency,
              type: this.model.serviceType
            }
          })
          .then(response => {
            if (response.data.status == 200) {
              this.model.calculate.totalToPay = (
                parseFloat(this.model.sendAmount) +
                parseFloat(this.model.totalFee)
              ).toFixed(2)
              // calculate.totalFee = parseFloat(totalFee).toFixed(2)
              this.model.calculate.sendAmount = parseFloat(
                this.model.sendAmount
              ).toFixed(2)
              this.model.calculate.recipientTotal = response.data.net_amount
              this.model.calculate.exchangeRate = response.data.exchange_rate
              /* Store Country Names */
              var model = this.model
              model.sendToCountryName = $(
                '#sendToCountrySelect option:selected'
              ).text()
              model.sendFromCountryName = $(
                '#sendFromCountrySelect option:selected'
              ).text()
              this.showEstimate = true
            }
          })
      }
    },
    async saveStatePaymentDetails() {
      var data = this.model
      this.$store.dispatch('savePaymentDetails', data)
      window.location.href = '/login'
    },
    async getQueryCountry() {
      var model = this.model
      var country = this.$route.query.ci
      model.sendToCountry = country
      await axios.get(this.$app.route('getUserLocation')).then(response => {
        if (response.data.status == 200) {
          var country = response.data.country
          this.model.sendFromCountry = country
        }
      })
    },
    parseDecimal() {
      var model = this.model
      if (model.sendAmount) {
        model.sendAmount = parseFloat(model.sendAmount).toFixed(2)
      }
    },
    changeTotaltopay() {
      var model = this.model
      //var newtotaltopaybysender
      model.calculate.recipientTotal = model.calculate.recipientTotal
        .replace(/[, ]+/g, '')
        .trim()
      if (model.calculate.recipientTotal) {
        model.totalToPay =
          model.calculate.recipientTotal / model.calculate.exchangeRate
        this.model.sendAmount = parseFloat(model.totalToPay).toFixed(2)
      }
    }
  }
}
</script>
