<template>
  <main id="choose-money">
    <div></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="float: none;margin: 30px auto;">
          <b-button class variant="link" to="/dashboard">
            <b>
              <i class="fe fe-arrow-left"></i>Back to Dashboard
            </b>
          </b-button>

          <!-- <div class="col-md-6 col-centered"> -->

          <div class="send-form">
            <div class="row send-to">
              <h3>Send From test</h3>
              <div class="form-group">
                <b-form-select
                  id="sendFromCountrySelect"
                  disabled
                  ref="sendFromCountry"
                  size="lg"
                  v-model="model.sendFromCountry"
                  :options="countryOptions"
                  class="form-control"
                ></b-form-select>
              </div>
            </div>
            <h3>Send to</h3>
            <div class="row">
              <div class="form-group">
                <b-form-select
                  id="sendToCountrySelect"
                  ref="sendToCountry"
                  size="lg"
                  v-model="model.sendToCountry"
                  :options="sendtoCountryOptions"
                  class="form-control"
                ></b-form-select>
              </div>
              <template v-if="model.getCurrency != 'not_available'">
                <div class="form-group">
                  <b-form-select v-model="model.serviceType" class="form-control">
                    <option value="null">Select Service - Internal</option>
                    <option
                      v-for="(service, index) in serviceOptions"
                      :key="index"
                      :value="service.value"
                    >{{ service.text }}</option>
                  </b-form-select>
                </div>
                <!--
                  <div class="form-group form-inline">
                    <b-form-select class="col-md-4 send-type" v-model="model.sendType">
                      <option value="send">Send</option>
                    </b-form-select>
                    <b-form-select class="col-md-4 send-type" v-model="model.sendCurrency">
                      <option :value="model.sendCurrency">{{ model.sendCurrency }}</option>
                    </b-form-select>
                    //<template v-if="isNaN(model.sendAmount)">
                    <b-form-input @keypress.native="chooseAmount" ref="sendamount" v-model="model.sendAmount" class="form-control col-md-2" type="text" placeholder="Amount">
                    </b-form-input>
                  // </template>
                  </div>
                -->
                <div class="form-group form-inline">
                  <b-form-select class="col-md-3 send-type form-control" v-model="model.sendType">
                    <option value="send">Send</option>
                  </b-form-select>
                  <b-form-select
                    class="col-md-3 send-type form-control"
                    v-model="model.sendCurrency"
                  >
                    <option :value="model.sendCurrency">{{ model.sendCurrency }}</option>
                  </b-form-select>
                  <!--
                    <b-form-input @keypress.native="chooseAmount" ref="sendamount" v-model="model.sendAmount" class="form-control col-md-2 custom-inputs" type="text" placeholder="Amount">
                  </b-form-input>
                  -->
                  <b-form-input
                    @input="updatechooseAmount()"
                    ref="sendamount"
                    v-model="model.sendAmount"
                    class="form-control col-md-2 custom-inputs"
                    type="text"
                    placeholder="Amount"
                  ></b-form-input>
                </div>
              </template>
            </div>
            <template v-if="showEstimate">
              <div class="row">
                <div class="col-md">
                  <a v-b-toggle.collapse-1 variant="primary">Have a promocode?</a>
                </div>
              </div>

              <div class="row">
                <b-collapse id="collapse-1">
                  <div class="col-md-6">
                    <b-form-input
                      v-model="promocode"
                      placeholder="Voucher Code"
                      class="form-control"
                    ></b-form-input>
                  </div>
                  <div class="col-md-4">
                    <b-button
                      variant="primary"
                      @click="verifyVoucher"
                      id="voucherBtn"
                    >Apply Voucher Code</b-button>
                  </div>
                </b-collapse>
              </div>

              <div class="row" style="display:none;" id="isValidPromocode">
                <div class="col-md">
                  <div class="alert alert-danger" id="promocodeErrorMessage"></div>
                </div>
              </div>

              <div class="row">
                <div class="calculate-output">
                  <div>
                    <label>Send Amount:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.sendAmount }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Fees:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.totalFee }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Total to pay:</label>
                    <label class="value">
                      {{ model.sendCurrency }}
                      <span>{{ model.calculate.totalToPay }}</span>
                    </label>
                  </div>
                  <div>
                    <label>Your recipient gets:</label>
                    <label class="value">{{ model.getCurrency }}</label>
                    <!-- <b-form-input @keypress.native="changeTotaltopay()" v-model="model.calculate.recipientTotal"></b-form-input> -->
                    <div class="row">
                      <!--
                      <div class="col-md-8">
                        <b-form-input v-model="model.calculate.recipientTotal" style="margin-right: 0px;"></b-form-input>
                      </div>
                      <div class="col-md-4">
                        <b-button @click="changeTotaltopay()" variant="primary" style="-webkit-border-radius: 8px; margin-left: 0px; -moz-border-radius: 8px; border-radius: 8px;">Re-Calculate</b-button>
                      </div>
                      -->
                      <div class="col-md-4">
                        <b-button
                          @click="changeTotaltopay()"
                          variant="primary"
                          style="-webkit-border-radius: 8px; margin-left: 0px; -moz-border-radius: 8px; border-radius: 8px;"
                        >Re-Calculate</b-button>
                      </div>
                      <div class="col-md-4 input-float-align">
                        <b-form-input
                          @input="update"
                          v-model="model.calculate.recipientTotal"
                          style="margin-right: 0px; text-align:right"
                        ></b-form-input>
                      </div>
                    </div>

                    <!-- <span>{{ model.calculate.recipientTotal }}</span> -->
                  </div>
                  <div class="exchange-rate">
                    <small
                      class="value"
                    >Exchange Rate 1 {{ model.sendCurrency }} = {{ model.getCurrency }} {{ model.calculate.exchangeRate }}</small>
                    <br />
                    <small
                      class="small-instruction"
                    >ChooseMoney - You may type your desired foreign amount you want your beneficiary to receive and press re-calculate to get the local currency amount you need to transfer</small>
                  </div>
                </div>
              </div>
            </template>
            <template v-if="model.getCurrency == 'not_available'">
              <div class="row">
                <div class="col-md-12">
                  <h3>Not Available</h3>
                </div>
              </div>
            </template>
            <div class="row btn-section">
              <div class="col-md-12 text-center">
                <b-button @click="chooseAmount('submit')" class="btn-process-bg">Submit</b-button>
                <!-- chooseAmount('submit') -->
              </div>

              <!-- <div class="col-md-12 text-center" v-else="this.checkpendingRequest = 0">
                <b-button @click="sendAmountValidation('submit')" variant="primary">Submit</b-button>
              </div>-->
              <!-- <div class="col-md-12 text-center" v-else="this.checkpendingRequest < this.model.calculate.sendAmount">
                <b-button @click="sendAmountValidation('submit')" variant="primary">Submit</b-button>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </main>
</template>
<script>
import axios from 'axios'

export default {
  name: 'ChooesMoney',
  components: {},
  props: {},
  data() {
    return {
      // show voucher field
      origionalFee: null,
      showVoucherField: false,
      promocode: null,
      isValidPromocode: null,
      //////////////////////////
      showLoader: false,
      countryOptions: [],
      sendtoCountryOptions: [],
      showEstimate: false,
      checkpendingRequest: null,
      showError: false,
      ErrorMessage: 'Something Went Wrong! Please Try Again',
      model: {
        sendFromCountry: null,
        sendFromCountryName: null,
        sendToCountry: null,
        sendToCountryName: null,
        oldsendToCountry: null,
        serviceType: 'bank_deposit',
        sendType: 'send',
        sendCurrency: null,
        getCurrency: null,
        sendAmount: null,
        totalFee: null,
        calculate: {
          sendAmount: null,
          totalFee: null,
          totalToPay: null,
          recipientTotal: null,
          newtotaltopaybysender: null,
          exchangeRate: null
        }
      },
      serviceOptions: null
    }
  },
  watch: {
    'model.sendAmount': function(val, oldval) {
      if (!val) {
        this.showEstimate = false
      } else {
        this.chooseAmount()
      }
    },
    'model.sendFromCountry': function(val, oldVal) {
      if (val) {
        //console.log(val);
        this.model.sendAmount = null
        this.getCountryCurrency(val, 'sendFrom')
      }
    },
    'model.sendToCountry': function(val, oldVal) {
      if (val) {
        this.model.sendAmount = null
        this.getCountryCurrency(val, 'sendTo')
      }
    }
  },
  created() {
    this.testSession()
    this.getCountries()
    this.getSendToCountries()
    this.getUserCountry()
    this.getUserSendCountry()
    this.getServiceTypes()
    this.pendingSendMoneyRequest()
  },
  mounted() {
    // var sendCountry = this.$route.query.ci
    // this.model.sendToCountry = sendCountry
  },
  methods: {
    // recalculate fee and totaltopay.
    reCalculate(fee_discount) {
      console.log(
        'test test ',
        'background:#35495e ; padding: 1px; border-radius: 3px 0 0 3px;  color: #fff'
      )
      this.model.totalFee = (
        parseFloat(this.model.totalFee) - parseFloat(fee_discount)
      ).toFixed(2)

      // update totalfee and totaltopay
      this.model.calculate.totalFee = this.model.totalFee
      this.model.calculate.totalToPay = (
        parseFloat(this.model.calculate.sendAmount) +
        parseFloat(this.model.totalFee)
      ).toFixed(2)
    },

    showVoucherFieldHideShow() {
      this.showVoucherField = true
    },

    // check voucher.
    verifyVoucher() {
      // console.log('model.totalFee' + this.model.totalFee)
      // console.log('origionalFee type: ' + typeof this.origionalFee)
      // console.log('origionalFee value: ' + this.origionalFee)

      if (this.origionalFee == null) {
        this.showLoader = true
        axios
          .post(this.$app.route('choosemoney.verifyVoucherCode'), {
            promocode: this.promocode,
            totalFee_: this.model.totalFee
          })
          .then(response => {
            this.showLoader = false

            // invalid and exiry voucher error.
            if (response.data.status == 400) {
              $('#isValidPromocode').css('display', 'block')
              $('#promocodeErrorMessage').html(response.data.response)
            }

            // On successfully applied voucher.
            if (response.data.status == 200) {
              $('#isValidPromocode').css('display', 'block')
              $('#promocodeErrorMessage')
                .removeClass('alert alert-danger')
                .addClass('alert alert-success')
              $('#promocodeErrorMessage').html('Promocode Applied!')

              // set origional Fee
              this.origionalFee = this.model.totalFee
              this.reCalculate(response.data.fee_discount)
            }
          })
          .catch(error => {
            this.showLoader = false
            console.log(error)
          })
      } // if end.
    },
    /////////////////////////////////////////////
    updatechooseAmount: _.debounce(function(e) {
      this.chooseAmount()
      // this.changeTotaltopay()
    }, 3000),

    update: _.debounce(function(e) {
      this.changeTotaltopay()
    }, 1000),

    testSession: function() {
      this.$session.start()
      // this.$session.set('transaction_id', Math.random() )
      // console.log("Your Session : " + this.$session.get("transaction_id") )
    },
    async pendingSendMoneyRequest() {
      await axios
        .get(this.$app.route('choosemoney.pendingSendMoneyRequest'))
        .then(result => {
          if (result.data.status == 200) {
            this.checkpendingRequest = result.data.pending_sendMoney
          }
        })
    },
    async getServiceTypes() {
      var model = this.model
      await axios.get(this.$app.route('api.getServiceTypes')).then(response => {
        this.serviceOptions = response.data.data
      })
    },
    chooseAmount(submit = '') {
      console.log(' ----- Inside chooseAmount ----- ')
      console.log('submit typeof: ' + typeof submit)
      console.log('submit : ' + submit)
      console.dir(submit)
      console.log(' ---------- ')

      if (submit == 'submit') {
        console.log(' submit button presses ! ')
        this.changeTotaltopay()
      }

      /*
        if (submit == 'submit') {
        if (
          parseFloat(this.model.calculate.totalToPay) >
          parseFloat(this.checkpendingRequest)
        ) {
          this.test()
          return false
        }
        }
      */

      var model = this.model
      if (model.sendAmount) {
        this.calculateTotal()
        if (submit == 'submit') {
          this.savePaymentDetails()
        }
        if (!model.sendToCountry) {
          this.$refs.sendToCountry.$el.focus()
          this.showEstimate = false
          return false
        }
        if (!model.sendAmount) {
          this.$refs.sendamount.$el.focus()
          this.showEstimate = false
          return false
        }
      }
    },
    async calculateTotal() {
      var model = this.model
      this.getCountryFee(
        model.sendAmount,
        model.sendToCountry,
        model.serviceType // added
      )
      var sendCurrency = model.sendCurrency
      var sendAmount = model.sendAmount
      var sendType = model.sendType
      var serviceType = model.serviceType
      var sendToCountry = model.sendToCountry
      var sendFromCountry = model.sendFromCountry
      var totalFee = model.totalFee
      var calculate = model.calculate
      var getCurrency = model.getCurrency
      // this.getAmountCurrency(sendAmount, getCurrency)
    },
    async test() {
      let result = await window.swal({
        title: 'Balance is not sufficient, Please recharge!',
        type: 'warning',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        // this.$router.push('/recharge')
      }
    },
    //*
    async getCountryCurrency(val = '', type = false) {
      this.showLoader = true
      await axios
        .get(this.$app.route('getCountryCurrency'), {
          params: {
            country_id: val,
            type: type
          }
        })
        .then(response => {
          this.showLoader = false
          var model = this.model
          if (response.data.status == 200) {
            if (response.data.sendFrom) {
              var sendFrom = response.data.sendFrom
              if (sendFrom.currency_code == 'not_available') {
                model.sendCurrency = 'USD'
                return
              } else {
                model.sendCurrency = sendFrom.currency_code
              }
            }
            if (response.data.sendTo) {
              var sendTo = response.data.sendTo
              if (sendTo.currency_code == 'not_available') {
                model.getCurrency = 'not_available'
                return
              } else {
                model.getCurrency = sendTo.currency_code
              }
            }
          }
        })
        .catch(error => {
          this.showLoader = false
        })
    },
    async getCountries() {
      var model = this.model
      await axios.get(this.$app.route('api.getCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getSendToCountries() {
      var model = this.model
      await axios
        .get(this.$app.route('api.getSendToCountries'))
        .then(response => {
          this.sendtoCountryOptions = response.data
        })
    },
    async getUserCountry() {
      var model = this.model
      var country = this.$route.query.ci
      model.sendToCountry = country
      await axios.get(this.$app.route('getUserCountry')).then(response => {
        if (response.data.status == 200) {
          var country = response.data.country
          //console.log(country);
          this.model.sendFromCountry = country
        }
      })
    },
    async getUserSendCountry() {
      await axios.get(this.$app.route('getUserSendCountry')).then(response => {
        if (response.data.status == 200) {
          var model = this.model
          var country = response.data.country_id
          model.sendToCountry = country
        }
      })
    },
    getCountryFee(amount, sendToCountry, type) {
      var model = this.model
      axios
        .get(this.$app.route('getCountryFee'), {
          // get country fee request logged-In.
          params: {
            amount: amount,
            send_to_country: sendToCountry,
            type: type
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var fee = parseFloat(response.data.fee).toFixed(2)
            model.totalFee = fee
            model.calculate.totalFee = fee
            this.getAmountCurrency()
          } else {
            model.totalFee = 0
            model.calculate.totalFee = 0
            this.getAmountCurrency()
          }
        })
    },
    async getAmountCurrency(sendAmount, getCurrency) {
      var model = this.model
      var calculate = model.calculate
      if (model.sendCurrency == model.getCurrency) {
        // if both currencies are same.
        this.model.calculate.totalToPay = (
          parseFloat(this.model.sendAmount) + parseFloat(this.model.totalFee)
        ).toFixed(2)
        this.model.calculate.sendAmount = parseInt(
          this.model.sendAmount
        ).toFixed(2)

        this.model.calculate.recipientTotal = this.model.sendAmount
        this.model.calculate.exchangeRate = 1
        this.showEstimate = true
      } else {
        // getAmount request
        await axios
          .get(this.$app.route('getAmount'), {
            params: {
              amount: this.model.sendAmount,
              send_from: this.model.sendCurrency,
              send_to: this.model.getCurrency,
              type: this.model.serviceType
            }
          })
          .then(response => {
            if (response.data.status == 200) {
              this.model.calculate.totalToPay = (
                parseFloat(this.model.sendAmount) +
                parseFloat(this.model.totalFee)
              ).toFixed(2)
              this.model.calculate.sendAmount = parseFloat(
                this.model.sendAmount
              ).toFixed(2)
              this.model.calculate.recipientTotal = response.data.net_amount
              this.model.calculate.exchangeRate = response.data.exchange_rate
              /* Store Country Names */
              var model = this.model
              model.sendToCountryName = $(
                '#sendToCountrySelect option:selected'
              ).text()
              model.sendFromCountryName = $(
                '#sendFromCountrySelect option:selected'
              ).text()
              this.showEstimate = true
            }
          })
      }
    },
    // save payment
    async savePaymentDetails() {
      var data = this.model
      await axios
        .post(this.$app.route('savePaymentDetails'), {
          data: this.model,
          promocode: this.promocode
        })
        .then(response => {
          if (response.data.status == 200) {
            // set transaction id and redirect url.
            this.$session.start()
            this.$session.set('t_id', response.data.t_id)
            this.$session.set('redirect', '/send/ListReceiver')

            // console.log('Session data on chooseMoney.vue file')
            // console.log(this.$session.get('t_id'))
            // console.log(this.$session.get('redirect'))
            // console.log(response.data)
            // alert('save payments !')

            this.$router.push('/send/ListReceiver')
          }
        })
    },
    parseDecimal() {
      var model = this.model
      if (model.sendAmount) {
        model.sendAmount = parseFloat(model.sendAmount).toFixed(2)
      }
    },
    changeTotaltopay() {
      this.origionalFee = null

      var model = this.model
      model.calculate.recipientTotal = model.calculate.recipientTotal
        .replace(/[, ]+/g, '')
        .trim()
      if (model.calculate.recipientTotal) {
        model.totalToPay =
          model.calculate.recipientTotal / model.calculate.exchangeRate
        model.sendAmount = parseFloat(model.totalToPay).toFixed(2)
      }
    }
  }
}
</script>