<style scope>
#chooselabel {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #333;
}
</style>
<template>
  <div>

    <div class="row">
      <div class="col-md-4">

      <span id="chooselabel">Choose Receiver's Country</span>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="search-country">

          <model-select
            class="text-getstarted"
            id="selectCountry"
            ref="selectCountry"
            :options="countryOptions"
            v-model="sendCountry"
            placeholder="United Kingdom"
          ></model-select>
        </div>
      </div>
      <div class="started-btn col-md-2">
        <b-button @click="getStarted" class="btn-get-started" size="md" variant="primary">Get Started</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select'
import axios from 'axios'

export default {
  name: 'GetStarted',
  components: {
    ModelSelect
  },
  data() {
    return {
      countryOptions: [],
      sendCountry: null,
      oldSendCountry: null
    }
  },
  created() {
    this.getCountries()
    this.getUserSendCountry()
    // this.getUserCountry()
  },
  methods: {
    getStarted() {
      var str = $(this.$el).find('#selectCountry')[0].innerText
      var countryName = str.replace(/\s+/g, '-')
      this.$emit(
        'getStarted',
        this.sendCountry,
        this.oldSendCountry,
        countryName
      )
    },
    async getCountries() {
      await axios.get(this.$app.route('api.getSendToCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    // async getUserCountry() {
    //   await axios.get(this.$app.route('getUserCountry')).then(response => {
    //     if (response.data.status == 200) {
    //       var country = response.data.country_id
    //       this.oldSendCountry = country
    //       this.countryText = country
    //     }
    //   })
    // },
    async getUserSendCountry() {
      await axios.get(this.$app.route('getUserSendCountry')).then(response => {
        if (response.data.status == 200) {
          var country = response.data.country_id
          this.oldSendCountry = country
          this.sendCountry = country
        }
      })
    }
  }
}
</script>
