<template>
  <div class="get-started-container">
    <section class="section-lg">
      <GetStarted @getStarted="getStarted"></GetStarted>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import GetStarted from './GetStarted.vue'

export default {
  name: 'Index',
  components: {
    GetStarted
  },
  methods: {
    async getStarted(country, oldCountry, countryName = '', countryId = '') {
      if (country == oldCountry) {
        this.$router.push('/en/' + countryName + '?ci=' + oldCountry)
      } else {
        await axios
          .post(this.$app.route('saveUserSendCountry'), {
            country_id: country
          })
          .then(response => {
            if (response.data.status == 200) {
              this.$router.push('/en/' + countryName + '?ci=' + country)
            }
          })
      }
    }
  }
}
</script>
