<template>
  <Header fixed>
    <SidebarToggler class="d-lg-none" display="md" mobile></SidebarToggler>
    <a class="navbar-brand" :href="$app.homePath" target="_blank">
      <!-- <img class="navbar-brand-full" src="../../../sass/vendor/tabler/brand/logo.png" height="15" alt=""> -->
      <span style="color:#fff; font-size:13px">Moeny Transfer</span>
      <img class="navbar-brand-minimized" src="../../../sass/vendor/tabler/brand/logo-symbol.png" width="15" height="15" alt="Moeny Transfer">
    </a>
    <SidebarToggler class="d-md-down-none" display="lg"></SidebarToggler>
    <b-navbar-nav class="ml-auto">


      <!-- dropdown admin messages alert -->
      <HeaderDropdown right class="px-3 d-none d-md-block" >

        <template slot="header">
          <span class="d-md-down-none" >
            <i class="fe fe-bell" style="color:red;font-weight:bold"></i>&nbsp; {{this.count}}  &nbsp;Messages
          </span>
        </template>

        <template slot="dropdown">

            <!-- loop notification -->
            <div v-for="(notify, index) in notification"  v-if="index < 5" :key="index" >

                  <!-- <b-dropdown-item @click="changestatus(notify.id)"> -->
                  <b-dropdown-item>

                      <!-- anchor link -->
                      <!-- <router-link :to="`/contact/${notify.id}/view`"> -->
                      <router-link :to="`/message/${notify.id}/view`">
                      <!-- /anchor link -->

                      <!-- anchor text -->
                      <i class="fe fe-book" style="color:red;font-weight:bold"></i>&nbsp;&nbsp;
                        {{ notify.message.slice(0, 20) }} ...
                      </router-link>
                      <!-- /anchor text -->

                  </b-dropdown-item>
            </div>
            <!-- /loop notification -->


            <div v-else-if="index === 5"
              style="padding: 10px;
              background-color: #ddd;
              text-align: center;"
              >
              <!-- <b-link to="/contact" style="color: rgb(138, 18, 208)" @click="changestatus">See All Messages</b-link> -->
              <b-link to="/message" style="color: rgb(138, 18, 208)">See All Messages</b-link>
            </div>
            <div
            style="padding: 10px;
            background-color: #fff;
            text-align: center;"
            v-if="notification === null">No Messages Found</div>
        </template>
      </HeaderDropdown>



      <!-- <HeaderDropdown right class="px-3 d-none d-md-block">
        <template slot="header">
          <span class="d-md-down-none">{{ $t('labels.language') }}</span>
        </template>
        <template slot="dropdown">
          <b-dropdown-item :key="index" v-for="(locale, index) in this.$app.locales"
                           :hreflang="index"
                           :href="`/${index}/${$app.adminPathName}${$route.fullPath}`"
          >
            {{ locale.native }}
          </b-dropdown-item>
        </template>
      </HeaderDropdown> -->



      <HeaderDropdown right class="px-3">
        <template slot="header">
          <img :src="this.$app.user.avatar" class="img-avatar" :alt="$t('labels.user.avatar')">
          <span class="d-md-down-none">
            {{ this.$app.user.name }}
          </span>
        </template>
        <template slot="dropdown">
          <b-dropdown-item :href="$app.route('user.account')">
            <i class="fe fe-user"></i>&nbsp;&nbsp;{{ $t('labels.user.profile') }}
          </b-dropdown-item>
          <b-dropdown-item :href="$app.route('admin.logout')">
            <i class="fe fe-log-out"></i>&nbsp;&nbsp;{{ $t('labels.user.logout') }}
          </b-dropdown-item>
        </template>
      </HeaderDropdown>
    </b-navbar-nav>
    <AsideToggler class="d-none d-lg-block"></AsideToggler>
  </Header>
</template>

<script>

import axios from 'axios'

export default {
  name: 'AppHeader',
  data() {
    return {
      notification: null,
      count:0,
    }
  },
  mounted () {
    Echo.channel('admin-received')
    .listen('MessageReceived', (e) => {
      console.log(e)
      if(this.notification !== null){
        this.notification.push(e.contact)
        this.count = this.notification.length
      }else{
        this.notification = e.contact
        this.count = this.notification.length
      }

    });
  },
  created () {
   this.getNotification()
  },
  methods: {

    //// // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
    // get total number of messages and display response data on top head section
    //// // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
    async getNotification () {
     // let { data } = await axios.get(this.$app.route(`admin.contact.notification`))
      let { data } = await axios.get(this.$app.route(`admin.message.notification`))

      // console response data.
      // console.dir(data);

      if(data.status == 500) {
        this.notification = null
      }else{        
        this.notification = data.response
        this.count = this.notification.length
      }
      // console.log(this.notification)
    },



  // async changestatus(id = null)
  // {
  //     if(this.notification !== null)
  //     {
  //         if(!id)
  //         {
  //
  //               // axios request
  //               // let { data } = await axios.get(this.$app.route(`admin.contact.updatenotification`))
  //               let { data } = await axios.get(this.$app.route(`admin.message.updatenotification`))
  //               this.notification = null
  //               this.count = 0
  //
  //         }else{
  //
  //               // axios request
  //               // let { data } = await axios.get(this.$app.route(`admin.contact.updatenotification`), {params:{id:id}})
  //               let { data } = await axios.get(this.$app.route(`admin.message.updatenotification`), {params:{id:id}})
  //
  //               if(data.response.original.response.length > 0){
  //                 this.notification = data.response.original.response
  //                 console.log(this.notification)
  //                 this.count = this.notification.length
  //               }else{
  //                 this.notification = null
  //                 this.count = 0
  //               }
  //
  //         }
  //     }
  //   }


  }
}
</script>
