<template>
  <div class="dashboardstyle">
    <b-row>
      <b-col xl="3" class="col0">
        Dashboard
        {{ new Date().toISOString().slice(0,10) }}
      </b-col>
      <b-col md="3" class="col1">
        <h2>Pending Transactions</h2>
        <span>{{ pendingPaymentsCount }}</span>
      </b-col>
      <b-col md="3" class="col2">
        <h2 class="color">Pending Request</h2>
        <span>{{ pendingRechargeRequestCount }}</span>
      </b-col>
      <b-col md="3" class="col3">
        <h1>New user Created</h1>
        <span>{{ newRegisteredUser }}</span>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="12" class="col0">
        &nbsp;
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="12" class="col0">
        <b-table striped hover :head-variant="headVariant" :foot-clone="footClone" :items="items"></b-table>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="12" class="col0">
        &nbsp;
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="12" class="col0">
        <table class="table striped hover" v-if="show_customer_summary_table">

         <tr style="background-color: #343a40;color: white;">
          <th>&nbsp;</th>
          <th>Week</th>
          <th>Month</th>
          <th>Year</th>
         </tr>

         <tr>
          <td style="font-weight: bold;">No. of Transactions</td>
          <td>{{ week.no_of_transactions }}</td>
          <td>{{ month.no_of_transactions }}</td>
          <td>{{ year.no_of_transactions }}</td>
         </tr>

         <tr>
         <td style="font-weight: bold;">Amount Total</td>
          <td>{{ week.amount }}</td>
          <td>{{ month.amount }}</td>
          <td>{{ year.amount }}</td>
         </tr>

       <tr style="background-color: #343a40;color: white;">
          <th>&nbsp;</th>
          <th>Week</th>
          <th>Month</th>
          <th>Year</th>
        </tr>


        </table>
      </b-col>
    </b-row>




  <!-- <button type="button" @click="tester()">Test</button> -->

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Dashboard',
  data() {
    return {
      week: null,
      month: null,
      year: null,

      show_customer_summary_table: false,

      items: null,
      headVariant:"dark",
      footClone: true,
      pendingPaymentsCount: null,
      pendingRechargeRequestCount: null,
      newRegisteredUser: null,
      post_fields: {
        title: { label: this.$t('validation.attributes.title') },
        status: { label: this.$t('validation.attributes.status') },
        pinned: { label: this.$t('validation.attributes.pinned') },
        summary: { label: this.$t('validation.attributes.summary') },
        published_at: {
          label: this.$t('validation.attributes.published_at'),
          class: 'text-center'
        }
      },
      posts: []
    }
  },
  created() {
    this.cheakstatus()
    this.pending_Recharge_Request()
    this.getNewUser()
    this.cheakstatus()
    this.stats()
  },
  methods: {
    async stats() {
      await axios
        .get(this.$app.route('admin.dashboard.stats'))
        .then(result => {
          if (result.data.status == 200) {

            this.week = result.data.week
            this.month = result.data.month
            this.year = result.data.year

            this.show_customer_summary_table = true;
            // console.dir(result.data.week)
            // console.dir(result.data.week.no_of_transactions)
            // console.dir( result.data.month)
            // console.dir( result.data.year)
          }
        })
    },
    async cheakstatus() {
      await axios
        .get(this.$app.route('admin.dashboard.cheakstatus'))
        .then(result => {
          if (result.data.status == 200) {
            this.pendingPaymentsCount = result.data.pending_transactions
            this.items = result.data.pending_transactions_;

            // console.log(typeof result.data.pending_transactions_)
            // console.dir( result.data.pending_transactions_ )

          }
        })
    },
    async pending_Recharge_Request() {
      await axios
        .get(this.$app.route('admin.dashboard.pending_Recharge_Request'))
        .then(result => {
          if (result.data.status == 200) {
            //console.log(result.data.data)
            this.pendingRechargeRequestCount = result.data.pending_recharge
          }
        })
    },
    // async tester(){
    //   //alert('hi')
    //         await axios
    //     .get(this.$app.route('admin.dashboard.tester'))
    //     .then(result => {
    //       console.log(result)
    //       if (result.data.status == 200) {
    //         //this.company_account_data = result.data.showaccount_data
    //       }
    //     })

    // },
    async getNewUser() {
      await axios
        .get(this.$app.route('admin.dashboard.getNewUser'))
        .then(result => {
          if (result.data.status == 200) {
            this.newRegisteredUser = result.data.new_Registered_user
          }
        })
    }
  },
  onContextChanged() {
    return this.$refs.datatable.refresh()
  }
}
</script>
