<template>
  <div>
    <template v-if="processingDone && showVerifyTemplate">
      <IdVerification v-if="showIdVerify"></IdVerification>
      <DocVerification v-if="showDocumentVerify"></DocVerification>
    </template>
    <template v-if="processingDone && showDashboard">
      <DashboardUser></DashboardUser>
      <!-- <GetStarted></GetStarted> -->
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import IdVerification from '../components/Verification/IdVerification'
import DocVerification from '../components/Verification/DocumentVerification'
import GetStarted from '../components/Send/Index'
import DashboardUser from '../components/Dashboard/Index'

export default {
  name: 'Dashboard',
  components: {
    IdVerification,
    DocVerification,
    DashboardUser
  },
  data() {
    return {
      processingDone: false,
      showVerifyTemplate: false,
      showDashboard: false,
      showIdVerify: false,
      showDocumentVerify: false,
      verify_status: null,
      checkuserbalance: null
    }
  },
  watch: {
    $route: 'fetchData'
  },
  created() {
    this.checkPendingTransaction()
    this.getVerifyStatus()
  },
  methods: {

    async checkPendingTransaction()
    {
this.$session.start()
// this.$session.remove('t_id')


console.log( "session " + this.$session.get('t_id') )
console.log( "session redirect " + this.$session.get('redirect')  )




      // todo: check session key exist?
      if (this.$session.exists() && this.$session.has('t_id')) {
          console.log( this.$session.get('t_id') )

            var t_id = this.$session.get('t_id')
            // todo : if yes then as ask for delete or redirect back to step.
            window.swal.fire({
              title: 'The transaction is in progress! ',
              text: "Do you want to delete the transaction?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
              allowOutsideClick: false
            }).then((result) => {
              if (result.value) {

                // Todo: remove transaction from database.
                // Todo : check if loggedIn user is having "in progress" transaction.
                axios
                .post(this.$app.route('deletePaymentDetails'), {
                  data: t_id
                })
                .then(response => {
                  if (response.data.status == 200) {
                    this.$session.remove('t_id') // remove transaction id
                    this.$session.get('redirect') // remove redirect
                    console.log("removed transaction details.")
                    // this.$router.push('/send/ListReceiver')
                  }
                })

                window.swal.fire(
                  'Deleted!',
                  'Your transaction has been deleted.',
                  'success'
                )

              } else {
                // check payment status and redirect accordingly.
                // Recipient
                this.$router.push(""+ this.$session.get('redirect') +"")
              }
            })
      }
    },
    async getVerifyStatus() {
      await axios.get(this.$app.route('userVerifyStatus')).then(response => {
        if (response.data.status == 200) {
          this.processingDone = true

          var status = response.data.verify_status
          var type = response.data.verify_type
          this.verify_status = status
          if (
            status == 'none' ||
            status == 'verify_type_selected' ||
            status == 'verify_uploaded'
          ) {
            this.showVerifyTemplate = true
            this.showIdVerify = true
          }
          if (status == 'face_uploaded' || status == 'doc_type_selected') {
            this.showVerifyTemplate = true
            this.showDocumentVerify = true
          }
          if (status == 'doc_uploaded') {
            this.checkbalance()
            this.showDashboard = true
          }
        }
      })
    },
    async getStatePaymentDetails() {
      if (this.verify_status == 'doc_uploaded') {
        var payment_details = this.$store.state.payment_details
        if (payment_details) {
          /* check krna hai balance, method */
          /* agar balance zero ho ya kam ho send amount sey, recharge reedirect*/
          /* agar balance zaida ho  toh idhr ao*/
          // this.showDashboard = true
          await axios
            .post(this.$app.route('savePaymentDetails'), {
              data: payment_details
            })
            .then(response => {
              if (response.data.status == 200) {
                localStorage.removeItem('vuex')
                this.$router.push('/send/ListReceiver')
              }
            })
        }
      }
    },
    async checkbalance() {
      await axios
        .get(this.$app.route('dashboard.checkbalance'))
        .then(result => {
          if (result.data.status == 200) {
            this.checkuserbalance = result.data.balance
            if (this.$store.state.payment_details) {
              if (
                result.data.balance >
                this.$store.state.payment_details.sendAmount
              ) {
                this.getStatePaymentDetails()
              } else {
                localStorage.removeItem('vuex')
                this.test()
              }
            }
          }
        })
    },
    async test() {
      let result = await window.swal({
        title: 'Balance is not sufficient, update balance!',
        type: 'warning',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        this.$router.push('/recharge')
      }
    }
  }
}
</script>
