<template>
  <div>
    <template>
      <SendMoney></SendMoney>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import SendMoney from '../components/Send/Index.vue'

export default {
  name: 'Home',
  components: {
    SendMoney
  },
  data() {
    return {}
  }
}
</script>
