<template>
  <div>
    <b-row>
      <b-col xl="6">
        Login
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data() {
    return {}
  }
}
</script>
