<template>
  <div>

    <h4 class="title-head">
      Balance Request
      <b-button class="pull-right" variant="link" to="/dashboard">
        <b><i class="fe fe-arrow-left"></i> Back to Dashboard</b>
      </b-button>
    </h4>
    <template v-if="showTemplate">
    <div class="container recharge-container" >
      <b-alert
        class="verify-error"
        variant="danger"
        @dismissed="showError = !showError"
        :show="showError"
        dismissible
        >{{ errorMessage }}</b-alert
      >
      <template v-for="(pending, index) in pendingrequests">
        <b-alert
          :key="index"
          class="pending-requests"
          variant="pending"
          :show="pendingrequests ? true : false"
        >
          <i class="fe fe-alert-octagon"></i>
          You have pending amount of
          <span class="amount">"{{ currency }} {{ pending.amount }}"</span> for
          approval from admin.
        </b-alert>
      </template>
      <div class="recharge-head"></div>
      <div class="container">
        <div class="recharge-content">
          <div class="row">
            <div class="payment-details-card col-md-7">
              <div class="card text-center">
                <div class="card-header">
                  <h4>
                    A N Express Ltd bank account details to transfer the funds
                    to credit into your account
                  </h4>
                </div>
                <div class="card-body">
                  <div class="payment-box">
                    <template v-if="bankAccount_details">
                      <div class="amount-box">
                        <ul>
                          <li style="text-align: left;">
                            Account Number
                            <span style="text-align: right;"
                              >{{ bankAccount_details.AccountNumber }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Sort Code
                            <span style="text-align: right;"
                              >{{ bankAccount_details.SortCode }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Account Name
                            <span style="text-align: right;"
                              >{{ bankAccount_details.AccountName }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Bank Address
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BankNameAddress }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Beneficiary Address
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BeneficiaryAddress }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            BIC Swift Number
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BICSwiftNumber }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            IBAN
                            <span style="text-align: right;"
                              >{{ bankAccount_details.IBAN }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <!-- <h6>Upload Reciept Image:</h6> -->
              <h6>Upload Reciept Image: <span v-if="(!model.image || model.image.length == 0)" class="req">*</span></h6>
              <UploadTransaction
                @fileChanged="UploadFileChanged"
              ></UploadTransaction>
            </div>
          </div>
          <div class="row" style="padding-top: 70px">
            <div class="col-md-6">
              <div class="row"></div>
              <div class="recharge-amount row">
                <h6>Amount: <span v-if="!model.amount" class="req">*</span></h6>
                <b-form-group>
                  <b-form-input
                    v-model="model.amount"
                    placeholder="Transaction Amount"
                    @keypress="isNumber($event)"
                    maxlength="8"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="row">
                <h6>
                  Transaction Details:
                  <span v-if="!model.transaction_details" class="req">*</span>
                </h6>
                <b-form-textarea
                  rows="9"
                  v-model="model.transaction_details"
                  :placeholder="'Send To \nReference No. (if any)'"
                ></b-form-textarea>
                <!-- <b-form-textarea rows="9" v-model="model.transaction_details" :placeholder="'Reference No.  if any'"></b-form-textarea> -->
              </div>
            </div>
          </div>
        </div>
        <div class="recharge-footer">
          <div class="row">
            <div class="text-center col-md-12">
              <b-button @click="submit" class="btn-submit" variant="success"
                >Update</b-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    </template>


    <template v-if="showSuccessRequest">
      <div class="recharge-container container">
        <div class="row">
          <div class="transaction-successful">
            <div class="step-head">
              <h2>Recharge Request Successful !!!</h2>
            </div>
            <div class="step-body">
              <p>Your Recharge Request is successfully submitted.</p>
            </div>
          </div>
        </div>
      </div>
    </template>

<template>
  <div class="vld-parent">
      <loading :active.sync="isLoading"
      :is-full-page="fullPage"></loading>
  </div>
</template>


  </div>
</template>
<script>
import axios from 'axios'
import UploadTransaction from '../components/Recharge/UploadTransaction'
import SuccessRequest from '../components/Recharge/SuccessRequest'

// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'Recharge',
  components: {
    UploadTransaction,
    Loading
  },
  data() {
    return {
      isLoading: false,
      fullPage: true,

      showError: false,
      errorMessage: null,
      countryOptions: null,
      pendingrequests: null,
      bankAccount_details: null,
      currency: null,
      file: [],
      submitDisable: true,
      showTemplate: true,
      showSuccessRequest: false,
      model: {
        amount: null,
        transaction_details: null,
        image: null
      }
    }
  },
  watch: {
    'model.transaction_details': function(val) {
      if (val) {
        this.showError = false
      }
    },
    'model.image': function(val) {
      if (val) {
        this.showError = false
      }
    }
  },
  created() {
    this.getCountries()
    this.getRequestRecharge()
    this.BankAccountDetails()
  },
  methods: {

    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },

    submit() {
      var model = this.model
      if (!model.transaction_details || !model.amount ) {
        this.showError = true
        this.errorMessage = 'Please Enter Required Fields'

        window.swal({
          title: 'Please Enter Required Fields',
          type: 'warning',
          html: '<ol> <li>Amount</li> <li>Transaction Details</li> <li>Upload Reciept Image</li> </ol>',
        })

        return false
      } else {
        this.saveRechargeBalance()
      }
    },
    UploadFileChanged($data) {
      var data = $data
      var model = this.model
      if (data.transaction_image) {
        if (data.transaction_image.length > 0) {
          model.image = data.transaction_image
        }
      } else {
        model.image = null
      }
    },
    async getCountries() {

      this.isLoading = true;

      await axios.get(this.$app.route('api.getCountries')).then(response => {
        if (response.status == 200) {
          this.countryOptions = response.data
          this.isLoading = false;
        } else {
          this.isLoading = false;
        }
      })
    },



    async saveRechargeBalance() {


      this.isLoading = true;

      var model = this.model

      /*
      if( model.image == null )
      {


      window.swal({
        title: 'Reciept Image Required',
        type: 'warning',
        text: 'Please Upload Valid Reciept Image. \n Note: Maximum File Size is 8MB and Supported JPG or PNG format only',
      })

       this.isLoading = false;

        return false;
      }
      */


      let action = this.$app.route('rechargeRequest')
      let formData = this.$app.objectToFormData(model)
      await axios.post(action, formData).then(response => {
        if (response.data.status == 200) {

          this.isLoading = false;

          this.showTemplate = false // hide main template
          this.showSuccessRequest = true // show success template here.
          setInterval(function(){
                window.location.reload()
          }, 3000);



        } else {

            this.isLoading = false;
        }
      })
    },

    async getRequestRecharge() {

    this.isLoading = true;
      await axios
        .get(this.$app.route('user.getUserRequestRecharge'), {})
        .then(response => {
          if (response.data.status == 200) {
            this.pendingrequests = response.data.requested_balance
            this.currency = response.data.currency
            this.isLoading = false;
          } else {
            this.isLoading = false;
          }
        }).catch(error => {

           this.isLoading = false;
        })
    },
    async BankAccountDetails() {
      this.isLoading = true;
      await axios
        .get(this.$app.route('recharge.BankAccountDetails'))
        .then(result => {
          this.isLoading = false;
          if (result.data.status == 200) {
            this.isLoading = false;
            this.bankAccount_details = result.data.accountDetails_Data
          }
        }).catch(error => {

           this.isLoading = false;
        })
    }
  }
}
</script>
