<template>
  <div>
    <h4 class="title-head">
      Balance Request
      <b-button class="pull-right" variant="link" to="/dashboard">
        <b><i class="fe fe-arrow-left"></i> Back to Dashboard</b>
      </b-button>
    </h4>
    <div class="container recharge-container">
      <b-alert
        class="verify-error"
        variant="danger"
        @dismissed="showError = !showError"
        :show="showError"
        dismissible
        >{{ errorMessage }}</b-alert
      >
      <template v-for="(pending, index) in pendingrequests">
        <b-alert
          :key="index"
          class="pending-requests"
          variant="pending"
          :show="pendingrequests ? true : false"
        >
          <i class="fe fe-alert-octagon"></i>
          You have pending amount of
          <span class="amount">"{{ currency }} {{ pending.amount }}"</span> for
          approval from admin.
        </b-alert>
      </template>
      <div class="recharge-head"></div>
      <div class="container">
        <div class="recharge-content">
          <div class="row">
            <div class="payment-details-card col-md-7">
              <div class="card text-center">
                <div class="card-header">
                  <h4>Company Bank Details</h4>
                </div>
                <div class="card-body">
                  <div class="payment-box">
                    <template v-if="bankAccount_details">
                      <div class="amount-box">
                        <ul>
                          <li style="text-align: left;">
                            Account Number
                            <span style="text-align: right;"
                              >{{ bankAccount_details.AccountNumber }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Account Name
                            <span style="text-align: right;"
                              >{{ bankAccount_details.AccountName }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Bank Address
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BankNameAddress }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            Beneficiary Address
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BeneficiaryAddress }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            BIC Swift Number
                            <span style="text-align: right;"
                              >{{ bankAccount_details.BICSwiftNumber }}
                            </span>
                          </li>
                          <li style="text-align: left;">
                            IBAN
                            <span style="text-align: right;"
                              >{{ bankAccount_details.IBAN }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <h6>
                Upload Reciept Image:
                <span v-if="!model.image || model.image.length == 0" class="req"
                  >*</span
                >
              </h6>
              <UploadTransaction
                @fileChanged="UploadFileChanged"
              ></UploadTransaction>
            </div>
          </div>
          <div class="row" style="padding-top: 70px">
            <div class="col-md-6">
              <div class="row"></div>
              <div class="recharge-amount row">
                <h6>Amount: <span v-if="!model.amount" class="req">*</span></h6>
                <b-form-group>
                  <b-form-input
                    v-model="model.amount"
                    placeholder="Transaction Amount"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="row">
                <h6>
                  Transaction Details:
                  <span v-if="!model.transaction_details" class="req">*</span>
                </h6>
                <b-form-textarea
                  rows="9"
                  v-model="model.transaction_details"
                  :placeholder="'Send To \nTransaction Number'"
                ></b-form-textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="recharge-footer">
          <div class="row">
            <div class="text-center col-md-12">
              <b-button @click="submit" class="btn-submit" variant="success"
                >Update</b-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import UploadTransaction from '../components/Recharge/UploadTransaction'
import SuccessRequest from '../components/Recharge/SuccessRequest'

export default {
  name: 'Recharge',
  components: {
    UploadTransaction
  },
  data() {
    return {
      showError: false,
      errorMessage: null,
      countryOptions: null,
      pendingrequests: null,
      bankAccount_details: null,
      currency: null,
      file: [],
      submitDisable: true,
      showTemplate: true,
      showSuccessRequest: false,
      model: {
        amount: null,
        transaction_details: null,
        image: null
      }
    }
  },
  watch: {
    'model.transaction_details': function(val) {
      if (val) {
        this.showError = false
      }
    },
    'model.image': function(val) {
      if (val) {
        this.showError = false
      }
    }
  },
  created() {
    this.getCountries()
    this.getRequestRecharge()
    this.BankAccountDetails()
  },
  methods: {
    submit() {
      var model = this.model
      if (!model.transaction_details || !model.image) {
        this.showError = true
        this.errorMessage = 'Please Enter Required Fields'
        return false
      } else {
        this.saveRechargeBalance()
      }
    },
    UploadFileChanged($data) {
      var data = $data
      var model = this.model
      if (data.transaction_image) {
        if (data.transaction_image.length > 0) {
          model.image = data.transaction_image
        }
      } else {
        model.image = null
      }
    },
    async getCountries() {
      await axios.get(this.$app.route('api.getCountries')).then(response => {
        if (response.status == 200) {
          this.countryOptions = response.data
        }
      })
    },
    async saveRechargeBalance() {
      var model = this.model
      let action = this.$app.route('rechargeRequest')
      let formData = this.$app.objectToFormData(model)
      await axios.post(action, formData).then(response => {
        if (response.data.status == 200) {
          window.location.reload()
        } else {
        }
      })
    },
    async getRequestRecharge() {
      await axios
        .get(this.$app.route('user.getUserRequestRecharge'), {})
        .then(response => {
          if (response.data.status == 200) {
            this.pendingrequests = response.data.requested_balance
            this.currency = response.data.currency
          }
        })
    },
    async BankAccountDetails() {
      await axios
        .get(this.$app.route('recharge.BankAccountDetails'))
        .then(result => {
          if (result.data.status == 200) {
            this.bankAccount_details = result.data.accountDetails_Data
          }
        })
    }
  }
}
</script>
