<template>
  <div>
    <div id="not-print">
      <h4 class="title-head">
        Send Money History
        <b-button class="pull-right" variant="link" to="/dashboard">
          <b>
            <i class="fe fe-arrow-left"></i> Back to Dashboard
          </b>
        </b-button>
      </h4>
      <div class="container-fluid" v-if="!showPrint">
        <b-datatable
          ref="datasource"
          @context-changed="onContextChanged"
          search-route="payments.search"
          :length-change="false"
          :paging="true"
          :infos="true"
          :search="true"
          :export-data="false"
          class="payments-table table-responsive mob-screen"
        >
          <b-table
            ref="datatable"
            striped
            bordered
            show-empty
            small
            hover
            stacked="md"
            no-local-sorting
            :empty-text="$t('labels.datatables.no_results')"
            :empty-filtered-text="$t('labels.datatables.no_matched_results')"
            :fields="fields"
            :items="dataLoadProvider"
            sort-by="payments.created_at"
            :sort-desc="false"
            class
          >
            <template
              slot="sendToCountry"
              slot-scope="row"
            >{{ formatSendToCountry(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="sendFromCountry"
              slot-scope="row"
            >{{ formatSendFromCountry(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="sendToRecipient"
              slot-scope="row"
            >{{ getRecipientName(row.item.id, row.item.recipient) }}</template>
            <template
              slot="serviceType"
              slot-scope="row"
            >{{ formatServiceType(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="sendAmount"
              slot-scope="row"
            >{{ formatSendAmount(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="totalFee"
              slot-scope="row"
            >{{ formatFeeAmount(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="totalToPay"
              slot-scope="row"
            >{{ formatTotalAmount(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="recipientTotal"
              slot-scope="row"
            >{{ formatRecipientTotal(row.item.id, row.item.payment_details) }}</template>
            <template
              slot="exchangeRate"
              slot-scope="row"
            >{{ formatExchangeRate(row.item.id, row.item.payment_details) }}</template>
            <template slot="approve_status" slot-scope="row">
              <span class="status-tag pending" v-if="row.item.approve_status == 'pending'">Pending</span>
              <span
                class="status-tag approved"
                v-if="row.item.approve_status == 'approved'"
              >Approved</span>
              <span
                class="status-tag rejected"
                v-if="row.item.approve_status == 'rejected'"
              >Rejected</span>
            </template>
            <template slot="actions" slot-scope="row">
              <b-button
                v-if="row.item.id"
                size="sm"
                variant="primary"
                @click.stop="onPrint(row.item, row.item.id)"
              >
                Print
                <i class="fe fe-printer"></i>
              </b-button>
            </template>
          </b-table>
        </b-datatable>
      </div>
      <template v-if="printData && showPrint">
        <div class="btn pull-right btn-link">
          <span>
            <button @click="backtoList">
              <b>
                <i class="fe fe-arrow-left"></i> Back to List
              </b>
            </button>
          </span>
          <span>
            <button @click="printDiv('print-history')">
              <b>
                <i class="fe fe-printer"></i> Print Receipt
              </b>
            </button>
          </span>
        </div>

        <div id="print-history" class="border">
          <table width="100%" border="0" style="border:0px" id="transationTable">
            <tr style="background:#fff">
              <td style="border:none;">
                <img src="http://web.anexpress.com/wp-content/uploads/2019/03/ANLogo.png" />
              </td>
              <td valign="top" style="border:none">
                <b>Our Address</b>
                208A Whitechapel Rd, Whitechapel, London E1 1BJ
              </td>
            </tr>
            <tr style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc">
              <td colspan="2" style="border:none">
                <h5 style="display:inline;">e-Receipt</h5>
                <br />
                <b>Transaction # {{ printData.transaction_id }}</b>
              </td>
            </tr>
            <tr
              valign="top"
              style="background:#fff;border:none;border-bottom: 1px solid #ccc"
              v-if="printData.user"
            >
              <td width="50" style="border:none">
                <h3>Sender Details</h3>
                <p class="data-receipt" v-if="printData.user">
                  <b>Name:</b>
                  {{ printData.user.first_name }}
                  {{ printData.user.last_name }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Email:</b>
                  {{ printData.user.email }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Address:</b>
                  {{ printData.user.address_1 }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Country:</b>
                  {{ printData.user.country.country }}
                </p>
              </td>
              <td width="50%" height="200" style="border:none" v-if="printData.recipient">
                <h3>Recipient Details</h3>
                <p class="data-receipt">
                  <b class="sender-text">Name:</b>
                  {{ printData.recipient.first_name }}
                  {{ printData.recipient.last_name }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Email:</b>
                  {{ printData.recipient.email }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Address:</b>
                  {{ printData.recipient.address_1 }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Country:</b>
                  {{ printData.recipient.getcountry.country }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Postal Code:</b>
                  {{ printData.recipient.postal_code }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Recipient Relation:</b>
                  {{ printData.recipient.recipient_relation }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Sending reason:</b>
                  {{ printData.recipient.sending_reason }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Source of income:</b>
                  {{ printData.recipient.source_of_income }}
                </p>
              </td>
              <td v-else>No Receipt Found.</td>
            </tr>
            <tr valign="top" style="background:#fff;border:none;border-bottom: 1px solid #ccc">
              <td width="50" style="border:none">
                <h3>Transaction Details</h3>
                <p class="data-receipt">
                  <b class="sender-text" style>Created:</b>
                  {{ printData.created_at }}
                </p>

                <p class="data-receipt">
                  <b class="sender-text" style>Local Amount sent:</b>
                  {{ printData.payment_details.sendAmount }}
                  {{ printData.payment_details.sendCurrency }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Fee charged:</b>
                  {{ printData.payment_details.totalFee }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Total Paid:</b>
                  {{ printData.payment_details.calculate.totalToPay }}
                </p>
                <p class="data-receipt" v-if="printData.recipient">
                  <b class="sender-text">Payment Branch Address:</b>
                  {{ printData.recipient.bank_branch.Branch_Name }},
                  <br />
                  {{ printData.recipient.bank_branch.Branch_Address }},
                  <br />
                  {{ printData.recipient.bank_branch.Branch_City }},
                  {{ printData.recipient.bank_branch.Country }},
                  {{ printData.recipient.getcountry.country }}
                </p>
                <p class="data-receipt" v-if="printData.recipient">
                  <b class="sender-text">Paying Instructions:</b>
                  ACC-{{
                  printData.recipient.account_number
                  }}
                </p>
                <p class="data-receipt" v-if="printData.recipient">
                  <b class="sender-text">Bank:</b>
                  {{ bankName_ }}
                </p>
              </td>

              <td width="50%" height="200" style="border:none">
                <h3>&nbsp;</h3>
                <p class="data-receipt">
                  <b class="sender-text">Foreign Amount:</b>
                  {{ printData.payment_details.calculate.recipientTotal }}
                  {{ printData.payment_details.getCurrency }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Exchange Rate:</b>
                  {{ printData.payment_details.calculate.exchangeRate }}
                </p>
                <p class="data-receipt">
                  <b class="sender-text">SMS Receipt:</b> N
                </p>
                <p class="data-receipt">
                  <b class="sender-text">Extra Notes:</b>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="border:none">
                <p>By placing this transaction you confirmed that you have read, understood and accepted terms of A N Express Ltd. (I hereby declare that the money paid to you by me was or is not derived or obtained by me by any illegal means or transactions). You also confirm that all the details above are correct best of your knowledge and A N Express Ltd. will not take any responsibility and liability for any spelling mistakes, typing errors and delay may caused by beneficiary bank.</p>
              </td>
            </tr>
          </table>
        </div>
      </template>
    </div>
    <!-- **************** PRINT DIV **************** -->
    <div id="to-print" style="display:none;"></div>

    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'SendHistory',
  components: {},
  data() {
    return {
      printData: [],
      showPrint: false,
      showLoader: false,
      myData: null,
      bankName_: null,
      fields: [
        {
          key: 'transaction_id',
          label: 'Transaction ID'
        },
        {
          key: 'created_at',
          label: 'Dated'
        },
        {
          key: 'sendFromCountry',
          label: 'Send from'
        },
        {
          key: 'sendToCountry',
          label: 'Send to'
        },
        {
          key: 'sendToRecipient',
          label: 'Recipient'
        },
        {
          key: 'serviceType',
          label: 'Service type'
        },
        {
          key: 'sendAmount',
          label: 'Sending amount'
        },
        {
          key: 'totalFee',
          label: 'Fee'
        },
        {
          key: 'totalToPay',
          label: 'Total to pay'
        },
        {
          key: 'recipientTotal',
          label: 'Recipient gets'
        },
        {
          key: 'exchangeRate',
          label: 'Exchange rate'
        },
        {
          key: 'approve_status',
          label: 'Status'
        },
        {
          key: 'actions',
          label: 'Actions'
        }
      ]
    }
  },
  watch: {},
  created() {},
  methods: {
    async getBankName(bank_id) {
      this.showLoader = true
      await axios
        .post(this.$app.route('user.getBankName'), {
          bankId: bank_id
        })
        .then(response => {
          if (response.data.status == 200) {
            this.showLoader = false
            this.bankName_ = response.data.bank.Bank_Name
          } else {
            this.showLoader = false
            this.bankName_ = ''
          }
        })
        .catch(error => {
          console.log('Error' + error)
          this.bankName_ = ''
        })
    },
    formatSendFromCountry(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var sendFromCountryName = json.sendFromCountryName
      return json.sendFromCountryName
    },
    formatSendToCountry(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var sendToCountryName = json.sendToCountryName
      return json.sendToCountryName
    },
    formatSendAmount(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var sendAmount = json.sendCurrency + ' ' + json.calculate.sendAmount
      return sendAmount
    },
    formatFeeAmount(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var feeAmount = json.sendCurrency + ' ' + json.calculate.totalFee
      return feeAmount
    },
    formatTotalAmount(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var totalAmount = json.sendCurrency + ' ' + json.calculate.totalToPay
      return totalAmount
    },
    formatRecipientTotal(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var recipientTotal =
        json.getCurrency + ' ' + json.calculate.recipientTotal
      return recipientTotal
    },
    formatServiceType(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var serviceType = json.serviceType
      serviceType = serviceType.replace(/[_-]/g, ' ')
      return serviceType
    },
    formatExchangeRate(id, val) {
      var json = val
      if (typeof val == 'string') {
        json = JSON.parse(val)
      }
      var exchangeRate =
        '1' +
        json.sendCurrency +
        ' = ' +
        json.getCurrency +
        ' ' +
        json.calculate.exchangeRate
      // this.historyData[id]['exchangeRate'] = exchangeRate
      return exchangeRate
    },
    getRecipientName(id, val) {
      // console.log( id +" <-> " + val )

      if (val != null) {
        var firstName = val.first_name ? val.first_name : ''
        var middleName = val.middle_name ? val.middle_name : ' '
        var lastName = val.last_name ? val.last_name : ''
        var recipientName = firstName + ' ' + middleName + ' ' + lastName
        return recipientName
      }
      return 'recipientName'
    },
    dataLoadProvider(ctx) {
      // console.log(this.$refs.datasource)
      var data = this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
      if (data) {
        this.pendingGif = false
        return data
      }
      // return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onPrint(data, id) {
      if (data.recipient != null) {
        this.bankName_ = this.getBankName(data.recipient.bank)
      }
      this.printData = data
      var details = this.printData['payment_details']
      if (typeof details == 'string') {
        this.printData['payment_details'] = JSON.parse(details)
      }
      this.showPrint = true
    },
    backtoList() {
      this.showPrint = false
    },
    printDiv(div) {
      setTimeout(() => {
        var printContents = document.getElementById(div)
        var printDiv = document.getElementById('to-print')
        printDiv.innerHTML = printContents.innerHTML
        window.print()
      }, 1000)
    }
  }
}
</script>
<style scope>
/*
#transationTable td {
   padding: 10px;
}
*/
.payments-table table tr {
  font-size: 10px;
}
.payments-table table th {
  background: none;
  font-size: 10px;
  background-color: #fff;
}
</style>

<style scoped>
/*
#transationTable td {
   padding: 10px;
}
*/
.payments-table table tr {
  font-size: 10px;
}
.payments-table table th {
  background: none;
  font-size: 10px;
  background-color: #fff;
}
</style>