<template>
  <div class="select-payment-container" style="padding: 100px;">
    <div class="contact-us-wrap">
      <div class="container">

    <b-card>
      <template slot="header">
        <h3 class="card-title">Received Messages</h3>
      </template>
      <b-datatable ref="datasource"
                   @context-changed="onContextChanged"
                   search-route="message.received"
                   :selected.sync="selected"
      >
        <b-table ref="datatable"
                 striped
                 bordered
                 show-empty
                 stacked="md"
                 no-local-sorting
                 :empty-text="$t('labels.datatables.no_results')"
                 :empty-filtered-text="$t('labels.datatables.no_matched_results')"
                 :fields="fields"
                 :items="dataLoadProvider"
        > 
          <template slot="email" slot-scope="row">
            <span v-text="row.item.email"></span>
          </template>
          <template slot="phone" slot-scope="row">
            <span v-text="row.item.phone"></span>
          </template>
          <template slot="company" slot-scope="row">
            <span v-text="row.item.company"></span>
          </template>
          <template slot="message" slot-scope="row">
            <span v-text="row.item.message"></span>
          </template>
          <template slot="name" slot-scope="row" getdata>
            <router-link :to="`/messages/${row.item.id}/view?req=1`" v-text="row.item.name"></router-link>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
    </div>
    </div>
  </div>
</template>

    <script>
    import axios from 'axios'
    export default {
      name: 'MessageHistory',
      data() {
        return {
          selected: [],
          fields: [
            {
              key: 'name',
              label: this.$t('validation.attributes.send_from'),
              sortable: true
            },
            {
              key: 'email',
              label: this.$t('validation.attributes.email'),
              sortable: true
            },
            {
              key: 'phone',
              label: this.$t('validation.attributes.phone'),
              sortable: true
            },
            {
              key: 'company',
              label: this.$t('validation.attributes.company'),
              sortable: true
            },
            {
              key: 'message',
              label: this.$t('validation.attributes.message')
            }
          ]
        }
      },
      methods: {
        getdata(data) {
          console.log(data)
        },
        dataLoadProvider(ctx) {
          let data = this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
          
          return data
        },
        onContextChanged() {
          return this.$refs.datatable.refresh()
        },
        onDelete(id) {
          this.$refs.datasource.deleteRow({ bank: id })
        }
      }
    }
    </script>
