<template>
  <div>
    <div class="contains-both">
      <button class="btn btn-default" @click="status('sent')">Check Sent Messaages</button>
      <button class="btn btn-default" @click="status('received')">Check Received Messages</button>
      <b-button to="/CustomerSendMessage" variant="primary">Send Message</b-button>

      <!-- <b-button to="/contactus" variant="primary">Send Message</b-button> -->

      <!-- Passing data to Component -->
      <Messages v-if="showSelectMethod"></Messages>
      <MessagesReceived v-if="!showSelectMethod"></MessagesReceived>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Messages from './Messages'
import MessagesReceived from './MessagesReceived'

export default {
  name: 'Message',
  components: {
    Messages,
    MessagesReceived
  },
  data() {
    return {
      showSelectMethod: true,
      exportData: false
    }
  },
  methods: {
    status(val) {
      if (val === 'sent') {
        this.showSelectMethod = true
      } else {
        this.showSelectMethod = false
      }
    }
  }
}
</script>
