<template>
<div class="recharge-container container">
  <div class="recharge-head">
    <h3>Message Details</h3>
  </div>
  <div class="recharge-content">
    <div class="row">
      <b-row class="">
        <b-col xl="10">
          <b-card>
            <template>
              <b-form-group
                :label="$t('validation.attributes.name')"
                label-for="name"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9">{{ model.name }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.email')"
                label-for="email"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9">{{ model.email }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.phone')"
                label-for="phone"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9">{{ model.phone }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.company')"
                label-for="company"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9">{{ model.company }}</span>
              </b-form-group>
            </template>
            <template> 
              <b-form-group
                :label="$t('validation.attributes.message')"
                label-for="message"
                horizontal
                :label-cols="3"
              >
                <span :label-cols="9">{{ model.message }}</span>
              </b-form-group>
            </template>
             
            <b-row id="hideback" slot="footer">
              <b-col md>
                <b-button to="/messages" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
  </div>
  </div>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
export default {
  name: 'ShowSentMessages',
  mixins: [form],
  data() {
    return {
      // roles: [],
      // current_role: null,
      modelName: 'message',
      resourceRoute: 'sentmessages',
      listPath: '/',
      fields: [
        { key: 'name', label: 'Name' },
        { key: 'email', label: 'Email' },
        { key: 'phone', label: 'Phone' },
        { key: 'company', label: 'Company' },
        { key: 'message', label: 'Message' }
      ],
      model: {
        name: null,
        email: null,
        phone: null,
        company: null,
        message: null
      }
    }
  },
  async created() {},
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    }
  }
}
</script>
