</style>
<template>
  <div class="container">
    <div class="col-12 col-md-12">
      <h1>Points</h1>
      <div class="card">        
        <div class="card-body">
          <p>Your Points : <b>{{ totalPoints }}</b></p>
          <p>Note: 1 Point = 0.001 GBP</p>          
          <p class="card-text">
            <form @submit.prevent="handleSubmit">
              Redeem Points : <input type="number" v-model="deductPoint" placeholder="Enter Points." min="0" id="deductPoint">
              <input type="submit" value="Convert">
            </form>
          </p>          
          <p style="font-size: 10px;position: absolute;top: 161px;left: 121px;">Your Remaining Points : <b>{{ deductResult }}</b> </p>
        </div>
      </div>

    </div>
    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'Points',
  components: {},
  data() {
    return {
      // points
      totalPoints: 0,
      deductPoint: 0,
      deductResult: 0,

      // balance
      userBalance: 0,
      deductBalance: 0,
      showLoader: false,
    }
  },
  watch: {
    deductPoint: function(val) {
      if(val > 0 ){
        this.deductResult = this.totalPoints - val
      }
    }
  },
  created() {
    this.getUserBalance()
    this.getTotalPoints()
  },
  methods: {
    handleSubmit() {
      this.updateUserPoints()
    },

    async getUserBalance() {
      this.showLoader = true
      await axios
        .get(this.$app.route('getUserBalance'))
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.userBalance = response.data.balance

            // console.log("Before replace userblance :"  + this.userBalance);
            var priceNum = parseFloat(this.userBalance.replace(/£/g, ""));

            // console.log("After Replace userblance :"  + console.log());
            this.userBalance = priceNum

          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },

    async getTotalPoints() {
      this.showLoader = true
      await axios
        .get(this.$app.route('user.getTotalPoints'))
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.totalPoints = response.data.total_points
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },

// --------------------
    // update user points.
    async updateUserPoints() {
      this.showLoader = true
      await axios
        .get(this.$app.route('user.updateUserPoints'), {
          params: {
            points: this.deductPoint
          }
        })
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {


            // reset totalpoints input
            this.totalPoints = 0

            window.swal.fire(
              'Points!',
              'Successfully Updated Points!',
              'success'
            )
            // this.totalPoints = response.data.total_points
            console.log(response)

            this.totalPoints = this.totalPoints - this.deductPoint

          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)

          window.swal.fire(
              'Points!',
              'Something went wrong!',
              'success'
          )
        })
    }

  }
}
</script>
