<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="upload-section">
          <b-alert class="verify-error" @dismissed="showError = !showError" :show="showError" dismissible>{{ ErrorMessage }}</b-alert>
          <h3>Upload Bill Image</h3>
          <div class="row">
            <div class="col-md-5">
              <vueDropzone
                ref="myVueDropzone"
                @vdropzone-success="filesAdded"
                @vdropzone-removed-file="fileRemoved"
                id="dropzone"
                v-model="model.bill_image"
                :options="dropzoneOptions"
              >
              </vueDropzone>
            </div>
            <div class="col-md-5">
              <div class="upload-again">
                <b-button @click="uploadFile" class="btn-green btn-upload">Choose File</b-button>
              </div>
              <div class="confirm-upload">
                <!-- <b-button :disabled="!fileInProgress" @click="confirmUpload" class="btn-green">Confirm</b-button> -->
              </div>
              <div class="instruction">
                <small>Maximum File Size is 8MB. <br> JPG or PNG format only</small>
              </div>
            </div>
          </div>
          <div class="row mt-10 pt-10">
            <div class="col-md-6">
              <b-form-group label="Issuing Authority:">
                <b-form-input ref="issuing" v-model="model.issuing_authority"></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group label="Issue Date:">
                <b-form-input ref="expirydate" type="date" v-model="model.expiry_date"></b-form-input>
              </b-form-group>
            </div>
          </div>
          <div class="row mt-10 pt-10">
            <div class="col-md-12 text-center">
              <div class="submit-button">
                <b-button variant="green" @click="confirmUpload" class="btn-green btn-submit">Submit</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import moment from 'moment'

export default {
  name: 'UploadBill',
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      fileInProgress: false,
      showError: false,
      ErrorMessage: 'Something Went Wrong! Please Try Again',
      model: {
        bill_image: [],
        type: 'bill',
        issuing_authority: null,
        expiry_date: null
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
        acceptedFiles: 'image/jpg,image/png, image/jpeg',
        dictDefaultMessage: 'Drop Images here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      }
    }
  },
  watch: {
    fileInProgress: function(val) {
      if (val) {
        $('#dropzone').css('pointer-events', 'none')
        $('#dropzone .dz-preview').css('pointer-events', 'auto')
      } else {
        $('#dropzone').css('pointer-events', 'auto')
      }
    },
    'model.bill_image': function(val) {
      if (val) {
        if (val.length > 0) {
          this.fileInProgress = true
        } else {
          this.fileInProgress = false
        }
      }
    }
  },
  methods: {
    uploadFile() {
      this.model.bill_image = []
      this.$refs.myVueDropzone.removeAllFiles(true)
      $('#dropzone').click()
    },
    async confirmUpload() {
      let validate = this.checkValidation()
      if (validate === false) {
        return false
      }
      var model = this.model
      let action = this.$app.route(`uploadDocFile`)
      let formData = this.$app.objectToFormData(model)
      // formData.append('_method', 'PATCH')
      await axios.post(action, formData).then(response => {
        if (response.data.status == 200) {
          this.$emit('confirmUpload', model)
          this.showError = false
        } else {
          this.showError = true
        }
      })
    },
    filesAdded(file, response) {
      var model = this.model
      if (file) {
        model.bill_image.push(file)
      }
    },
    fileRemoved(file) {
      var workorderImg = this.model.bill_image
      var IndexToRemove = workorderImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.bill_image.splice(IndexToRemove, 1)
      }
    },
    checkValidation() {
      var model = this.model
      var expiry = moment([model.expiry_date])
      var current = moment([new Date().toISOString().slice(0, 10)])
      var diffbtwexpirycurrent = current.diff(expiry, 'days')

      if (model.bill_image.length == 0) {
        this.ErrorMessage = 'Please upload image'
        this.showError = true
        return false
      }
      if (!model.issuing_authority) {
        this.$refs.issuing.$refs.input.focus()
        this.ErrorMessage = 'Please enter Issuing Authority'
        this.showError = true
        return false
      }
      if (!model.expiry_date) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please select Expiry Date'
        this.showError = true
        return false
      }
      if (diffbtwexpirycurrent > 365) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please Enter Valid Expiry Date of Documents'
        this.showError = true
        return false
      }
    }
  }
}
</script>
