<template>
  <div class="select-type">
    <h4>Address Verification</h4>
    <div class="form-inline">
      <label for="selectType"><b>Document</b></label>
      <b-form-select size="lg" autofocus ref="documentType" v-model="documentType" :options="options" class="mb-3"></b-form-select>
      <b-button variant="success" @click="upload">Upload</b-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'SelectType',
  props: {},
  data() {
    return {
      documentType: null,
      options: [
        { value: null, text: 'Please select' },
        { value: 'bank_statement', text: 'Bank Statement' },
        { value: 'utility_bill', text: 'Utility Bill' }
      ]
    }
  },
  methods: {
    async upload() {
      if (this.documentType) {
        await axios
          .post(this.$app.route('docTypeSelected'), {
            type: this.documentType
          })
          .then(response => {
            if (response.data.status == 200) {
              this.$emit('selectType', this.documentType)
            }
          })
      } else {
        this.$refs.documentType.$refs.input.focus()
      }
    }
  }
}
</script>
