<template>
  <div class="start-doc-verify">
    <h3>Start Document Verification</h3>
    <b-alert show variant="danger">To being this verification you will need your utility bill</b-alert>
    <div class="desc">
      <p>Please proceed by clicking the button below.</p>
    </div>
    <div>
      <b-button @click="startVerify" class="btn-green">Start ID Verification</b-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'BillUpload',
  props: {},
  data() {
    return {
      documentType: null
    }
  },
  methods: {
    startVerify() {
      console.log('Start Verification')
    }
  }
}
</script>
