<template>
  <div class="upload-successful">
    <div class="step-head">
      <h2>Upload Successful!!</h2>
    </div>
    <div class="step-body">
      <p>Thanks for uploading your documents. We will contact you again as soon as it has been processed.</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'UploadSuccessful',
  data() {
    return {}
  },
  mounted() {
    setTimeout(function() {
      window.location.reload()
    }, 3000)
  },
  methods: {}
}
</script>
