<template>
  <div>
    <b-card>
      <template slot="header">
        <h3 class="card-title">{{ $t('labels.backend.banks.titles.index') }}</h3>
        <div class="card-options" v-if="this.$app.user.can('create customer')">
          <b-button to="/banks/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i>
            {{ $t('buttons.banks.create') }}
          </b-button>
        </div>
      </template>
      <b-datatable
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.banks.search"
        delete-route="admin.banks.destroy"
        action-route="admin.banks.batch_action"
        :actions="actions"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          bordered
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox :value="row.item.Bank_ID" v-model="selected"></b-form-checkbox>
          </template>
          <template slot="Bank_Name" slot-scope="row">
            <router-link
              v-if="row.item.can_edit"
              :to="`/banks/${row.item.Bank_ID}/edit`"
              v-text="row.value"
            ></router-link>
            <span v-else v-text="row.value"></span>
          </template>
          <template slot="Bank_Code" slot-scope="row">
            <span v-text="row.item.Bank_Code"></span>
          </template>
          <template slot="Bank_Swift_Code" slot-scope="row">
            <span v-text="row.item.Bank_Swift_Code"></span>
          </template>

          <template slot="Address" slot-scope="row">
            <span v-text="row.item.Address"></span>
          </template>

          <template slot="City" slot-scope="row">
            <span v-text="row.item.City"></span>
          </template>

          <template slot="Country" slot-scope="row">
            <span v-text="row.item.Country"></span>
          </template>
          <template slot="State" slot-scope="row">
            <span v-text="row.item.State"></span>
          </template>
          <template slot="Express_Bank" slot-scope="row">
            <span v-text="row.item.Express_Bank"></span>
          </template>
          <template slot="Instant_Bank" slot-scope="row">
            <span v-text="row.item.Instant_Bank"></span>
          </template>
          <template slot="Rate" slot-scope="row">
            <span v-text="row.item.Rate"></span>
          </template>
          <template slot="actions" slot-scope="row">
            <b-button
              v-if="row.item.Bank_ID"
              size="sm"
              variant="primary"
              :to="`/banks/${row.item.Bank_ID}/edit`"
              v-b-tooltip.hover
              :title="$t('buttons.edit')"
              class="mr-1"
            >
              <i class="fe fe-edit"></i>
            </b-button>
            <b-button
              v-if="row.item.Bank_ID"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.Bank_ID)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'BanksList',
  data() {
    return {
      selected: [],
      fields: [
        { key: 'checkbox' },
        {
          key: 'Bank_Name',
          label: this.$t('validation.attributes.bank_name'),
          sortable: true
        },
        {
          key: 'Bank_Code',
          label: this.$t('validation.attributes.bank_code'),
          sortable: true
        },
        {
          key: 'Bank_Swift_Code',
          label: this.$t('validation.attributes.bank_swift_code')
        },

        {
          key: 'Address',
          label: this.$t('validation.attributes.address')
        },
        {
          key: 'City',
          label: this.$t('validation.attributes.city'),
          sortable: true
        },
        {
          key: 'Country',
          label: this.$t('validation.attributes.country'),
          sortable: true
        },
        {
          key: 'State',
          label: this.$t('validation.attributes.state'),
          sortable: true
        },
        {
          key: 'Express_Bank',
          label: this.$t('validation.attributes.express_bank'),
          sortable: true
        },
        {
          key: 'Instant_Bank',
          label: this.$t('validation.attributes.instant_bank'),
          sortable: true
        },
        {
          key: 'Rate',
          label: this.$t('validation.attributes.rate'),
          sortable: true
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.banks.actions.destroy'),
        enable: this.$t('labels.backend.banks.actions.enable'),
        disable: this.$t('labels.backend.banks.actions.disable')
      }
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    }
    // onActiveToggle(id) {
    //   axios
    //     .post(this.$app.route('admin.banks.active', { user: id }))
    //     .catch(error => {
    //       this.$app.error(error)
    //     })
    // },
    // formatRoles(roles) {
    //   return roles
    //     .map(key => {
    //       return key.display_name
    //     })
    //     .join(', ')
    // }
  }
}
</script>
