<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row class="justify-content-center">
        <b-col xl="6">
          <b-card>
            <h3 class="card-title" slot="header">{{ isNew ? $t('labels.backend.banks.titles.create') : $t('labels.backend.banks.titles.edit') }}</h3>

            <b-form-group
              :label="$t('validation.attributes.bank_name')"
              label-for="bank_name"
              horizontal
              :label-cols="3"
              :feedback="feedback('bank_name')"
            >
              <b-form-input
                id="bank_name"
                name="bank_name"
                required
                :placeholder="$t('validation.attributes.bank_name')"
                v-model="model.Bank_Name"
                :state="state('bank_name')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.bank_code')"
              label-for="bank_code"
              horizontal
              :label-cols="3"
              :feedback="feedback('bank_code')"
            >
              <b-form-input
                id="bank_code"
                name="bank_code"
                required
                :placeholder="$t('validation.attributes.bank_code')"
                v-model="model.Bank_Code"
                :state="state('bank_code')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.bank_swift_code')"
              label-for="Bank_Swift_Code"
              horizontal
              :label-cols="3"
              :feedback="feedback('Bank_Swift_Code')"
            >
              <b-form-input
                id="bank_swift_code"
                name="bank_swift_code"
                required
                :placeholder="$t('validation.attributes.bank_swift_code')"
                v-model="model.Bank_Swift_Code"
                :state="state('Bank_Swift_Code')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.address')"
              label-for="address"
              horizontal
              :label-cols="3"
              :feedback="feedback('address')"
            >
              <b-form-input
                id="address"
                name="address"
                required
                :placeholder="$t('validation.attributes.address')"
                v-model="model.Address"
                :state="state('address')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.city')"
              label-for="city"
              horizontal
              :label-cols="3"
              :feedback="feedback('city')"
            >
              <b-form-input
                id="city"
                name="city"
                required
                :placeholder="$t('validation.attributes.city')"
                v-model="model.City"
                :state="state('city')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.country')"
              label-for="country"
              horizontal
              :label-cols="3"
              :feedback="feedback('country')"
            >
              <b-form-input
                id="country"
                name="country"
                required
                :placeholder="$t('validation.attributes.country')"
                v-model="model.Country"
                :state="state('country')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.state')"
              label-for="state"
              horizontal
              :label-cols="3"
              :feedback="feedback('state')"
            >
              <b-form-input
                id="state"
                name="state"
                required
                :placeholder="$t('validation.attributes.state')"
                v-model="model.State"
                :state="state('state')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.express_bank')"
              label-for="express_bank"
              horizontal
              :label-cols="3"
              :feedback="feedback('express_bank')"
            >
              <b-form-input
                id="express_bank"
                name="express_bank"
                required
                :placeholder="$t('validation.attributes.express_bank')"
                v-model="model.Express_Bank"
                :state="state('express_bank')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.instant_bank')"
              label-for="instant_bank"
              horizontal
              :label-cols="3"
              :feedback="feedback('instant_bank')"
            >
              <b-form-input
                id="instant_bank"
                name="instant_bank"
                required
                :placeholder="$t('validation.attributes.instant_bank')"
                v-model="model.Instant_Bank"
                :state="state('instant_bank')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.rate')"
              label-for="rate"
              horizontal
              :label-cols="3"
              :feedback="feedback('rate')"
            >
              <b-form-input
                id="rate"
                name="rate"
                required
                :placeholder="$t('validation.attributes.rate')"
                v-model="model.Rate"
                :state="state('rate')"
              ></b-form-input>
            </b-form-group>

            <b-row slot="footer">
              <b-col>
                <b-button to="/banks" exact variant="danger" size="sm">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col>
                <b-button type="submit" variant="success" size="sm" class="float-right"
                          :disabled="pending"
                          v-if="isNew || this.$app.user.can('edit banks')"
                >
                  {{ isNew ? $t('buttons.create') : $t('buttons.edit') }}
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import form from '../../mixins/inventoryform'

export default {
  name: 'BanksForm',
  mixins: [form],
  data() {
    return {
      //roles: [],
      //current_role: null,
      modelName: 'bank',
      resourceRoute: 'banks',
      listPath: '/banks',
      model: {
        Bank_Name: null,
        Bank_Code: null,
        Bank_Swift_Code: null,
        Address: null,
        City: null,
        Country: null,
        State: null,
        Express_Bank: null,
        Instant_Bank: null,
        Rate: null
      }
    }
  },
  created() {},
  methods: {}
}
</script>
