<template>
  <div class="payment-details-card col-md-4">
    <div class="card text-center">
      <div class="card-header">
        <h4>Payment Details</h4>
      </div>
      <div class="card-body">
        <div class="payment-box">
          <template v-if="paymentDetails">
            <div class="amount-box">
              <ul>
                <li>
                  Send Amount
                  <span
                    >{{ paymentDetails.sendCurrency }}
                    {{ paymentDetails.calculate.sendAmount }}
                  </span>
                </li>
                <li>
                  Fees
                  <span
                    >{{ paymentDetails.sendCurrency }}
                    {{ paymentDetails.calculate.totalFee }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="amount-box total">
              <ul>
                <li>
                  Total to Pay:
                  <span
                    >{{ paymentDetails.sendCurrency }}
                    {{ paymentDetails.calculate.totalToPay }}
                  </span>
                </li>
                <li>
                  Your Recipient Gets
                  <span
                    >{{ paymentDetails.getCurrency }}
                    {{ paymentDetails.calculate.recipientTotal }}</span
                  >
                </li>
              </ul>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PaymentDetails',
  props: {
    paymentStatus: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      paymentDetails: null
    }
  },
  computed: {},
  created() {
    this.getPaymentDetails()
  },
  methods: {
    async getPaymentDetails() {
      await axios
        .get(this.$app.route('getPaymentDetails'), {
          params: {
            status: this.paymentStatus
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            var details = response.data.payment_details
            this.paymentDetails = details
            this.paymentDetails['payment_id'] = response.data.id
            this.paymentDetails['user_id'] = response.data.user_id
          }
        })
    }
  }
}
</script>
