<template>
  <div>
    <div class="recipient-nav title title-nav">

<b-button class="pull-right" variant="link" to="/dashboard">
   <b><i class="fe fe-arrow-left"></i> Back to Dashboard</b>
</b-button>


      <div class="container">
        <div class="row progress-bar2">
          <h2 class="send-money">Send Money</h2>
          <ul class="title-progress">
            <li
              :class="
                chooseCompleted
                  ? 'completed'
                  : '' + ' ' + chooseAmount
                  ? 'active'
                  : ''
              "
            >
              Choose Amount
            </li>
            <li
              :class="
                recipientCompleted
                  ? 'completed'
                  : '' + ' ' + addRecipient
                  ? 'active'
                  : ''
              "
            >
              Add Recipient
            </li>
            <li :class="payment ? 'active' : ''">Payment</li>
            <li class="blance"><b>Balance: </b>{{ balanceValue }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SendingNav',
  props: {
    chooseAmount: {
      type: Boolean,
      default: false
    },
    addRecipient: {
      type: Boolean,
      default: false
    },
    payment: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      balanceValue: null
    }
  },
  computed: {
    chooseCompleted: function() {
      if (this.addRecipient || this.payment) {
        return true
      }
    },
    recipientCompleted: function() {
      if (this.payment) {
        return true
      }
    },
    paymentCompleted: function() {
      return 'something'
    }
  },
  created() {
    this.getUserBalance()
  },
  methods: {
    async getUserBalance() {
      await axios.get(this.$app.route('getUserBalance')).then(response => {
        if (response.data.status == 200) {
          this.balanceValue = response.data.balance
        }
      })
    }
  }
}
</script>
