<style scoped>
.card {
  border: none !important;
}
.card-header {
  background-color: transparent !important;
  border-bottom: none !important;
}
</style>
<template>
  <div class="container">
    <div class="col-12 col-md-12">
      <h1>Transaction Type</h1>
      <div class="card">
        <div class="card-header">
          <h3>1. Cash Pick up</h3>
        </div>
        <div class="card-body">
          <p
            class="card-text"
          >You may transfer the funds by Debit Card or Credit Card or by Online Bank Transfer to our bank account, and your beneficiary will receive the money within the same day or next working day depending on the destination country and once we receive the clear funds from your end.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>2. Mobile Money</h3>
        </div>
        <div class="card-body">
          <p
            class="card-text"
          >You may transfer the funds by Debit Card or Credit Card or by Online Bank Transfer to our bank account, and your beneficiary will receive the money within 1 to 2 working days depending on the destination country and once we receive the clear funds from your end.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>3. Express Bank Transfer</h3>
        </div>
        <div class="card-body">
          <p
            class="card-text"
          >You may transfer the funds by Debit Card or Credit Card or by Online Bank Transfer to our bank account, and your beneficiary will receive the money within 2 to 3 working days depending on the destination country and once we receive the clear funds from your end.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>4. Economy Bank Transfer</h3>
        </div>
        <div class="card-body">
          <p
            class="card-text"
          >You may transfer the funds only by Online Bank Transfer to our bank account, and your beneficiary will receive the money within 5 to 7 working days depending on the destination country and once we receive the clear funds from your end. We provide better exchange rate and lower fee for this service.</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'TransactionType',
  components: {},
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>
