<template>
  <section class="section-lg section-hero section-circle">
    dashboard component
  </section>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Dashboard',
  data() {
    return {}
  }
}
</script>
