<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col xl="8">
          <b-card>
            <h3 class="card-title" slot="header">{{ isNew ? $t('labels.backend.branches.titles.create') : $t('labels.backend.branches.titles.edit') }}</h3>
            <b-form-group
              :label="$t('validation.Branches.branches_name')"
              label-for="branches_name"
              horizontal
              :label-cols="2"
              :feedback="feedback('branches_name')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.branches_name')"
                v-model="model.Branch_Name"
                :state="state('branches_name')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.Branches.branches_address')"
              label-for="branches_address"
              horizontal
              :label-cols="2"
              :feedback="feedback('branches_address')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.branches_address')"
                v-model="model.Branch_Address"
                :state="state('branches_address')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.Branches.branches_city')"
              label-for="branches_city"
              horizontal
              :label-cols="2"
              :feedback="feedback('branches_city')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.branches_city')"
                v-model="model.Branch_City"
                :state="state('branches_city')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.Branches.country')"
              label-for="country"
              horizontal
              :label-cols="2"
              :feedback="feedback('country')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.country')"
                v-model="model.Country"
                :state="state('country')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.Branches.state')"
              label-for="state"
              horizontal
              :label-cols="2"
              :feedback="feedback('state')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.state')"
                v-model="model.State"
                :state="state('state')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.Branches.pay_type')"
              label-for="pay_type"
              horizontal
              :label-cols="2"
              :feedback="feedback('pay_type')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.pay_type')"
                v-model="model.Pay_Type"
                :state="state('pay_type')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.Branches.sort_br_wise')"
              label-for="sort_br_wise"
              horizontal
              :label-cols="2"
              :feedback="feedback('sort_br_wise')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.sort_br_wise')"
                v-model="model.Sort_BR_Wise"
                :state="state('sort_br_wise')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.Branches.extra_details')"
              label-for="extra_details"
              horizontal
              :label-cols="2"
              :feedback="feedback('extra_details')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.extra_details')"
                v-model="model.extra_details"
                :state="state('extra_details')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.Branches.br_code')"
              label-for="br_code"
              horizontal
              :label-cols="2"
              :feedback="feedback('br_code')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.Branches.br_code')"
                v-model="model.BR_Code"
                :state="state('br_code')"
              ></b-form-input>
            </b-form-group>
            

            <b-row slot="footer">
              <b-col>
                <b-button to="/branches" exact variant="danger" size="sm">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col>
                <b-button type="submit" variant="success" size="sm" class="float-right"
                          :disabled="pending"
                          v-if="isNew || this.$app.user.can('edit branches')"
                >
                  {{ isNew ? $t('buttons.create') : $t('buttons.edit') }}
                </b-button>
              </b-col>
            </b-row>
            <!-- <b-dropdown right split :text="$t('buttons.branches.save_and_publish')" class="float-right"
                        variant="success" size="sm" @click="model.status = 'publish'; onSubmit()"
                        :disabled="pending"
                        v-if="isNew || this.$app.user.can('edit branches') || this.$app.user.can('edit own projects')"
            >
              <b-dropdown-item @click="model.status = 'draft'; onSubmit()">{{ $t('buttons.branches.save_as_draft') }}
              </b-dropdown-item>
            </b-dropdown> -->
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>
<script>
// import axios from 'axios'
import form from '../../mixins/inventoryform'
export default {
  name: 'BranchesForm',
  mixins: [form],
  data() {
    return {
      config: {
        wrap: true,
        time_24hr: true,
        enableTime: true
      },
      modelName: 'branch',
      resourceRoute: 'branches',
      listPath: '/branches',
      tags: [],
      model: {
        Branch_Name: null,
        Branch_Address: null,
        Branch_City: null,
        Country: null,
        State: null,
        Pay_Type: null,
        Sort_BR_Wise: null,
        extra_details: null,
        BR_Code: null
      }
    }
  }
}
</script>
