<template>
  <div>
    <b-card>
      <template slot="header">
        <h3 class="card-title">{{ $t('labels.backend.branches.titles.index') }}</h3>
        <div class="card-options" v-if="this.$app.user.can('create branches')">
          <b-button to="/branches/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> {{ $t('buttons.branches.create') }}
          </b-button>
        </div>
      </template>
      <b-datatable ref="datasource"
                   @context-changed="onContextChanged"
                   search-route="admin.branches.search"
                   delete-route="admin.branches.destroy"
                   action-route="admin.branches.batch_action" :actions="actions"
                   :selected.sync="selected"
      >
        <b-table ref="datatable"
                 striped
                 bordered
                 show-empty
                 stacked="md"
                 no-local-sorting
                 :empty-text="$t('labels.datatables.no_results')"
                 :empty-filtered-text="$t('labels.datatables.no_matched_results')"
                 :fields="fields"
                 :items="dataLoadProvider"
                 sort-by="branches.created_at"
                 :sort-desc="true"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox :value="row.item.Branch_ID" v-model="selected"></b-form-checkbox>
          </template>
          <template slot="Branch_Name" slot-scope="row">
            <span v-text="row.item.Branch_Name"></span>
          </template>

          <template slot="Branch_Address" slot-scope="row">
            <span v-text="row.item.Branch_Address"></span>
          </template>

          <template slot="Branch_City" slot-scope="row">
            <span v-text="row.item.Branch_City"></span>
          </template>

          <template slot="Country" slot-scope="row">
            <span v-text="row.item.Country"></span>
          </template>

          <template slot="State" slot-scope="row">
            <span v-text="row.item.State"></span>
          </template>

          <template slot="Pay_Type" slot-scope="row">
            <span v-text="row.item.Pay_Type"></span>
          </template>

          <template slot="Sort_BR_Wise" slot-scope="row">
            <span v-text="row.item.Sort_BR_Wise"></span>
          </template>

          <template slot="extra_details" slot-scope="row">
            <span v-text="row.item.extra_details"></span>
          </template>

          <template slot="BR_Code" slot-scope="row">
            <span v-text="row.item.BR_Code"></span>
          </template>
          <template slot="actions" slot-scope="row">
            <b-button v-if="row.item.Branch_ID" size="sm" variant="primary" :to="`/branches/${row.item.Branch_ID}/edit`" v-b-tooltip.hover :title="$t('buttons.edit')" class="mr-1">
              <i class="fe fe-edit"></i>
            </b-button>
            <b-button v-if="row.item.Branch_ID" size="sm" variant="danger" v-b-tooltip.hover :title="$t('buttons.delete')" @click.stop="onDelete(row.item.Branch_ID)">
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'BranchesList',
  data() {
    return {
      selected: [],
      fields: [
        {
          key: 'checkbox'
        },
        {
          key: 'Branch_Name',
          label: this.$t('validation.Branches.branches_name'),
          sortable: true
        },
        {
          key: 'Branch_Address',
          label: this.$t('validation.Branches.branches_address'),
          sortable: true
        },
        {
          key: 'Branch_City',
          label: this.$t('validation.Branches.branches_city'),
          sortable: true
        },
        {
          key: 'Country',
          label: this.$t('validation.Branches.country'),
          sortable: true
        },
        {
          key: 'State',
          label: this.$t('validation.Branches.state'),
          sortable: true
        },
        {
          key: 'Pay_Type',
          label: this.$t('validation.Branches.pay_type'),
          sortable: true
        },
        {
          key: 'Sort_BR_Wise',
          label: this.$t('validation.Branches.sort_br_wise'),
          sortable: true
        },
        {
          key: 'extra_details',
          label: this.$t('validation.Branches.extra_details'),
          sortable: true
        },
        {
          key: 'BR_Code',
          label: this.$t('validation.Branches.br_code'),
          sortable: true
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.branches.actions.destroy')
      }
    }
  },
  mounted: function() {},
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ branch: id })
    }
  }
}
</script>
