<template>
  <div class="doc-verify-section container">
    <template v-if="processingDone">
      <SelectType v-if="showSelectType" @selectType="selectType"></SelectType>
      <BillUpload @confirmUpload="confirmTypeUpload" v-if="showBillUpload"></BillUpload>
      <BankStatementUpload @confirmUpload="confirmTypeUpload" v-if="showBankStatementUpload"></BankStatementUpload>
      <StartVerify v-if="showStartVerify">></StartVerify>
      <UploadSuccessful v-if="showSuccessUpload"></UploadSuccessful>
    </template>
    <!--
      =======
      <div id="doc_verify_section col-md-12">
        <SelectType></SelectType>
        <BillUpload></BillUpload>
    -->
  </div>
</template>
<script>
import axios from 'axios'
import SelectType from './components/Document/SelectType.vue'
import StartVerify from './components/Document/StartVerify.vue'
import BillUpload from './components/Document/BillUpload.vue'
import BankStatementUpload from './components/Document/BankStatementUpload.vue'
import UploadSuccessful from './components/Document/UploadSuccessful.vue'

export default {
  name: 'DocumentVerification',
  components: {
    SelectType,
    BillUpload,
    BankStatementUpload,
    StartVerify,
    UploadSuccessful
  },
  props: {},
  data() {
    return {
      showSelectType: true,
      showBillUpload: false,
      showBankStatementUpload: false,
      showStartVerify: false,
      showSuccessUpload: false,
      processingDone: false
    }
  },
  created() {
    this.getVerifyStatus()
  },
  methods: {
    selectType(type) {
      if (type == 'utility_bill') {
        this.showSelectType = !this.showSelectType
        this.showBillUpload = !this.showBillUpload
      }
      if (type == 'bank_statement') {
        this.showSelectType = !this.showSelectType
        this.showBankStatementUpload = !this.showBankStatementUpload
      }
    },
    confirmTypeUpload(data) {
      if (data.type == 'bill') {
        this.showBillUpload = !this.showBillUpload
        this.showSuccessUpload = !this.showSuccessUpload
      }
      if (data.type == 'bank_statement') {
        this.showBankStatementUpload = !this.showBankStatementUpload
        this.showSuccessUpload = !this.showSuccessUpload
      }
    },
    async getVerifyStatus() {
      await axios.get(this.$app.route('userVerifyStatus')).then(response => {
        if (response.data.status == 200) {
          this.processingDone = true
          this.showSelectType = false
          var status = response.data.verify_status
          var type = response.data.verify_type
          if (status == 'face_uploaded') {
            this.showSelectType = true
          }
          if (status == 'doc_type_selected') {
            if (type == 'utility_bill') {
              this.showBillUpload = true
            }
            if (type == 'bank_statement') {
              this.showBankStatementUpload = true
            }
          }
        }
      })
    }
  }
}
</script>
