<template>
  <div class="id-verify-section container">
    <template v-if="processingDone">
      <FirstStep v-if="showFirst" @startVerify="firstStart"></FirstStep>
      <SecondStep @back="backFromSecond" @verifyType="verifyType" v-if="showSecond"></SecondStep>
      <UploadPassport @back="backFromVerifyType('passport')" @confirmUpload="confirmTypeUpload" v-if="showPassportUpload"></UploadPassport>
      <UploadLicense @back="backFromVerifyType('license')" @confirmUpload="confirmTypeUpload" v-if="showLicenseUpload"></UploadLicense>
      <UploadIDCard @back="backFromVerifyType('id_card')" @confirmUpload="confirmTypeUpload" v-if="showIDUpload"></UploadIDCard>
      <UploadFace @confirmUpload="confirmFaceUpload" :verify-type="selectedVerifyType" v-if="showFaceUpload"></UploadFace>
      <UploadSuccessful v-if="showSuccessUpload"></UploadSuccessful>
      <!--
      <template v-if="showFirst || showSecond || showPassportUpload || showLicenseUpload || showIDUpload || showFaceUpload">
        <Foot></Foot>
      </template>
      -->
    </template>
  </div>
</template>
<script>
import axios from 'axios'
import FirstStep from './components/Identity/FirstStep.vue'
import SecondStep from './components/Identity/SecondStep.vue'
import UploadPassport from './components/Identity/UploadPassport.vue'
import UploadLicense from './components/Identity/UploadLicense.vue'
import UploadIDCard from './components/Identity/UploadIDCard.vue'
import UploadFace from './components/Identity/UploadFace.vue'
import UploadSuccessful from './components/Identity/UploadSuccessful.vue'
import Foot from './components/Identity/Foot.vue'

export default {
  name: 'IdVerification',
  components: {
    FirstStep,
    SecondStep,
    UploadPassport,
    UploadLicense,
    UploadIDCard,
    UploadFace,
    UploadSuccessful
  },
  props: {
    name: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      showFirst: true,
      showSecond: false,
      showPassportUpload: false,
      showLicenseUpload: false,
      showIDUpload: false,
      showFaceUpload: false,
      showSuccessUpload: false,
      input_otp: null,
      response_error: null,
      selectedVerifyType: null,
      backBtnShow: false,
      currentSection: 'FirstStep',
      processingDone: false
    }
  },
  watch: {},
  created() {
    this.getVerifyStatus()
  },
  methods: {
    backFromSecond() {
      this.showSecond = !this.showSecond
      this.showFirst = !this.showFirst
    },
    async backFromVerifyType(type) {
      await axios.get(this.$app.route('backFromVerifyType')).then(response => {
        if (response.data.status == 200) {
          if (type == 'passport') {
            this.showPassportUpload = !this.showPassportUpload
            this.showSecond = !this.showSecond
          }
          if (type == 'license') {
            this.showLicenseUpload = !this.showLicenseUpload
            this.showSecond = !this.showSecond
          }
          if (type == 'id_card') {
            this.showIDUpload = !this.showIDUpload
            this.showSecond = !this.showSecond
          }
        } else {
          return false
        }
      })
    },
    goBack() {
      if (this.currentSection == 'SecondStep') {
        this.showSecond = !this.showSecond
        this.showFirst = !this.showFirst
      }
    },
    firstStart() {
      this.showFirst = !this.showFirst
      this.showSecond = !this.showSecond
      this.currentSection = 'SecondStep'
      this.backBtnShow = true
    },
    verifyType(type) {
      this.showSecond = !this.showSecond
      if (type == 'passport') {
        this.showPassportUpload = !this.showPassportUpload
        this.selectedVerifyType = 'passport'
        this.currentSection = 'PassportUpload'
      }
      if (type == 'license') {
        this.showLicenseUpload = !this.showLicenseUpload
        this.selectedVerifyType = 'license'
        this.currentSection = 'LicenseUpload'
      }
      if (type == 'id_card') {
        this.showIDUpload = !this.showIDUpload
        this.selectedVerifyType = 'id_card'
        this.currentSection = 'IdCardUpload'
      }
    },
    confirmTypeUpload(data) {
      if (data.type == 'passport') {
        this.showPassportUpload = !this.showPassportUpload
        this.showFaceUpload = !this.showFaceUpload
        this.currentSection = 'FaceUpload'
      }
      if (data.type == 'license') {
        this.showLicenseUpload = !this.showLicenseUpload
        this.showFaceUpload = !this.showFaceUpload
        this.currentSection = 'FaceUpload'
      }
      if (data.type == 'id_card') {
        this.showIDUpload = !this.showIDUpload
        this.showFaceUpload = !this.showFaceUpload
        this.currentSection = 'FaceUpload'
      }
    },
    confirmFaceUpload() {
      this.showFaceUpload = !this.showFaceUpload
      this.showSuccessUpload = !this.showSuccessUpload
    },
    async getVerifyStatus() {
      await axios.get(this.$app.route('userVerifyStatus')).then(response => {
        if (response.data.status == 200) {
          this.processingDone = true
          this.showFirst = false
          var status = response.data.verify_status
          var type = response.data.verify_type
          /* START FROM THE FIRST IF NO STEP IN VERIFY */
          if (status == 'none') {
            this.showFirst = true
          }
          /* IF ALREADY COMPLETED SECOND STEP (SELECTING COUNTRY AND VERIFICATION TYPE */
          if (status == 'verify_type_selected') {
            if (type == 'passport') {
              this.showPassportUpload = true
            }
            if (type == 'license') {
              this.showLicenseUpload = true
            }
            if (type == 'id_card') {
              this.showIDUpload = true
            }
          }
          /* IF ALREADY UPLOADED VERIFY TYPES (PASSPORT, LICENSE, ID CARD) */
          if (status == 'verify_uploaded') {
            this.showFaceUpload = true
          }
        }
      })
    }
  }
}
</script>
