<template>
  <div>
    <b-card>
      <template slot="header"></template>
      <b-datatableinventory
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="paying.transaction.search"
        delete-route="paying.transaction.destroy"
        action-route="paying.transaction.batch_action"
        :infos="false"
      >
        <b-table
          ref="datatable"
          striped
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          v-model="rows"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              v-bind:id="'row'+row.item.id"
              @change="checkAgent($event, row, row.item.paying_agent_id)"
              :value="row.item.id"
              v-model="selected"
              :disabled="row.item.approve_status === 'pending' ? false : true"
            >
            </b-form-checkbox>
            <!-- <b-form-checkbox @change="checkboxSave(row.item.id)" :value="row.item.id" ></b-form-checkbox> -->
          </template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              :id="'row' + row.item.id"
              :value="row.item.id"
              v-model="selected"
            >
            </b-form-checkbox>
          </template>
          <template slot="user" slot-scope="row">
            <span v-text="row.item.user.name"></span>
          </template>
          <template slot="sendfrom_country" slot-scope="row">
            {{ formatSendFromCountry(row.item.payment_details) }}
          </template>
          <template slot="sendto_country" slot-scope="row">
            {{ formatSendToCountry(row.item.payment_details) }}
          </template>
          <template slot="send_amount" slot-scope="row">
            {{ formatSendAmount(row.item.payment_details) }}
          </template>
          <template slot="fee_amount" slot-scope="row">
            {{ formatFeeAmount(row.item.payment_details) }}
          </template>
          <template slot="total_amount" slot-scope="row">
            {{ formatTotalAmount(row.item.payment_details) }}
          </template>
          <template slot="payment.created_at" slot-scope="row">
            {{ row.item.created_at }}
          </template>
          <template slot="payment.updated_at" slot-scope="row">
            {{ row.item.updated_at }}
          </template>
          <template slot="actions" slot-scope="row">
            <div>
              <b-button :disabled="pendingButton" @click="payTransaction(row.item.id)" variant="success" size="sm">Pay </b-button>
            </div>
          </template>
        </b-table>
      </b-datatableinventory>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PaymentsList',
  data() {
    return {
      pendingButton: false,
      selected: [],
      payingagents: [],
      rows: [],
      uploadRows: [],
      statusOptions: [
        { value: 'pending', text: 'Pending' },
        { value: 'approved', text: 'Approve' },
        { value: 'rejected', text: 'Reject' }
      ],
      fields: [
        { key: 'checkbox' },
        { key: 'user', label: 'Send From' },
        { key: 'send_amount', label: 'Amount' },
        { key: 'fee_amount', label: 'Fee' },
        { key: 'total_amount', label: 'Total' },
        {
          key: 'actions',
          sortable: true
        }
      ],
      actions: {
        destroy: this.$t('labels.backend.payments.actions.destroy')
      }
    }
  },
  created() {},
  methods: {
    formatSendFromCountry(val) {
      var json = JSON.parse(val)
      return json.sendFromCountryName
    },
    formatSendToCountry(val) {
      var json = JSON.parse(val)
      return json.sendToCountryName
    },
    formatSendAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.sendAmount
    },
    formatFeeAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.totalFee
    },
    formatTotalAmount(val) {
      var json = JSON.parse(val)
      return json.sendCurrency + ' ' + json.calculate.totalToPay
    },
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    async payTransaction(id) {
      this.pendingButton = true
      await axios.post(this.$app.route('paying.transaction.pay'), {
          payment_id: id
        })
        .then(response => {
          if (response.data.status == 200) {
            this.pendingButton = false
            this.onContextChanged()
          }
        })
    }
  }
}
</script>
