<style>
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
</style>
<template>
  <div>
    <div v-if="showLoader" class="preloader" style="display: block;">
      <div id="loader"></div>
    </div>

    <div v-if="!showLoader" class="preloader" style="display: none;">
      <div id="loader"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showLoader: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // showLoader: false
    }
  },
  methods: {}
}
</script>
