<template>
  <div>
    <form ref="foos">
      <b-row class="justify-content-center">
        <b-col xl="10">
          <b-card>
            <h3>
              {{
                isNew
                  ? $t('labels.backend.contact.titles.main')
                  : $t('labels.backend.contact.titles.main')
              }}
            </h3>
            <template>
              <b-form-group
                :label="$t('validation.attributes.name')"
                label-for="name"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.name }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.email')"
                label-for="email"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.email }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.phone')"
                label-for="phone"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.phone }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.company')"
                label-for="company"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.company }}</span>
              </b-form-group>
            </template>
            <template>
              <b-form-group
                :label="$t('validation.attributes.message')"
                label-for="message"
                horizontal
                :label-cols="3"
              >
                <span>{{ model.message }}</span>
              </b-form-group>
            </template>

            <b-row id="hideback" slot="footer">


              <b-col md>

                <!-- back button -->
                <b-button to="/contact" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>

                <!-- reply button -->
                <b-button exact variant="danger" size="md">
                  Reply
                </b-button>


              </b-col>





            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
export default {
  name: 'ContactView',
  mixins: [form],
  data() {
    return {
        // roles: [],
        // current_role: null,

        // modelName: 'contactus',
        // resourceRoute: 'contact',
        // listPath: '/contact',

        modelName: 'contactus',
        resourceRoute: 'contact',
        listPath: '/contact',


        fields: [
          { key: 'name', label: 'Name' },
          { key: 'email', label: 'Email' },
          { key: 'phone', label: 'Phone' },
          { key: 'company', label: 'Company' },
          { key: 'message', label: 'Message' }
        ],
        model: {
          name: null,
          email: null,
          phone: null,
          company: null,
          message: null
        }
    }
  },
  async created() {},
  methods: {

    async test() {
      console.log(comoing)
      await this.$refs.foos.fetchData()
    },

    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },

    onContextChanged() {
      return this.$refs.datatable.refresh()
    },

    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    }

  }
}
</script>
