import { button } from "noty";

<template>
  <div>
    <b-row>
      <b-col xl="8">
        <b-card>
          <h3 class="card-title" slot="header">Message Board</h3>
          <div>
            <b-alert
              variant="danger"
              dismissible
              v-model="showDismissibleAlert"
            >
              please fill the required fields
            </b-alert>
          </div>
          <h6>Send Message</h6>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <multiselect
                  v-model="model.value"
                  :options="model.userList"
                  :multiple="true"
                  :close-on-select="true"
                  :clear-on-select="true"
                  :preserve-search="true"
                  group-values="libs"
                  group-label="allusers"
                  :group-select="true"
                  placeholder="Select Users"
                  label="name"
                  track-by="name"
                  @input="getval"
                >
                </multiselect>
              </div>
            </div>
          </div>
          <div class="">
            <div class="col-xs-12">
              <div class="form-group">
                <b-form-textarea
                  id="message"
                  name="message"
                  rows="4"
                  cols="200"
                  required
                  v-model="model.message"
                  :placeholder="$t('validation.attributes.message')"
                ></b-form-textarea>
              </div>
            </div>
          </div>
          <div class="row" style=" float: right;">
            <div class="btn-section">
              <b-button
                @click="insertMessages"
                type="button"
                variant="primary"
                class="btn-submit"
                size="md"
              >
                Submit
              </b-button>
            </div>
          </div>
          <template v-if="showError">
            <b-alert variant="danger" dismissible>
              Please Enter Require Fields!!!
            </b-alert>
          </template>
        </b-card>
      </b-col>
    </b-row>
    <button @click="wokring">Working</button>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'SendMessage',
  components: {},
  data() {
    return {
      showError: false,
      showDismissibleAlert: false,
      model: {
        userList: [],
        value: null,
        message: null,
        check: true,
        other: false
      }
    }
  },
  created() {
    this.getusers()
  },
  methods: {
    wokring() {
      console.log('hi')
    },
    getval() {
      console.log(this.model.value)
    },
    async getusers() {
      let { data } = await axios.get(
        this.$app.route('admin.customers.searchValue')
      )
      var newdata = [{ allusers: 'All', libs: data.data }]
      this.model.userList = newdata
      // this.model.userList.push({id:'null', name: 'All'})
    },
    insertMessages: async function() {
      console.log('hi')
      if (!this.model.message) {
        this.showError = true
        this.showDismissibleAlert = true
        return false
      } else {
        this.showError = false
      }
      await axios
        .post(this.$app.route('admin.contact.store'), {
          data: this.model
        })
        .then(result => {
          if (result.status == 200) {
            this.test()
          }
        })
      // this.test()
    },
    async test() {
      let result = await window.swal({
        title: 'Message Sended',
        type: 'success',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        this.$router.push('/contact')
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
