<template style="padding-top: 100px">
  <div class="app-body">
    <UserSidebar></UserSidebar>

    <main id="main" class="user-container">
      <h4 class="title-head">
        Dashboard
        <a>
          Balance:
          <span id="nav-balance">{{ balanceValue }}</span>
        </a>
      </h4>

      <div class="container">
        <div class="row">
          <b-alert
            variant="doc-reject error"
            class="verify-error"
            :show="documentsRejected"
            dismissible
          >{{ documentsRejectedMessage }}</b-alert>
          <div class="col-md-3">
            <div class="card-box">
              <img class="box-img" src="/template/img/balance.png" />
              <p class="box-text">Send Balance Request</p>
              <b-button class="box-btn" to="/recharge">Request Balance</b-button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box">
              <img class="box-img" src="/template/img/sendmoney.png" />
              <p class="box-text">Send Money</p>
              <b-button :disabled="documentsRejected" class="box-btn" to="/send">Now</b-button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box">
              <img class="box-img" src="/template/img/history.png" />
              <!-- <p class="box-text">Send Money History</p> -->
              <p class="box-text">Pending Transactions:{{ pendingTransactionCount }}</p>
              <b-button class="box-btn" to="/history">Pending Transactions</b-button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card-box">
              <img class="box-img" src="/template/img/ben.png" />
              <p class="box-text">Your Recipients</p>
              <b-button class="box-btn" to="/recipients">View Recipients</b-button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box">
              <img class="box-img" src="/template/img/doc.png" />
              <p class="box-text">Your Documents</p>
              <b-button class="box-btn" to="/uploads">View Documents</b-button>
            </div>
          </div>

          <!-- Points -->
          <div class="col-md-3">
            <div class="card-box">
              <!-- <img class="box-img" src="/template/img/points.png" /> -->
              <span style="font-size: 60px;">{{ totalPoints }}</span>
              <p class="box-text">Your Points</p>
              <b-button class="box-btn" to="/calculate/points" v-if="totalPoints > 5000">Calculate</b-button>
            </div>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <label>Your Referral Link</label>
          
            <input type="text" v-model="userRef" class="form-control">
            <button type="button"
              v-clipboard:copy="userRef"
              v-clipboard:success="onCopy"
              v-clipboard:error="onError">Copy!</button>
              
          </div>
        </div>
        
        <div class="col-md" id="hideMessageRow">
          <div class="col-md">
          {{ message }}
          </div>
        </div>
        
      </div>
    </main>
    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>

<script>
import nav from '../../_nav'
import UserSidebar from '../Sidebar'
import axios from 'axios'

import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'
Vue.use(VueClipboard)

export default {
  name: 'Index',
  components: {
    UserSidebar
  },
  data() {
    return {  
      message: null,

      balanceValue: null,
      pendingTransactionCount: null,
      documentsRejected: false,
      documentsRejectedMessage: null,
      userRef: null,
      showLoader: false,
      totalPoints: 0,      
    }
  },
  watch: {},
  created() {
    this.getUserBalance()
    this.checkSession()
    this.customerpendingTransactions()
    this.customerDocsRejected()
    this.getUserRef()
    this.getTotalPoints()
  },
  methods: {
  
    onCopy: function (e) {
      this.message = 'You just copied: ' + e.text
    },
    
    onError: function (e) {      
      this.message = 'Failed to copy texts'
    },
    
    async getTotalPoints() {
      this.showLoader = true
      await axios
        .get(this.$app.route('user.getTotalPoints'))
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.totalPoints = response.data.total_points
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },
    async getUserBalance() {
      this.showLoader = true
      await axios
        .get(this.$app.route('getUserBalance'))
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.balanceValue = response.data.balance
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },

    // get user referel.
    async getUserRef() {
      this.showLoader = true
      await axios
        .get(this.$app.route('getUserRef'))
        .then(response => {
          this.showLoader = false
          if (response.data.status == 200) {
            this.userRef = 'http://customers.anexpress.com/register?ref=' + response.data.response
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },

    checkSession: function() {
      console.log('check session here.')
      this.$session.start()
      if (this.$session.exists()) {
        /*
			console.log( "Transaction is in progress :" + this.$session.get('t_id') )
			swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to delete transaction this!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.value) {
				swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
			  }
			})
        */
      }
    },
    async customerpendingTransactions() {
      this.showLoader = true
      await axios
        .get(this.$app.route('index.customerpendingTransactions'))
        .then(result => {
          this.showLoader = false
          if (result.data.status == 200) {
            this.pendingTransactionCount = result.data.pending_transactions
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    },
    async customerDocsRejected() {
      this.showLoader = true
      await axios
        .get(this.$app.route('userDocsRejected'))
        .then(result => {
          this.showLoader = false
          if (result.data.status == 200) {
            this.documentsRejected = true
            this.documentsRejectedMessage = result.data.response
          }
        })
        .catch(error => {
          this.showLoader = false
          console.log(error)
        })
    }
  }
}
</script>
