<template>
  <Recharge></Recharge>
</template>

<script>
import Recharge from '../Recharge/Index'
import UserSidebar from './Sidebar'

export default {
  name: 'Recharge',
  components: {
    Recharge
  },
  data() {
    return {}
  },
  watch: {},
  created() {},
  methods: {}
}
</script>
