<template>
  <div class="row">
    <div class="first-step">
      <div class="step-head">
        <h3>Start ID Verification</h3>
      </div>
      <div>
        <p class="sub-head">Please have your ID ready to present on the next page for verification</p>
      </div>
      <div class="step-body">
        <p class="verify-desc">This verification process is designed to confirm your identity and protect you from
        identify theft.</p>
        <p>These are the documents required for verification:</p>
        <br>
          <div>
            <h5>ID Proof</h5>
            <p>Passport</p>
            <p>Visa (If Applicable)</p>
            <p>Or Full UK Driving License</p>
          </div>
          <br>
          <div>
            <h5>Address Proof</h5>
            <p>Bank Statement</p>
            <p>Gas Bill/Electricity Bill/Home Telephone Bill</p>
            <p>Council Tax Bill</p>        
          </div>
      </div>
      <div class="step-foot">
        <b-button @click="startVerify" class="btn-green">Start ID Verification</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'FirstStep',
  data() {
    return {}
  },
  methods: {
    startVerify() {
      this.$emit('startVerify')
    }
  }
}
</script>
