<template>
  <div class="footer-verify-id">
    <div class="copyright">&copy; 2018</div>
    <div class="sign"><span>verify</span></div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Foot',
  data() {
    return {}
  }
}
</script>
