<template>
  <div class="row">
    <div class="head-verify-id">
      <!-- <a v-if="showBack" id="back-btn" @click="back">back</a> -->
      <a id="help-btn" @click="help">help ?</a>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Head',
  props: {
    showBack: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  methods: {
    back: function() {
      this.$emit('back')
    },
    help: function() {
      console.log('help click')
    }
  }
}
</script>
