<template>
  <div>
    <div class="row">
      <div class="head-verify-id">
        <a id="back-btn" @click="back">back</a>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="second-step">
        <div class="step-head">
          <div class="row">
            <b-alert class="verify-error" @dismissed="showError = !showError" :show="showError" dismissible>Please Select Country</b-alert>
            <h3 class="col-md-8">Choose Issuing Country</h3>
            <div class="search-country col-md-4">
              <model-select
                ref="selectCountry"
                :options="countryOptions"
                v-model="countryText"
                placeholder="United Kingdom"
              ></model-select>
              <!--
                <input type="text" class="form-control" placeholder="Pakistan" v-model="countryText">
                <button @click="searchCountry" class="btn btn-primary"><i class="fe fe-search"></i></button>
              -->
            </div>
          </div>
          <!-- <div class="clearfix"></div> -->
        </div>
        <div class="step-body">
          <h3 class="sub-head">Select ID type</h3>
          <div class="type-section">
            <template>
              <div class="card col-md-4">
                <div class="card-container">
                  <div class="img-card">
                    <div class="card-img-top text-center"><i class="type-icon fe fe-globe"></i></div>
                  </div>
                  <div class="card-body">
                    <div class="card-btn">
                      <button @click="clickVerifyType('passport')" class="btn-green">Passport</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template>
              <div class="card col-md-4">
                <div class="card-container">
                  <div class="img-card">
                    <div class="card-img-top text-center"><i class="type-icon fe fe-user"></i></div>
                  </div>
                  <div class="card-body">
                    <div class="card-btn">
                      <button @click="clickVerifyType('id_card')" class="btn-green">Identity Card</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template>
              <div class="card col-md-4">
                <div class="card-container">
                  <div class="img-card">
                    <div class="card-img-top text-center"><i class="type-icon fe fe-shield"></i></div>
                  </div>
                  <div class="card-body">
                    <div class="card-btn">
                      <button @click="clickVerifyType('license')" class="btn-green">Driver's License</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select'
import axios from 'axios'

export default {
  name: 'SecondStep',
  components: {
    ModelSelect
  },
  data() {
    return {
      showError: false,
      countryText: null,
      countries: [],
      countryOptions: []
    }
  },
  watch: {
    countryText: function(val) {
      if (val) {
        this.showError = false
      }
    }
  },
  created() {
    this.getCountries()
  },
  methods: {
    back() {
      this.$emit('back')
    },
    async clickVerifyType($type) {
      if (!this.countryText) {
        this.showError = true
        this.$refs.selectCountry.$refs.input.focus()
      } else {
        await axios
          .post(this.$app.route('verifyTypeSelected'), {
            type: $type,
            country: this.countryText
          })
          .then(response => {
            if (response.data.status == 200) {
              this.showError = false
              this.$emit('verifyType', $type)
            }
          })
      }
    },
    async getCountries() {
      await axios.get(this.$app.route('api.AllCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getUserCountry() {
      await axios.get(this.$app.route('getUserCountry')).then(response => {
        console.log(response)
      })
    }
  }
}
</script>
