<template>
  <div>
    <div class="row">
      <div class="head-verify-id">
        <!-- <a id="help-btn" @click="help">help</a> -->
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="upload-section">
          <b-alert class="verify-error" @dismissed="showError = !showError" :show="showError" dismissible>Something Went Wrong! Please Try Again</b-alert>
          <h3>Upload Image Face</h3>
          <div class="row">
            <div class="col-md-4">
              <vueDropzone
                ref="myVueDropzone"
                @vdropzone-success="filesAdded"
                @vdropzone-removed-file="fileRemoved"
                id="dropzone"
                v-model="model.id_images"
                :options="dropzoneOptions"
              >
              </vueDropzone>
            </div>
            <div class="col-md-3">
              <div class="upload-again">
                <b-button @click="uploadFile" class="btn-green btn-upload">Choose File</b-button>
              </div>
              <div class="confirm-upload">
                <b-button :disabled="!fileInProgress" @click="confirmUpload" class="btn-green">Confirm</b-button>
              </div>
              <div class="instruction">
                <small>Maximum File Size is 8MB. JPG or PNG format only</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'UploadFace',
  components: {
    vueDropzone: vue2Dropzone
  },
  props: {
    verifyType: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      showError: false,
      fileInProgress: false,
      model: {
        face_image: [],
        type: 'face'
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
        acceptedFiles: 'image/jpg,image/png, image/jpeg',
        dictDefaultMessage: 'Drop Images here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      }
    }
  },
  watch: {
    fileInProgress: function(val) {
      if (val) {
        $('#dropzone').css('pointer-events', 'none')
        $('#dropzone .dz-preview').css('pointer-events', 'auto')
      } else {
        $('#dropzone').css('pointer-events', 'auto')
      }
    },
    'model.face_image': function(val) {
      if (val) {
        if (val.length > 0) {
          this.fileInProgress = true
        } else {
          this.fileInProgress = false
        }
      }
    }
  },
  methods: {
    help() {
      this.$emit('help')
    },
    uploadFile() {
      this.model.face_image = []
      this.$refs.myVueDropzone.removeAllFiles(true)
      $('#dropzone').click()
    },
    async confirmUpload() {
      var model = this.model
      let action = this.$app.route(`uploadVerifyFile`)
      let formData = this.$app.objectToFormData(model)
      // formData.append('_method', 'PATCH')
      await axios.post(action, formData).then(response => {
        if (response.data.status == 200) {
          this.$emit('confirmUpload', model)
          this.showError = false
        } else {
          this.showError = true
        }
      })
    },
    filesAdded(file, response) {
      var model = this.model
      if (file) {
        model.face_image.push(file)
      }
    },
    fileRemoved(file) {
      var workorderImg = this.model.face_image
      var IndexToRemove = workorderImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.face_image.splice(IndexToRemove, 1)
      }
    }
  }
}
</script>
