<template>
  <div class="recipient-details">
    <div class="row">
      <h6>Personal Details</h6>
    </div>

    <b-form inline class="item-row">
      <b-form-group class="w-45" label-for="first_name" label="First Name" :feedback="feedback('first_name')">
        <b-form-input
          id="first_name"
          name="first_name"
          v-model="model.first_name"
          :state="state('first_name')"
          placeholder="First Name"
          class="w-100"
        ></b-form-input>
      </b-form-group>

      <b-form-group class="w-45" label="Middle Name">
        <b-form-input
          v-model="model.middle_name"
          placeholder="Middle Name"
          class="w-100"
        >
        </b-form-input>
      </b-form-group>
    </b-form>

    <b-form inline class="item-row">
      <b-form-group label="Last Name" label-for="last_name" class="w-45" :feedback="feedback('last_name')">
        <b-form-input
          id="last_name"
          name="last_name"
          v-model="model.last_name"
          :state="state('last_name')"
          placeholder="Last Name"
          class="w-100"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Father Name" label-for="father_name" class="w-45" :feedback="feedback('father_name')">
        <b-form-input
          id="father_name"
          v-model="model.father_name"
          :state="state('father_name')"
          placeholder="Father Name"
          class="w-100"
        ></b-form-input>
      </b-form-group>
    </b-form>

    <b-form inline class="item-row">
      <b-form-group class="w-45" label="Email" label-for="email" :feedback="feedback('email')">
        <b-form-input
          id="email"
          v-model="model.email"
          :state="state('email')"
          placeholder="Email"
          class="w-100"
        ></b-form-input>
      </b-form-group>

      <b-form-group class="w-45" label="Post Code" label-for="postal_code" :feedback="feedback('postal_code')">
        <b-form-input
          v-model="model.postal_code"
          :state="state('postal_code')"
          placeholder="Postcode"
          class="w-100"
        ></b-form-input>
      </b-form-group>
    </b-form>

    <b-form inline class="item-row">
      <b-form-group class="w-45" label="Mobile Number" label-for="mobile" :feedback="feedback('mobile')">
        <b-form-input
          v-model="model.mobile"
          :state="state('mobile')"
          placeholder="Mobile Number"
          class="w-100"
        ></b-form-input>
      </b-form-group>

      <b-form-group class="w-45" label="Phone Number" label-for="phone" :feedback="feedback('phone')">
        <b-form-input
          v-model="model.phone"
          :state="state('phone')"
          placeholder="Phone Number"
          class="w-100"
        ></b-form-input>
      </b-form-group>
    </b-form>

    <b-form inline class="item-row">
      <b-form-group class="w-45" label="Recipient Relation" label-for="recipient_relation" :feedback="feedback('recipient_relation')">
        <b-form-select
          id="recipient_relation"
          v-model="model.recipient_relation"
          :state="state('recipient_relation')"
          class="w-100"
        >
          <option v-for="(recipient_relation, index) in relationOptions" :value="recipient_relation.value" :key="index">
            {{ recipient_relation.text }}
          </option>
        </b-form-select>
      </b-form-group>

      <b-form-group class="w-45" label="Source of Income" label-for="source_of_income" :feedback="feedback('source_of_income')">
        <b-form-select
          id="source_of_income"
          v-model="model.source_of_income"
          :state="state('source_of_income')"
          class="w-100"
        >
          <option v-for="(source_of_income, index) in sourceOptions" :value="source_of_income.value" :key="index">
            {{ source_of_income.text }}
          </option>
        </b-form-select>
      </b-form-group>
    </b-form>
    
    <b-form inline class="item-row">
      <b-form-group class="w-45" label="Country">
        <b-form-select v-model="model.country" :options="countryOptions" class="w-100">
        </b-form-select>
      </b-form-group>

      <b-form-group class="w-45" label="City" label-for="city" :feedback="feedback('city')">
        <template v-if="citiesOptions.length > 0">
          <b-form-select
            id="city"
            v-model="model.city"
            :state="state('city')"
            class="w-100"
          >
            <option value="null">Please Select City</option>
            <option v-for="(city, index) in citiesOptions" :value="city.value" :key="index">
              {{ city.text }}
            </option>
          </b-form-select>
        </template>
        <template v-else>
          <b-form-input
            id="cityField"
            v-model="model.city"
            :state="state('city')"
            placeholder="City / Town"
            class="w-100"
          ></b-form-input>
        </template>
      </b-form-group>
    </b-form>

    <b-form inline class="item-row">
      <b-form-group
        label="Address 1"
        :feedback="feedback('address_1')"
        class="w-45"
      >
        <b-form-textarea
          v-model="model.address_1"
          :state="state('address_1')"
          placeholder="Address Line 1"
          rows="3"
          class="w-100"
        ></b-form-textarea>
      </b-form-group>

      <b-form-group
        label="Address 2"
        :feedback="feedback('address_2')"
        class="w-45"
      >
        <b-form-textarea
          v-model="model.address_2"
          :state="state('address_2')"
          placeholder="Address Line 2"
          rows="3"
          class="w-100"
        ></b-form-textarea>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PersonalDetails',
  components: {},
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    validation: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      countryOptions: [],
      citiesOptions: [],
      reasonOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'family_support', text: 'Family or Friend Support' },
        { value: 'purchase_services', text: 'Purchase of Services' },
        { value: 'property_payment', text: 'Property Payment' },
        { value: 'sending_self', text: 'Sending fund to self' }
      ],
      sourceOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'income', text: 'Income' },
        { value: 'savings', text: 'Savings' },
        { value: 'sale_property', text: 'Sale of my/our property' },
        { value: 'bank_loan', text: 'Bank Loan' },
        { value: 'private_loan', text: 'Private Loan' },
        { value: 'electronic_check_report', text: 'Electronic Check Report' }
      ],
      relationOptions: [
        { value: null, text: 'None' },
        { value: 'parent', text: 'Parent' },
        { value: 'child', text: 'Child' },
        { value: 'spouse', text: 'Spouse' },
        { value: 'in_laws', text: 'In Laws' },
        { value: 'relative', text: 'Relative' },
        { value: 'self', text: 'Self' },
        { value: 'friend_family', text: 'Friend Family' },
        { value: 'employee_family', text: 'Employee Family' },
        { value: 'friend', text: 'Friend' },
        { value: 'family', text: 'Family' }
      ]
    }
  },
  watch: {
    'model.country': function(val) {
      if (val) {
        this.getCities()
      }
    }
  },
  created() {
    this.getCountries()
  },
  methods: {
    async getCountries() {
      var model = this.model
      await axios.get(this.$app.route('api.getCountries')).then(response => {
        this.countryOptions = response.data
      })
    },
    async getCities() {
      var model = this.model
      await axios
        .get(this.$app.route('api.getCountryCities'), {
          params: {
            country: this.model.country
          }
        })
        .then(response => {
          this.citiesOptions = response.data
        })
    }
  }
}
</script>
