<template>
  <div>
    <h4 class="title-head">
      Recipients List
      <b-button class="pull-right" variant="link" to="/dashboard">
        <b>
          <i class="fe fe-arrow-left"></i> Back to Dashboard
        </b>
      </b-button>
    </h4>
    <div class="container-fluid">
      <b-button to="/recipients/create" variant="primary">
        <i class="fe fe-plus-circle"></i>
        Add New Recipient
      </b-button>
      <b-datatable
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="recipients.search"
        delete-route="recipients.destroy"
        :length-change="false"
        :paging="true"
        :infos="false"
        :search="true"
        :export-data="false"
        class="recipients-table table-responsive mob-screen"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          bordered
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          sort-by="recipients.created_at"
          :sort-desc="true"
          class="recipients-list"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox :value="row.item.id" v-model="selected"></b-form-checkbox>
          </template>
          <template slot="name" slot-scope="row">
            <b-button
              v-if="row.item.id"
              variant="link"
              :to="`/recipients/${row.item.id}/edit`"
            >{{ getRecipientName(row.item) }}</b-button>
            <!-- <span>{{ getRecipientName(row.item) }}</span> -->
          </template>
          <template slot="country" slot-scope="row">
            <span v-text="row.item.getcountry.country"></span>
          </template>
          <template slot="actions" slot-scope="row">
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="success"
              v-b-tooltip.hover
              title="Edit"
              :to="`/recipients/${row.item.id}/edit`"
            >
              <i class="fe fe-edit"></i>
            </b-button>

            <b-button
              v-if="row.item.id"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.id)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatable>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipientsList',
  data() {
    return {
      selected: [],
      fields: [
        {
          key: 'name',
          label: 'Name',
          sortable: true
        },
        {
          key: 'email',
          label: 'Email'
        },
        {
          key: 'mobile',
          label: 'Mobile'
        },
        {
          key: 'country',
          label: 'Country'
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ]
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    getRecipientName(val) {
      var firstName = val.first_name
      var middleName = val.middle_name ? val.middle_name : ' '
      var lastName = val.last_name
      return firstName + ' ' + middleName + ' ' + lastName
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ recipient: id })
    }
  }
}
</script>
