<template>
  <div class="front-recipient-form">
    <h4 class="title-head">
      Create Recipient
      <b-button class="pull-right" variant="link" to="/recipients">
        <b><i class="fe fe-arrow-left"></i> Back to Recipients</b>
      </b-button>
    </h4>
    <div class="container">
      <form @submit.prevent="onSubmit">
        <b-card>
          <div class="recipient-details">
            <div class="row">
              <h6>Personal Details</h6>
            </div>

            <b-form inline class="item-row">
              <b-form-group
                class="w-45"
                label-for="first_name"
                label="First Name"
                :feedback="feedback('first_name')"
              >
                <b-form-input
                  name="first_name"
                  id="first_name"
                  v-model="model.first_name"
                  :state="state('first_name')"
                  placeholder="First Name"
                  class="w-100"
                ></b-form-input>
              </b-form-group>

              <b-form-group class="w-45" label="Middle Name">
                <b-form-input
                  v-model="model.middle_name"
                  placeholder="Middle Name"
                  class="w-100"
                >
                </b-form-input>
              </b-form-group>
            </b-form>

            <b-form inline class="item-row">
              <b-form-group
                label="Last Name"
                label-for="last_name"
                class="w-45"
                :feedback="feedback('last_name')"
              >
                <b-form-input
                  id="last_name"
                  v-model="model.last_name"
                  :state="state('last_name')"
                  placeholder="Last Name"
                  class="w-100"                  
                ></b-form-input>
              </b-form-group>

              <b-form-group
                label="Father Name"
                label-for="father_name"
                class="w-45"
                :feedback="feedback('father_name')"
              >
                <b-form-input
                  id="father_name"
                  v-model="model.father_name"
                  :state="state('father_name')"
                  placeholder="Father Name"
                  class="w-100"
                ></b-form-input>
              </b-form-group>
            </b-form>

            <b-form inline class="item-row">
              <b-form-group
                class="w-45"
                label-for="email"
                label="Email"
                :feedback="feedback('email')"
              >
                <b-form-input
                  id="email"
                  name="email"
                  v-model="model.email"
                  :state="state('email')"
                  placeholder="Email"
                  class="w-100"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                class="w-45"
                label-for="postal_code"
                label="Post Code"
                :feedback="feedback('postal_code')"
              >
                <b-form-input
                  id="postal_code"
                  name="postal_code"
                  v-model="model.postal_code"
                  :state="state('postal_code')"
                  placeholder="Postcode"
                  class="w-100"
                ></b-form-input>
              </b-form-group>
            </b-form>

            <b-form inline class="item-row">
              <b-form-group
                class="w-45"
                label-for="mobile"
                label="Mobile Number"
                :feedback="feedback('mobile')"
              >
                <b-form-input
                  id="mobile"
                  name="mobile"
                  v-model="model.mobile"
                  :state="state('mobile')"
                  placeholder="Mobile Number"
                  class="w-100"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                class="w-45"
                label-for="phone"
                label="Phone Number"
                :feedback="feedback('phone')"
              >
                <b-form-input
                  id="phone"
                  name="phone"
                  v-model="model.phone"
                  :state="state('phone')"
                  placeholder="Phone Number"
                  class="w-100"
                ></b-form-input>
              </b-form-group>
            </b-form>
            <b-form inline class="item-row">
              <b-form-group
                class="w-45"
                label-for="country"
                label="Country"
                :feedback="feedback('country')"
              >
                <b-form-select
                  v-model="model.country"
                  class="w-100"
                  :state="state('country')"
                >
                  <option value="">Please Select Country</option>
                  <option
                    v-for="(country, index) in countryOptions"
                    :value="country.value"
                    :key="index"
                  >
                    {{ country.text }}
                  </option>
                </b-form-select>
              </b-form-group>

              <b-form-group
                class="w-45"
                label-for="city"
                label="City"
                :feedback="feedback('city')"
              >
                <template v-if="citiesOptions.length > 0">
                  <b-form-select
                    id="city"
                    name="city"
                    v-model="model.city"
                    :state="state('city')"
                    class="w-100"
                  >
                    <option value="">Please Select City</option>
                    <option
                      v-for="(city, index) in citiesOptions"
                      :value="city.value"
                      :key="index"
                    >
                      {{ city.text }}
                    </option>
                  </b-form-select>
                </template>
                <template v-else>
                  <b-form-input
                    id="cityField"
                    v-model="model.city"
                    :state="state('city')"
                    placeholder="City / Town"
                    class="w-100"
                  ></b-form-input>
                </template>
              </b-form-group>
            </b-form>

            <b-form inline class="item-row">
              <b-form-group
                label-for="address_1"
                label="Address 1"
                :feedback="feedback('address_1')"
                class="w-45"
              >
                <b-form-textarea
                  id="address_1"
                  name="address_1"
                  v-model="model.address_1"
                  :state="state('address_1')"
                  placeholder="Address Line 1"
                  rows="3"
                  class="w-100"
                ></b-form-textarea>
              </b-form-group>

              <b-form-group
                label="Address 2"
                label-for="address_2"
                class="w-45"
              >
                <b-form-textarea
                  v-model="model.address_2"
                  placeholder="Address Line 2"
                  rows="3"
                  class="w-100"
                ></b-form-textarea>
              </b-form-group>
            </b-form>
          </div>

          <div class="recipient-bank-details">
            <div class="row">
              <h6>Bank Details</h6>
            </div>

            <b-form inline>
              <b-form-group
                class="w-45"
                label-for="bank"
                label="Bank"
                :feedback="feedback('bank')"
              >
                <b-form-select
                  id="bank"
                  name="bank"
                  v-model="model.bank"
                  :state="state('bank')"
                  class="w-100"
                >
                  <option value="">Please Select Bank</option>
                  <option
                    v-for="(bank, index) in bankOptions"
                    :value="bank.value"
                    :key="index"
                  >
                    {{ bank.text }}
                  </option>
                </b-form-select>
              </b-form-group>
              <b-form-group
                class="w-45"
                label-for="branchcity"
                label="Branch City"
                :feedback="feedback('branchcity')"
              >
                <b-form-select
                  id="branchcity"
                  name="branchcity"
                  v-model="model.branchcity"
                  :state="state('branchcity')"
                  class="w-100"
                >
                  <option value="">Please Select Branch</option>
                  <option
                    v-for="(city, index) in bankCityOptions"
                    :value="city.value"
                    :key="index"
                  >
                    {{ city.text }}
                  </option>
                </b-form-select>
              </b-form-group>
              <b-form-group
                class="w-45"
                label="Branch"
                :feedback="feedback('branch')"
              >
                <b-form-select
                  v-model="model.branch"
                  :state="state('branch')"
                  class="w-100"
                >
                  <option value="">Please Select Branch</option>
                  <option
                    v-for="(branch, index) in branchOptions"
                    :value="branch.value"
                    :key="index"
                  >
                    {{ branch.text }}
                  </option>
                </b-form-select>
              </b-form-group>
            </b-form>

            <b-form inline class="item-row">
              <b-form-group
                class="w-45"
                label="Account Number"
                :feedback="feedback('account_number')"
              >
                <b-form-input
                  v-model="model.account_number"
                  :state="state('account_number')"
                  placeholder="Account Number"
                  class="w-100"
                ></b-form-input>
              </b-form-group>

              <b-form-group label="Branch Code" class="w-45">
                <b-form-input
                  class="w-100"
                  v-model="model.branch_code"
                  placeholder="Branch Code"
                ></b-form-input>
              </b-form-group>
            </b-form>
          </div>
          <!-- <div class="row">
            <h6>Sender Consent</h6>
          </div>
          <b-form inline class="item-row">
            <b-form-group class="w-45" label="Recipient Relation" :feedback="feedback('recipient_relation')">
              <b-form-select
                v-model="model.recipient_relation"
                :state="state('recipient_relation')"
                class="w-100"
              >
                <option v-for="(recipient_relation, index) in relationOptions" :value="recipient_relation.value" :key="index">
                  {{ recipient_relation.text }}
                </option>
              </b-form-select>
            </b-form-group>

            <b-form-group class="w-45" label="Source of Income" :feedback="feedback('source_of_income')">
              <b-form-select
                v-model="model.source_of_income"
                :state="state('source_of_income')"
                class="w-100"
              >
                <option v-for="(source_of_income, index) in sourceOptions" :value="source_of_income.value" :key="index">
                  {{ source_of_income.text }}
                </option>
              </b-form-select>
              <b-form-input
                v-model="model.source_of_income"
                :state="state('source_of_income')"
                placeholder="Source of Income"
                class="w-100"
              ></b-form-input>
            </b-form-group>
          </b-form>
          <b-form inline class="item-row">
            <b-form-group class="w-45" label="Sending Reason" :feedback="feedback('sending_reason')">
              <b-form-select
                v-model="model.sending_reason"
                :options="reasonOptions"
                :state="state('email')"
                placeholder="Sending Reason"
                class="w-100"
              >
              </b-form-select>
            </b-form-group>
          </b-form> -->

          <b-row class="recipient-footer text-center">
            <b-button
              variant="danger"
              @click="$router.push('/recipients')"
              size="md"
              >Back</b-button
            >
            <b-button
              variant="success"
              size="md"
              @click="
                model.status = 'publish'
                onSubmit()
              "
              >Save</b-button
            >
          </b-row>
        </b-card>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import form from '../../mixins/form'
import PersonalDetails from '../../components/Send/RecipientForm/PersonalDetails'

export default {
  name: 'RecipientsForm',
  mixins: [form],
  data() {
    return {
      modelName: 'recipient',
      resourceRoute: 'recipients',
      listPath: '/recipients',
      bank_selected_id: null,
      countryOptions: [],
      newCountryOptions: [],
      citiesOptions: [],
      bankOptions: [],
      bankCityOptions: [],
      branchOptions: [],
      reasonOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'family_support', text: 'Family or Friend Support' },
        { value: 'purchase_services', text: 'Purchase of Services' },
        { value: 'property_payment', text: 'Property Payment' },
        { value: 'sending_self', text: 'Sending fund to self' }
      ],
      sourceOptions: [
        { value: null, text: 'Please select an option' },
        { value: 'income', text: 'Income' },
        { value: 'savings', text: 'Savings' },
        { value: 'sale_property', text: 'Sale of my/our property' },
        { value: 'bank_loan', text: 'Bank Loan' },
        { value: 'private_loan', text: 'Private Loan' },
        { value: 'electronic_check_report', text: 'Electronic Check Report' }
      ],
      relationOptions: [
        { value: null, text: 'None' },
        { value: 'parent', text: 'Parent' },
        { value: 'child', text: 'Child' },
        { value: 'spouse', text: 'Spouse' },
        { value: 'in_laws', text: 'In Laws' },
        { value: 'relative', text: 'Relative' },
        { value: 'self', text: 'Self' },
        { value: 'friend_family', text: 'Friend Family' },
        { value: 'employee_family', text: 'Employee Family' },
        { value: 'friend', text: 'Friend' },
        { value: 'family', text: 'Family' }
      ],
      model: {
        first_name: null,
        middle_name: null,
        last_name: null,
        address_1: null,
        address_2: null,
        postal_code: null,
        country: '',
        city: '',
        mobile: null,
        phone: null,
        email: null,
        sending_reason: null,
        recipient_relation: null,
        father_name: null,
        source_of_income: null,
        branch_code: null,
        bank: '',
        branchcity: '',
        branch: '',
        account_number: null
      }
    }
  },
  watch: {
    'model.country': function(val) {
      if (val) {
        this.getCities()
        this.getBanks(val)
      }
    },
    'model.bank': function(val) {
      if (val) {
        this.getBankCity(val)
      }
    },
    'model.branchcity': function(val) {
      if (val) {
        this.getBranches(val, this.bank_selected_id)
      }
    },
    'model.branch': function(val) {
      if (val) {
        this.getBranchCode(val)
      }
    }
  },
  created() {
    this.getCountries()
  },
  methods: {
    async getCountries() {
      var model = this.model
      await axios
        .get(this.$app.route('api.getSendToCountries'))
        .then(response => {
          var data = response.data
          let newCountryOptions = []
          this.countryOptions = data
          this.newCountryOptions = newCountryOptions
        })
    },
    async getCities() {
      var model = this.model
      await axios
        .get(this.$app.route('api.getCountryCities'), {
          params: {
            country: this.model.country
          }
        })
        .then(response => {
          this.citiesOptions = response.data
        })
    },
    async getBanks(sendTocountry) {
      await axios
        .get(this.$app.route('api.getCountryBanksById'), {
          params: {
            country: sendTocountry
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.bankOptions = response.data.response
          }
        })
    },
    async getBankCity(bank) {
      this.bank_selected_id = bank
      await axios
        .get(this.$app.route('api.getBankCities'), {
          params: {
            bank_id: bank
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.bankCityOptions = response.data.response
            console.log(this.bankCityOptions)
          }
        })
    },
    async getBranches(bank_city, bank_id) {
      console.log(bank_city, bank_id)
      await axios
        .get(this.$app.route('api.getBankBranches'), {
          params: {
            bank_id: bank_id,
            bank_City: bank_city
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.branchOptions = response.data.response
          }
        })
    },
    async getBranchCode(branch) {
      await axios
        .get(this.$app.route('api.getBranchCode'), {
          params: {
            branch_id: branch
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            if (this.isNew) {
              this.model.branch_code = response.data.code
            }
          }
        })
    }
  }
}
</script>
