<template>
  <div class="recharge-container container">
    <template v-if="showTemplate">
      <b-alert class="verify-error" variant="danger" @dismissed="showError = !showError" :show="showError" dismissible>{{ errorMessage }}</b-alert>
      <div class="recharge-head">
        <h3>Recharge Your Account</h3>
      </div>
      <div class="recharge-content">
        <div class="row">
          <div class="col-md-6">
            <!-- <div class="recharge-country row">
              <h6>Country: <span v-if="!model.country" class="req">*</span></h6>
              <b-form-select v-model="model.country">
                <option value="null">Please Select Country</option>
                <option v-for="(option, index) in countryOptions" :value="option.value" :key="index">
                  {{ option.text }}
                </option>
              </b-form-select>
            </div> -->
            <div class="recharge-amount row">
              <h6>Amount: <span v-if="!model.amount" class="req">*</span></h6>
              <b-form-group>
                <b-form-input v-model="model.amount" placeholder="Transaction Amount"></b-form-input>
              </b-form-group>
            </div>
            <div class="row">
              <h6>Transaction Details: <span v-if="!model.transaction_details" class="req">*</span></h6>
              <b-form-textarea rows="9" v-model="model.transaction_details" :placeholder="'Send To \nTransaction Number'"></b-form-textarea>
            </div>
          </div>
          <div class="col-md-6">
            <h6>Upload Reciept Image: <span v-if="(!model.image || model.image.length == 0)" class="req">*</span></h6>
            <UploadTransaction @fileChanged="UploadFileChanged"></UploadTransaction>
          </div>
        </div>
      </div>
      <div class="recharge-footer">
        <div class="row">
          <div class="text-center col-md-12">
            <b-button @click="submit" class="btn-submit" variant="success">Recharge</b-button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import UploadTransaction from './UploadTransaction'
import SuccessRequest from './SuccessRequest'

export default {
  name: 'Index',
  components: {
    UploadTransaction
  },
  data() {
    return {
      showError: false,
      errorMessage: null,
      countryOptions: null,
      file: [],
      submitDisable: true,
      showTemplate: true,
      showSuccessRequest: false,
      model: {
        amount: null,
        transaction_details: null,
        image: null
      }
    }
  },
  watch: {
    'model.transaction_details': function(val) {
      if (val) {
        this.showError = false
      }
    },
    'model.image': function(val) {
      if (val) {
        this.showError = false
      }
    }
  },
  created() {
    this.getCountries()
  },
  methods: {
    submit() {
      var model = this.model
      if (!model.transaction_details || !model.image) {
        this.showError = true
        this.errorMessage = 'Please Enter Required Fields'
        return false
      } else {
        this.saveRechargeBalance()
      }
    },
    UploadFileChanged($data) {
      var data = $data
      var model = this.model
      if (data.transaction_image) {
        if (data.transaction_image.length > 0) {
          model.image = data.transaction_image
        }
      } else {
        model.image = null
      }
    },
    async getCountries() {
      await axios.get(this.$app.route('api.getCountries')).then(response => {
        if (response.status == 200) {
          this.countryOptions = response.data
        }
      })
    },
    async saveRechargeBalance() {
      var model = this.model
      let action = this.$app.route('rechargeRequest')
      let formData = this.$app.objectToFormData(model)
      await axios.post(action, formData).then(response => {
        if (response.data.status == 200) {
          // this.showSuccessRequest = true
          this.showTemplate = false
          window.location.reload()
        } else {
        }
      })
    }
  }
}
</script>
