<template>
  <div class="recharge-container container">
    <h3>Successfully Recharged Balance Request Sent. Pending for Admin to approve.</h3>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SuccessRequest',
  components: {},
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>
