<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="transaction-upload upload-section">
          <b-alert class="verify-error" @dismissed="showError = !showError" :show="showError" dismissible>Something Went Wrong! Please Try Again</b-alert>
          <div class="row">
            <div class="col-md-6">
              <vueDropzone
                ref="myVueDropzone"
                @vdropzone-success="filesAdded"
                @vdropzone-removed-file="fileRemoved"

                @vdropzone-upload-progress="uploadProgress"
                @vdropzone-sending="uploadSending"
                @vdropzone-error="uploadError"


                id="dropzone"
                v-model="model.bill_image"
                :options="dropzoneOptions"
              >
              </vueDropzone>
            </div>
            <div class="col-md-6">
              <div class="upload-again">
                <b-button @click="uploadFile" class="btn-green btn-upload">Choose File</b-button>
              </div>
              <div class="instruction">
                <small>Maximum File Size is 8MB. <br> JPG or PNG format only</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'UploadTransaction',
  components: {
    vueDropzone: vue2Dropzone
  },
  props: {
    file: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      showLoader:false,
      fileInProgress: false,
      showError: false,
      model: {
        transaction_image: [],
        type: 'transaction'
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
       //  acceptedFiles: '.jpeg,.jpg,.png',
        dictDefaultMessage: 'Drop Images here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      }
    }
  },
  watch: {

    fileInProgress: function(val) {
      console.log("------------------- fileInProgress -------------------")

        if (val) {
          $('#dropzone').css('pointer-events', 'none')
          $('#dropzone .dz-preview').css('pointer-events', 'auto')
        } else {
          $('#dropzone').css('pointer-events', 'auto')
        }

      console.log("------------------- //fileInProgress -------------------")

    },
    'model.transaction_image': function(val) {
      this.fileChanged()
    }
  },
  methods: {

uploadProgress() {
  this.showLoader = true;
  console.log("------------------- // uploadProgress method called -------------------")
},

uploadSending() {
  this.showLoader = true;
  console.log("------------------- // uploadSending method called-------------------")
},

uploadError() {
  this.showLoader = false;
  console.log("------------------- // uploadError method called -------------------")
},



    uploadFile() {
      this.model.transaction_image = []
      this.$refs.myVueDropzone.removeAllFiles(true)
      $('#dropzone').click()
    },
    fileChanged() {
      var model = this.model
      // let formData = this.$app.objectToFormData(model)
      // console.log(model.transaction_image)
      this.$emit('fileChanged', model)
    },
    filesAdded(file, response) {

  this.showLoader = false;
      console.log("File uploaded successfully ! ")

      var model = this.model
      if (file) {
        model.transaction_image.push(file)
      }
    },
    fileRemoved(file) {
      var workorderImg = this.model.transaction_image
      var IndexToRemove = workorderImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.transaction_image.splice(IndexToRemove, 1)
      }
    }
  }
}
</script>
