<template>
  <div>
    <b-card>
      <template slot="header">
        <div class="card-options" v-if="this.$app.user.can('create margin')">
          <b-button to="/margin/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> {{ $t('buttons.margin.create') }}
          </b-button>
        </div>
      </template>
      <b-datatableinventory
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.margin.search"
        delete-route="admin.margin.destroy"
        action-route="admin.margin.batch_action"
        :actions="actions"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          sort-by="margin.created_at"
          :sort-desc="true"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              :value="row.item.id"
              v-model="selected"
            ></b-form-checkbox>
          </template>
          <template slot="type" slot-scope="row">
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="link"
              :to="`/margin/${row.item.id}/edit`"
            >
              <span v-text="row.item.type"></span>
            </b-button>
          </template>
          <template slot="rate_margin" slot-scope="row">
            <span>{{ row.value }}%</span>
          </template>
          <template slot="fee_margin" slot-scope="row">
            <span>{{ row.value }}%</span>
          </template>
          <template slot="margin.created_at" slot-scope="row">
            {{ row.item.created_at }}
          </template>
          <template slot="margin.updated_at" slot-scope="row">
            {{ row.item.updated_at }}
          </template>
          <template slot="actions" slot-scope="row">
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.id)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatableinventory>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'MarginList',
  data() {
    return {
      selected: [],
      fields: [
        { key: 'checkbox' },
        {
          key: 'type',
          label: this.$t('validation.margin.type'),
          sortable: true
        },
        {
          key: 'rate_margin',
          label: this.$t('validation.margin.rate_margin'),
          sortable: true
        },
        {
          key: 'fee_margin',
          label: this.$t('validation.margin.fee_margin'),
          sortable: true
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.margin.actions.destroy')
      }
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ margin: id })
    }
  }
}
</script>
