<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col xl="8">
          <b-card>
            <h3 class="card-title" slot="header">
              {{
                isNew
                  ? $t('labels.backend.margin.titles.create')
                  : $t('labels.backend.margin.titles.edit')
              }}
            </h3>
            <b-form-group
              :label="$t('validation.margin.type')"
              label-for="type"
              horizontal
              :label-cols="2"
              :feedback="feedback('type')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.margin.type')"
                v-model="model.type"
                :state="state('type')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.margin.rate_margin')"
              label-for="rate_margin"
              horizontal
              :label-cols="2"
              :feedback="feedback('rate_margin')"
            >
              <b-input-group prepend="%">
                <b-form-input
                  required
                  :placeholder="$t('validation.margin.rate_margin')"
                  v-model="model.rate_margin"
                  :state="state('rate_margin')"
                ></b-form-input>
              </b-input-group>
            </b-form-group>

            <b-form-group
              :label="$t('validation.margin.fee_margin')"
              label-for="fee_margin"
              horizontal
              :label-cols="2"
              :feedback="feedback('fee_margin')"
            >
              <b-input-group prepend="%">
                <b-form-input
                  required
                  :placeholder="$t('validation.margin.fee_margin')"
                  v-model="model.fee_margin"
                  :state="state('fee_margin')"
                ></b-form-input>
              </b-input-group>
            </b-form-group>

            <b-row slot="footer">
              <b-col md>
                <b-button to="/margin" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col md>
                <b-button
                  right
                  split
                  :text="$t('buttons.margin.save_and_publish')"
                  class="float-right"
                  variant="success"
                  size="sm"
                  @click="
                    model.status = 'publish'
                    onSubmit()
                  "
                  :disabled="pending"
                  v-if="
                    isNew ||
                      this.$app.user.can('edit margin') ||
                      this.$app.user.can('edit own margin')
                  "
                >
                  Save
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import inventoryform from '../../mixins/form'

export default {
  name: 'MarginForm',
  mixins: [inventoryform],
  data() {
    return {
      modelName: 'margin',
      resourceRoute: 'margin',
      listPath: '/margin',
      countryOptions: [],
      model: {
        type: null,
        rate_margin: null,
        fee_margin: null
      }
    }
  },
  created() {},
  methods: {}
}
</script>
