<template>
  <div class="select-payment-container" style="padding: 100px;">
    <div>
      <b-alert variant="danger" dismissible v-model="showDismissibleAlert">Please Fill the Required Fields!</b-alert>
    </div>
    <div class="contact-us-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section-heading">
              <h3>Contact with us</h3>
              <p>
                It's very easy to get in touch with us. Just use the contact
                form or pay us a visit.
              </p>
            </div>
            <div class="footer-address">
              <h6>Head Office</h6>
              <p>208A Whitechapel Rd, Whitechapel, London E1 1BJ</p>
              <div
                data-attrid="kc:/location/location:address"
                data-md="1002"
                lang="en-GB"
                data-hveid="CAYQAQ"
                data-ved="2ahUKEwjm6ICxmrzgAhXxQxUIHW0RDfoQkCkwEHoECAYQAQ"
              >
                <div>
                  <div
                    data-dtype="d3ifr"
                    data-local-attribute="d3adr"
                    data-ved="2ahUKEwjm6ICxmrzgAhXxQxUIHW0RDfoQghwoADAQegQIBhAC"
                  >
                    <div jsl="$t t-L9CBsj706lI;$x 0;"></div>
                    <div jsl="$t t-L9CBsj706lI;$x 0;"></div>
                  </div>
                </div>
              </div>
              <ul>
                <li>
                  <i class="fa fa-phone"></i>
                  <span>Phone: 020 7426 0113</span>
                </li>
                <li>
                  <i class="fa fa-envelope-o"></i>
                  <span>
                    Email :
                    <a href="mailto:info@anexpress.com">info@anexpress.com</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-7">
            <form action="#" method="post" class="contact-us-form" novalidate>
              <h6>Reach us quickly</h6>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.name"
                      :placeholder="$t('validation.attributes.name')"
                    ></b-form-input>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.email"
                      :placeholder="$t('validation.attributes.email')"
                    ></b-form-input>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.phone"
                      :placeholder="$t('validation.attributes.phone')"
                    ></b-form-input>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <b-form-textarea
                      id="message"
                      name="message"
                      rows="3"
                      required
                      v-model="model.message"
                      :placeholder="$t('validation.attributes.message')"
                    ></b-form-textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 100px; float: right;">
      <div class="btn-section">
        <b-button @click="submit" variant="primary" class="btn-submit" size="md">Submit</b-button>
      </div>
    </div>
    <template v-if="showError">
      <b-alert variant="danger" dismissible>Please Enter Require Fields!!!</b-alert>
    </template>
  </div>
</template>
<!-- :feedback="feedback('bank_name')"
                v-model="model.Bank_Name"
               :state="state('bank_name')"-->
<script>
import axios from 'axios'
import SendingNav from '../snippets/SendingNav'
import RechargeBalance from '../Recharge/Index'
export default {
  name: 'ContactUs',
  components: {},
  data() {
    return {
      showError: false,
      showDismissibleAlert: false,
      model: {
        name: null,
        email: null,
        phone: null,
        message: null
      }
    }
  },
  created() {
    this.getUserDetails()
  },
  methods: {
    async getUserDetails() {
      await axios.get(this.$app.route('getUserDetails')).then(result => {
        if (result.data.status == 200) {
          this.model.name = result.data.name
          this.model.email = result.data.email
          this.model.phone = result.data.phone
        }
      })
    },
    async submit() {
      // alert('Form submit area goes here !')

      if (!this.model.name || !this.model.message) {
        alert('Name and Message not found!')
        this.showError = true
        this.showDismissibleAlert = true
        return false
      } else {
        this.showError = false
      }

      await axios
        .post(this.$app.route('contactus.submit'), {
          data: this.model
        })
        .then(result => {
          if (result.data.status == 200) {
            //this.company_account_data = result.data.showaccount_data
          }
        })
        .catch(error => {
          console.log(error)
        })

      this.test()
    },

    async test() {
      let result = await window.swal({
        title: 'Message Sent',
        type: 'success',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        this.$router.push('/dashboard')
      }
    }
  } // methods.
}
</script>
