<template>
  <div class="customer-form">
    <form @submit.prevent="onSubmit">
      <b-row class="justify-content-center">
        <b-col xl="10">
          <b-card>
            <h3 class="card-title" slot="header">
              {{
                isNew
                  ? $t('labels.backend.customers.titles.create')
                  : $t('labels.backend.customers.titles.edit')
              }}
            </h3>
            <b-form-group
              :label="$t('validation.attributes.first_name')"
              label-for="first_name"
              horizontal
              :label-cols="3"
              :feedback="feedback('first_name')"
            >
              <b-form-input
                id="first_name"
                name="first_name"
                required
                :placeholder="$t('validation.attributes.first_name')"
                v-model="model.first_name"
                :state="state('first_name')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.middle_name')"
              label-for="middle_name"
              horizontal
              :label-cols="3"
              :feedback="feedback('middle_name')"
            >
              <b-form-input
                id="middle_name"
                name="middle_name"
                required
                :placeholder="$t('validation.attributes.middle_name')"
                v-model="model.middle_name"
                :state="state('middle_name')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.last_name')"
              label-for="last_name"
              horizontal
              :label-cols="3"
              :feedback="feedback('last_name')"
            >
              <b-form-input
                id="last_name"
                name="last_name"
                required
                :placeholder="$t('validation.attributes.last_name')"
                v-model="model.last_name"
                :state="state('last_name')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.name')"
              label-for="name"
              horizontal
              :label-cols="3"
              :feedback="feedback('name')"
            >
              <b-form-input
                id="name"
                name="name"
                required
                :placeholder="$t('validation.attributes.name')"
                v-model="model.name"
                :state="state('name')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.email')"
              label-for="email"
              horizontal
              :label-cols="3"
              :feedback="feedback('email')"
            >
              <b-form-input
                id="email"
                name="email"
                required
                :placeholder="$t('validation.attributes.email')"
                v-model="model.email"
                :state="state('email')"
              ></b-form-input>
            </b-form-group>

            <div class="form-group">
              <b-row>
                <b-col lg="9" offset-lg="3">
                  <c-switch
                    name="active"
                    v-model="model.active"
                    :description="$t('validation.attributes.active')"
                  ></c-switch>
                </b-col>
              </b-row>
            </div>

            <b-form-group
              :label="$t('validation.attributes.password')"
              label-for="password"
              horizontal
              :label-cols="3"
              :feedback="feedback('password')"
            >
              <b-form-input
                id="password"
                name="password"
                :placeholder="$t('validation.attributes.password')"
                v-model="model.password"
                :state="state('password')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.password_confirmation')"
              label-for="password_confirmation"
              horizontal
              :label-cols="3"
              :feedback="feedback('password_confirmation')"
            >
              <b-form-input
                id="password_confirmation"
                name="password_confirmation"
                :placeholder="$t('validation.attributes.password_confirmation')"
                v-model="model.password_confirmation"
                :state="state('password_confirmation')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.title')"
              label-for="title"
              horizontal
              :label-cols="3"
              :feedback="feedback('title')"
            >
              <b-form-input
                id="title"
                name="title"
                :placeholder="$t('validation.attributes.title')"
                v-model="model.title"
                :state="state('title')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.address')"
              label-for="address"
              horizontal
              :label-cols="3"
              :feedback="feedback('address_1')"
            >
              <b-form-input
                id="address"
                name="address"
                :placeholder="$t('validation.attributes.address')"
                v-model="model.address_1"
                :state="state('address_1')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="Address 2"
              label-for="address_2"
              horizontal
              :label-cols="3"
              :feedback="feedback('address_2')"
            >
              <b-form-input
                id="address_2"
                name="address_2"
                placeholder="Address 2"
                v-model="model.address_2"
                :state="state('address_2')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.postcode')"
              label-for="postcode"
              horizontal
              :label-cols="3"
              :feedback="feedback('postcode')"
            >
              <b-form-input
                id="postcode"
                name="postcode"
                :placeholder="$t('validation.attributes.postcode')"
                v-model="model.postcode"
                :state="state('postcode')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.dob')"
              label-for="dob"
              horizontal
              :label-cols="3"
              :feedback="feedback('dob')"
            >
              <b-form-input
                id="dob"
                name="dob"
                :placeholder="$t('validation.attributes.dob')"
                v-model="model.dob"
                :state="state('dob')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.place_of_birth')"
              label-for="place_of_birth"
              horizontal
              :label-cols="3"
              :feedback="feedback('place_of_birth')"
            >
              <b-form-input
                id="place_of_birth"
                name="place_of_birth"
                :placeholder="$t('validation.attributes.place_of_birth')"
                v-model="model.place_of_birth"
                :state="state('place_of_birth')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.country_id')"
              label-for="country_id"
              horizontal
              :label-cols="3"
              :feedback="feedback('country_id')"
            >
              <b-form-input
                id="country"
                name="country"
                :placeholder="$t('validation.attributes.country_id')"
                v-model="model.country_id"
                :state="state('country_id')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.city')"
              label-for="city"
              horizontal
              :label-cols="3"
              :feedback="feedback('city')"
            >
              <b-form-input
                id="city"
                name="city"
                :placeholder="$t('validation.attributes.city')"
                v-model="model.city"
                :state="state('city')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.nationality')"
              label-for="nationality"
              horizontal
              :label-cols="3"
              :feedback="feedback('nationality')"
            >
              <b-form-input
                id="nationality"
                name="nationality"
                :placeholder="$t('validation.attributes.nationality')"
                v-model="model.nationality"
                :state="state('nationality')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.mobile_no')"
              label-for="mobile_no"
              horizontal
              :label-cols="3"
              :feedback="feedback('mobile_no')"
            >
              <b-form-input
                id="mobile_no"
                name="mobile_no"
                :placeholder="$t('validation.attributes.mobile_no')"
                v-model="model.mobile_no"
                :state="state('mobile_no')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.phone_no')"
              label-for="phone_no"
              horizontal
              :label-cols="3"
              :feedback="feedback('phone_no')"
            >
              <b-form-input
                id="phone_no"
                name="phone_no"
                :placeholder="$t('validation.attributes.phone_no')"
                v-model="model.phone_no"
                :state="state('phone_no')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.consent_marketing')"
              label-for="consent_marketing"
              horizontal
              :label-cols="3"
              :feedback="feedback('consent_marketing')"
            >
              <b-form-input
                id="consent_marketing"
                name="consent_marketing"
                :placeholder="$t('validation.attributes.consent_marketing')"
                v-model="model.consent_marketing"
                :state="state('consent_marketing')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.locale')"
              label-for="locale"
              horizontal
              :label-cols="3"
              :feedback="feedback('locale')"
            >
              <b-form-input
                id="locale"
                name="locale"
                :placeholder="$t('validation.attributes.locale')"
                v-model="model.locale"
                :state="state('locale')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.timezone')"
              label-for="timezone"
              horizontal
              :label-cols="3"
              :feedback="feedback('timezone')"
            >
              <b-form-input
                id="timezone"
                name="timezone"
                :placeholder="$t('validation.attributes.timezone')"
                v-model="model.timezone"
                :state="state('timezone')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.doc_verify_status')"
              label-for="doc_verify_status"
              horizontal
              :label-cols="3"
              :feedback="feedback('doc_verify_status')"
            >
              <b-form-input
                id="doc_verify_status"
                name="doc_verify_status"
                :placeholder="$t('validation.attributes.doc_verify_status')"
                v-model="model.doc_verify_status"
                :state="state('doc_verify_status')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.preferred_country')"
              label-for="preferred_country"
              horizontal
              :label-cols="3"
              :feedback="feedback('preferred_country')"
            >
              <b-form-input
                id="preferred_country"
                name="preferred_country"
                :placeholder="$t('validation.attributes.preferred_country')"
                v-model="model.preferred_country"
                :state="state('preferred_country')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.send_amount_country')"
              label-for="send_amount_country"
              horizontal
              :label-cols="3"
              :feedback="feedback('send_amount_country')"
            >
              <b-form-input
                id="send_amount_country"
                name="send_amount_country"
                :placeholder="$t('validation.attributes.send_amount_country')"
                v-model="model.send_amount_country"
                :state="state('send_amount_country')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.balance')"
              label-for="balance"
              horizontal
              :label-cols="3"
              :feedback="feedback('balance')"
            >
              <b-form-input
                id="balance"
                name="balance"
                :placeholder="$t('validation.attributes.balance')"
                v-model="model.balance"
                :state="state('balance')"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              :label="$t('validation.attributes.roles')"
              label-for="roles"
              horizontal
              :label-cols="3"
            >
              <b-form-checkbox-group
                stacked
                v-model="model.roles"
                name="roles[]"
              >
                <template v-for="role in roles">
                  <b-form-checkbox
                    v-if="role.display_name == 'Customer'"
                    :key="role.id"
                    v-b-tooltip.left
                    :title="role.description"
                    :value="role.id"
                    disabled
                  >
                    {{ role.display_name }}
                  </b-form-checkbox>
                </template>
              </b-form-checkbox-group>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.highalert')"
              label-for="highrisk"
              horizontal
              :label-cols="3"
            >
              <b-form-checkbox
                value="1"
                unchecked-value="0"
                v-model="model.highrisk"
              >
              </b-form-checkbox>
            </b-form-group>



          <!-- anual income -->
            <b-form-group
              label="Annual Income"
              label-for="annual_income"
              horizontal
              :label-cols="3"
              :feedback="feedback('annual_income')"
            >
              <b-form-input
                id="annual_income"
                name="annual_income"
                required
                placeholder="Annual Income"
                v-model="model.annual_income"
                :state="state('annual_income')"
              ></b-form-input>
            </b-form-group>

            <!-- exp_month_volume -->
            <b-form-group
              label="Exp Month Volume"
              label-for="exp_month_volume"
              horizontal
              :label-cols="3"
              :feedback="feedback('exp_month_volume')"
            >
              <b-form-input
                id="exp_month_volume"
                name="exp_month_volume"
                required
                placeholder="Exp Month Volume"
                v-model="model.exp_month_volume"
                :state="state('exp_month_volume')"
              ></b-form-input>
            </b-form-group>



       <!-- occupation -->
            <b-form-group
              label="Occupation"
              label-for="occupation"
              horizontal
              :label-cols="3"
              :feedback="feedback('occupation')"
            >
              <b-form-input
                id="occupation"
                name="occupation"
                required
                placeholder="Occupation"
                v-model="model.occupation"
                :state="state('occupation')"
              ></b-form-input>
            </b-form-group>

            <!-- senior_gov_pos -->
            <b-form-group
              label="Senior Government Position"
              label-for="senior_gov_pos"
              horizontal
              :label-cols="3"
              :feedback="feedback('senior_gov_pos')"
            >
              <b-form-input
                id="senior_gov_pos"
                name="senior_gov_pos"
                required
                placeholder="Senior Government Position"
                v-model="model.senior_gov_pos"
                :state="state('senior_gov_pos')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.attributes.thrashold')"
              label-for="thrashold"
              horizontal
              :label-cols="3"
              :feedback="feedback('thrashold')"
            >
              <b-form-input
                id="thrashold"
                name="thrashold"
                :placeholder="$t('validation.attributes.thrashold')"
                v-model="model.thrashold"
                :state="state('thrashold')"
              ></b-form-input>
            </b-form-group>

          <!-- old customer id -->
          <b-form-group
              label="Old Customer ID"
              label-for="old_customer_id"
              horizontal
              :label-cols="3"
              :feedback="feedback('old_customer_id')"
            >
              <b-form-input
                id="old_customer_id"
                name="old_customer_id"                
                placeholder="Old Customer ID"
                v-model="model.old_customer_id"
                :state="state('old_customer_id')"
              ></b-form-input>
            </b-form-group>
          <!-- //old customer id -->


          <div v-for="ben in this.beneficiaries">
            <b-form-group
              :label="concatName(ben.first_name, ben.last_name)"
              horizontal
              :label-cols="3"              
            >
              <b-form-input                
                :value="ben.old_beneficiary_id"
                :name="convertToString(ben.id)"                
                @keyup.native="throttledMethod($event)"
                placeholder="Enter Old Beneficiary Id."
                type="number"
              ></b-form-input>
          </b-form-group>

        </div>
<!-- @input="throttledMethod($event)" -->
<!--  

  <b-table striped hover :items="beneficiaries"></b-table>
-->       
<!-- <b-row>
  <b-col>

    <table class="table">
      <tr v-for="ben in this.beneficiaries">
        <td>
          <label>{{ ben.first_name + " " + ben.last_name }}</label>
          <input type="text" :name="'beneficiary[' + beneficary.id + ']'" @input="throttledMethod">
        </td>
        <td>
          <input class="form-control" type="text" :name="ben.id" :id="ben.id" :value="ben.old_beneficiary_id" @input="throttledMethod($event)">
        </td>
      </tr>
    </table>

  </b-col>
</b-row> -->


            <b-row slot="footer">
              <b-col>
                <b-button to="/customers" exact variant="danger" size="sm">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col>
                <b-button                  
                  type="submit"
                  variant="success"
                  size="sm"
                  class="float-right"
                  :disabled="pending"
                  v-if="isNew || this.$app.user.can('edit customer')"
                >
                  {{ isNew ? $t('buttons.create') : $t('buttons.edit') }}
                </b-button>
              </b-col>
            </b-row>



          </b-card>
        </b-col>
      </b-row>
    </form>
    <!-- *********** DOCUMENTS SECTION *********** -->
    <b-row class="customer-docs justify-content-center">
      <b-col xl="10">
        <b-card>
          <h3 class="card-title" slot="header">
            {{
              isNew
                ? $t('labels.backend.customers.titles.documents')
                : $t('labels.backend.customers.titles.documents')
            }}
          </h3>
          <template v-if="docs">
            <h3>Sender Documents & Images</h3>
            <template v-if="docs.verify_Id">
              <h3 class="uppercase">
                <span>{{ docs.verify_Id.type.replace(/_/g, ' ') }}</span>
              </h3>
              <template v-if="identityImage">
                <IdentityUploads
                  :docs.sync="docs"
                  :identity-image.sync="identityImage"
                ></IdentityUploads>
              </template>
              <!-- <img id="size" :src="'/' + docs.verify_Id.path + '/' +docs.verify_Id.image_name" alt=""> -->
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
              <div class="doc-actions">
                <button
                  :disabled="docs.verify_Id.status === 'accepted'"
                  @click="acceptDoc(docs.verify_Id.type)"
                  type="button"
                  class="btn btn-primary"
                >
                  Accept
                </button>
                <button
                  :disabled="docs.verify_Id.status === 'rejected'"
                  @click="rejectDoc(docs.verify_Id.type)"
                  type="button"
                  class="btn btn-danger"
                >
                  Reject
                </button>
              </div>
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
            </template>
            <template v-if="docs.verify_doc">
              <h3 class="uppercase">
                <span>{{ docs.verify_face.type.replace(/_/g, ' ') }}</span>
              </h3>
              <template v-if="faceImage">
                <FaceUploads
                  :docs.sync="docs"
                  :face-image.sync="faceImage"
                ></FaceUploads>
              </template>
              <!-- <img id="size" :src="'/' + docs.verify_face.path + '/' +docs.verify_face.image_name" alt=""> -->
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
              <div class="doc-actions">
                <button
                  :disabled="docs.verify_face.status === 'accepted'"
                  @click="acceptDoc(docs.verify_face.type)"
                  type="button"
                  class="btn btn-primary"
                >
                  Accept
                </button>
                <button
                  :disabled="docs.verify_face.status === 'rejected'"
                  @click="rejectDoc(docs.verify_face.type)"
                  type="button"
                  class="btn btn-danger"
                >
                  Reject
                </button>
              </div>
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
            </template>
            <template v-if="docs.verify_doc">
              <h3 class="uppercase">
                <span>{{ docs.verify_doc.type.replace(/_/g, ' ') }}</span>
              </h3>
              <DocUploads
                :docs.sync="docs"
                :doc-image.sync="docImage"
              ></DocUploads>
              <!-- <img id="size" :src="'/' + docs.verify_doc.path + '/' +docs.verify_doc.image_name" alt=""> -->
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
              <div class="doc-actions">
                <button
                  :disabled="docs.verify_doc.status === 'accepted'"
                  @click="acceptDoc(docs.verify_doc.type)"
                  type="button"
                  class="btn btn-primary"
                >
                  Accept
                </button>
                <button
                  :disabled="docs.verify_doc.status === 'rejected'"
                  @click="rejectDoc(docs.verify_doc.type)"
                  type="button"
                  class="btn btn-danger"
                >
                  Reject
                </button>
              </div>
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
            </template>
            <template v-if="docs.additional_doc">
              <h3 class="uppercase">
                <span>{{ docs.additional_doc.type.replace(/_/g, ' ') }}</span>
              </h3>
              <AdditionalDocUploads
                :docs.sync="docs"
                :additional-doc-image.sync="additionalDocImage"
              ></AdditionalDocUploads>
              <!-- <img id="size" :src="'/' + docs.additional_doc.path + '/' +docs.additional_doc.image_name" alt=""> -->
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
              <div class="doc-actions">
                <button
                  :disabled="docs.additional_doc.status === 'accepted'"
                  @click="acceptDoc(docs.additional_doc.type)"
                  type="button"
                  class="btn btn-primary"
                >
                  Accept
                </button>
                <button
                  :disabled="docs.additional_doc.status === 'rejected'"
                  @click="rejectDoc(docs.additional_doc.type)"
                  type="button"
                  class="btn btn-danger"
                >
                  Reject
                </button>
              </div>
              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
            </template>
          </template>
        </b-card>
      </b-col>
    </b-row>
    <!-- *********** PAYMENTS SECTION *********** -->
    <b-row class="justify-content-center">
      <b-col xl="10">
        <b-card>
          <h3>Customer Payments</h3>
          <div class="row">
            <div class="col-md-4 col-md-offset-6">
              <b-form-select v-model="date">
                <option value="null">Select Date Range</option>
                <option value="3_month">Last 3 Months</option>
                <option value="6_month">Last 6 Months</option>
                <option value="year">Last Year</option>
              </b-form-select>
              <b-button @click="getPayments">Search</b-button>
            </div>
          </div>
          <template v-if="customerPayments">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Send From</th>
                  <th>Send To</th>
                  <th>Recipient</th>
                  <th>Service Type</th>
                  <th>Sending Amount</th>
                  <th>Fee</th>
                  <th>Total To Pay</th>
                  <th>Recipient Gets</th>
                  <th>Exchange Rate</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(payment, index) in customerPayments">
                  <tr v-if="payment.status === 'paid'" :key="index">
                    <td>{{ payment.payment_details.sendFromCountryName }}</td>
                    <td>{{ payment.payment_details.sendToCountryName }}</td>
                    <td>
                      <template v-if="payment.recipient">
                        {{ payment.recipient.first_name }}
                        {{ payment.recipient.last_name }}
                      </template>
                      <template v-else>
                        Recipient Not Found
                      </template>
                    </td>
                    <td class="service-type">
                      {{
                        payment.payment_details.serviceType.replace(/_/g, ' ')
                      }}
                    </td>
                    <template>
                      <template
                        v-if="
                          payment.payment_details.calculate.sendAmount >
                            model.thrashold && model.thrashold
                        "
                      >
                        <td class="send-amount">
                          <i
                            class="fe fe-alert-circle alert-highrisk alert-size"
                            variant="danger"
                          ></i>
                          {{ payment.payment_details.sendCurrency }}
                          {{ payment.payment_details.calculate.sendAmount }}
                        </td>
                      </template>
                      <template v-else>
                        <td class="send-amount">
                          {{ payment.payment_details.sendCurrency }}
                          {{ payment.payment_details.calculate.sendAmount }}
                        </td>
                      </template>
                    </template>
                    <td class="total-fee">
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.totalFee }}
                    </td>
                    <td class="total-to-pay">
                      {{ payment.payment_details.sendCurrency }}
                      {{ payment.payment_details.calculate.totalToPay }}
                    </td>
                    <td class="recipient-gets">
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.recipientTotal }}
                    </td>
                    <td class="exchange-rate">
                      1 {{ payment.payment_details.sendCurrency }} =
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.exchangeRate }}
                    </td>
                    <td
                      class="approve-status"
                      style="text-transform: capitalize;"
                    >
                      {{ payment.approve_status }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
        </b-card>
        <!-- *********** PAYMENTS SECTION *********** -->
      </b-col>
    </b-row>
    <!-- *********** Ledger SECTION *********** -->
    <b-row class="justify-content-center">
      <b-col xl="10">
        <b-card>
          <h3>Customer Ledger</h3>
          <template>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(ledger, index) in customerLedger">
                  <tr :key="index">
                    <td class="description">
                      {{ ledger.description }}
                    </td>
                    <td class="credit_amount">
                      {{ ledger.debit_amount }}
                    </td>
                    <td class="debit_amount">
                      {{ ledger.credit_amount }}
                    </td>
                    <td class="balance">
                      {{ ledger.balance }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
        </b-card>
      </b-col>
    </b-row>
    <!-- *********** Ledger SECTION End *********** -->
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import IdentityUploads from './Documents/IdentityUploads'
import FaceUploads from './Documents/FaceUploads'
import DocUploads from './Documents/DocUploads'
import AdditionalDocUploads from './Documents/AdditionalDocUploads'

export default {
  name: 'CustomerForm',
  components: {
    IdentityUploads,
    DocUploads,
    AdditionalDocUploads,
    FaceUploads
  },
  mixins: [form],
  data() {
    return {
      beneficiaries: [],
      roles: [],
      bens: [],
      current_role: null,
      modelName: 'user',
      resourceRoute: 'users',
      listPath: '/customers',
      docs: null,
      jsonActive: false,
      customerPayments: null,
      customerLedger: null,
      date: null,
      identityImage: null,
      faceImage: null,
      docImage: null,
      additionalDocImage: null,
      beneficiaryCollection: [],
      model: {
        old_customer_id: null,           
        first_name: null,
        middle_name: null,
        last_name: null,
        name: null,
        email: null,
        active: true,
        password: null,
        address_1: null,
        address_2: null,
        title: null,
        dob: null,
        place_of_birth: null,
        country_id: null,
        city: null,
        nationality: null,
        mobile_no: null,
        phone_no: null,
        consent_marketing: null,
        postcode: null,
        locale: null,
        timezone: null,
        highrisk: 0,
        doc_verify_status: null,
        doc_verify_json: null,
        confirm_password: null,
        preferred_country: null,
        send_amount_country: null,
        balance: null,
        thrashold: null,
        roles: [],
        annual_income: null,
        exp_month_volume: null,
        occupation: null,
        senior_gov_pos: null,
        beneficiary: []
      }
    }
  },
  watch: {
    customerPayments: function(val) {
      if (val) {
        val.map(item => {
          if (item.payment_details.length) {
            item.payment_details = JSON.parse(item.payment_details)
          }
        })
        this.customerPayments = val
        //console.log(this.customerPayments)
      }
    },
    // customerLedger: function(val){
    //   console.log(val);
    //    if (val) {
    //      val.map(item => {
    //        if(item.ledger_details.length){
    //         item.ledger_details = item.ledger_details
    //        }
    //      })
    //      this.customerLedger = val
    //   }
    // } ,
    'model.doc_verify_json': function(val, oldval) {
      //console.log(val);
      if (val && !this.jsonActive) {
        this.model.doc_verify_json = JSON.parse(val)
        this.docs = this.model.doc_verify_json
        if (this.docs) {
          if (this.docs.verify_Id) {
            this.identityImage = [
              '/' +
                this.docs.verify_Id.path +
                '/' +
                this.docs.verify_Id.image_name
            ]
          }
          if (this.docs.verify_face) {
            this.faceImage = [
              '/' +
                this.docs.verify_face.path +
                '/' +
                this.docs.verify_face.image_name
            ]
          }
          if (this.docs.verify_doc) {
            this.docImage = [
              '/' +
                this.docs.verify_doc.path +
                '/' +
                this.docs.verify_doc.image_name
            ]
          }
          if (this.docs.additional_doc) {
            this.additionalDocImage = [
              '/' +
                this.docs.additional_doc.path +
                '/' +
                this.docs.additional_doc.image_name
            ]
          }
        }
        this.jsonActive = true
      }
    }
  },
  async created() {
    this.fetchData()
    let { data } = await axios.get(this.$app.route(`admin.customers.get_roles`))
    this.roles = data
    this.getRoleValue()
    this.getPayments()
    this.getLedger()
    this.getBeneficiaries() // get lsit of Beneficiaries
  },
  methods: {

    concatName(first_name, last_name) {
        return first_name + " " + last_name;
    },
    convertToString(benid)
    {
      return benid.toString();
    },


    async getPayments() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.customers.getpayments'), {
            params: {
              customer_id: this.id,
              date: this.date
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerPayments = result.data.data
            }
          })
      }
    },

    throttledMethod: _.debounce(function(event) 
    {

        // console.log( event )
        // console.log( "name " + event.target.name )
        // console.log( "id " + event.target.id )
        // console.log( "value " + event.target.value )
        console.log('------inside throttledMethod ---------')

        let inputName = event.target.name;
        let inputValue = event.target.value;

        // this.beneficiaryCollection.push({ name: inputName, value: inputValue });
        this.model.beneficiary.push({ recipient_id: inputName, value: inputValue });

        console.log( this.model.beneficiary )
        
        
    }, 1000),

    // Beneficiary
    async getBeneficiaries()
    {
        await axios
          .get(this.$app.route('admin.customers.getbeneficiary'), {
            params: {
              beneficiary_id: this.id,              
            }
          })
          .then(result => {
            if (result.data.status == 200)
            {
                this.beneficiaries = result.data.response
            }
          }).then(error => {
            console.log(error);
          })      
    },



    async getLedger() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.ledgers.getLedger'), {
            params: {
              customer_id: this.id
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerLedger = result.data.data
              console.log(this.customerLedger)
            }
          })
      }
    },
    getRoleValue() {
      if (this.isNew) {
        this.roles.map(item => {
          if (item.name == 'Customer') {
            this.model.roles.push(item.id)
          }
        })
      }
    },
    onModelChanged() {
      if (this.model.roles) {
        this.model.roles = this.model.roles.map(item => {
          return item.id
        })
      }
    },
    async acceptDoc(type) {
      await axios
        .post(this.$app.route('admin.user.acceptdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    },
    async rejectDoc(type) {
      await axios
        .post(this.$app.route('admin.user.rejectdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    }
    // toggle(){
    //           // when checked:
    //         vm.toggle === 'yes'
    //         // when unchecked:
    //         vm.toggle === 'no'
    // }
  }
}
</script>
