<style>
.admin_docs_images .image {
 width: 300px !important;
 height: 300px !important;
}
</style>
<template>
  <div class="customer-form">

    <template v-if="docs">
     <b-tabs content-class="mt-3">
        <b-tab title="Basic" active>
            <!-- *********** CUSTOMER SECTION *********** -->
              <b-container>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.first_name')"
                         label-for="first_name"
                         :feedback="feedback('first_name')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.first_name }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.middle_name')"
                         label-for="middle_name"
                         :feedback="feedback('middle_name')"
                       >

                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                     {{ model.middle_name }}
                   </b-col>
                  <!-- //col2 -->


                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                     <b-form-group
                       :label="$t('validation.attributes.last_name')"
                       label-for="last_name"
                       :feedback="feedback('last_name')"
                     >
                     </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.last_name }}
                   </b-col>
                   <!-- //col3 -->

               </b-row>


               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.name')"
                         label-for="name"
                         :feedback="feedback('name')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.name }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>

                       <b-form-group
                         :label="$t('validation.attributes.email')"
                         label-for="email"
                         :feedback="feedback('email')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.email }}
                   </b-col>
                  <!-- //col2 -->


                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.active')"
                         label-for="active"
                         :feedback="feedback('active')"
                       >
                       </b-form-group>

                    </b>
                   </b-col>

                   <b-col md="2">
                     <span v-if="model.active">Inactive</span>
                     <span v-else>Active</span>
                   </b-col>
                   <!-- //col3 -->

               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.title')"
                         label-for="title"
                         :feedback="feedback('title')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                     {{ model.title }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.address')"
                         label-for="address"
                         :feedback="feedback('address_1')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.address_1 }}
                   </b-col>
                  <!-- //col2 -->


                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         label="Address 2"
                         label-for="address_2"
                         :feedback="feedback('address_2')"
                       >
                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.address_2 }}
                   </b-col>
                   <!-- //col3 -->

               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.postcode')"
                         label-for="postcode"
                         :feedback="feedback('postcode')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.postcode }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.dob')"
                         label-for="dob"
                         :feedback="feedback('dob')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.dob }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.place_of_birth')"
                         label-for="place_of_birth"
                         :feedback="feedback('place_of_birth')"
                       >
                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                        {{ model.place_of_birth }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>


               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.country_id')"
                         label-for="country_id"
                         :feedback="feedback('country_id')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.country_id}}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.city')"
                         label-for="city"
                         :feedback="feedback('city')"
                       >
                      </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                     {{ model.city }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.nationality')"
                         label-for="nationality"
                         :feedback="feedback('nationality')"
                       >

                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                     {{ model.nationality }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.mobile_no')"
                         label-for="mobile_no"
                         :feedback="feedback('mobile_no')"
                       >

                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.mobile_no }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.phone_no')"
                         label-for="phone_no"
                         :feedback="feedback('phone_no')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.phone_no }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.consent_marketing')"
                         label-for="consent_marketing"
                         :feedback="feedback('consent_marketing')"
                       >
                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.consent_marketing }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>

               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.locale')"
                         label-for="locale"
                         :feedback="feedback('locale')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.locale }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.timezone')"
                         label-for="timezone"
                         :feedback="feedback('timezone')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.timezone }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.doc_verify_status')"
                         label-for="doc_verify_status"
                         :feedback="feedback('doc_verify_status')"
                       >
                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                        {{ model.doc_verify_status }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.preferred_country')"
                         label-for="preferred_country"
                         :feedback="feedback('preferred_country')"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.preferred_country }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.send_amount_country')"
                         label-for="send_amount_country"
                         :feedback="feedback('send_amount_country')"
                       >

                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.send_amount_country }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.balance')"
                         label-for="balance"
                         :feedback="feedback('balance')"
                       >

                       </b-form-group>
                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.balance }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       Role
                     </b>
                   </b-col>

                   <b-col md="2">
                     <b-form-group>
                       <b-form-checkbox-group
                         stacked
                         v-model="model.roles"
                         name="roles[]"
                       >
                         <template v-for="role in roles">
                           <b-form-checkbox
                             v-if="role.display_name == 'Customer'"
                             :key="role.id"
                             v-b-tooltip.left
                             :title="role.description"
                             :value="role.id"
                             disabled
                           >
                             {{ role.display_name }}
                           </b-form-checkbox>
                         </template>
                       </b-form-checkbox-group>
                     </b-form-group>
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <b-form-group
                         :label="$t('validation.attributes.highalert')"
                         :label-cols="3"
                       >
                       </b-form-group>
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.highrisk }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <!-- anual income -->
                       <b-form-group
                         label="Annual Income"
                         label-for="annual_income"
                         :feedback="feedback('annual_income')"
                       >
                       </b-form-group>
                       <!-- //anual income -->
                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.annual_income }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>
               <b-row class="mt-3">

                  <!-- col1 -->
                   <b-col md="2">
                     <b>
                       <!-- exp_month_volume -->
                       <b-form-group
                         label="Exp Month Volume"
                         label-for="exp_month_volume"
                         :feedback="feedback('exp_month_volume')"
                       >

                       </b-form-group>
                       <!-- //exp_month_volume -->
                     </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.exp_month_volume }}
                   </b-col>
                  <!-- //col1 -->

                  <!-- col2 -->
                   <b-col md="2">
                     <b>
                       <!-- occupation -->
                       <b-form-group
                         label="Occupation"
                         label-for="occupation"
                         :feedback="feedback('occupation')"
                       >
                        </b-form-group>
                       <!-- //occupation -->
                     </b>
                   </b-col>

                   <b-col md="2">
                        {{ model.occupation }}
                   </b-col>
                  <!-- //col2 -->

                   <!-- col3 -->
                   <b-col md="2">
                     <b>
                       <!-- senior_gov_pos -->
                       <b-form-group
                         label="Senior Government Position"
                         label-for="senior_gov_pos"
                         :feedback="feedback('senior_gov_pos')"
                       >

                       </b-form-group>

                    </b>
                   </b-col>

                   <b-col md="2">
                      {{ model.senior_gov_pos }}
                   </b-col>
                   <!-- //col3 -->
               </b-row>

              </b-container>

          </b-tab>

          <b-tab title="Documents">

                <!-- *********** DOCUMENTS SECTION *********** -->
                <template v-if="docs">
                    <b-container>
                     <b-row>

                          <template v-if="docs.verify_Id">
                            <b-col class="admin_docs_images" md="4">
                              <template v-if="docs.verify_Id">
                                <h3 class="uppercase">
                                  <span>{{ docs.verify_Id.type.replace(/_/g, ' ') }}</span>
                                </h3>
                                <template v-if="identityImage">
                                  <IdentityUploads
                                    :docs.sync="docs"
                                    :identity-image.sync="identityImage"
                                  ></IdentityUploads>
                                </template>
                              </template>

                            <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
                            <div class="doc-actions">
                              <button
                                :disabled="docs.verify_Id.status === 'accepted'"
                                @click="acceptDoc(docs.verify_Id.type)"
                                type="button"
                                class="btn btn-primary"
                              >
                                Accept
                              </button>
                              <button
                                :disabled="docs.verify_Id.status === 'rejected'"
                                @click="rejectDoc(docs.verify_Id.type)"
                                type="button"
                                class="btn btn-danger"
                              >
                                Reject
                              </button>
                            </div>
                            <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->

                            </b-col>
                          </template>

                          <template v-if="docs.verify_doc">
                            <b-col class="admin_docs_images" md="4">
                              <template v-if="docs.verify_doc">
                                <h3 class="uppercase">
                                  <span>{{ docs.verify_face.type.replace(/_/g, ' ') }}</span>
                                </h3>
                                <template v-if="faceImage">
                                  <FaceUploads
                                    :docs.sync="docs"
                                    :face-image.sync="faceImage"
                                  ></FaceUploads>
                                </template>
                              </template>


                              <!-- ********** ACCEPTING / REJECTING `FACE` DOCUMENT ********** -->
                              <div class="doc-actions">
                                <button
                                  :disabled="docs.verify_face.status === 'accepted'"
                                  @click="acceptDoc(docs.verify_face.type)"
                                  type="button"
                                  class="btn btn-primary"
                                >
                                  Accept
                                </button>
                                <button
                                  :disabled="docs.verify_face.status === 'rejected'"
                                  @click="rejectDoc(docs.verify_face.type)"
                                  type="button"
                                  class="btn btn-danger"
                                >
                                  Reject
                                </button>
                              </div>
                              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->

                            </b-col>
                          </template>

                           <template v-if="docs.verify_doc">
                            <b-col class="admin_docs_images" md="4">
                              <template v-if="docs.verify_doc">
                                <h3 class="uppercase">
                                  <span>{{ docs.verify_doc.type.replace(/_/g, ' ') }}</span>
                                </h3>
                                <DocUploads
                                  :docs.sync="docs"
                                  :doc-image.sync="docImage"
                                ></DocUploads>
                              </template>

                              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
                              <div class="doc-actions">
                                <button
                                  :disabled="docs.verify_doc.status === 'accepted'"
                                  @click="acceptDoc(docs.verify_doc.type)"
                                  type="button"
                                  class="btn btn-primary"
                                >
                                  Accept
                                </button>
                                <button
                                  :disabled="docs.verify_doc.status === 'rejected'"
                                  @click="rejectDoc(docs.verify_doc.type)"
                                  type="button"
                                  class="btn btn-danger"
                                >
                                  Reject
                                </button>
                              </div>
                              <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->


                            </b-col>
                           </template>

                            <!-- *********** //DOCUMENTS SECTION *********** -->
                    </b-row>
                  </b-container>

                  <b-container>
                     <b-row>
                        <!-- Additional Doc Uploads -->
                        <template v-if="docs.additional_doc">
                        <b-col class="admin_docs_images" md="4">
                          <h3 class="uppercase">
                            <span>{{ docs.additional_doc.type.replace(/_/g, ' ') }}</span>
                          </h3>
                          <AdditionalDocUploads
                            :docs.sync="docs"
                            :additional-doc-image.sync="additionalDocImage"
                          ></AdditionalDocUploads>


                           <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->
                        <div class="doc-actions">
                          <button
                            :disabled="docs.additional_doc.status === 'accepted'"
                            @click="acceptDoc(docs.additional_doc.type)"
                            type="button"
                            class="btn btn-primary"
                          >
                            Accept
                          </button>
                          <button
                            :disabled="docs.additional_doc.status === 'rejected'"
                            @click="rejectDoc(docs.additional_doc.type)"
                            type="button"
                            class="btn btn-danger"
                          >
                            Reject
                          </button>
                        </div>
                        <!-- ********** ACCEPTING / REJECTING DOCUMENT ********** -->



                        </b-col>
                        </template>




                    </b-row>
                  </b-container>

                 </template>

                 <template v-if="!isdocs">
                         No Documents Found.
                 </template>
          </b-tab>


          <!-- Messages tab -->
          <b-tab title="Messages">

                <!-- *********** MESSAGES SECTION *********** -->
                <CustomersListMessages></CustomersListMessages>
                <!-- *********** //MESSAGES SECTION *********** -->

          </b-tab>
          <!-- //Messages tab -->

          <!-- Transaction tab -->
          <b-tab title="Transaction">
            <!-- *********** PAYMENTS SECTION *********** -->

            <b-container>
              <b-row>
               <b-col md="12">


                    <template v-if="customerPayments">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Transaction ID</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Total</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-for="(payment, index) in customerPayments">
                            <tr v-if="payment.status === 'paid'" :key="index">
                              <td>
                                <router-link
                                  :to="`/payments/${payment.id}/view`"
                                  v-text="payment.transaction_id"
                                  target="_blank"
                                ></router-link>
                              </td>
                              <template>
                                <template
                                  v-if="
                                    payment.payment_details.calculate.sendAmount >
                                      model.thrashold && model.thrashold
                                  "
                                >
                                  <td class="send-amount">
                                    <i
                                      class="fe fe-alert-circle alert-highrisk alert-size"
                                      variant="danger"
                                    ></i>
                                    {{ payment.payment_details.sendCurrency }}
                                    {{ payment.payment_details.calculate.sendAmount }}
                                  </td>
                                </template>
                                <template v-else>
                                  <td class="send-amount">
                                    {{ payment.payment_details.sendCurrency }}
                                    {{ payment.payment_details.calculate.sendAmount }}
                                  </td>
                                </template>
                              </template>
                              <td class="total-fee">
                                {{ payment.payment_details.getCurrency }}
                                {{ payment.payment_details.calculate.totalFee }}
                              </td>
                              <td class="total-to-pay">
                                {{ payment.payment_details.sendCurrency }}
                                {{ payment.payment_details.calculate.totalToPay }}
                              </td>
                              <td class="">
                                {{ payment.created_at }}
                              </td>

                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </template>

                    <template v-if="!customerPayments">
                            No Transactions Found.
                    </template>


              </b-col>
            </b-row>
          </b-container>


                <!-- *********** PAYMENTS SECTION *********** -->
          </b-tab>
          <!-- //Transaction tab -->




          <!-- Stats tab -->
          <b-tab title="Stats">
            <b-container>
              <b-row>
               <b-col md="12">

                  <table class="table striped hover" v-if="show_customer_summary_table">
                     <tr style="background-color: #343a40;color: white;">
                      <th>&nbsp;</th>
                      <th>Week</th>
                      <th>Month</th>
                      <th>Year</th>
                     </tr>

                     <tr>
                      <td style="font-weight: bold;">No. of Transactions</td>
                      <td>{{ week.no_of_transactions }}</td>
                      <td>{{ month.no_of_transactions }}</td>
                      <td>{{ year.no_of_transactions }}</td>
                     </tr>

                     <tr>
                     <td style="font-weight: bold;">Amount Total</td>
                      <td>{{ week.amount }}</td>
                      <td>{{ month.amount }}</td>
                      <td>{{ year.amount }}</td>
                     </tr>

                    <tr style="background-color: #343a40;color: white;">
                      <th>&nbsp;</th>
                      <th>Week</th>
                      <th>Month</th>
                      <th>Year</th>
                    </tr>
                    </table>



<br><br><br>

   <b-row class="justify-content-center">
      <b-col xl="10">
        <b-card>
          <h3>Customer Payments</h3>
          <div class="row">
            <div class="col-md-4 col-md-offset-6">
              <b-form-select v-model="date">
                <option value="null">Select Date Range</option>
                <option value="1_week">Last 1 Week</option>
                <option value="1_month">Last 1 Months</option>
                <option value="3_month">Last 3 Months</option>
                <option value="6_month">Last 6 Months</option>
                <option value="year">Last Year</option>
              </b-form-select>
              <b-button @click="getPayments">Search</b-button>
            </div>
          </div>
          <template v-if="customerPayments">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Send From</th>
                  <th>Send To</th>
                  <th>Recipient</th>
                  <th>Service Type</th>
                  <th>Sending Amount</th>
                  <th>Fee</th>
                  <th>Total To Pay</th>
                  <th>Recipient Gets</th>
                  <th>Exchange Rate</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(payment, index) in customerPayments">
                  <tr v-if="payment.status === 'paid'" :key="index">
                    <td>{{ payment.payment_details.sendFromCountryName }}</td>
                    <td>{{ payment.payment_details.sendToCountryName }}</td>
                    <td>
                      <template v-if="payment.recipient">
                        {{ payment.recipient.first_name }}
                        {{ payment.recipient.last_name }}
                      </template>
                      <template v-else>
                        Recipient Not Found
                      </template>
                    </td>
                    <td class="service-type">
                      {{
                        payment.payment_details.serviceType.replace(/_/g, ' ')
                      }}
                    </td>
                    <template>
                      <template
                        v-if="
                          payment.payment_details.calculate.sendAmount >
                            model.thrashold && model.thrashold
                        "
                      >
                        <td class="send-amount">
                          <i
                            class="fe fe-alert-circle alert-highrisk alert-size"
                            variant="danger"
                          ></i>
                          {{ payment.payment_details.sendCurrency }}
                          {{ payment.payment_details.calculate.sendAmount }}
                        </td>
                      </template>
                      <template v-else>
                        <td class="send-amount">
                          {{ payment.payment_details.sendCurrency }}
                          {{ payment.payment_details.calculate.sendAmount }}
                        </td>
                      </template>
                    </template>
                    <td class="total-fee">
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.totalFee }}
                    </td>
                    <td class="total-to-pay">
                      {{ payment.payment_details.sendCurrency }}
                      {{ payment.payment_details.calculate.totalToPay }}
                    </td>
                    <td class="recipient-gets">
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.recipientTotal }}
                    </td>
                    <td class="exchange-rate">
                      1 {{ payment.payment_details.sendCurrency }} =
                      {{ payment.payment_details.getCurrency }}
                      {{ payment.payment_details.calculate.exchangeRate }}
                    </td>
                    <td
                      class="approve-status"
                      style="text-transform: capitalize;"
                    >
                      {{ payment.approve_status }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
        </b-card>
        <!-- *********** PAYMENTS SECTION *********** -->
      </b-col>
    </b-row>






               </b-col>
            </b-row>
          </b-container>
          </b-tab>
          <!-- //Stats tab -->

      </b-tabs>


     </template>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import IdentityUploads from './Documents/IdentityUploads'
import FaceUploads from './Documents/FaceUploads'
import DocUploads from './Documents/DocUploads'
import AdditionalDocUploads from './Documents/AdditionalDocUploads'

import CustomersListMessages from './Messages/CustomerListMessages' // Show customer.

export default {
  name: 'CustomerForm',
  components: {
    IdentityUploads,
    DocUploads,
    AdditionalDocUploads,
    FaceUploads,
    CustomersListMessages
  },
  mixins: [form],
  data() {
    return {
      week: null,
      month: null,
      year: null,
      show_customer_summary_table: false,

      roles: [],
      current_role: null,
      modelName: 'user',
      resourceRoute: 'users',
      listPath: '/customers',
      docs: null,
      isdocs: false,
      jsonActive: false,
      customerPayments: null,
      customerLedger: null,
      date: null,
      identityImage: null,
      faceImage: null,
      docImage: null,
      additionalDocImage: null,
      model: {
        first_name: null,
        middle_name: null,
        last_name: null,
        name: null,
        email: null,
        active: true,
        password: null,
        address_1: null,
        address_2: null,
        title: null,
        dob: null,
        place_of_birth: null,
        country_id: null,
        city: null,
        nationality: null,
        mobile_no: null,
        phone_no: null,
        consent_marketing: null,
        postcode: null,
        locale: null,
        timezone: null,
        highrisk: 0,
        doc_verify_status: null,
        doc_verify_json: null,
        confirm_password: null,
        preferred_country: null,
        send_amount_country: null,
        balance: null,
        thrashold: null,
        roles: [],
        annual_income: null,
        exp_month_volume: null,
        occupation: null,
        senior_gov_pos: null,
      }
    }
  },
  watch: {
    customerPayments: function(val) {
      if (val) {
        val.map(item => {
          if (item.payment_details.length) {
            item.payment_details = JSON.parse(item.payment_details)
          }
        })

        // alert(val)
        // alert(typeof val)
        // alert( "object key length " + Object.keys(val).length  )
        if ( typeof val === "object" && Object.keys(val).length != 0) {
            this.customerPayments = val
        }else {
            this.customerPayments = false;
        }
        //console.log(this.customerPayments)
      }
    },
    // customerLedger: function(val){
    //   console.log(val);
    //    if (val) {
    //      val.map(item => {
    //        if(item.ledger_details.length){
    //         item.ledger_details = item.ledger_details
    //        }
    //      })
    //      this.customerLedger = val
    //   }
    // } ,
    'model.doc_verify_json': function(val, oldval) {
      //console.log(val);
      if (val && !this.jsonActive) {
        this.model.doc_verify_json = JSON.parse(val)
        this.docs = this.model.doc_verify_json

        // alert(this.docs)
        // alert(typeof this.docs)
        // alert(Object.keys(this.docs).length)


        if (this.docs) {
          if (this.docs.verify_Id) {
            this.identityImage = [
              '/' +
                this.docs.verify_Id.path +
                '/' +
                this.docs.verify_Id.image_name
            ]

            this.isdocs = true;
          }
          if (this.docs.verify_face) {
            this.faceImage = [
              '/' +
                this.docs.verify_face.path +
                '/' +
                this.docs.verify_face.image_name
            ]
            this.isdocs = true;
          }
          if (this.docs.verify_doc) {
            this.docImage = [
              '/' +
                this.docs.verify_doc.path +
                '/' +
                this.docs.verify_doc.image_name
            ]
            this.isdocs = true;
          }
          if (this.docs.additional_doc) {
            this.additionalDocImage = [
              '/' +
                this.docs.additional_doc.path +
                '/' +
                this.docs.additional_doc.image_name
            ]
            this.isdocs = true;
          }
        }

        if (this.isdocs == true) {
            this.isdocs = true; // docs are present.
        }
        this.jsonActive = true
      }
    }
  },
  async created() {
    this.fetchData()
    let { data } = await axios.get(this.$app.route(`admin.customers.get_roles`))
    this.roles = data
    this.getRoleValue()
    this.getPayments()
    this.getLedger()

    // stats tab.  
   this.stats()
  },
  methods: {
    async stats() {
      await axios
        .get(this.$app.route('admin.dashboard.stats'), {
            params: {
              customer_id: this.id
            }
          })
        .then(result => {
          if (result.data.status == 200) {

            this.week = result.data.week
            this.month = result.data.month
            this.year = result.data.year

            this.show_customer_summary_table = true;
            // console.dir(result.data.week)
            // console.dir(result.data.week.no_of_transactions)
            // console.dir( result.data.month)
            // console.dir( result.data.year)
          }
        })
    },
    async getPayments() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.customers.getpayments'), {
            params: {
              customer_id: this.id,
              date: this.date
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerPayments = result.data.data
            }
          })
      }
    },
    async getLedger() {
      if (!this.isNew) {
        await axios
          .get(this.$app.route('admin.ledgers.getLedger'), {
            params: {
              customer_id: this.id
            }
          })
          .then(result => {
            if (result.data.status == 200) {
              this.customerLedger = result.data.data
              console.log(this.customerLedger)
            }
          })
      }
    },
    getRoleValue() {
      if (this.isNew) {
        this.roles.map(item => {
          if (item.name == 'Customer') {
            this.model.roles.push(item.id)
          }
        })
      }
    },
    onModelChanged() {
      if (this.model.roles) {
        this.model.roles = this.model.roles.map(item => {
          return item.id
        })
      }
    },
    async acceptDoc(type) {
      await axios
        .post(this.$app.route('admin.user.acceptdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    },
    async rejectDoc(type) {
      await axios
        .post(this.$app.route('admin.user.rejectdoc'), {
          customer_id: this.id,
          type: type
        })
        .then(result => {
          if (result.data.status == 200) {
            window.location.reload()
          }
        })
    }
    // toggle(){
    //           // when checked:
    //         vm.toggle === 'yes'
    //         // when unchecked:
    //         vm.toggle === 'no'
    // }
  }
}


</script>
