<template>
  <div class="col-xs-12 col-md-11">
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      variant="error"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      Please Upload Image
    </b-alert>
    <template
      v-if="
        uploads &&
          uploads.additional_doc &&
          uploads.additional_doc.status === 'rejected'
      "
    >
      <b-alert show variant="info"
        >Your <b>{{ uploads.additional_doc.type.replace(/_/g, ' ') }}</b> Image has been rejected. Kindly re-upload.For more information please contact A N Express customer service on 02074260113 ( additionalDoc.vue )</b-alert
      >
      <b-alert
        variant="error"
        class="verify-error"
        @dismissed="showError = !showError"
        :show="showError"
        dismissible
        >{{ ErrorMessage }}</b-alert
      >
    </template>
    <h4 class="pl-10">Additional Document</h4>
    <template v-if="uploads && uploads.additional_doc">
      <div class="col-xs-12 col-md-6 col-lg-5">
        <h4 class="upload-type" style="text-transform: capitalize;">
          <!-- <template v-if="uploads.additional_doc.type">
            {{ uploads.additional_doc.type }} Image
          </template> -->
        </h4>
        <!--         <template v-if="docFile && docFile.indexOf('pdf') > 0">
          <div class="additional-doc-pdf">
            <a :href="docFile" target="_blank">
              <img src="/file.png" alt="something" width="100" height="100"/>
            </a>
            <div class="clearfix"></div>
            <a class="view-btn btn btn-primary" :href="docFile" target="_blank">View File</a>
          </div>
        </template> -->
        <template>
          <gallery
            :images="docImage"
            :index="index"
            @close="index = null"
          ></gallery>
          <div
            class="image"
            v-for="(image, imageIndex) in docImage"
            :key="imageIndex"
            @click="index = imageIndex"
            :style="{
              backgroundImage: 'url(' + image + ')',
              width: '100%',
              height: '300px'
            }"
          ></div>
        </template>
      </div>
      <template
        v-if="
          !uploads.additional_doc.status ||
            uploads.additional_doc.status === 'pending' ||
            uploads.additional_doc.status === 'accepted'
        "
      >
        <div class="c-pt-4 col-xs-12 col-md-6 col-lg-5">
          <b-form-group label="Issuing Authroity:">
            <b-form-input
              disabled
              :value="uploads.additional_doc.issuing_authority"
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Expiry Date:">
            <b-form-input
              disabled
              :value="uploads.additional_doc.expiry_date"
            ></b-form-input>
          </b-form-group>
        </div>
      </template>
      <template
        v-if="
          uploads.additional_doc.status &&
            uploads.additional_doc.status === 'rejected'
        "
      >
        <div class="col-xs-12 col-md-6" style="padding-top:24px;">
          <div>
            <vueDropzone
              ref="myVueDropzoneAdditionalDoc"
              @vdropzone-success="filesAdded"
              @vdropzone-removed-file="fileRemoved"
              id="dropzonedocadd"
              v-model="model.additional_doc_image"
              :options="dropzoneOptions"
            >
            </vueDropzone>
            <div>
              <button
                @click="updateImage(uploads.additional_doc)"
                class="update-identity"
              >
                Update Additional Document
              </button>
            </div>
            <p>Kindly upload Your residence permit/back side of your document/or any other documents as required by us.</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row mt-10 pt-10">
          <div class="col-xs-12 col-md-6">
            <b-form-group label="Issuing Authority:">
              <b-form-input
                ref="issuing"
                v-model="model.issuing_authority"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-xs-12 col-md-6">
            <b-form-group label="Expiry Date:">
              <b-form-input
                ref="expirydate"
                type="date"
                v-model="model.expiry_date"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
      </template>
    </template>
    <template v-else>
      <div class="col-xs-12 col-md-6">
        <div>
          <vueDropzone
            ref="myVueDropzoneAdditionalDoc"
            @vdropzone-success="filesAdded"
            @vdropzone-removed-file="fileRemoved"
            id="dropzonedocadd"
            v-model="model.additional_doc_image"
            :options="dropzoneOptions"
          >
          </vueDropzone>
          <div>
            <button @click="addImage" class="update-identity">
              Upload Additional Document
            </button>
          </div>
        </div>
      </div>
      <p>Kindly upload Your residence permit/back side of your document/or any other documents as required by us.</p>
    </template>

  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import VueGallery from 'vue-gallery'
import moment from 'moment'

export default {
  name: 'AdditionalDoc',
  components: {
    vueDropzone: vue2Dropzone,
    gallery: VueGallery
  },
  props: {
    docImage: {
      type: Array,
      default: () => []
    },
    docFile: {
      type: String,
      default: null
    },
    uploads: {
      type: Object,
      default: () => []
    }
  },
  data() {
    return {
      index: null,
      showError: false,
      ErrorMessage: 'Something Went Wrong! Please Try Again',
      showUpload: false,
      model: {
        additional_doc_image: [],
        additional_doc: null,
        type: 'additional_doc'
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
        acceptedFiles: 'image/jpg,image/png, image/jpeg',
        dictDefaultMessage: 'Drop Image here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      },
      dismissSecs: 50,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  watch: {
    'model.additional_doc_image': function(val) {
      if (val.length > 0) {
      }
    }
  },
  created: function() {},
  methods: {
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false
      }
      return true
    },
    async addImage(additional_doc) {
      var model = this.model
      delete model.additional_doc
      // return false
      let router = this.$router
      let action = this.$app.route('uploadDocFile')
      let formData = this.$app.objectToFormData(model)
      await axios.post(action, formData).then(result => {
        if (result.data.status == 200) {
          window.location.reload()
        }
      })
    },
    updateImage(additional_doc) {
      if (this.model.additional_doc_image.length == 0) {
        $('#dropzonedocadd').click()
        // this.showAlert()
        return false
      }
      let validate = this.checkValidation()
      if (validate === false) {
        return false
      }
      window.swal
        .fire({
          title: '<strong>Update Image</strong>',
          type: 'warning',
          text: 'Are you sure? this will revert your current image',
          showCloseButton: true,
          showCancelButton: true,
          focusConfirm: true,
          confirmButtonText: 'Update',
          cancelButtonText: 'Cancel'
        })
        .then(result => {
          if (result.value) {
            this.updateIdentityImage(additional_doc)
          } else {
          }
        })
    },
    filesAdded(file, response) {
      var model = this.model
      if (file) {
        model.additional_doc_image.push(file)
      }
    },
    fileRemoved(file) {
      var identityImg = this.model.additional_doc_image
      var IndexToRemove = identityImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.additional_doc_image.splice(IndexToRemove, 1)
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    async updateIdentityImage(additional_doc) {
      this.model.additional_doc = additional_doc.type
      let router = this.$router
      let action = this.$app.route('user.updateAdditionalDocImage')
      let formData = this.$app.objectToFormData(this.model)
      await axios.post(action, formData).then(result => {
        if (result.data.status == 200) {
          window.location.reload()
        }
      })
    },
    checkValidation() {
      var model = this.model
      var expiry = moment([model.expiry_date])
      var current = moment([new Date().toISOString().slice(0, 10)])
      var diffbtwexpirycurrent = current.diff(expiry, 'days')
      if (!model.issuing_authority) {
        this.$refs.issuing.$refs.input.focus()
        this.ErrorMessage = 'Please enter Issuing Authority'
        this.showError = true
        return false
      }
      if (!model.expiry_date) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please select Expiry Date'
        this.showError = true
        return false
      }
      if (diffbtwexpirycurrent > 365) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please Enter Valid Expiry Date of Documents'
        this.showError = true
        return false
      }
    }
  }
}
</script>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #ebebeb;
  margin: 10px;
}
</style>
