<template>
  <div class="col-xs-12 col-md-11">
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      variant="error"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      Please Upload Image
    </b-alert>
    <template
      v-if="
        uploads &&
          uploads.verify_face &&
          uploads.verify_face.status === 'rejected'
      "
    >
      <b-alert show variant="info"
        >Your <b>{{ uploads.verify_face.type.replace(/_/g, ' ') }}</b> Image has been rejected. Kindly re-upload.For more information please contact A N Express customer service on 02074260113(face gallery)</b-alert>
    </template>
    <template v-if="uploads">
      <div class="col-xs-12 col-md-6">
        <h4 class="upload-type" style="text-transform: capitalize;">
          <template v-if="uploads.verify_face.type">
            {{ uploads.verify_face.type.replace(/_/g, ' ') }} Image
          </template>
        </h4>
        <gallery
          :images="faceImage"
          :index="index"
          @close="index = null"
        ></gallery>
        <div
          class="image"
          v-for="(image, imageIndex) in faceImage"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{
            backgroundImage: 'url(' + image + ')',
            width: '100%',
            height: '300px'
          }"
        ></div>
      </div>
      <!-- <template v-if="!uploads.verify_face.status || uploads.verify_face.status === 'pending' || uploads.verify_face.status === 'accepted'">
        <div class="c-pt-4 col-md-6">
          <b-form-group label="Issuing Authroity:">
            <b-form-input disabled :value="uploads.verify_face.issuing_authority"></b-form-input>
          </b-form-group>
          <b-form-group label="Expiry Date:">
            <b-form-input disabled :value="uploads.verify_face.expiry_date"></b-form-input>
          </b-form-group>
        </div>
      </template> -->
      <template
        v-if="
          uploads.verify_face.status &&
            uploads.verify_face.status === 'rejected'
        "
      >
        <div class="col-xs-12 col-md-6" style="padding-top:50px;">
          <div>
            <vueDropzone
              ref="myVueDropzoneFace"
              @vdropzone-success="filesAdded"
              @vdropzone-removed-file="fileRemoved"
              id="dropzoneFace"
              v-model="model.face_image"
              :options="dropzoneOptions"
            >
            </vueDropzone>
            <div>
              <button
                @click="updateImage(uploads.verify_face)"
                class="update-identity"
              >
                Update {{ uploads.verify_face.type.replace(/_/g, ' ') }} Image
              </button>
            </div>
          </div>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import VueGallery from 'vue-gallery'

export default {
  name: 'FaceGallery',
  components: {
    vueDropzone: vue2Dropzone,
    gallery: VueGallery
  },
  props: {
    faceImage: {
      type: Array,
      default: () => []
    },
    uploads: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      index: null,
      showError: false,
      showUpload: false,
      model: {
        face_image: [],
        verify_face: null
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
        acceptedFiles: 'image/jpg,image/png, image/jpeg',
        dictDefaultMessage: 'Drop Image here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      },
      dismissSecs: 50,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  watch: {
    'model.face_image': function(val) {
      if (val.length > 0) {
      }
    }
  },
  created: function() {},
  methods: {
    updateImage(verify_face) {
      if (this.model.face_image.length == 0) {
        $('#dropzoneFace').click()
        // this.showAlert()
        return false
      }
      window.swal
        .fire({
          title: '<strong>Update Image</strong>',
          type: 'warning',
          text: 'Are you sure? this will revert your current image',
          showCloseButton: true,
          showCancelButton: true,
          focusConfirm: true,
          confirmButtonText: 'Update',
          cancelButtonText: 'Cancel'
        })
        .then(result => {
          if (result.value) {
            this.updateIdentityImage(verify_face)
          } else {
          }
        })
    },
    filesAdded(file, response) {
      var model = this.model
      if (file) {
        model.face_image.push(file)
      }
    },
    fileRemoved(file) {
      var identityImg = this.model.face_image
      var IndexToRemove = identityImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.face_image.splice(IndexToRemove, 1)
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    async updateIdentityImage(verify_face) {
      this.model.verify_face = verify_face.type
      let router = this.$router
      let action = this.$app.route('user.updateFaceImage')
      let formData = this.$app.objectToFormData(this.model)
      await axios.post(action, formData).then(result => {
        if (result.data.status == 200) {
          window.location.reload()
        }
      })
    }
  }
}
</script>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #ebebeb;
  margin: 10px;
}
</style>
