<template>
  <div class="col-xs-12 col-md-11">
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      variant="error"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
      >Please Upload Image</b-alert
    >
    <template
      v-if="
        uploads && uploads.verify_Id && uploads.verify_Id.status === 'rejected'
      "
    >
      <b-alert show variant="info">
        Your
        <b>{{ uploads.verify_Id.type.replace(/_/g, ' ') }}</b> Image has been rejected. Kindly re-upload.For more information please contact A N Express customer service on 02074260113(IdentityGallery.vue)</b-alert>
      <b-alert
        variant="error"
        class="verify-error"
        @dismissed="showError = !showError"
        :show="showError"
        dismissible
        >{{ ErrorMessage }}</b-alert
      >
    </template>
    <template v-if="uploads">
      <div class="col-xs-12 col-md-6">
        <h4 class="upload-type" style="text-transform: capitalize;">
          <template v-if="uploads.verify_Id.type"
            >{{ uploads.verify_Id.type.replace(/_/g, ' ') }} Image</template
          >
        </h4>
        <gallery
          :images="identityImages"
          :index="index"
          @close="index = null"
        ></gallery>
        <div
          class="image"
          v-for="(image, imageIndex) in identityImages"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{
            backgroundImage: 'url(' + image + ')',
            width: '100%',
            height: '300px'
          }"
        ></div>
      </div>
      <template
        v-if="
          !uploads.verify_Id.status ||
            uploads.verify_Id.status === 'pending' ||
            uploads.verify_Id.status === 'accepted'
        "
      >
        <div class="c-pt-4 col-xs-12 col-md-6">
          <b-form-group label="Issuing Authroity:">
            <b-form-input
              disabled
              :value="uploads.verify_Id.issuing_authority"
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Expiry Date:">
            <b-form-input
              disabled
              :value="uploads.verify_Id.expiry_date"
            ></b-form-input>
          </b-form-group>
        </div>
      </template>
      <template
        v-if="
          uploads.verify_Id.status && uploads.verify_Id.status === 'rejected'
        "
      >
        <div class="col-xs-12 col-md-6" style="padding-top:50px;">
        
          <div>
            <vueDropzone
              ref="myVueDropzoneIdentity"
              @vdropzone-success="filesAdded"
              @vdropzone-removed-file="fileRemoved"
              id="dropzoneIdentity"
              v-model="model.identity_image"
              :options="dropzoneOptions"
            ></vueDropzone>
            <div>
              <button
                @click="updateImage(uploads.verify_type)"
                class="update-identity"
              >
                Update {{ uploads.verify_Id.type.replace(/_/g, ' ') }} Image
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row mt-10 pt-10">
          <div class="col-md-6">
            <b-form-group label="Issuing Authority:">
              <b-form-input
                ref="issuing"
                v-model="model.issuing_authority"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-xs-12 col-md-6">
            <b-form-group label="Expiry Date:">
              <b-form-input
                ref="expirydate"
                type="date"
                v-model="model.expiry_date"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import VueGallery from 'vue-gallery'
import moment from 'moment'

export default {
  name: 'IdentityGallery',
  components: {
    vueDropzone: vue2Dropzone,
    gallery: VueGallery
  },
  props: {
    identityImages: {
      type: Array,
      default: () => []
    },
    uploads: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      index: null,
      showError: false,
      showUpload: false,
      ErrorMessage: 'Something Went Wrong! Please Try Again',
      model: {
        identity_image: [],
        verify_type: null,
        issuing_authority: null,
        expiry_date: null
      },
      dropzoneOptions: {
        url: '/api/add_verify_images',
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        addRemoveLinks: true,
        clickable: true,
        acceptedFiles: 'image/jpg,image/png, image/jpeg',
        dictDefaultMessage: 'Drop Image here to upload.',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]')
            .content
        }
      },
      dismissSecs: 50,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  watch: {
    'model.identity_image': function(val) {
      if (val.length > 0) {
      }
    }
  },
  created: function() {},
  methods: {
    updateImage(verify_type) {
      if (this.model.identity_image.length == 0) {
        $('#dropzoneIdentity').click()
        // this.showAlert()
        return false
      }
      let validate = this.checkValidation()
      if (validate === false) {
        return false
      }
      window.swal
        .fire({
          title: '<strong>Update Image</strong>',
          type: 'warning',
          text: 'Are you sure? this will revert your current image',
          showCloseButton: true,
          showCancelButton: true,
          focusConfirm: true,
          confirmButtonText: 'Update',
          cancelButtonText: 'Cancel'
        })
        .then(result => {
          if (result.value) {
            this.updateIdentityImage(verify_type)
          } else {
          }
        })
    },
    filesAdded(file, response) {
      var model = this.model
      if (file) {
        model.identity_image.push(file)
      }
    },
    fileRemoved(file) {
      var identityImg = this.model.identity_image
      var IndexToRemove = identityImg.indexOf(file)
      if (IndexToRemove !== -1) {
        this.model.identity_image.splice(IndexToRemove, 1)
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    async updateIdentityImage(verify_type) {
      this.model.verify_type = verify_type.type
      let router = this.$router
      let action = this.$app.route('user.updateVerifyImage')
      let formData = this.$app.objectToFormData(this.model)
      await axios.post(action, formData).then(result => {
        if (result.data.status == 200) {
          window.location.reload()
        }
      })
    },
    checkValidation() {
      var model = this.model
      var expiry = moment([model.expiry_date])
      var current = moment([new Date().toISOString().slice(0, 10)])
      var diffbtwexpirycurrent = current.diff(expiry, 'days')
      if (!model.issuing_authority) {
        this.$refs.issuing.$refs.input.focus()
        this.ErrorMessage = 'Please enter Issuing Authority'
        this.showError = true
        return false
      }
      if (!model.expiry_date) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please select Expiry Date'
        this.showError = true
        return false
      }
      if (diffbtwexpirycurrent > 365) {
        this.$refs.expirydate.$refs.input.focus()
        this.ErrorMessage = 'Please Enter Valid Expiry Date of Documents'
        this.showError = true
        return false
      }
    }
  }
}
</script>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #ebebeb;
  margin: 10px;
}
</style>
