<template>
  <div>
    <h4 class="title-head">
      Uploads
      <b-button class="pull-right" variant="link" to="/dashboard">
        <b> <i class="fe fe-arrow-left"></i> Back to Dashboard </b>
      </b-button>
    </h4>
    <div class="container">
      <div class="row uploads-list">
        <IdentityGallery
          @update="updateIdentityImage"
          :uploads.sync="uploads"
          :identity-images.sync="identityImages"
        ></IdentityGallery>
      </div>
      <div class="row uploads-list">
        <FaceGallery
          @update="updateFaceImage"
          :uploads.sync="uploads"
          :face-image.sync="faceImage"
        ></FaceGallery>
      </div>
      <div class="row uploads-list">
        <DocGallery
          @update="updateDocImage"
          :uploads.sync="uploads"
          :doc-image.sync="docImage"
        ></DocGallery>
      </div>
      <div class="row uploads-list">
        <AdditionalDoc
          @update="updateDocImage"
          :uploads.sync="uploads"
          :doc-image.sync="docAdditionalImage"
          :doc-file.sync="docFile"
        ></AdditionalDoc>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import IdentityGallery from './IdentityGallery'
import FaceGallery from './FaceGallery'
import DocGallery from './DocGallery'
import AdditionalDoc from './AdditionalDoc'

export default {
  name: 'UploadsList',
  components: {
    IdentityGallery,
    FaceGallery,
    AdditionalDoc,
    DocGallery
  },
  data() {
    return {
      identityImages: [],
      faceImage: [],
      docImage: [],
      docAdditionalImage: [],
      uploads: null,
      docFile: null,
      testingImages: [
        'https://dummyimage.com/800/ffffff/000000',
        'https://dummyimage.com/1600/ffffff/000000',
        'https://dummyimage.com/1280/000000/ffffff',
        'https://dummyimage.com/400/000000/ffffff'
      ]
    }
  },
  created() {
    this.getVerifyDocs()
  },
  methods: {
    async updateIdentityImage() {
      this.getVerifyDocs()
    },
    async updateFaceImage() {
      this.getVerifyDocs()
    },
    async updateDocImage() {
      this.getVerifyDocs()
    },
    async getVerifyDocs() {
      // console.log(this.testingImages)
      await axios
        .get(this.$app.route('user.getIdentityUploads'))
        .then(response => {
          if (response.data.status == 200) {
            this.identityImages.push(response.data.identity_image)
            this.faceImage.push(response.data.face_image)
            this.docImage.push(response.data.doc_image)
            this.uploads = response.data.doc_verify
            this.docAdditionalImage.push(response.data.doc_additional_image)
            this.docFile = response.data.doc_additional_image
            // console.log(this.uploads, this.faceImage)
          }
        })
    }
  }
}
</script>
