<template>
  <div class="front-upload-form">
    <h4 class="title-head">New Upload</h4>
  </div>
</template>

<script>
import axios from 'axios'
import form from '../../mixins/form'

export default {
  name: 'UploadsForm',
  mixins: [form],
  data() {
    return {
      modelName: 'upload',
      resourceRoute: 'uploads',
      listPath: '/uploads',
      model: {}
    }
  },
  watch: {},
  created() {},
  methods: {}
}
</script>
