<template>
  <div class="recharge-list">
    <b-card>
      <template slot="header">
        <div class="card-options" v-if="this.$app.user.can('create recharge')">
          <!--
            <b-button to="/recharge/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> {{ $t('buttons.recharge.create') }}
            </b-button>
          -->
        </div>
      </template>
      <b-datatableinventory 
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.recharge.search"
        delete-route="admin.recharge.destroy"
        :selected.sync="selected"
      >
        <b-table ref="datatable"
                 striped
                 show-empty
                 stacked="md"
                 no-local-sorting
                 :empty-text="$t('labels.datatables.no_results')"
                 :empty-filtered-text="$t('labels.datatables.no_matched_results')"
                 :fields="fields"
                 :items="dataLoadProvider"
                 sort-by="ledger.created_at"
                 :sort-desc="true"
        >
         <!--  <template slot="HEAD_checkbox" slot-scope="data"></template> -->
          <template slot="description" slot-scope="row">
            <span>{{ row.item.user.name }}</span>
          </template>
          <template slot="debit" slot-scope="row">
            <span>{{ row.item.user.name }}</span>
          </template>
          <template slot="credit" slot-scope="row">
            <span>{{ row.item.user.name }}</span>
          </template>
          <template slot="balance" slot-scope="row">
            <span>{{ row.item.user.name }}</span>
          </template>
          <!-- <template slot="status" slot-scope="row">
            <b-select
              ref="selectRechargeVal"
              :value="row.value"
              @change="onChangeStatus(row.item.user_id, row.item.id, $event, row.item.amount)"
            >
              <template v-if="row.item.status == 'pending'">
                <option value="pending">Pending</option>
                <option value="approved">Approve</option>
                <option value="rejected">Reject</option>
              </template>
              <template v-if="row.item.status == 'approved'">
                <option value="approved">Approved</option>
                <option value="rejected">Reject</option>
              </template>
              <template v-if="row.item.status == 'rejected'">
                <option value="rejected">Rejected</option>
                <option value="approved">Approve</option>
              </template>
            </b-select>
          </template> -->
          <!-- <template slot="show_status" slot-scope="row">
            <span class="status-pending" v-if="row.item.status == 'pending'">Pending</span>
            <span class="status-approved" v-if="row.item.status == 'approved'">Approved</span>
            <span class="status-rejected" v-if="row.item.status == 'rejected'">Rejected</span>
          </template> -->
          <template slot="ledger.created_at" slot-scope="row">
            {{ row.item.created_at }}
          </template>
          <template slot="ledger.updated_at" slot-scope="row">
            {{ row.item.updated_at }}
          </template>
          <!-- <template slot="actions" slot-scope="row">
            <b-button v-if="row.item.id" size="sm" variant="danger" v-b-tooltip.hover :title="$t('buttons.delete')" @click.stop="onDelete(row.item.id)">
              <i class="fe fe-trash"></i>
            </b-button>
          </template> -->
        </b-table>
      </b-datatableinventory>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Ledger',
  data() {
    return {
      selected: [],
      statusOptions: [
        { value: 'approved', text: 'Approve' },
        { value: 'rejected', text: 'Reject' }
      ],
      fields: [
        {
          key: 'user',
          label: 'Requested From'
        },
        {
          key: 'amount',
          label: this.$t('validation.recharge.amount')
        },
        {
          key: 'details',
          label: this.$t('validation.recharge.details')
        },
        {
          key: 'show_status',
          label: this.$t('validation.recharge.status')
        },
        {
          key: 'status',
          label: 'Change Status'
        }
        // { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ]
      // actions: {
      //   destroy: this.$t('labels.backend.recharge.actions.destroy')
      // }
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ recharge: id })
    },
    onChangeStatus(user_id, id, status, amount) {
      var text = status == 'rejected' ? 'Reject' : 'Approve'
      var buttoncolor = status == 'rejected' ? '#d63030' : '#3085d6'
      window
        .swal({
          title: text + ' Recharge Request',
          text: 'Are you sure? You won"t be able to revert this!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: buttoncolor,
          confirmButtonText: 'Yes, ' + text + ' it!'
        })
        .then(result => {
          if (result.value) {
            this.changeStatus(user_id, id, status, amount)
          } else if (
            // Read more about handling dismissals
            result.dismiss === window.swal.DismissReason.cancel
          ) {
            this.$refs.datatable.refresh()
          }
        })
    },
    async changeStatus(user_id, id, status, amount) {
      await axios
        .post(this.$app.route('admin.ledger.changestatus'), {
          user_id: user_id,
          id: id,
          status: status,
          amount: amount
        })
        .then(response => {
          if (response.data.status == 200) {
            this.onContextChanged()
          }
        })
    }
  }
}
</script>
