<template>
  <div class="select-payment-container" style="">
    <div class="">
      <b-alert variant="danger" dismissible v-model="showDismissibleAlert"
        >Please Fill the Required Fields!</b-alert
      >
    </div>
    <div class="contact-us-wrap col-xs-11 col-md-11">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="section-heading">
              <h3>Send Message to Administrator</h3>
            </div>
            <div class="footer-address">
              <div
                data-attrid="kc:/location/location:address"
                data-md="1002"
                lang="en-GB"
                data-hveid="CAYQAQ"
                data-ved="2ahUKEwjm6ICxmrzgAhXxQxUIHW0RDfoQkCkwEHoECAYQAQ"
              >
                <div>
                  <div
                    data-dtype="d3ifr"
                    data-local-attribute="d3adr"
                    data-ved="2ahUKEwjm6ICxmrzgAhXxQxUIHW0RDfoQghwoADAQegQIBhAC"
                  >
                    <div jsl="$t t-L9CBsj706lI;$x 0;"></div>
                    <div jsl="$t t-L9CBsj706lI;$x 0;"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <form action="#" method="post" class="contact-us-form" novalidate>
              <h6>Write a message</h6>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.name"
                      :placeholder="$t('validation.attributes.name')"
                    ></b-form-input>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.email"
                      :placeholder="$t('validation.attributes.email')"
                    ></b-form-input>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <b-form-input
                      id="subject"
                      name="subject"
                      :input-cols="3"
                      required
                      v-model="model.phone"
                      :placeholder="$t('validation.attributes.phone')"
                    ></b-form-input>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <b-form-textarea
                      id="message"
                      name="message"
                      rows="10"
                      required
                      v-model="model.message"
                      :placeholder="$t('validation.attributes.message')"
                    ></b-form-textarea>
                  </div>
                  
                        <div class="btn-section">
        <b-button @click="submit" variant="primary" class="btn-submit" size="md"
          >Send</b-button
        >
      </div>
                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

   <!-- <div class="row" style="text-center; margin:0 auto;">
      <div class="btn-section">
        <b-button @click="submit" variant="primary" class="btn-submit" size="md"
          >Send</b-button
        >
      </div>
    </div> -->
    <template v-if="showError">
      <b-alert variant="danger" dismissible
        >Please Enter Require Fields!!!</b-alert
      >
    </template>
  </div>
</template>


<script>
import axios from 'axios'
import SendingNav from '../snippets/SendingNav'
import RechargeBalance from '../Recharge/Index'
export default {
  name: 'Compose',
  components: {},
  data() {
    return {
      showError: false,
      showDismissibleAlert: false,
      model: {
        name: null,
        email: null,
        phone: null,
        message: null
      }
    }
  },
  created() {
    this.getUserDetails()
  },
  methods: {
    async getUserDetails() {
      await axios.get(this.$app.route('getUserDetails')).then(result => {
        if (result.data.status == 200) {
          this.model.name = result.data.name
          this.model.email = result.data.email
          this.model.phone = result.data.phone
        }
      })
    },
    async submit() {

      // form validation.
      if (!this.model.name || !this.model.message) {
        this.showError = true
        this.showDismissibleAlert = true
        return false
      } else {
        this.showError = false
      }

      // alert("Send Message Route is : " + this.$app.route('customer.sendmessage'));

      // http post request.
      await axios
        .post("/customer/sendmessage" , {
          data: this.model
        })
        .then(result => {
          if (result.data.status == 200) {
            //this.company_account_data = result.data.showaccount_data
          }
        })
        .catch(error => {
          console.log(error)
        })

       this.test()
    },

    async test() {
      let result = await window.swal({
        title: 'Message Sent',
        type: 'success',
        showCancelButton: false,
        cancelButtonText: this.$t('buttons.cancel'),
        confirmButtonColor: '#dd4b39',
        confirmButtonText: 'Ok'
      })

      if (result.value) {
        this.$router.push('/dashboard')
      }
    }
  } // methods.
}
</script>
