<template>
  <div class="select-payment-container" style="">
    <div class="contact-us-wrap  col-xs-11 col-md-11">
      <div class="container-fluid">

    <b-card class="col-xs-12 col-md-12">
      <template slot="header" class="">
        <h3 class="card-title" style="font-weight:600; font-size:18px;">Received Messages </h3>
      </template>


      <b-datatable ref="datasource"
                   @context-changed="onContextChanged"
                   search-route="customer.message.received"
                   :selected.sync="selected"
      >
        <b-table style="margin-top:20px;" ref="datatable"
                 striped
                 bordered
                 show-empty
                 stacked="md"
                 no-local-sorting
                 :empty-text="$t('labels.datatables.no_results')"
                 :empty-filtered-text="$t('labels.datatables.no_matched_results')"
                 :fields="fields"
                 :items="dataLoadProvider"
        >
          <template slot="email" slot-scope="row">
            <span v-text="row.item.email"></span>
          </template>
          <template slot="phone" slot-scope="row">
            <span v-text="row.item.phone"></span>
          </template>

          <template slot="status" slot-scope="row">
            <span v-text="row.item.status"></span>
          </template>


          <template slot="name" slot-scope="row" getdata>
            <router-link :to="`/customerMessages/${row.item.id}/received`" v-text="row.item.name"></router-link>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
    </div>
    </div>
  </div>
</template>

    <script>
    import axios from 'axios'
    export default {
      name: 'Received',
      data() {
        return {
          selected: [],
          fields: [
            {
              key: 'name',
              label: this.$t('validation.attributes.send_from'),
              sortable: true
            },
            {
              key: 'email',
              label: this.$t('validation.attributes.email'),
              sortable: true
            },
            {
              key: 'phone',
              label: this.$t('validation.attributes.phone'),
              sortable: true
            },
            {
              key: 'status',
              label: this.$t('validation.attributes.status')
            }
          ]
        }
      },
      methods: {
        getdata(data) {
          console.log(data)
        },
        dataLoadProvider(ctx) {
          let data = this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)

          return data
        },
        onContextChanged() {
          return this.$refs.datatable.refresh()
        },
        onDelete(id) {
          this.$refs.datasource.deleteRow({ bank: id })
        }
      }
    }
    </script>

<style>
</style>
