<template>
  <div>
    <div class="contains-both">
      <button class="btn btn-default" @click="status('Sent')">Sent Messaages</button>
      <button class="btn btn-default" @click="status('Received')">Received Messages</button>
      <button class="btn btn-default" @click="status('Compose')">Compose</button>
      <!-- Passing data to Component -->      
      <Received v-if="Received"></Received>
      <Sent v-if="Sent"></Sent>
      <Compose v-if="Compose"></Compose>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Compose from './Compose'
import Received from './Received'
import Sent from './Sent'

export default {

  name: 'Tabs',
 
  components: {
    Compose,
    Received,
    Sent,
  },
  data() {
    return {
      Compose: true,
      Sent: false,
      Received: false,
      exportData: false
    }
  },
  methods: {
    status(comp) {

      if (comp === 'Sent')
      {
        this.Compose = false
        this.Received = false
        this.Sent = true
      }else if(comp === 'Received'){        
        this.Compose = false
        this.Sent = false
        this.Received = true
      }else if(comp === 'Compose'){        
        
        this.Received = false
        this.Compose = true
        this.Sent = false
      }
    }
  }
}
</script>
