<template>
  <div class="recharge-container container">
    <div class="recharge-head">
      <h3>
        View Sent Message
        <b-badge variant="success" v-if="model.status == 'open'">
          <span class="badge badge-success">{{ model.status }}</span>
        </b-badge>
        <b-badge variant="danger" v-else>
          <span class="badge badge-success">{{ model.status }}</span>
        </b-badge>
      </h3>
    </div>
    <div class="recharge-content">
      <div class="row">
        <b-row class>
          <b-col xl="10">
            <b-card>
              <!-- created_at -->
              <template>
                <b-form-group :label="$t('Date')" label-for="Date" horizontal :label-cols="3">
                  <span
                    :label-cols="9"
                  >{{ model.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</span>
                </b-form-group>
              </template>
              <!-- #created_at -->

              <template>
                <b-form-group
                  :label="$t('validation.attributes.name')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.name }}</span>
                </b-form-group>
              </template>
              <template>
                <b-form-group
                  :label="$t('validation.attributes.email')"
                  label-for="email"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.email }}</span>
                </b-form-group>
              </template>
              <template>
                <b-form-group
                  :label="$t('validation.attributes.phone')"
                  label-for="phone"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.phone }}</span>
                </b-form-group>
              </template>


              <!-- status -->
              <template>
                <b-form-group
                  :label="$t('validation.attributes.status')"
                  label-for="status"
                  horizontal
                  :label-cols="3"
                >
                  <span>
                    <b>{{ model.status }}</b>
                  </span>
                </b-form-group>
              </template>
              <!-- //status -->


              <template>
                <b-form-group
                  :label="$t('validation.attributes.message')"
                  label-for="message"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.message }}</span>
                </b-form-group>
              </template>



              <b-row id="hideback" slot="footer">
                <b-col md>
                  <b-button
                    to="/customerMessages"
                    exact
                    variant="danger"
                    size="md"
                  >{{ $t('buttons.back') }}</b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>



       <template v-if="model.status == 'open'">
          <b-col xl="10"><!-- replymessage -->
            <b-card>

              <h3>Reply Pending</h3>

            </b-card>
          </b-col>
        </template>
        <!-- //replymessageForm -->

        <!-- replymessageBox -->
        <!-- <template v-if="showReplyMessageBox"> -->
        <template v-if="model.status == 'close'">
        <b-col xl="10">
            <b-card>
              <h3>Reply Message</h3>
              <b-row id="hideback" slot="footer">
                <b-col md>
                  <span>{{ msg }}</span>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </template>
        <!-- //replymessageBox -->



        </b-row>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import Vue from 'vue'
import moment from 'vue-moment'

Vue.use(moment)

export default {
  name: 'ViewSent',
  mixins: [form],
  data() {

    this.getReply()


    return {
      // roles: [],
      // current_role: null,
      modelName: 'CustomerMessage',
      resourceRoute: 'customer.messages',
      replymessage: '',
      msg: "",

      listPath: '/',
      fields: [
        { key: 'created_at', label: 'Created At' },
        { key: 'name', label: 'Name' },
        { key: 'email', label: 'Email' },
        { key: 'phone', label: 'Phone' },
        { key: 'status', label: 'Status' },
        { key: 'message', label: 'Message' }
      ],
      model: {
        status: null,
        name: null,
        email: null,
        phone: null,
        message: null,
        created_at: null,
        status: null
      }
    }
  },
  async created() {},
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    },

    reply() {
      console.log(this.replymessage)
      console.log(this.id)

      // http request to save reply message.
      axios
        .post(this.$app.route('customer.replymessage'), {
          parent_message_id: this.id,
          message: this.replymessage
        })
        .then(response => {
          if (result.data.status == 200) {
            console.log(response.data.message)
          }
        })
    },
    
    // get current message reply.
    getReply() {

      axios.post(this.$app.route('customer.message.check.status'), {
          message_id: this.id,
          message: this.replymessage
        })
        .then(response => {

          if (response.status == 200)
          {

              if (typeof response.data != "boolean") { // status: close
                // this.hideMessageBox(true, response.data)
                this.msg = response.data.message
              }

          } // status 200
        })

    }

  }
}
</script>