<template>
  <div class="recharge-container container">
    <div class="recharge-head">
      <h3>
        View Received Message
        <b-badge variant="success" v-if="model.status == 'open'">{{ model.status }}</b-badge>
        <b-badge variant="danger" v-else>{{ model.status }}</b-badge>
      </h3>
    </div>
    <div class="recharge-content">
      <div class="row">
        <b-row class>
          <b-col xl="10">
            <b-card>
              <!-- created_at -->
              <template>
                <b-form-group :label="$t('Date')" label-for="Date" horizontal :label-cols="3">
                  <span
                    :label-cols="9"
                  >{{ model.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</span>
                </b-form-group>
              </template>
              <!-- #created_at -->

              <template>
                <b-form-group
                  :label="$t('validation.attributes.name')"
                  label-for="name"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.name }}</span>
                </b-form-group>
              </template>
              <template>
                <b-form-group
                  :label="$t('validation.attributes.email')"
                  label-for="email"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.email }}</span>
                </b-form-group>
              </template>
              <template>
                <b-form-group
                  :label="$t('validation.attributes.phone')"
                  label-for="phone"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.phone }}</span>
                </b-form-group>
              </template>

              <!-- status -->
              <template>
                <b-form-group
                  :label="$t('validation.attributes.status')"
                  label-for="status"
                  horizontal
                  :label-cols="3"
                >
                  <span>
                    <b>{{ model.status }}</b>
                  </span>
                </b-form-group>
              </template>
              <!-- //status -->

              <template>
                <b-form-group
                  :label="$t('validation.attributes.message')"
                  label-for="message"
                  horizontal
                  :label-cols="3"
                >
                  <span :label-cols="9">{{ model.message }}</span>
                </b-form-group>
              </template>

              <b-row id="hideback" slot="footer">
                <b-col md class="col-md-6" style="margin-left:10px;">
                  <b-button
                    to="/customerMessages"
                    exact
                    variant="danger"
                    size="md"
                  >{{ $t('buttons.back') }}</b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>

          <!-- <b-col xl="10">
            <b-card class="col-md-8">
              <h3>Send Reply</h3>
              <b-row id="hideback" slot="footer">
                <b-col md class="col-md-8">
                  <textarea
                    v-model="replymessage"
                    cols="100"
                    rows="8"
                    style="resize: none"
                    placeholder="Enter your reply here."
                  ></textarea>
                </b-col>
              </b-row>
              <b-row id="hideback" slot="footer">
                <b-col md  class="col-md-8">
                  <b-button exact variant="danger" size="md" @click="reply()">Reply</b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>-->

          <template v-if="model.status == 'open'">
            <b-col xl="10">
              <!-- replymessage -->
              <b-card class="col-md-8">
                <h3>Send Reply</h3>
                <b-row id="hideback" slot="footer">
                  <b-col md class="col-md-8">
                    <textarea
                      v-model="replymessage"
                      cols="100"
                      rows="8"
                      style="resize: none"
                      placeholder="Enter your reply here."
                    ></textarea>
                  </b-col>
                </b-row>
                <b-row id="hideback" slot="footer">
                  <b-col md class="col-md-8">
                    <b-button exact variant="danger" size="md" @click="reply()">Reply</b-button>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </template>
          <!-- //replymessageForm -->

          <!-- replymessageBox -->
          <!-- <template v-if="showReplyMessageBox"> -->
          <template v-if="model.status == 'close'">
            <b-col xl="10">
              <b-card>
                <h3>Reply Message</h3>
                <b-row id="hideback" slot="footer">
                  <b-col md>
                    <span>{{ msg }}</span>
                  </b-col>
                </b-row>
              </b-card>
            </b-col>
          </template>
          <!-- //replymessageBox -->
        </b-row>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import form from '../../mixins/form'
import Vue from 'vue'
import moment from 'vue-moment'

Vue.use(moment)

export default {
  name: 'ViewReceived',
  mixins: [form],
  data() {
    this.getReply()

    return {
      modelName: 'CustomerMessage',
      replymessage: '',
      msg: '',

      resourceRoute: 'customer.messages',
      listPath: '/',
      fields: [
        { key: 'created_at', label: 'Created At' },
        { key: 'id', label: 'id' },
        { key: 'name', label: 'Name' },
        { key: 'email', label: 'Email' },
        { key: 'phone', label: 'Phone' },
        { key: 'message', label: 'Message' },
        { key: 'status', label: 'Status' }
      ],
      model: {
        status: null,
        id: null,
        name: null,
        email: null,
        phone: null,
        message: null,
        created_at: null,
        status: null
      }
    }
  },
  async created() {},
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    },
    // send reply.
    reply() {
    
      // http request to save reply message.
      axios
        .post(this.$app.route('customer.replymessage'), {
          message_id: this.id,
          message: this.replymessage
        })
        .then(response => {
          if (response.data.status == 200) {
            console.log(response.data.message)
            
            this.$router.push("/customerMessages")
          }
        })
        .catch( error => {
          console.log( error )
        })
    },

    // get current message reply and display.
    getReply() {
      axios
        .post(this.$app.route('customer.message.check.status'), {
          message_id: this.id,
          message: this.replymessage
        })
        .then(response => {
          if (response.status == 200) {
            if (typeof response.data != 'boolean') {
              // status: close
              // this.hideMessageBox(true, response.data)
              this.msg = response.data.message
            }
          } // status 200
        })
    }
  }
}
</script>