<template>
  <div>
    <b-card>
      <template slot="header">
        <h3 class="card-title">{{ $t('labels.backend.balancelog.titles.index') }}</h3>
      </template>
      <b-datatable ref="datasource"
                   @context-changed="onContextChanged"
                   search-route="balancelog.getLedger"
                   :selected.sync="selected"
      >
        <b-table ref="datatable"
                 striped
                 bordered
                 show-empty
                 stacked="md"
                 no-local-sorting
                 :empty-text="$t('labels.datatables.no_results')"
                 :empty-filtered-text="$t('labels.datatables.no_matched_results')"
                 :fields="fields"
                 :items="dataLoadProvider"
        > 
          
          <template slot="description" slot-scope="row">
            <span v-text="row.item.description"></span>
          </template>
          <template slot="debit_amount" slot-scope="row">
            <span v-text="row.item.debit_amount"></span>
          </template>
          <template slot="credit_amount" slot-scope="row">
            <span v-text="row.item.credit_amount"></span>
          </template>
          <template slot="balance" slot-scope="row">
            <span v-text="row.item.balance"></span>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'BalanceLog',
  data() {
    return {
      selected: [],
      customerLedger: null,
      fields: [
        {
          key: 'description',
          label: this.$t('validation.attributes.description'),
          sortable: true
        },
        {
          key: 'debit_amount',
          label: this.$t('validation.attributes.debit_amount'),
          sortable: true
        },
        {
          key: 'credit_amount',
          label: this.$t('validation.attributes.credit_amount'),
          sortable: true
        },
        {
          key: 'balance',
          label: this.$t('validation.attributes.balance')
        },
        {
          key: 'updated_at',
          label: 'Updated'
        }
      ]
    }
  },
  created() {
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ bank: id })
    }

  }
}
</script>
