<template>
  <div>
    <b-card>
      <template slot="header">
        <h3 class="card-title">Voucher List</h3>
        <div class="card-options">
          <b-button to="/vouchers/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> Voucher Create
          </b-button>
        </div>
      </template>
      <b-datatable
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.vouchers.search"
        delete-route="admin.vouchers.destroy"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          bordered
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
        >
          <template slot="code" slot-scope="row">
            <span v-text="row.item.code"></span>
          </template>
          <template slot="discount_amount" slot-scope="row">
            <span v-text="row.item.discount_amount"></span>%
          </template>
          <template slot="start_date" slot-scope="row">
            <span v-text="row.item.start_date"></span>
          </template>
          <template slot="end_date" slot-scope="row">
            <span v-text="row.item.end_date"></span>
          </template>
          <template slot="created_at" slot-scope="row">
            <span v-text="row.item.created_at"></span>
          </template>
          <template slot="updated_at" slot-scope="row">
            <span v-text="row.item.updated_at"></span>
          </template>

          <template slot="actions" slot-scope="row">
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="primary"
              :to="`/vouchers/${row.item.id}/edit`"
              v-b-tooltip.hover
              :title="$t('buttons.edit')"
              class="mr-1"
            >
              <i class="fe fe-edit"></i>
            </b-button>
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.id)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatable>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'UserList',
  data() {
    return {
      selected: [],
      fields: [
        {
          key: 'code',
          label: 'Code',
          sortable: true
        },
        {
          key: 'discount_amount',
          label: 'Discount Ammount',
          sortable: true
        },
        {
          key: 'start_date',
          label: 'Start Date',
          sortable: true
        },
        {
          key: 'end_date',
          label: 'End Date',
          sortable: true
        },
        {
          key: 'created_at',
          label: this.$t('labels.created_at'),
          class: 'text-center',
          sortable: true
        },
        {
          key: 'updated_at',
          label: this.$t('labels.updated_at'),
          class: 'text-center',
          sortable: true
        },
        {
          key: 'actions',
          label: this.$t('labels.actions'),
          class: 'nowrap'
        }
      ]
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ voucher: id })
    }
  }
}
</script>
