<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row class="justify-content-center">
        <b-col xl="6">
          <b-card>
            <h3 class="card-title" slot="header">{{ isNew ? 'Create Voucher' : 'Edit Voucher' }}</h3>

            <!-- code -->
            <b-form-group label="Code" label-for="code" horizontal :label-cols="3">
              <b-form-input
                id="code"
                name="code"
                placeholder="Code"
                v-model="model.code"
                trim
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Type" label-for="Type" horizontal :label-cols="3">
              <b-form-select v-model="model.type" :options="options" id="type" name="type" required></b-form-select>
            </b-form-group>

            <b-form-group label="Title" label-for="title" horizontal :label-cols="3">
              <b-form-input
                type="text"
                id="title"
                name="title"
                placeholder="Title"
                v-model="model.title"
                trim
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              label="Fee Discount"
              label-for="discount_amount"
              horizontal
              :label-cols="3"
            >
              <b-form-input
                type="number"
                id="discount_amount"
                name="discount_amount"
                required
                placeholder="Fee Discount"
                v-model="model.discount_amount"
                trim
              ></b-form-input>
              <b-form-text id="discount_amount-help">Fee Discount in %</b-form-text>
            </b-form-group>

            <b-form-group label="Start Date" label-for="start_date" horizontal :label-cols="3">
              <b-form-input
                type="date"
                id="start_date"
                name="start_date"
                required
                placeholder="Start Date"
                v-model="model.start_date"
                trim
              ></b-form-input>
            </b-form-group>

            <b-form-group label="End Date" label-for="end_date" horizontal :label-cols="3">
              <b-form-input
                type="date"
                id="end_date"
                name="end_date"
                required
                placeholder="End Date"
                v-model="model.end_date"
                trim
              ></b-form-input>
            </b-form-group>

            <b-row slot="footer">
              <b-col>
                <b-button to="/vouchers" exact variant="danger" size="sm">{{ $t('buttons.back') }}</b-button>
              </b-col>
              <b-col>
                <b-button
                  type="submit"
                  variant="success"
                  size="sm"
                  class="float-right"
                  :disabled="pending"
                  v-if="isNew || this.$app.user.can('edit banks')"
                >{{ isNew ? $t('buttons.create') : $t('buttons.edit') }}</b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
    <vueiconloader :showLoader="showLoader"></vueiconloader>
  </div>
</template>

<script>
import axios from 'axios'
import form from '../../mixins/inventoryform'

export default {
  name: 'VoucherForm',
  mixins: [form],
  data() {
    return {
      showLoader: false,
      modelName: 'voucher',
      resourceRoute: 'vouchers',
      listPath: '/vouchers',
      options: [
        { value: null, text: 'Please select type' },
        { value: 'event', text: 'Event' },
        { value: 'promocode', text: 'Promocode' }
      ],
      model: {
        code: null,
        type: null,
        title: null,
        discount_amount: null,
        start_date: null,
        end_date: null
      }
    }
  },
  created() {
    this.getCode()
  },
  methods: {
    async getCode() {
      if (this.isNew) {
        this.showLoader = true
        await axios
          .get(this.$app.route('admin.vouchers.getcode'), {})
          .then(result => {
            this.showLoader = false
            if (result.data.status == 200) {
              this.model.code = result.data.response
            }
          })
          .catch(error => {
            this.showLoader = false
            console.log(error)
          })
      }
    }
  }
}
</script>
