<template>
  <div>
    <SelectPaymentMethod v-if="showSelectMethod" @success-balance="successBalance"></SelectPaymentMethod>
    <SuccessBalance v-if="showSuccessBalance"></SuccessBalance>
  </div>
</template>

<script>
import axios from 'axios'
import SelectPaymentMethod from './SelectPayment'
import SuccessBalance from './SuccessBalance'

export default {
  name: 'Index',
  components: {
    SelectPaymentMethod,
    SuccessBalance
  },
  data() {
    return {
      showSelectMethod: true,
      showSuccessBalance: false
    }
  },
  methods: {
    successBalance() {
      this.showSelectMethod = false
      this.showSuccessBalance = true
    }
  }
}
</script>
