<template>
  <div>
  </div>
  <div></div>
</template>

<script>
import axios from 'axios'
import SelectMethod from './SelectMethod'

export default {
  name: 'PaymentDetails',
  methods: {}
}
</script>
