<style scoped>
.payment-details-card .card-header h4 {
   color: #A9A9A9 !important;
  }
</style>

<template>
  <div class="select-payment-container">
    <template>
      <SendingNav :payment="true"></SendingNav>
    </template>
    <div class="container">
      <div class="row">
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="danger"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged"
          class="payment-method-alert"
        >
          <p>{{ alertMessage }} <b-button @click="rechargeBalance" class="recharge-btn" variant="primary">Recharge Now</b-button></p>
        </b-alert>
        <b-alert class="payment-pending-alert" :show="showPendingAlert" variant="warning">Please wait, requested balance pending for approval.</b-alert>
      </div>
    </div>
    <template v-if="showBalanceCharge">
      <RechargeBalance @successRequest="successRequestBalance"></RechargeBalance>
    </template>
    <template v-if="showSelectPayment">
      <div class="container mb-8">
        <template>
          <div class="row">
            <template>
              <div class="payment-details-card col-md-8">
                <div class="card text-center">
                  <div class="card-header">
                    <h4>A N Express Ltd bank account details to transfer the funds to credit into your account</h4>
                  </div>
                  <div class="card-body">
                    <div class="payment-box">
                      <template v-if="company_account_data">
                        <div class="amount-box">
                          <ul>
                            <li style="text-align: left;">Account Number
                              <span style="text-align: right;">{{ company_account_data.AccountNumber }}
                              </span>
                            </li>
                            <li style="text-align: left;">Account Name
                              <span style="text-align: right;">{{ company_account_data.AccountName }}
                              </span>
                            </li>
                            <li style="text-align: left;">Bank Address
                              <span style="text-align: right;">{{ company_account_data.BankNameAddress }}
                              </span>
                            </li>
                            <li style="text-align: left;">Beneficiary Address
                              <span style="text-align: right;">{{ company_account_data.BeneficiaryAddress }}
                              </span>
                            </li>
                            <li style="text-align: left;">BIC Swift Number
                              <span style="text-align: right;">{{ company_account_data.BICSwiftNumber }}
                              </span>
                            </li>
                            <li style="text-align: left;">IBAN
                              <span style="text-align: right;">{{ company_account_data.IBAN }}
                              </span>
                            </li>
                            <li style="text-align: left;">Sort Code
                              <span style="text-align: right;">{{ company_account_data.SortCode }}
                              </span>
                            </li>
                          </ul>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template>
              <div class="payment-details-card col-md-4">
                <div class="card text-center">
                  <div class="card-header">
                    <h4>Payment Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="payment-box">
                      <template v-if="paymentDetails">
                        <div class="amount-box">
                          <ul>
                            <li>Send Amount
                              <span>{{ paymentDetails.sendCurrency }}
                                {{ paymentDetails.calculate.sendAmount }}
                              </span>
                            </li>
                            <li>Fees
                              <span>{{ paymentDetails.sendCurrency }}
                                {{ paymentDetails.calculate.totalFee }}
                              </span>
                            </li>
                          </ul>
                        </div>
                        <div class="amount-box total">
                          <ul>
                            <li>Total to Pay:
                              <span>{{ paymentDetails.sendCurrency }}
                                {{ paymentDetails.calculate.totalToPay }}
                              </span>
                            </li>
                            <li>Your Recipient Gets
                              <span>{{ paymentDetails.getCurrency }}
                                {{ paymentDetails.calculate.recipientTotal }}</span>
                            </li>
                          </ul>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
          <div class="row" style="padding-top: 100px; padding-bottom: 50px;">
            <div class="select-payment col-md-12">
              <div class="row">
                <h4>Select Payment Method</h4>
                <b-form-group>
                  <b-form-radio-group v-model="paymentType" class="radio-group">
                    <b-form-radio value="account_balance">Pay with Account Balance</b-form-radio>
                    <!-- <b-form-radio class="credit-payment" value="cardCommingSonnn" disabled>Pay with Debit / Credit Card (Coming Soon)</b-form-radio> -->
                    <b-form-radio value="card">Pay with Barclay’s (Debit / Credit Card)</b-form-radio>

                  </b-form-radio-group>
                </b-form-group>
              </div>
            </div>


<div class="select-payment col-md-12" v-if="maxTransactionLimit">
  <div class="row">
    <h4>You have 12 Points</h4>
    <p>You can use your points to get discount on transaction fee. 12 point = 1 GBP</p>
    <b-form-group>
      <b-form-checkbox-group id="checkbox-group-2" v-model="pointsUsed">
        <b-form-checkbox value="yes" unchecked-value="no">Yes I want to use my points!</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>
  </div>
</div>



          </div>
        </template>
        <div class="row">
          <div class="btn-section">
            <b-button @click="back" variant="secondary" class="btn-back" size="lg">Back</b-button>
            <b-button @click="submit" variant="primary" class="btn-next" size="lg">Next</b-button>
          </div>
        </div>
      </div>
    </template>
    <template>
        <form method="POST" :action="barclaycard_test_url" id="barclaycardform" name="barclaycardform">
          	<input type="hidden" name="AMOUNT" :value="barclaycard_form_amount">
          	<input type="hidden" name="CURRENCY" :value="barclaycard_form_currency">
          	<input type="hidden" name="LANGUAGE" value="en_US">
          	<input type="hidden" name="ORDERID" :value="barclaycard_form_order_id">
          	<input type="hidden" name="PSPID" :value="barclaycard_form_pspid">
          	<input type="hidden" name="SHASIGN" :value="barclaycard_form_order_shasign">
            <!-- redirections -->
	          <input type="hidden" name="ACCEPTURL" :value="barclaycard_accept_url">
            <input type="hidden" name="BACKURL" :value="barclaycard_back_url">
            <input type="hidden" name="CANCELURL" :value="barclaycard_cancel_url">
            <input type="hidden" name="DECLINEURL" :value="barclaycard_decline_url">
          	<!-- <input type="submit" value="Submit" id="submit" name="submit"> -->
        </form>
    </template>


  </div>
</template>


<script>
import axios from 'axios'
import SendingNav from '../snippets/SendingNav'
import RechargeBalance from '../Recharge/Index'

export default {
  name: 'SelectPayment',
  components: {
    RechargeBalance,
    SendingNav
  },
  data() {
    return {     
      pointsUsed: 'no',
      maxTransactionLimit: false,

      //////////////////////BARCLAYCARD ////////////////////////////////////
      // barclaycard.
      barclaycard_form: false,
      barclaycard_live_url: "https://payments.epdq.co.uk/ncol/prod/orderstandard_utf8.asp", // live url.
      barclaycard_test_url: "https://mdepayments.epdq.co.uk/ncol/test/orderstandard_utf8.asp", // test url.

      // barclaycard redirects.
      barclaycard_accept_url: "http://127.0.0.1:8000/front/send/thanks",
      barclaycard_decline_url: "http://127.0.0.1:8000/cancel",
      barclaycard_cancel_url: "http://127.0.0.1:8000/cancel",
      barclaycard_back_url: "http://127.0.0.1:8000/front/dashboard",

      // barclaycard form fields.
      // barclaycard_form_pspid: "epdq56928", // production
      barclaycard_form_pspid: "hamzakhan", // test

      barclaycard_form_order_id: null,
      barclaycard_form_amount: null,
      barclaycard_form_currency: "GBP",
      barclaycard_form_language: "en_US",
      barclaycard_form_order_shasign: null,
      //////////////////////////////////////////////////////////
      transaction_id:null,
      record_id:null,

      showPendingAlert: false,
      company_account_data: null,
      showSelectPayment: true,
      paymentDetails: null,
      paymentType: 'account_balance',
      dismissSecs: 5000,
      dismissCountDown: 0,
      alertMessage: 'This is Default Alert Message',
      showDismissibleAlert: false,
      showBalanceCharge: false,
      id:null
    }
  },
  watch: {
    paymentDetails: function(val) {
      if (val) {
        this.getRequestRecharge(val.calculate.totalToPay)
      }
    }
  },
  created() {
    this.getPaymentDetails()
    this.showBankDetails()
    this.checkPoints()
  },
  methods: {
    successRequestBalance() {
      this.showBalanceCharge = !this.showBalanceCharge
    },
    rechargeBalance() {
      // this.showBalanceCharge = !this.showBalanceCharge
      this.showBalanceCharge = true
      // this.showSelectPayment = !this.showSelectPayment
    },
    async back() {
      var payment_id = this.paymentDetails['payment_id']
      // console.log(this.paymentDetails)
      // return false
      await axios
        .post(this.$app.route('changePaymentStatus'), {
          payment_id: payment_id,
          status: 'recipient'
        })
        .then(result => {
          if (result.status == 200) {
            this.$router.push('/send/ListReceiver')
            // alert('changed Payment Status')
            // window.location.reload()
          }
        })
    },
    async submit() {
    if (!this.showPendingAlert)
	  {
    		let result = await window.swal({
    		  title: this.$t('labels.are_you_sure'),
    		  text: 'Are you sure you want to release the transaction to A N Express Ltd to process it? Or would you like to review it again',
    		  type: 'info',
    		  showCancelButton: true,
    		  cancelButtonText: 'Review',
    		  confirmButtonColor: '#3085d6',
    		  confirmButtonText: 'Proceed'
    		})

        if (result.value) {
          if (this.paymentType == 'account_balance') {
            this.payWithBalance()
          }
          if (this.paymentType == 'card') {
			      this.removeSessionKeys()
            document.getElementById("barclaycardform").submit();
          }
        }
      } else {

    		let result = await window.swal({
    		  title: this.$t('labels.are_you_sure'),
    		  text: 'Are you sure you want to release the transaction to A N Express Ltd to process it? Or would you like to review it again',
    		  type: 'info',
    		  showCancelButton: true,
    		  cancelButtonText: 'Review',
    		  confirmButtonColor: '#3085d6',
    		  confirmButtonText: 'Proceed'
    		})

        if (result.value) {
          if (this.paymentType == 'account_balance') {
            this.payWithBalance() // payment1
          }
          if (this.paymentType == 'card') { // payment2
			      this.removeSessionKeys()
            document.getElementById("barclaycardform").submit();
          }
        }
	  }
    // this.showAlert()
    },
  	removeSessionKeys() {
  		// remove session keys.
  		this.$session.start()
  		this.$session.remove('t_id')
  		this.$session.remove('redirect')

  		console.log("session keys are removed!")
  	},
    async getPaymentDetails() 
    {
      await axios
        .get(this.$app.route('getPaymentDetails'), {
          params: {
            status: 'payment'
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.paymentDetails = response.data.payment_details
            this.id = response.data.id
            this.transaction_id = response.data.transaction_id // To use in barclaycard order_id.

            // console.log("recipent total " + response.data.payment_details.calculate.recipientTotal )
            // console.log( typeof response.data.payment_details.calculate.recipientTotal )

            var totalToPay;
            // this.paymentDetails.calculate.totalToPay

            if ( typeof response.data.payment_details.calculate.totalToPay == "string") {
              totalToPay = (response.data.payment_details.calculate.totalToPay).replace(",", "");
              totalToPay = totalToPay.replace(",", "");
            }
            console.log( totalToPay )

            // this.barclaycard_form_amount = Math.round(totalToPay) // add totalToPay to barclaycard  form.
            this.barclaycard_form_amount = (totalToPay * 100 )// add totalToPay to barclaycard  form.
            // this.barclaycard_form_currency = response.data.payment_details.getCurrency // add currency to barclaycard form

            // get current time
            var d = new Date();
            var currentTime = d.getTime();
            var today = d.getDate();
            var timestamp =  today + currentTime;
            // order id
            this.barclaycard_form_order_id = "anexpress-" + this.transaction_id + "-" + timestamp + "-" + this.id

            //  get HashKey for barclaycard form.
            axios.post(this.$app.route('getHashKey'), {
                  amount: this.barclaycard_form_amount,
                  currency: this.barclaycard_form_currency,
                  language: 'en_US',
                  order_id: this.barclaycard_form_order_id,
                  // redirections
                  accept_url: this.barclaycard_accept_url,
                  cancel_url: this.barclaycard_cancel_url,
                  back_url: this.barclaycard_back_url,
                  decline_url: this.barclaycard_decline_url,
              })
              .then(response => {
                  if (response.data.status == 200) {
                    this.barclaycard_form_order_shasign = response.data.sha_sign
                    // console.log("sha_sign : "  + response.data.sha_sign)
                  }
              })

          } else {
            this.$router.push('/dashboard')
          }
        })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    // payment1
    async payWithBalance() {

      await axios
        .get(this.$app.route('checkUserBalance'), {
          params: {
            to_pay_amount: this.paymentDetails.calculate.totalToPay,
            payment_id: this.paymentDetails['payment_id'],
            id : this.id,
            pointsUsed: this.pointsUsed
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.addPoints()
            alert("Paid Done!")
             this.removeSessionKeys()
            // this.$emit('success-balance')
           
          }
          if (response.data.status == 403) {
            this.alertMessage = response.data.response
            this.showAlert()
          }
        })
    },
    
    async getRequestRecharge(totalToPay) {
      await axios
        .get(this.$app.route('user.getRequestRecharge'), {
          params: {
            total_amount: totalToPay
          }
        })
        .then(response => {
          if (response.data.status == 200) {
            this.showPendingAlert = true
          }
        })
    },
    async showBankDetails() {
      await axios
        .get(this.$app.route('selectPayment.showBankDetails'))
        .then(result => {
          if (result.data.status == 200) {
            this.company_account_data = result.data.showaccount_data
          }
        })
    },

    // add points
    async addPoints()
    {
      await axios
        .get(this.$app.route('user.addPoint'),{
            params: {
              paymentId: this.paymentDetails['payment_id'],
              pointsUsed: this.pointsUsed
            }
        })
        .then(response => {
          if (response.data.status == 200) {            
            
          }
        }).catch(error => {
          
        })
    },
    // check points
    async checkPoints()
    {
      // console.log("check points!")
      await axios
        .get(this.$app.route('user.checkPoint'))
        .then(response => {
          if (response.data.status == 200) {
            console.log(typeof response.data.maxLimitIncreased)
            if( response.data.maxLimitIncreased === true)
            {
              this.maxTransactionLimit = true
            }
          }
        }).catch(error => {

        })
    }
  }
}
</script>
