<template>
  <div class="container">
    <div class="row">
      <div class="transaction-successful">
        <div class="step-head">
          <h2>Transaction Successful !!!</h2>
        </div>
        <div class="step-body">
          <p>Your Transaction is successfully submitted.<br>
          <p>Your Current Balance is <b>{{ balanceValue }}</b></p>
          <p>Your Transaction Id is <b>{{ transactionID }}</b></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SuccessBalance',
  data() {
    return {
      balanceValue: null,
      transactionID: null,
    }
  },
  created() {
  
	
    this.getUserBalance()
    this.getUserTransationID()
  },
  methods: {
     async getUserBalance() {
      await axios.get(this.$app.route('getUserBalance')).then(response => {
        if (response.data.status == 200) {
          this.balanceValue = response.data.balance
         // setTimeout(() => {
           // window.location.href = '/front/dashboard'
          // }, 3000)
        }
      })
    },
    // get user transation id.
    async getUserTransationID() {
      await axios.get(this.$app.route('payment.transation.id')).then(response => {
        if (response.data.status == 200 && response.data.transaction_id != "")
        {
           this.transactionID = response.data.transaction_id
        }
      })
    }
  }
}
</script>
