<template>
  <div class="container">
    <div class="row">
      <div class="transaction-successful">
        <div class="step-head">
          <h2>Transaction Successful !</h2>
        </div>
        <div class="step-body">
          <h4>Transaction Details</h4>
          <table>
             <tr>
              <td>PAYID</td>
              <td>{{ this.PAYID }}</td>
            </tr>  <tr>
              <td>Ordr ID/ Transaction ID</td>
              <td>{{ this.paymentid }}</td>
            </tr>
          <tr>
          <td>CARDNO</td>
            <td>{{ this.CARDNO }}</td>
          </tr>
            <tr>
            <td>TRXDATE</td>
            <td>{{ this.TRXDATE }}</td>
          </tr>
          <tr>
            <td>PM</td>
            <td>{{ this.PM }}</td>
          </tr>
            <tr>
            <td>PAYIDSUB</td>
            <td>{{ this.PAYIDSUB }}</td>
          </tr>
          <tr>
            <td>IP</td>
            <td>{{ this.IP }}</td>
          </tr>
          <tr>
            <td>SHASIGN</td>
            <td>{{ this.SHASIGN }}</td>
          </tr>
          <tr>
            <td>IPCTY</td>
            <td>{{ this.IPCTY }}</td>
          </tr>
          <tr>
            <td>CVCCheck</td>
            <td>{{ this.CVCCheck }}</td>
          </tr>
         </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'thanks',
  data() {
    return {
      amount: null,
      paymentid: null,
      currency: null,

      PM: null,
      CARDNO: null,
      TRXDATE: null,
      PAYID: null,
      PAYIDSUB: null,
      BRAND: null,
      IPCTY: null,
      CVCCheck: null,
      IP: null,
      SHASIGN: null
    }
  },
  created() {
    this.thankyou()
  },
  methods: {
  async thankyou() {
    if (typeof this.$route.query.PM == "string") {
      this.PM = this.$route.query.PM
    }
    if(typeof this.$route.query.CARDNO == "string") {
      this.CARDNO = this.$route.query.CARDNO
    }
    if(typeof this.$route.query.TRXDATE == "string") {
      this.TRXDATE = this.$route.query.TRXDATE
    }
    if(typeof this.$route.query.PAYID == "string") {
      this.PAYID = this.$route.query.PAYID
    }
    if (typeof this.$route.query.PAYIDSUB == "string") {
      this.PAYIDSUB = this.$route.query.PAYIDSUB
    }
    if(typeof this.$route.query.BRAND == "string") {
      this.BRAND = this.$route.query.BRAND
    }
    if (typeof this.$route.query.IPCTY == "string") {
      this.IPCTY = this.$route.query.IPCTY
    }
    if (typeof this.$route.query.CVCCheck == "string") {
      this.CVCCheck = this.$route.query.CVCCheck
    }
    if (typeof this.$route.query.IP == "string") {
      this.IP = this.$route.query.IP
    }
    if (typeof this.$route.query.SHASIGN == "string") {
      this.SHASIGN = this.$route.query.SHASIGN
    }
    if (typeof this.$route.query.orderID == "string") {
        // console.log(this.$route.query.orderID)
        let order_id = this.$route.query.orderID
        // console.log( order_id.split("-").pop() )
        this.paymentid = order_id.split("-").pop()
    }
    if (typeof this.$route.query.amount == "string") {
        console.log(this.$route.query.amount)
        this.amount = this.$route.query.amount
    }

    // update legher, user balance and payment status.
     axios
        .get(this.$app.route('checkUserBalance'), {
          params: {
            to_pay_amount: this.amount,
            payment_id: this.paymentid,
            id : this.paymentid
          }
        })
        .then(response => {
          if (response.data.status == 200) {
             //this.$emit('dashboard')
          }
          if (response.data.status == 403) {
          }
        })

    // redirect to dashboard.
    setInterval(function(){
      window.location.href = '/front/dashboard';
    }, 3000);


  }
  }
}
</script>
