<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col xl="8">
          <b-card>
            <h3 class="card-title" slot="header">
              {{
                isNew
                  ? $t('labels.backend.fee.titles.create')
                  : $t('labels.backend.fee.titles.edit')
              }}
            </h3>
            <b-form-group
              :label="$t('validation.fee.FEE')"
              label-for="FEE"
              horizontal
              :label-cols="2"
              :feedback="feedback('FEE')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.fee.FEE')"
                v-model="model.FEE"
                :state="state('FEE')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.fee.MIN')"
              label-for="MIN"
              horizontal
              :label-cols="2"
              :feedback="feedback('MIN')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.fee.MIN')"
                v-model="model.MIN"
                :state="state('MIN')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.fee.MAX')"
              label-for="MAX"
              horizontal
              :label-cols="2"
              :feedback="feedback('MAX')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.fee.MAX')"
                v-model="model.MAX"
                :state="state('MAX')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.fee.country')"
              label-for="country"
              horizontal
              :label-cols="2"
              :feedback="feedback('country')"
            >
              <b-form-select v-model="model.Country" :state="state('MAX')">
                <option value="null">Please Select Country</option>
                <option
                  v-for="(option, index) in countryOptions"
                  :value="option.value"
                  :key="index"
                >
                  {{ option.text }}
                </option>
              </b-form-select>
            </b-form-group>

            <b-row slot="footer">
              <b-col md>
                <b-button to="/fee" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col md>
                <input name="status" type="hidden" value="publish" />

                <b-button
                  right
                  split
                  :text="$t('buttons.fee.save_and_publish')"
                  class="float-right"
                  variant="success"
                  size="sm"
                  @click="
                    model.status = 'publish'
                    onSubmit()
                  "
                  :disabled="pending"
                  v-if="
                    isNew ||
                      this.$app.user.can('edit fee') ||
                      this.$app.user.can('edit own fee')
                  "
                >
                  Save
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import inventoryform from '../../mixins/form'

export default {
  name: 'FeeForm',
  mixins: [inventoryform],
  data() {
    return {
      modelName: 'fee',
      resourceRoute: 'fee',
      listPath: '/fee',
      countryOptions: [],
      model: {
        FEE: null,
        MIN: null,
        MAX: null,
        Country: null
      }
    }
  },
  created() {
    this.getCountriesCode()
  },
  methods: {
    async getCountriesCode() {
      await axios.get(this.$app.route('api.getCountriesCode')).then(result => {
        if (result.status == 200) {
          this.countryOptions = result.data
        }
      })
    }
  }
}
</script>
