<template>
  <div>
    <b-card>
      <template slot="header">
        <div class="card-options" v-if="this.$app.user.can('create fee')">
          <b-button to="/fee/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i> {{ $t('buttons.fee.create') }}
          </b-button>
        </div>
      </template>
      <b-datatableinventory
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.fee.search"
        delete-route="admin.fee.destroy"
        action-route="admin.fee.batch_action"
        :actions="actions"
        :selected.sync="selected"
        :countryOptionsDropdown="true"
      >
        <b-table
          ref="datatable"
          striped
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          sort-by="fee.id"
          :sort-asc="true"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              :value="row.item.id"
              v-model="selected"
            ></b-form-checkbox>
          </template>

          <template slot="FEE" slot-scope="row">
            <b-form-input
              :value="row.item.FEE"
              @change="changeField('FEE', $event, row.item.id)"
              maxlength="9"
            ></b-form-input>
          </template>

          <template slot="MIN" slot-scope="row">
            <b-form-input
              :value="row.item.MIN"
              @change="changeField('MIN', $event, row.item.id)"
              maxlength="9"
            ></b-form-input>
          </template>
          <template slot="MAX" slot-scope="row">
            <b-form-input
              :value="row.item.MAX"
              @change="changeField('MAX', $event, row.item.id)"
              maxlength="9"
            ></b-form-input>
          </template>
          <template slot="get_country" slot-scope="row">
            <span>
              {{ row.item.get_country.country }} ({{
                row.item.get_country.code
              }})
            </span>
          </template>
          <template slot="actions" slot-scope="row">
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.id)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatableinventory>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'FeeList',
  data() {
    return {
      selected: [],
      model: {
        Fee: [],
        Min: [],
        Max: []
      },
      fields: [
        { key: 'checkbox' },
        {
          key: 'FEE',
          label: 'FEE',
          sortable: true
        },
        {
          key: 'MIN',
          label: 'MIN',
          sortable: true
        },
        {
          key: 'MAX',
          label: 'MAX',
          sortable: true
        },
        {
          key: 'get_country',
          label: 'Country'
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.fee.actions.destroy')
      }
    }
  },

  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ fee: id })
    },
    async changeField(type, $event, id) {
      var amount = parseFloat(event.target.value).toFixed(2)
      if( !isNaN(amount) )
      {
         await axios
          .post(this.$app.route('admin.updateFee'), {
            field: type,
            amount: amount,
            id: id
          })
          .then(result => {
            if (result.data.status == 200) {
              this.onContextChanged()
              this.$app.noty['success'](result.data.message)
            }
          })

      } else {
        swal("Error!", "Invalid Input Value!", "error");
      }
    }
  }
}
</script>
