<template>
  <div>
    <b-card>
      <template slot="header">
        <div class="card-options" v-if="this.$app.user.can('create currency')">
          <b-button to="/currency/create" variant="success" size="sm">
            <i class="fe fe-plus-circle"></i>
            {{ $t('buttons.currency.create') }}
          </b-button>
        </div>
      </template>
      <b-datatableinventory
        ref="datasource"
        @context-changed="onContextChanged"
        search-route="admin.currency.search"
        delete-route="admin.currency.destroy"
        action-route="admin.currency.batch_action"
        :actions="actions"
        :selected.sync="selected"
      >
        <b-table
          ref="datatable"
          striped
          show-empty
          stacked="md"
          no-local-sorting
          :empty-text="$t('labels.datatables.no_results')"
          :empty-filtered-text="$t('labels.datatables.no_matched_results')"
          :fields="fields"
          :items="dataLoadProvider"
          sort-by="currency.id"
          :sort-asc="true"
        >
          <template slot="HEAD_checkbox" slot-scope="data"></template>
          <template slot="checkbox" slot-scope="row">
            <b-form-checkbox
              :value="row.item.id"
              v-model="selected"
            ></b-form-checkbox>
          </template>

          <template slot="Currency_Name" slot-scope="row">
            <!-- <router-link v-if="row.item.id" :to="`/currency/${row.item.id}/edit`" v-text="row.value"></router-link> -->
            <span v-text="row.value"></span>
          </template>

          <template slot="Exchange_Rate" slot-scope="row">
            <b-form-input
              :value="row.item.Exchange_Rate"
              @change="
                changeField('Exchange_Rate', $event, row.item.id)
              "
              maxlength="9"
            ></b-form-input>
          </template>

          <template slot="Special_Agent_Rate" slot-scope="row">
            <b-form-input
              :value="row.item.Special_Agent_Rate"
              @change="
                changeField(
                  'Special_Agent_Rate',
                  $event,
                  row.item.id
                )
              "
            ></b-form-input>
          </template>

          <template slot="Special_Member_Rate" slot-scope="row">
            <b-form-input
              :value="row.item.Special_Member_Rate"
              @change="
                changeField(
                  'Special_Member_Rate',
                  model.Special_Member_Rate,
                  $event,
                  row.item.id
                )
              "
            ></b-form-input>
          </template>

          <template slot="Country_Margin" slot-scope="row">
            <b-form-input
              :value="row.item.Country_Margin"
              @change="
                changeField('Country_Margin', $event, row.item.id)
              "
            ></b-form-input>
          </template>

          <template slot="actions" slot-scope="row">
            <!-- <b-button v-if="row.item.id" size="sm" variant="primary" :to="`/currency/${row.item.id}/edit`" v-b-tooltip.hover :title="$t('buttons.edit')" class="mr-1">
              <i class="fe fe-edit"></i>
            </b-button> -->
            <b-button
              v-if="row.item.id"
              size="sm"
              variant="danger"
              v-b-tooltip.hover
              :title="$t('buttons.delete')"
              @click.stop="onDelete(row.item.id)"
            >
              <i class="fe fe-trash"></i>
            </b-button>
          </template>
        </b-table>
      </b-datatableinventory>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'CurrencyList',
  data() {
    return {
      selected: [],
      model: {
        Exchange_Rate: [],
        Special_Agent_Rate: [],
        Special_Member_Rate: [],
        Country_Margin: []
      },
      fields: [
        { key: 'checkbox' },
        {
          key: 'Currency_Name',
          label: 'Currency Name',
          sortable: true
        },
        {
          key: 'Currency_Code',
          label: 'Currency Code',
          sortable: true
        },
        {
          key: 'Exchange_Rate',
          label: 'Exchange Rate',
          sortable: true
        },
        {
          key: 'Special_Agent_Rate',
          label: 'Special Agent Rate',
          sortable: true
        },
        {
          key: 'Special_Member_Rate',
          label: 'Special Member Rate',
          sortable: true
        },
        {
          key: 'Country_Margin',
          label: 'Country Margin',
          sortable: true
        },
        { key: 'actions', label: this.$t('labels.actions'), class: 'nowrap' }
      ],
      actions: {
        destroy: this.$t('labels.backend.currency.actions.destroy')
      }
    }
  },
  methods: {
    dataLoadProvider(ctx) {
      return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
    },
    onContextChanged() {
      return this.$refs.datatable.refresh()
    },
    onDelete(id) {
      this.$refs.datasource.deleteRow({ currency: id })
    },
    async changeField(type, $even, id) {
      var amount = parseFloat(event.target.value).toFixed(2)
      if( !isNaN(amount) )
      {
        // field[id] = parseFloat(field[id]).toFixed(2)
        // var amount = field[id]
        await axios
          .post(this.$app.route('admin.updateCurrency'), {
            field: type,
            amount: amount,
            id: id
          })
          .then(result => {
            if (result.data.status == 200) {
              this.onContextChanged()
              this.$app.noty['success'](result.data.message)
            }
          })

      } else {
        swal("Error!", "Invalid Input Value!", "error");
      }
    }
  }
}
</script>
