<template>
  <div>
    <form @submit.prevent="onSubmit">
      <b-row>
        <b-col xl="8">
          <b-card>
            <h3 class="card-title" slot="header">
              {{
                isNew
                  ? $t('labels.backend.currency.titles.create')
                  : $t('labels.backend.currency.titles.edit')
              }}
            </h3>
            <b-form-group
              :label="$t('validation.currency.Currency_Name')"
              label-for="Currency_Name"
              horizontal
              :label-cols="2"
              :feedback="feedback('Currency_Name')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Currency_Name')"
                v-model="model.Currency_Name"
                :state="state('Currency_Name')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Currency_Country')"
              label-for="Currency_Country"
              horizontal
              :label-cols="2"
              :feedback="feedback('Currency_Country')"
            >
              <b-form-select
                v-model="model.Currency_Country"
                :state="state('Currency_Country')"
              >
                <option value="null">Please Select Country</option>
                <option
                  v-for="(option, index) in countryOptions"
                  :value="option.value"
                  :key="index"
                >
                  {{ option.text }}
                </option>
              </b-form-select>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Currency_Code')"
              label-for="Currency_Code"
              horizontal
              :label-cols="2"
              :feedback="feedback('Currency_Code')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Currency_Code')"
                v-model="model.Currency_Code"
                :state="state('Currency_Code')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Exchange_Rate')"
              label-for="Exchange_Rate"
              horizontal
              :label-cols="2"
              :feedback="feedback('Exchange_Rate')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Exchange_Rate')"
                v-model="model.Exchange_Rate"
                :state="state('Exchange_Rate')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Special_Agent_Rate')"
              label-for="Special_Agent_Rate"
              horizontal
              :label-cols="2"
              :feedback="feedback('Special_Agent_Rate')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Special_Agent_Rate')"
                v-model="model.Special_Agent_Rate"
                :state="state('Special_Agent_Rate')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Special_Member_Rate')"
              label-for="Special_Member_Rate"
              horizontal
              :label-cols="2"
              :feedback="feedback('Special_Member_Rate')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Special_Member_Rate')"
                v-model="model.Special_Member_Rate"
                :state="state('Special_Member_Rate')"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              :label="$t('validation.currency.Country_Margin')"
              label-for="Country_Margin"
              horizontal
              :label-cols="2"
              :feedback="feedback('Country_Margin')"
            >
              <b-form-input
                required
                :placeholder="$t('validation.currency.Country_Margin')"
                v-model="model.Country_Margin"
                :state="state('Country_Margin')"
              ></b-form-input>
            </b-form-group>

            <b-row slot="footer">
              <b-col md>
                <b-button to="/currency" exact variant="danger" size="md">
                  {{ $t('buttons.back') }}
                </b-button>
              </b-col>
              <b-col md>
                <input name="status" type="hidden" value="publish" />

                <b-button
                  right
                  split
                  :text="$t('buttons.currency.save_and_publish')"
                  class="float-right"
                  variant="success"
                  size="sm"
                  @click="
                    model.status = 'publish'
                    onSubmit()
                  "
                  :disabled="pending"
                  v-if="
                    isNew ||
                      this.$app.user.can('edit currency') ||
                      this.$app.user.can('edit own currency')
                  "
                >
                  Save
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import inventoryform from '../../mixins/form'

export default {
  name: 'CurrencyForm',
  mixins: [inventoryform],
  data() {
    return {
      modelName: 'currency',
      resourceRoute: 'currency',
      listPath: '/currency',
      countryOptions: [],
      model: {
        Currency_Name: null,
        Currency_Code: null,
        Exchange_Rate: null,
        Special_Agent_Rate: null,
        Special_Member_Rate: null,
        Country_Margin: null,
        Currency_Country: null
      }
    }
  },
  created() {
    this.getCountriesCode()
  },
  methods: {
    async getCountriesCode() {
      await axios.get(this.$app.route('api.getCountriesCode')).then(result => {
        if (result.status == 200) {
          this.countryOptions = result.data
        }
      })
    }
  }
}
</script>
