<template>

  <footer style="margin-bottom: 30px; border-top: 1px solid rgba(226,219,219,0.93) ;">
    <div class="jx-monex-subfooter" style="padding-top: 100px;">
      <div class="container" style="padding-top: 5px;">
        <div class="row">
          <div class="col-sm-3">
            <div class="jx-monex-footer-logo">
              <a><img src="http://web.anexpress.com/wp-content/uploads/2019/03/ANLogo.png" alt=""></a>
            </div>
            <div class="space20"></div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <div id="nav_menu-3" class="widget_nav_menu">
                <h6>Help And Support</h6>
                <div class="menu-customer-container"><ul id="menu-customer" class="menu">
                  <li id="menu-item-684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-684">
                    <a href="#">FAQ</a>
                    <ul class="sub-menu">
                      <li id="menu-item-682" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-682">
                        <a href="#">Contact Us</a>
                      </li>
                      <li id="menu-item-683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <a href="#">Partners and Affiliates</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <div id="nav_menu-4" class="widget_nav_menu">
                <h6>Legal<i class="fa fa-circle"></i></h6>
                <div class="menu-customer-container"><ul id="menu-customer" class="menu">
                  <li id="menu-item-684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-684">
                    <b-link to="/privacy">Privacy Policy</b-link>
                    <ul class="sub-menu">
                      <li id="menu-item-682" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-682">
                        <b-link to="/terms">Terms & Condidtions</b-link>
                      </li>
                      <li id="menu-item-683"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <b-link to="/cookies">Cookies Policy</b-link>
                      </li>
                      <li id="menu-item-683"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <b-link to="/exclusion">Exclusions and Limitations</b-link>
                      </li>
                      <li id="menu-item-683"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <b-link to="/refunds">Refunds and Cancellations</b-link>
                      </li>
                      <li id="menu-item-683"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <b-link to="/termsofuse">Terms of Use</b-link>
                      </li>
                      <li id="menu-item-683"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683">
                        <b-link to="/copyright">Copyright Notice</b-link>
                      </li>
                    </ul>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <div id="widget_monex_subscribe-3" class="widget_monex_subscribe">
                <div class="jx-monex-widget-newsletter" id="mailchimp-sign-up">
                  <h6>subscribe<i class="fa fa-circle"></i></h6> <!-- widget Title -->
                  <p>
                  </p>
                  <form action="#" method="post" id="mailchimp" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="jx-monex-form-wrapper has-validation-callback">
                    <span class="ajax-loader"></span>
                    <div class="jx-monex-newsletter-box">
                      <input type="email" name="email" placeholder="Email" value="" data-validation="email" style="width: 210px">
                    </div>
                    <div class="jx-monex-newsletter-submit" id="newsletter-submit">
                      <button type="submit" name="subscribe" id="mc-embedded-subscribe"><i class="fa fa-envelope-o"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-7">
            <div class="copyright">Copyrights © 2016 - A N Express Ltd - Design by V4Tech Ltd <a href="">A N Express Money Transfer</a></div>
          </div><!-- /.col-sm-8 -->
          <div class="col-sm-5">
            <div class="social">
              <ul>
                <li class="linkedin herestyle"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
				<li class="facebook herestyle"><a href="http://www.facebook.com/https://www.facebook.com/pages/category/Financial-Service/A-N-Express-Ltd-524729437632736/"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter herestyle"><a href="http://www.twitter.com/#anexpress"><i class="fa fa-twitter"></i></a></li>
                <li class="youtube herestyle"><a href="http://www.youtube.com/#anexpress"><i class="fa fa-youtube"></i></a></li>
                <li class="googleplus herestyle"><a href="http://www.googleplus.com/#anexpress"><i class="fa fa-google-plus"></i></a></li>
                <li class="dribbble herestyle"><a href="http://www.dribbble.com/#anexpress"><i class="fa fa-dribbble"></i></a></li>
                <li class="instagram herestyle"><a href="http://www.instagram.com/#anexpress"><i class="fa fa-instagram"></i></a></li>
                <li class="pinterest herestyle"><a href="http://www.pinterest.com/#anexpress"><i class="fa fa-pinterest"></i></a></li>
                <li class="flickr herestyle"><a href="http://www.flickr.com/#anexpress"><i class="fa fa-flickr"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'AppFooter',
  props: {
    name: {
      type: String,
      default: ''
    },
    editorName: {
      type: String,
      default: ''
    },
    editorSiteUrl: {
      type: String,
      default: ''
    }
  }
}
</script>
