.mail-box button {
    right: 0;
    display: inline-block;
    position: absolute;
    top: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 35px;
    width: 40px;
}
.hide-butn img {
    height: 30px;
    width: 30px;
}
.recipient-nav .progress-bar2 ul.title-progress li.active {
    padding: 14px 4px;
}
.title-nav {
    height: 65px;
}
.send-money {
    margin-top: 5px;
}
.recipient-form .recipient-bank-details {
    padding: 20px 15px;
}
.recipient-form .recipient-details {
    padding: 20px 15px;
}

@media only screen and (max-width: 1600px) {
    .hide-butn {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .hides-btn {
        background-color: #ffff00 !important;
        padding: 14px 10px !important;
        position: absolute;
        top: 6px;
    }
    .burger-menu {
        width: 22px;
        height: 18px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .burger-menu span {
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background: #434344;
        display: block;
    }

    .hide-butn {
        background: none;
        border: none;
    }
    .hide-butn:focus {
        outline: none !important;
    }
    .hide-butn {
        display: block !important;
        text-align: center !important;
        margin: 0 auto !important;
    }

    .menu-logo img {
        text-align: center !important;
        margin: 0 auto !important;
    }

    .get-started-container section > div:first-child {
        left: 0;
    }

    .dropdown-menu-right {
        left: 0 !important;
    }
    .recipient-nav .progress-bar2 ul.title-progress li.completed {
        display: inline-block;
        width: 65%;
        margin-bottom: 0;
    }
    .menu-express {
        display: block;
    }
    .menu-express ul {
        display: block;
    }
    .menu-express ul li {
        margin-bottom: 10px;
    }
    .recipient-nav .progress-bar2 ul.title-progress li {
        display: block;
    }
    .title-nav {
        min-height: 300px;
    }
    .mob-screen {
        width: 70% !important;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 768px) {
    .mob-screen {
        width: 70% !important;
    }
}

@media only screen and (max-width: 1198px) and (min-width: 993px) {
    .mobile-slider {
        left: 0% !important;
    }
}
