.get-started-container {
    background: lightblue;
    height: 483px;

}
.get-started-container section > div:first-child{
    position: relative;
    width: 60%;
    top: 156px;
    left: 270px;
    margin: 0 auto;
}
.get-started-container .started-btn  button {
    background: #735996;
    color: white;
    padding: 5px 26px;
    font-size: 18px;
}
/*#btn-get-started {
    background: #fff;
    color: #333;
    border: 1px solid #fff;
    text-transform: capitalize;
    margin-right: 15px;
}*/
